# <div style = "padding: 20px; border-radius: 5px; background-color: #7C4DFF;color: white"><center>PRE-PROCESSING STAGE-II - DATASET A and B</center></DIV>

## SCOPE

- Processing Dataset A and B. 
- The scope of the 2nd stage of pre-processing is to load the consolidated data from the previous stage of pre-processing, understand data and do some preliminary cleaning, formatting and store them in an accessible format
- Dataset A contains data for all the cities.- Dataset B contains data for all the cities with majority of data from cities - CHENNAI, HYDERABAD, BANGALORE, DELHI, MUMBAI.

## IMPORTING LIBRARIES

In [1]:
import pandas as pd # for processing dataset A
import numpy as np
import polars as pl  # for processing dataset B

## <div style = "padding: 20px; border-radius: 40px; background-color: #40E0D0"> Dataset A - (using PANDAS) </div>

### `Overview` DATA

In [2]:
df_overview_A = pd.read_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\02.Pre-Processing\Pre-processed Data Stage-I\overview_A.csv',low_memory=False)

In [3]:
df_overview_A.shape

(112559, 61)

In [4]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112559 entries, 0 to 112558
Data columns (total 61 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   carId                      112559 non-null  int64
 1   profileId                  112559 non-null  object
 2   vehicle                    112559 non-null  object
 3   city                       112559 non-null  object
 4   state                      112559 non-null  object
 5   price                      112559 non-null  object
 6   color                      112559 non-null  object
 7   kilometers                 112559 non-null  object
 8   fuelName                   112559 non-null  object
 9   transmissionType           112559 non-null  object
 10  sellerId                   112559 non-null  int64
 11  insurance                  112233 non-null  object
 12  insuranceExpiry            31379 non-null   object
 13  interiorColor              263 non-null     object
 14  lifeTimeTax                111690 non-null  object
 15  insuranceLink              112559 non-null  object
 16  makeName                   112559 non-null  object
 17  modelName                  112559 non-null  object
 18  versionName                112559 non-null  object
 19  mainImageUrl               88028 non-null   object
 20  photoCount                 112559 non-null  int64
 21  makeYear                   112559 non-null  int64
 22  makeMonth                  112559 non-null  object
 23  cityMaskingName            112542 non-null  object
 24  cityName                   112559 non-null  object
 25  cityId                     112559 non-null  int64
 26  noOfOwners                 112559 non-null  object
 27  registerCity               112559 non-null  object
 28  carAvailbaleAt             112559 non-null  object
 29  lastUpdatedDate            112559 non-null  object
 30  totalPhotosUploaded        112559 non-null  int64
 31  similarCarsUrl             112559 non-null  object
 32  stockRecommendationUrl     111690 non-null  object
 33  cwBasePackageId            112559 non-null  int64
 34  ctePackageId               112559 non-null  int64
 35  modelId                    112559 non-null  int64
 36  versionId                  112559 non-null  int64
 37  registrationNumber         111690 non-null  object
 38  tcStockId                  111690 non-null  float64
 39  regType                    28236 non-null   object
 40  priceNumeric               112559 non-null  int64
 41  isCertified                112559 non-null  bool
 42  videoUrl                   3307 non-null    object
 43  modelMaskingName           112559 non-null  object
 44  rootName                   112559 non-null  object
 45  bodyStyleId                112559 non-null  int64
 46  isSellCarOfferAvailable    112559 non-null  bool
 47  allowBooking               112559 non-null  bool
 48  emiPrice                   112559 non-null  object
 49  shouldShowEmiSlug          112559 non-null  bool
 50  isHomeTestDrive            112559 non-null  bool
 51  formattedRegistrationDate  111690 non-null  object
 52  fuelEconomy                112559 non-null  object
 53  dealershipLogoUrl          5607 non-null    object
 54  isSold                     112559 non-null  bool
 55  oemVehicleUrl              0 non-null       float64
 56  virtualPhoneNumber         40828 non-null   float64
 57  homeTestDriveSlug          78801 non-null   object
 58  formattedOriginalPrice     3761 non-null    object
 59  stockId                    869 non-null     object
 60  additionalFuelName         373 non-null     object
dtypes: bool(6), float64(3), int64(12), object(40)
memory usage: 47.9+ MB

#### REMOVING DUPLICATES

In [5]:
# cloning the dataframe from the previous process for contingency
# can be restored from previous process

df_overview_A_1 = df_overview_A.copy()

* `profileId` is the unique id for each car record
* as below each unique id is repeated multiple times

In [6]:
df_overview_A.value_counts(['profileId'])

profileId
D4112795     40
D4111563     40
D4111541     40
D4117045     39
D4111629     37
             ..
S2673651      1
S2673653      1
S2673655      1
S2673671      1
S2819375      1
Name: count, Length: 59708, dtype: int64

* deleting duplicates with respect to profileId

In [7]:
df_overview_A.drop_duplicates(['profileId'],inplace=True)

In [8]:
df_overview_A.shape

(59708, 61)

In [9]:
df_overview_A.value_counts(['profileId'])

profileId
D1820959     1
S2727795     1
S2727753     1
S2727757     1
S2727759     1
            ..
D4162739     1
D4162741     1
D4162751     1
D4162753     1
S2819375     1
Name: count, Length: 59708, dtype: int64

In [10]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59708 entries, 0 to 112558
Data columns (total 61 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   carId                      59708 non-null  int64
 1   profileId                  59708 non-null  object
 2   vehicle                    59708 non-null  object
 3   city                       59708 non-null  object
 4   state                      59708 non-null  object
 5   price                      59708 non-null  object
 6   color                      59708 non-null  object
 7   kilometers                 59708 non-null  object
 8   fuelName                   59708 non-null  object
 9   transmissionType           59708 non-null  object
 10  sellerId                   59708 non-null  int64
 11  insurance                  59422 non-null  object
 12  insuranceExpiry            20574 non-null  object
 13  interiorColor              219 non-null    object
 14  lifeTimeTax                58939 non-null  object
 15  insuranceLink              59708 non-null  object
 16  makeName                   59708 non-null  object
 17  modelName                  59708 non-null  object
 18  versionName                59708 non-null  object
 19  mainImageUrl               37565 non-null  object
 20  photoCount                 59708 non-null  int64
 21  makeYear                   59708 non-null  int64
 22  makeMonth                  59708 non-null  object
 23  cityMaskingName            59694 non-null  object
 24  cityName                   59708 non-null  object
 25  cityId                     59708 non-null  int64
 26  noOfOwners                 59708 non-null  object
 27  registerCity               59708 non-null  object
 28  carAvailbaleAt             59708 non-null  object
 29  lastUpdatedDate            59708 non-null  object
 30  totalPhotosUploaded        59708 non-null  int64
 31  similarCarsUrl             59708 non-null  object
 32  stockRecommendationUrl     58939 non-null  object
 33  cwBasePackageId            59708 non-null  int64
 34  ctePackageId               59708 non-null  int64
 35  modelId                    59708 non-null  int64
 36  versionId                  59708 non-null  int64
 37  registrationNumber         58939 non-null  object
 38  tcStockId                  58939 non-null  float64
 39  regType                    25222 non-null  object
 40  priceNumeric               59708 non-null  int64
 41  isCertified                59708 non-null  bool
 42  videoUrl                   570 non-null    object
 43  modelMaskingName           59708 non-null  object
 44  rootName                   59708 non-null  object
 45  bodyStyleId                59708 non-null  int64
 46  isSellCarOfferAvailable    59708 non-null  bool
 47  allowBooking               59708 non-null  bool
 48  emiPrice                   59708 non-null  object
 49  shouldShowEmiSlug          59708 non-null  bool
 50  isHomeTestDrive            59708 non-null  bool
 51  formattedRegistrationDate  58939 non-null  object
 52  fuelEconomy                59708 non-null  object
 53  dealershipLogoUrl          1524 non-null   object
 54  isSold                     59708 non-null  bool
 55  oemVehicleUrl              0 non-null      float64
 56  virtualPhoneNumber         13151 non-null  float64
 57  homeTestDriveSlug          29484 non-null  object
 58  formattedOriginalPrice     718 non-null    object
 59  stockId                    769 non-null    object
 60  additionalFuelName         333 non-null    object
dtypes: bool(6), float64(3), int64(12), object(40)
memory usage: 25.9+ MB

#### COLUMN-WISE UNDERSTANDING OF DATA AND CLEANING

In [11]:
# taking a clone after removing duplicates
df_overview_A_2 = df_overview_A.copy()

In [12]:
# checking the kind of data in each column
df_overview_A.head().iloc[:,0:20]

,carId,profileId,vehicle,city,state,price,color,kilometers,fuelName,transmissionType,sellerId,insurance,insuranceExpiry,interiorColor,lifeTimeTax,insuranceLink,makeName,modelName,versionName,mainImageUrl
0,1,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB,A&N Islands,Andaman Nicobar,75 Lakh,Polar White,"6,000",Diesel + Diesel,Automatic,2,ThirdParty,01 Oct 2023,NaN,Not Available,/insurance/?car=6681&reg=2022-04-01&utm=musedc...,Mercedes-Benz,GLE,300d 4MATIC LWB,https://imgd.aeplcdn.com/640X480/cw/ucp/s27255...
1,2,S2730115,Maruti Suzuki Vitara Brezza VDi (O) [2016-2018],A&N Islands,Andaman Nicobar,6 Lakh,White,"55,000",Diesel + Diesel,Manual,2,Comprehensive,01 Aug 2024,NaN,Not Available,/insurance/?car=4635&reg=2016-08-01&utm=musedc...,Maruti Suzuki,Vitara Brezza [2016-2020],VDi (O) [2016-2018],https://imgd.aeplcdn.com/640X480/cw/ucp/s27301...
2,3,S2673115,Maruti Suzuki Vitara Brezza VDi,A&N Islands,Andaman Nicobar,6.5 Lakh,Premium Silver,"58,000",Diesel + Diesel,Manual,2,Expired,NaN,NaN,Not Available,/insurance/?car=4631&reg=2018-05-01&utm=musedc...,Maruti Suzuki,Vitara Brezza [2016-2020],VDi,NaN
3,4,S2719839,Ford Figo Duratorq Diesel EXI 1.4,A&N Islands,Andaman Nicobar,2.2 Lakh,Diamond White,"68,000",Diesel + Diesel,Manual,2,Not Available,NaN,NaN,Not Available,/insurance/?car=1736&reg=2011-09-01&utm=musedc...,Ford,Figo [2010-2012],Duratorq Diesel EXI 1.4,https://imgd.aeplcdn.com/640X480/cw/ucp/s27198...
6,7,S2694537,Maruti Suzuki Ritz GENUS VXI,A&N Islands,Andaman Nicobar,2.2 Lakh,Glistening Grey,"75,000",Petrol,Manual,2,Not Available,NaN,NaN,Not Available,/insurance/?car=1937&reg=2012-03-01&utm=musedc...,Maruti Suzuki,Ritz [2009-2012],GENUS VXI,NaN

In [13]:
# checking the kind of data in each column
df_overview_A.head().iloc[:,20:40]

,photoCount,makeYear,makeMonth,cityMaskingName,cityName,cityId,noOfOwners,registerCity,carAvailbaleAt,lastUpdatedDate,totalPhotosUploaded,similarCarsUrl,stockRecommendationUrl,cwBasePackageId,ctePackageId,modelId,versionId,registrationNumber,tcStockId,regType
0,13,2022,Apr,anislands,A&N Islands,196,First,Not Available,A&N Islands,1 month(s) ago,13,/api/stocks/S2725575/similarcars,/api/stocks/S2725575/similarcars,0,0,1204,6681,Not Available,0.0,Individual
1,5,2016,Aug,anislands,A&N Islands,196,First,Not Available,A&N Islands,1 month(s) ago,5,/api/stocks/S2730115/similarcars,/api/stocks/S2730115/similarcars,0,0,976,4635,Not Available,0.0,Individual
2,0,2018,May,anislands,A&N Islands,196,First,Not Available,A&N Islands,2 month(s) ago,0,/api/stocks/S2673115/similarcars,/api/stocks/S2673115/similarcars,0,0,976,4631,UP32JY8632,0.0,Corporate
3,5,2011,Sep,anislands,A&N Islands,196,First,Not Available,A&N Islands,1 month(s) ago,5,/api/stocks/S2719839/similarcars,/api/stocks/S2719839/similarcars,0,0,667,1736,Not Available,0.0,NaN
6,0,2012,Mar,anislands,A&N Islands,196,Second,Not Available,"Aberdeen Bazar, A&N Islands",2 month(s) ago,0,/api/stocks/S2694537/similarcars,/api/stocks/S2694537/similarcars,0,0,725,1937,An01E8363,0.0,Individual

In [14]:
# checking the kind of data in each column
df_overview_A.head().iloc[:,40:60]

,priceNumeric,isCertified,videoUrl,modelMaskingName,rootName,bodyStyleId,isSellCarOfferAvailable,allowBooking,emiPrice,shouldShowEmiSlug,isHomeTestDrive,formattedRegistrationDate,fuelEconomy,dealershipLogoUrl,isSold,oemVehicleUrl,virtualPhoneNumber,homeTestDriveSlug,formattedOriginalPrice,stockId
0,7500000,False,NaN,gle,GLE,6,False,False,1.25 L,False,False,Not Available,Not Available,NaN,False,NaN,NaN,NaN,NaN,NaN
1,600000,False,NaN,vitara-brezza-2016-2020,Vitara Brezza,6,False,False,"9,964",False,False,Not Available,Not Available,NaN,False,NaN,NaN,NaN,NaN,NaN
2,650000,False,NaN,vitara-brezza-2016-2020,Vitara Brezza,6,False,False,"10,794",True,False,Not Available,Not Available,NaN,False,NaN,NaN,NaN,NaN,NaN
3,220000,False,NaN,figo-2010-2012,Figo,3,False,False,"3,653",False,False,Not Available,Not Available,NaN,False,NaN,NaN,NaN,NaN,NaN
6,220000,False,NaN,ritz-2009-2012,Ritz,3,False,False,"3,653",False,False,Not Available,Not Available,NaN,False,NaN,NaN,NaN,NaN,NaN

In [15]:
# checking the kind of data in each column
df_overview_A.head().iloc[:,60:70]

  additionalFuelName
0                NaN
1                NaN
2                NaN
3                NaN
6                NaN

* after preliminary assessment the below columns seem to be useless for the analysis
* **"carId","sellerId","insuranceExpiry","interiorColor","lifeTimeTax","insuranceLink","mainImageUrl",
                                                "photoCount","lastUpdatedDate","totalPhotosUploaded",
                                                "similarCarsUrl","stockRecommendationUrl","cwBasePackageId","ctePackageId","modelId","versionId",
                                                "registrationNumber","tcStockId","isCertified","videoUrl","modelMaskingName","bodyStyleId",
                                                "isSellCarOfferAvailable","allowBooking","emiPrice","shouldShowEmiSlug","isHomeTestDrive",
                                                "formattedRegistrationDate","fuelEconomy","dealershipLogoUrl","isSold","oemVehicleUrl",
                                                "virtualPhoneNumber","homeTestDriveSlug","formattedOriginalPrice","stockId","additionalFuelName"**

In [16]:
df_overview_A = df_overview_A.drop(columns=["carId","sellerId","insuranceExpiry","interiorColor","lifeTimeTax","insuranceLink","mainImageUrl",
                                                "photoCount","lastUpdatedDate","totalPhotosUploaded",
                                                "similarCarsUrl","stockRecommendationUrl","cwBasePackageId","ctePackageId","modelId","versionId",
                                                "registrationNumber","tcStockId","isCertified","videoUrl","modelMaskingName","bodyStyleId",
                                                "isSellCarOfferAvailable","allowBooking","emiPrice","shouldShowEmiSlug","isHomeTestDrive",
                                                "formattedRegistrationDate","fuelEconomy","dealershipLogoUrl","isSold","oemVehicleUrl",
                                                "virtualPhoneNumber","homeTestDriveSlug","formattedOriginalPrice","stockId","additionalFuelName"]
                                  )

#"cityMaskingName","cityId","carAvailbaleAt"

In [17]:
# after deleting columns
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59708 entries, 0 to 112558
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         59708 non-null  object
 1   vehicle           59708 non-null  object
 2   city              59708 non-null  object
 3   state             59708 non-null  object
 4   price             59708 non-null  object
 5   color             59708 non-null  object
 6   kilometers        59708 non-null  object
 7   fuelName          59708 non-null  object
 8   transmissionType  59708 non-null  object
 9   insurance         59422 non-null  object
 10  makeName          59708 non-null  object
 11  modelName         59708 non-null  object
 12  versionName       59708 non-null  object
 13  makeYear          59708 non-null  int64
 14  makeMonth         59708 non-null  object
 15  cityMaskingName   59694 non-null  object
 16  cityName          59708 non-null  object
 17  cityId            59708 non-null  int64
 18  noOfOwners        59708 non-null  object
 19  registerCity      59708 non-null  object
 20  carAvailbaleAt    59708 non-null  object
 21  regType           25222 non-null  object
 22  priceNumeric      59708 non-null  int64
 23  rootName          59708 non-null  object
dtypes: int64(3), object(21)
memory usage: 11.4+ MB

In [18]:
df_overview_A.shape

(59708, 24)

- finding the count of unique items for each column

In [19]:
# checking the count of unique values to analyse the values in each column
df_overview_A.nunique()

profileId           59708
vehicle              5424
city                 1030
state                  35
price                2332
color                1193
kilometers          14254
fuelName               38
transmissionType       62
insurance               6
makeName               46
modelName             942
versionName          4624
makeYear               33
makeMonth              12
cityMaskingName      1034
cityName             1030
cityId               1033
noOfOwners              6
registerCity          377
carAvailbaleAt       8402
regType                 3
priceNumeric         4268
rootName              404
dtype: int64

* checking anamolies for each column

##### `profileId`

In [20]:

# first clearing out the leading and trailing spaces

df_overview_A['profileId'] = df_overview_A['profileId'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_overview_A[df_overview_A['profileId'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['profileId'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['profileId']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['profileId']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['profileId']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['profileId']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['profileId']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['profileId']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [21]:
# checking profileId for any irregularities in the values
# the data seems to be consistent
# profileId starts with either S or D, so the data here is consistent

set(pd.Series(df_overview_A['profileId'].unique()).str.slice(stop = 2))

{'D1', 'D2', 'D3', 'D4', 'S2'}

##### `vehicle`

In [22]:
# first clearing out the leading and trailing spaces

df_overview_A['vehicle'] = df_overview_A['vehicle'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_overview_A[df_overview_A['vehicle'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['vehicle'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['vehicle']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['vehicle']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['vehicle']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['vehicle']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['vehicle']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['vehicle']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [23]:
# data is consistent here as well
# will not be specifically used for analysis, but is kept to retain the original description as shown in the website

df_overview_A['vehicle'].str.partition(sep=' ')[0].unique()

array(['Mercedes-Benz', 'Maruti', 'Ford', 'Volkswagen', 'Nissan',
       'Hyundai', 'Renault', 'Honda', 'Toyota', 'Skoda', 'Tata',
       'Mahindra', 'MG', 'Audi', 'BMW', 'Land', 'Jaguar', 'Volvo',
       'Porsche', 'Kia', 'Jeep', 'MINI', 'Chevrolet', 'Force',
       'Mitsubishi', 'Fiat', 'Datsun', 'Isuzu', 'Ssangyong', 'Maserati',
       'Lexus', 'Mahindra-Renault', 'Bentley', 'Aston', 'Citroen',
       'Cadillac', 'Chrysler', 'ICML', 'Rolls-Royce', 'Hindustan',
       'Hummer', 'Lamborghini', 'Ferrari', 'Opel', 'Ashok', 'Sipani'],
      dtype=object)

In [24]:
# removing leading/trailing spaces if any
df_overview_A['vehicle'] = df_overview_A['vehicle'].str.strip()

##### `cityName`, `city`, `state`, `cityMaskingName`,`cityId` and `carAvailbaleAt`

In [25]:
# first clearing out the leading and trailing spaces

df_overview_A['city'] = df_overview_A['city'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_overview_A[df_overview_A['city'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['city'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['city']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['city']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['city']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['city']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['city']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['city']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [26]:
# first clearing out the leading and trailing spaces

df_overview_A['cityName'] = df_overview_A['cityName'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_overview_A[df_overview_A['cityName'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['cityName'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['cityName']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['cityName']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['cityName']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['cityName']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['cityName']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['cityName']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  2
 None -  0
 0 -  0
 0(str) -  0

In [27]:
# checking if city and cityName are the same

print(df_overview_A[df_overview_A['cityName'] == df_overview_A['city']].shape,
      df_overview_A[df_overview_A['cityName'] != df_overview_A['city']].shape)

(44470, 24) (15238, 24)

* around 15238 records have incorrrect cities
* so cityName should be the correct city since, this data was embedded in the source extracted json
* there are to Not Applicable values in the cityName, which can be filled using cityMaskingName or carAvailableAt data as all the 3 fields will have similar values

In [28]:
df_overview_A[df_overview_A['cityName'] == 'Not Available']

,profileId,vehicle,city,state,price,color,kilometers,fuelName,transmissionType,insurance,...,makeMonth,cityMaskingName,cityName,cityId,noOfOwners,registerCity,carAvailbaleAt,regType,priceNumeric,rootName
46797,S2751753,Chevrolet Spark LT 1.0,Gulbarga,Karnataka,1.4 Lakh,Sanddrift Grey,"78,000",Petrol,Manual - 5 Gears,Third Party,...,Dec,Not Available,Not Available,52,Third,Not Available,Not Available,Individual,140000,Spark
46820,S2789201,Kia Sonet GTX Plus 1.5,Gulbarga,Karnataka,15 Lakh,Blue,"6,000",Diesel,Manual - 6 Gears,NaN,...,Aug,Not Available,Not Available,52,First,Not Available,Not Available,NaN,1500000,Sonet

* since the city data is not available 'city' column value can be used

In [29]:
df_overview_A['cityName'].replace('Not Available','Gulbarga',inplace = True)

In [30]:
print(df_overview_A[df_overview_A['cityName'] == df_overview_A['city']].shape,
      df_overview_A[df_overview_A['cityName'] != df_overview_A['city']].shape)

(44472, 24) (15236, 24)

In [31]:
df_overview_A[df_overview_A['cityName'] == 'Not Available']

Empty DataFrame
Columns: [profileId, vehicle, city, state, price, color, kilometers, fuelName, transmissionType, insurance, makeName, modelName, versionName, makeYear, makeMonth, cityMaskingName, cityName, cityId, noOfOwners, registerCity, carAvailbaleAt, regType, priceNumeric, rootName]
Index: []

[0 rows x 24 columns]

* 'Not Available' data was replaced with Gulbarga
* Now looking into state and how incorrect/unavailable cities can be updated with the correct state-names

* creating a new column and updated the state names of correct cities first.
* then the unavailable state names for other cities can be extracted from CHATGPT and updated.

In [32]:
list(df_overview_A['state'].unique())

['Andaman Nicobar',
 'Punjab',
 'Rajasthan',
 'Telangana',
 'Kerala',
 'Andhra Pradesh',
 'Madhya Pradesh',
 'Tripura',
 'Uttar Pradesh',
 'Gujarat',
 'Maharashtra',
 'Mizoram',
 'West Bengal',
 'Uttarakhand',
 'Haryana',
 'Tamil Nadu',
 'Chhattisgarh',
 'Jammu & Kashmir',
 'Karnataka',
 'Orissa',
 'Bihar',
 'Himachal Pradesh',
 'Jharkhand',
 'Arunachal Pradesh',
 'Goa',
 'Assam',
 'Sikkim',
 'Meghalaya',
 'Nagaland',
 'Daman & Diu',
 'Manipur',
 'Pondicherry',
 'Chandigarh',
 'Dadra and Nagar Haveli',
 'Delhi']

In [33]:
# first clearing out the leading and trailing spaces

df_overview_A['state'] = df_overview_A['state'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_overview_A[df_overview_A['state'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['state'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['state']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['state']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['state']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['state']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['state']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['state']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [34]:
# comparing the states with the actual/available states in India
# Corretion needed for "Andaman and Nicobar"
# Ladakh and Lakshadweep are not available

states_india = ["Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", 
                "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jharkhand", "Karnataka", 
                "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur", "Meghalaya", "Mizoram", 
                "Nagaland", "Orissa", "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", 
                "Tripura", "Uttar Pradesh", "Uttarakhand", "West Bengal","Andaman and Nicobar Islands", "Chandigarh", 
                "Dadra and Nagar Haveli", "Daman & Diu", "Lakshadweep", "Delhi", 
                "Pondicherry", "Jammu & Kashmir", "Ladakh"]

set(states_india).difference(set(df_overview_A['state'].unique()))

{'Andaman and Nicobar Islands', 'Ladakh', 'Lakshadweep'}

In [35]:
# Changing the state name to "Andaman and Nicobar" from "Andaman Nicobar"

df_overview_A['state'].replace('Andaman Nicobar','Andaman and Nicobar Islands',inplace=True)
df_overview_A['state'].unique()

array(['Andaman and Nicobar Islands', 'Punjab', 'Rajasthan', 'Telangana',
       'Kerala', 'Andhra Pradesh', 'Madhya Pradesh', 'Tripura',
       'Uttar Pradesh', 'Gujarat', 'Maharashtra', 'Mizoram',
       'West Bengal', 'Uttarakhand', 'Haryana', 'Tamil Nadu',
       'Chhattisgarh', 'Jammu & Kashmir', 'Karnataka', 'Orissa', 'Bihar',
       'Himachal Pradesh', 'Jharkhand', 'Arunachal Pradesh', 'Goa',
       'Assam', 'Sikkim', 'Meghalaya', 'Nagaland', 'Daman & Diu',
       'Manipur', 'Pondicherry', 'Chandigarh', 'Dadra and Nagar Haveli',
       'Delhi'], dtype=object)

In [36]:
#creating an empty column
df_overview_A['state_2'] = None

In [37]:
df_overview_A.head(1)

,profileId,vehicle,city,state,price,color,kilometers,fuelName,transmissionType,insurance,...,cityMaskingName,cityName,cityId,noOfOwners,registerCity,carAvailbaleAt,regType,priceNumeric,rootName,state_2
0,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB,A&N Islands,Andaman and Nicobar Islands,75 Lakh,Polar White,"6,000",Diesel + Diesel,Automatic,ThirdParty,...,anislands,A&N Islands,196,First,Not Available,A&N Islands,Individual,7500000,GLE,None

In [38]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59708 entries, 0 to 112558
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         59708 non-null  object
 1   vehicle           59708 non-null  object
 2   city              59708 non-null  object
 3   state             59708 non-null  object
 4   price             59708 non-null  object
 5   color             59708 non-null  object
 6   kilometers        59708 non-null  object
 7   fuelName          59708 non-null  object
 8   transmissionType  59708 non-null  object
 9   insurance         59422 non-null  object
 10  makeName          59708 non-null  object
 11  modelName         59708 non-null  object
 12  versionName       59708 non-null  object
 13  makeYear          59708 non-null  int64
 14  makeMonth         59708 non-null  object
 15  cityMaskingName   59694 non-null  object
 16  cityName          59708 non-null  object
 17  cityId            59708 non-null  int64
 18  noOfOwners        59708 non-null  object
 19  registerCity      59708 non-null  object
 20  carAvailbaleAt    59708 non-null  object
 21  regType           25222 non-null  object
 22  priceNumeric      59708 non-null  int64
 23  rootName          59708 non-null  object
 24  state_2           0 non-null      object
dtypes: int64(3), object(22)
memory usage: 11.8+ MB

In [39]:
# updating existing states to the available/matching cities
def update_states(row):
    if(row[2] == row[16]):
        row[24] = row[3]
    else:
        row[24] = None
    return row

In [40]:
df_overview_A = df_overview_A.apply(update_states, axis = 1)

In [41]:
# checking the cities for which states were not updated or available
df_overview_A[df_overview_A['state_2'].isnull()].cityName.unique()

array(['Hyderabad', 'Lucknow', 'Kanpur', 'Delhi', 'Pune', 'Mumbai',
       'Jaipur', 'Nagpur', 'Navi Mumbai', 'Agra', 'Faizabad', 'Meerut',
       'Haldwani', 'Mohali', 'Chandigarh', 'Ludhiana', 'Jalandhar',
       'Kharar', 'Zirakpur', 'Ahmedabad', 'Vadodara', 'Surat', 'Patna',
       'Muzaffurpur', 'Purnea', 'Kolkata', 'Ara', 'Nashik', 'Thane',
       'Bangalore', 'Gurgaon', 'Mangalore', 'Dehradun', 'Udupi',
       'Dak. Kannada', 'Kuchaman', 'Ranchi', 'Bhagalpur', 'Chennai',
       'Coimbatore', 'Raipur', 'Siliguri', 'Karnal', 'Goa', 'Nagaon',
       'Kalyan', 'Badlapur', 'Kollam', 'Nellore', 'Kota', 'Bhubaneswar',
       'Indore', 'Ghaziabad', 'Noida', 'Rajkot', 'Tezpur', 'Rudrapur',
       'Faridabad', 'Jamshedpur', 'Kharagpur', 'Malappuram',
       'Kurukshetra', 'Gorakhpur', 'Aurangabad', 'Kolhapur', 'Bhopal',
       'Alwar', 'Dharamshala'], dtype=object)

In [42]:
list(df_overview_A[df_overview_A['state_2'].isnull()].cityName.unique())

['Hyderabad',
 'Lucknow',
 'Kanpur',
 'Delhi',
 'Pune',
 'Mumbai',
 'Jaipur',
 'Nagpur',
 'Navi Mumbai',
 'Agra',
 'Faizabad',
 'Meerut',
 'Haldwani',
 'Mohali',
 'Chandigarh',
 'Ludhiana',
 'Jalandhar',
 'Kharar',
 'Zirakpur',
 'Ahmedabad',
 'Vadodara',
 'Surat',
 'Patna',
 'Muzaffurpur',
 'Purnea',
 'Kolkata',
 'Ara',
 'Nashik',
 'Thane',
 'Bangalore',
 'Gurgaon',
 'Mangalore',
 'Dehradun',
 'Udupi',
 'Dak. Kannada',
 'Kuchaman',
 'Ranchi',
 'Bhagalpur',
 'Chennai',
 'Coimbatore',
 'Raipur',
 'Siliguri',
 'Karnal',
 'Goa',
 'Nagaon',
 'Kalyan',
 'Badlapur',
 'Kollam',
 'Nellore',
 'Kota',
 'Bhubaneswar',
 'Indore',
 'Ghaziabad',
 'Noida',
 'Rajkot',
 'Tezpur',
 'Rudrapur',
 'Faridabad',
 'Jamshedpur',
 'Kharagpur',
 'Malappuram',
 'Kurukshetra',
 'Gorakhpur',
 'Aurangabad',
 'Kolhapur',
 'Bhopal',
 'Alwar',
 'Dharamshala']

In [43]:
# getting the state data of the above cities from CHAT GPT

city_state_missing = pd.read_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\01.Data Extraction\city_state_missing.csv')

In [44]:
city_state_missing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cityName    68 non-null     object
 1   state_name  68 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [45]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59708 entries, 0 to 112558
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         59708 non-null  object
 1   vehicle           59708 non-null  object
 2   city              59708 non-null  object
 3   state             59708 non-null  object
 4   price             59708 non-null  object
 5   color             59708 non-null  object
 6   kilometers        59708 non-null  object
 7   fuelName          59708 non-null  object
 8   transmissionType  59708 non-null  object
 9   insurance         59422 non-null  object
 10  makeName          59708 non-null  object
 11  modelName         59708 non-null  object
 12  versionName       59708 non-null  object
 13  makeYear          59708 non-null  int64
 14  makeMonth         59708 non-null  object
 15  cityMaskingName   59694 non-null  object
 16  cityName          59708 non-null  object
 17  cityId            59708 non-null  int64
 18  noOfOwners        59708 non-null  object
 19  registerCity      59708 non-null  object
 20  carAvailbaleAt    59708 non-null  object
 21  regType           25222 non-null  object
 22  priceNumeric      59708 non-null  int64
 23  rootName          59708 non-null  object
 24  state_2           44472 non-null  object
dtypes: int64(3), object(22)
memory usage: 11.8+ MB

In [46]:
# merging the missing details with the main dataset for update

df_overview_A = df_overview_A.merge(city_state_missing, on ='cityName',how='left')

In [47]:
df_overview_A.head(2)

,profileId,vehicle,city,state,price,color,kilometers,fuelName,transmissionType,insurance,...,cityName,cityId,noOfOwners,registerCity,carAvailbaleAt,regType,priceNumeric,rootName,state_2,state_name
0,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB,A&N Islands,Andaman and Nicobar Islands,75 Lakh,Polar White,"6,000",Diesel + Diesel,Automatic,ThirdParty,...,A&N Islands,196,First,Not Available,A&N Islands,Individual,7500000,GLE,Andaman and Nicobar Islands,NaN
1,S2730115,Maruti Suzuki Vitara Brezza VDi (O) [2016-2018],A&N Islands,Andaman and Nicobar Islands,6 Lakh,White,"55,000",Diesel + Diesel,Manual,Comprehensive,...,A&N Islands,196,First,Not Available,A&N Islands,Individual,600000,Vitara Brezza,Andaman and Nicobar Islands,NaN

In [48]:
df_overview_A[df_overview_A['state_2'].isnull()]

,profileId,vehicle,city,state,price,color,kilometers,fuelName,transmissionType,insurance,...,cityName,cityId,noOfOwners,registerCity,carAvailbaleAt,regType,priceNumeric,rootName,state_2,state_name
90,D4053815,Mercedes-Benz C-Class C 220d,Adoni,Andhra Pradesh,60 Lakh,Silver,"4,000",Diesel,Automatic (TC),Not Available,...,Hyderabad,105,UnRegistered Car,Not Available,"Madhapur, Hyderabad",NaN,6000000,C-Class,None,Telangana
91,D4050997,Mercedes-Benz C-Class C 300d,Adoni,Andhra Pradesh,65 Lakh,White,"3,500",Diesel,Automatic,Not Available,...,Hyderabad,105,UnRegistered Car,Not Available,"Madhapur, Hyderabad",NaN,6500000,C-Class,None,Telangana
92,D4109997,Mercedes-Benz EQB 300 4MATIC,Adoni,Andhra Pradesh,74.5 Lakh,White,"1,500",Electric,Automatic,Not Available,...,Hyderabad,105,UnRegistered Car,Not Available,"Madhapur, Hyderabad",NaN,7450000,EQB,None,Telangana
93,D4050999,Mercedes-Benz C-Class C 220d,Adoni,Andhra Pradesh,69 Lakh,White,"3,500",Diesel,Automatic,Not Available,...,Hyderabad,105,UnRegistered Car,Not Available,"Madhapur, Hyderabad",NaN,6900000,C-Class,None,Telangana
94,D4051003,Mercedes-Benz E-Class E 200 Exclusive [2019-2019],Adoni,Andhra Pradesh,72 Lakh,Black,"2,500",Petrol,Automatic,Not Available,...,Hyderabad,105,UnRegistered Car,Not Available,"Madhapur, Hyderabad",NaN,7200000,E-Class,None,Telangana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59699,S2787339,Toyota Innova 2.5 E 7 STR,Dharamsala,Himachal Pradesh,4.5 Lakh,White,"3,35,000",Diesel,Manual,Not Available,...,Dharamshala,599,Second,Not Available,Dharamshala,Individual,450000,Innova,None,Himachal Pradesh
59700,S2703773,Hyundai Eon Magna +,Dharamsala,Himachal Pradesh,2.7 Lakh,Sleek Silver,"90,000",Petrol,Manual,Comprehensive,...,Dharamshala,599,First,Not Available,Dharamshala,Individual,270000,Eon,None,Himachal Pradesh
59701,S2712695,Ford EcoSport Titanium + 1.5L TDCi,Dharamsala,Himachal Pradesh,6.5 Lakh,Moondust Silver,"60,000",Diesel,Manual,Not Available,...,Dharamshala,599,First,Not Available,Dharamshala,NaN,650000,Ecosport,None,Himachal Pradesh
59702,S2717599,Mahindra XUV500 W10 AWD,Dharamsala,Himachal Pradesh,8.3 Lakh,Moondust Silver,"1,35,000",Diesel,Manual,Not Available,...,Dharamshala,599,First,Not Available,Dharamshala,NaN,830192,XUV500,None,Himachal Pradesh
59703,S2686087,Hyundai Grand i10 Sports Edition 1.1 CRDi,Dharamsala,Himachal Pradesh,3.5 Lakh,Sleek Silver,"1,40,000",Diesel,Manual,ThirdParty,...,Dharamshala,599,First,Not Available,"Dari, Dharamshala",Individual,350000,Grand i10,None,Himachal Pradesh

In [49]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59708 entries, 0 to 59707
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         59708 non-null  object
 1   vehicle           59708 non-null  object
 2   city              59708 non-null  object
 3   state             59708 non-null  object
 4   price             59708 non-null  object
 5   color             59708 non-null  object
 6   kilometers        59708 non-null  object
 7   fuelName          59708 non-null  object
 8   transmissionType  59708 non-null  object
 9   insurance         59422 non-null  object
 10  makeName          59708 non-null  object
 11  modelName         59708 non-null  object
 12  versionName       59708 non-null  object
 13  makeYear          59708 non-null  int64
 14  makeMonth         59708 non-null  object
 15  cityMaskingName   59694 non-null  object
 16  cityName          59708 non-null  object
 17  cityId            59708 non-null  int64
 18  noOfOwners        59708 non-null  object
 19  registerCity      59708 non-null  object
 20  carAvailbaleAt    59708 non-null  object
 21  regType           25222 non-null  object
 22  priceNumeric      59708 non-null  int64
 23  rootName          59708 non-null  object
 24  state_2           44472 non-null  object
 25  state_name        40720 non-null  object
dtypes: int64(3), object(23)
memory usage: 11.8+ MB

In [50]:
# creating a custom function to update the missing state value
def update_missing_state(row):
    if row[24] == None:
        row[24] = row[25]
    else:
        pass
    return row

In [51]:
# updating all the missing states

df_overview_A = df_overview_A.apply(update_missing_state,axis = 1)

In [52]:
# checking if all the states have been updated
df_overview_A[df_overview_A['state_2'].isnull()]

Empty DataFrame
Columns: [profileId, vehicle, city, state, price, color, kilometers, fuelName, transmissionType, insurance, makeName, modelName, versionName, makeYear, makeMonth, cityMaskingName, cityName, cityId, noOfOwners, registerCity, carAvailbaleAt, regType, priceNumeric, rootName, state_2, state_name]
Index: []

[0 rows x 26 columns]

In [53]:
# checking if city and state contains any null values

print( "null - ", df_overview_A[df_overview_A['state_2'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['state_2'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['state_2']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['state_2']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['state_2']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['state_2']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['state_2']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['state_2']== '0'].shape[0],'\n'
     )

print( "null - ", df_overview_A[df_overview_A['cityName'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['cityName'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['cityName']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['cityName']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['cityName']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['cityName']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['cityName']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['cityName']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* no null or empty values
* deleting all the unrequired columns from the dataframe
    * city, state, cityMaskingName ,cityId, state_name

In [54]:
df_overview_A.drop(columns = ['city', 'state', 'cityMaskingName' ,'cityId', 'state_name'],inplace = True)

* renaming the columns cityName and state_2

In [55]:
df_overview_A.rename(columns = {'cityName':'city','state_2':'state'},inplace = True)

In [56]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59708 entries, 0 to 59707
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         59708 non-null  object
 1   vehicle           59708 non-null  object
 2   price             59708 non-null  object
 3   color             59708 non-null  object
 4   kilometers        59708 non-null  object
 5   fuelName          59708 non-null  object
 6   transmissionType  59708 non-null  object
 7   insurance         59422 non-null  object
 8   makeName          59708 non-null  object
 9   modelName         59708 non-null  object
 10  versionName       59708 non-null  object
 11  makeYear          59708 non-null  int64
 12  makeMonth         59708 non-null  object
 13  city              59708 non-null  object
 14  noOfOwners        59708 non-null  object
 15  registerCity      59708 non-null  object
 16  carAvailbaleAt    59708 non-null  object
 17  regType           25222 non-null  object
 18  priceNumeric      59708 non-null  int64
 19  rootName          59708 non-null  object
 20  state             59708 non-null  object
dtypes: int64(2), object(19)
memory usage: 9.6+ MB

##### `color`

In [57]:

df_overview_A['color'] = df_overview_A['color'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_overview_A[df_overview_A['color'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['color'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['color']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['color']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['color']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['color']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['color']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['color']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [58]:
# checking color column
# the color values are not consistent

array_clr = df_overview_A['color'].unique()
array_clr.sort()
list(array_clr)

['1149000',
 'A3dmndwhit',
 'ALP Blue',
 'Absolute Black',
 'Abyss Black',
 'Acquamarine',
 'Agate Red',
 'Akbaraliisonlin',
 'Alabaster Silver',
 'Alabaster Silver Metallic',
 'Alabastor Silver Metallic',
 'Alp Blue',
 'Alpha Blue',
 'Alpine Blue',
 'Alpine White',
 'Amalfi White',
 'Amazon Blue',
 'Amazon Green',
 'Amber Orange',
 'Amethyst Royal',
 'Anthracite Grey',
 'Anyway',
 'Aodmndwhit',
 'Apine White Non Metallic',
 'Apple Red',
 'Aqua Marine',
 'Aqua Marine, Pearl White',
 'Aqua Mist',
 'Aqua Rush',
 'Aqua Teal',
 'Aqua Tint',
 'Aquamarine',
 'Aquateal',
 'Aquatel',
 'Arcade Grey',
 'Arcitc White',
 'Arctic Blue',
 'Arctic Silver',
 'Arctic White',
 'Arctic White + Black',
 'Arizona Blue',
 'Artic Silver',
 'Artic White',
 'Ash',
 'Asmani',
 'Astern Black',
 'Atlantic Blue',
 'Atlantis Bule',
 'Atlas Black',
 'Atlas White',
 'Atlas White With Abyss Black Roof',
 'Atlas White With Black Roof',
 'Atomic Orange With Black Roof',
 'Attitude Black',
 'Attitude Black Mica',
 'Auburn Red',
 'Aurora Black Pearl',
 'Aurora Silver',
 'Austin Yellow Metallic',
 'Autumn Orange',
 'Avant Garde Bronze',
 'Avant-garde Bronze',
 'Avenue White',
 'Awhite',
 'Azure',
 'Azure Gray',
 'Azure Grey',
 'Back',
 'Bahamas Beige',
 'Baige',
 'Bakers Chocolate',
 'Balack',
 'Baltic Blue',
 'Bbb',
 'Bchgbb',
 'Beage',
 'Beam Blue Metallic',
 'Beanm Blue Metallic',
 'Bechz',
 'Bedge',
 'Begi',
 'Beige',
 'Benz',
 'Berry Red',
 'Biege Mica Metallic',
 'Bikaner',
 'Biskit',
 'Black',
 'Black Diamond',
 'Black Magic',
 'Black Metallic',
 'Black Mica',
 'Black Oak Brown',
 'Black Sapphire',
 'Black Sapphire Metallic',
 'Blackberry',
 'Blackish Ageha Glass Flake',
 'Blacks',
 'Blade Silver',
 'Blazing',
 'Blazing Bronze',
 'Blazing Red',
 'Blazing Red Metallic',
 'Bleck',
 'Block',
 'Blow',
 'Blue',
 'Blue Balze',
 'Blue Blaze',
 'Blue Metallic',
 'Blue Onyx',
 'Bluestone Metallic',
 'Bluew',
 'Bluish Black',
 'Bluish Black Metallic',
 'Bluish Silver',
 'Bluish Titanium',
 'Blushing Red',
 'Bmw Individual Tanzanite Blue Metallic',
 'Boga',
 'Bold Beige Metallic',
 'Bold Black',
 'Bolu',
 'Bossa Nova White',
 'Bossanova White',
 'Botanical Green',
 'Braun',
 'Brave Khaki',
 'Brave Khaki With Black Roof',
 'Breeze Blue',
 'Brick Red',
 'Bright Red',
 'Bright Silver',
 'Bright Silver Metallic',
 'Bright White',
 'Bright Yellow',
 'Brilliant Black',
 'Brilliant Blue',
 'Brilliant Gold',
 'Brilliant Red',
 'Brilliant Silver',
 'Brilliant Yellow',
 'Bronze',
 'Bronze Grey',
 'Bronzo Tan',
 'Brown',
 'Brownie',
 'Brush Steel',
 'Bule',
 'Bullu',
 'Bulu',
 'Burgundy',
 'Burgundy Red',
 'Buzz Blue',
 'Byte',
 'Cabalt Bule',
 'Cafe White',
 'Caffeine Brown',
 'Calcite White',
 'Calgary',
 'Calgary White',
 'Calypso Red',
 'Campanella White',
 'Candy White',
 'Candy White With Starry Black',
 'Candyy White With Starry Black',
 'Canyon Orange/black',
 'Canyon Ridge',
 'Cappuccino  Beige',
 'Cappuccino Beige',
 'Carbon',
 'Carbon Black',
 'Carbon Black Metallic',
 'Carbon Bronze Pearl',
 'Carbon Flash',
 'Carbon Grey',
 'Carbon Steel',
 'Carbon Steel Grey',
 'Caribbean Blue',
 'Caribbean Blue Metallic',
 'Carnelian Red',
 'Carnelian Red Pearl',
 'Carneol Red',
 'Carpathian Grey',
 'Casablanca White',
 'Cashmere',
 'Casmier',
 'Caspian Blue',
 'Caspian Blue With Black Roof',
 'Catwalk Silver',
 'Cavansite Blue',
 'Cavansite Blue Metallic',
 'Cave Black',
 'Cavern Grey',
 'Caviar',
 'Caviar Black',
 'Cayenne Orange',
 'Cedar Brown',
 'Cedar Brown With Black Roof',
 'Celestial Black',
 'Cerulean Blue',
 'Cerulian Blue',
 'Chakleti',
 'Champagne Beige',
 'Champagne Gold',
 'Champagne Mica Metallic',
 'Charming Grey',
 'Cheery',
 'Cherry',
 'Cherry Black',
 'Chestnut Brown',
 'Chill',
 'Chill Metallic',
 'Chilli Red',
 'Chocolate',
 'Choklet',
 'Cirrus White',
 'Classic Grey',
 'Classic Silver',
 'Clear Beige',
 'Clear White',
 'Clear white',
 'Clever',
 'Cloudy Grey',
 'Cobalt Blue Metallic',
 'Cocktail Green',
 'Cococola',
 'Coffee',
 'Coffee Brown',
 'Colorada Red',
 'Colorado',
 'Colorado Red',
 'Colour',
 'Condor Grey',
 'Cool Silver Metallic',
 'Coper',
 'Coppe',
 'Copper',
 'Copper Dazzle',
 'Copper Orange',
 'Coral Blue',
 'Coral Red',
 'Coral White',
 'Corrida Red',
 'Cortina White',
 'Cosmic Black',
 'Cosmic Blue',
 'Cosmic Blue With Abyss Black Roof',
 'Cosmo Dark',
 'Cosmos Black',
 'Cosmos Blue',
 'Crabon Grey',
 'Cray',
 'Cream',
 'Creamywhite',
 'Creative Ocean',
 'Crey',
 'Crimson Red',
 'Crossover Black',
 'Crystal Black',
 'Crystal Black Pearl',
 'Crystal Blue',
 'Crystal Silver',
 'Crystal White',
 'Crystal White Pearl',
 'Curcuma Yellow',
 'Currant Red',
 'Cvblac',
 'Cyan',
 'Cycus Grey',
 'D Sat Silver',
 'Dakota Grey',
 'Damson Purple',
 'Dark Brown Mica Metallic',
 'Dark Gray Melallic',
 'Dark Grey',
 'Dark Grey Metallic',
 'Dark Red Mica Metallic',
 'Daytona Grey',
 'Daytona Grey Pearl Effect',
 'Daytona Grey With Black Roof',
 'Dazzle Blue',
 'Dazzling Silver',
 'Dazzling silver',
 'Deep',
 'Deep Black',
 'Deep Black Pearl',
 'Deep Black Pearlescent',
 'Deep Forest',
 'Deep Ocean Blue',
 'Deep Pearl Blue Metallic',
 'Deep Sapphire Blue',
 'Deep Sea Blue',
 'Deepforest',
 'Deepred',
 'Denim Blue',
 'Denimblue',
 'Desert Brown',
 'Desert Mist Metallic',
 'Designer Grey',
 'Designo',
 'Designo Diamond White Bright',
 'Designo Hyacinth Red Metallic',
 'Designo Hyancith Red Metallic',
 'Dew',
 'Dew White',
 'Diamond White',
 'Diamondwhi',
 'Diffused Silver',
 'Dignity Brown',
 'Dmndwhite',
 'Dolomite Brown',
 'Dolphin Grey',
 'DonBeige',
 'Downtown Red',
 'Dsat Silver',
 'Dunebeige',
 'Dusky Brown',
 'Dust',
 'Dwhite',
 'Dynamo Red',
 'Dynasty Red',
 'Earth Brown',
 'Earth Gold',
 'Earthen Brown',
 'Ebony Black',
 'Eclipse Blue With Black Roof',
 'Ecru Beige',
 'Egyptian  Blue',
 'Electric Blue',
 'Electric Blue With Black Roof',
 'Electric Red',
 'Ember Black Metallic',
 'Ember Gray',
 'Ember Grey',
 'Emerald Blue',
 'Enerqetic Blue',
 'Enticing Silver',
 'Espresso Brown',
 'Estoril Blue Metallic',
 'Etna Orange',
 'Everest White',
 'Exotica Red',
 'Exuberant Blue',
 'Fawn Mist Metallic',
 'Fearless Purple',
 'Ferozi',
 'Ferris White',
 'Fiery',
 'Fiery Black',
 'Fiery Orange',
 'Fiery Red',
 'Fiery Red With Black Roof',
 'Fire Brick',
 'Fire Brick Red',
 'Fire Red',
 'Firenze Red Metallic',
 'Flamboyant Red',
 'Flame Red',
 'Flamenco Red',
 'Flare Garnet Red',
 'Flash Red',
 'Floret Silver',
 'Floret Silver Metallic',
 'Foliage Green',
 'Foliage Green With White Roof',
 'Forest',
 'Foresta Green',
 'Fox Trote Azure',
 'Fuji White',
 'Furnacered',
 'Gala Red',
 'Galaxy Blue',
 'Galaxy Gray',
 'Galaxy Grey',
 'Galcier Silver',
 'Gallant Red',
 'Gaming Grey',
 'Gare',
 'Garnet Red',
 'Gary',
 'Glaciar White',
 'Glacier Blue',
 'Glacier Silver',
 'Glacier White',
 'Glacier White Metallic',
 'Glacier White Pearl',
 'Glacier White Pearl/ Aurora Black Pearl',
 'Glassgow Grey',
 'Glaze Red',
 'Glaze Red With Starry Black',
 'Glistening Grey',
 'Glistening Grey Metallic',
 'Gold',
 'Gold Satin',
 'Gold Shimmer',
 'Goldan',
 'Golden',
 'Golden Beige',
 'Golden Bronze',
 'Golden Brown Metallic',
 'Golden Orange',
 'Goldsmith Black',
 'Gr',
 'Gra',
 'Grandeur Grey',
 'Granite Grey',
 'Graphite',
 'Graphite Grey',
 'Grassland Beige With Black Roof',
 'Grassland Beige With Piano Black Roof',
 'Gravity Gray',
 'Gravity Grey',
 'Gray',
 'Gray Metallic',
 'Gre',
 'Grea',
 'Greay',
 'Greee',
 'Green',
 'Grey',
 'Grey Metallic',
 'Grey Mica Metallic',
 'Grey Nior',
 'Grigio Magnesio Grey',
 'Gry',
 'Habanaro Red Pearl',
 'Habanero Red',
 'Hainan Blue',
 'Harbour Blue',
 'Harmony Beige',
 'Hatchback',
 'Havana',
 'Havana Grey',
 'Havanna',
 'Havanna Black',
 'Heather Mist',
 'Hh',
 'Highway Red',
 'Hii',
 'Hip Hop Black',
 'Hmistm',
 'Hmitsm',
 'Honey Orange',
 'Husky Blue',
 'Hutgv',
 'Ibis White',
 'Ice Cool White',
 'Ice Cool White With Black Roof',
 'Ice Silver',
 'Ice Silver Metallic',
 'Ice White',
 'Iceberg White',
 'Iconic Grey',
 'Icy Blue',
 'Imperial Beige',
 'Imperial Blue',
 'Imperial Blue Brillant Effect',
 'Imperial Blue Brilliant Effect',
 'Impherial Blue Brilliant Effect',
 'Indus Silver',
 'Indus Silver Metallic',
 'Inferno Orange',
 'Infinity Black',
 'Infinity Blue',
 'Ingotsliver',
 'Inscription Crystal White Pearl',
 'Insta Blue',
 'Intense Black',
 'Intense Red',
 'Intense White',
 'Intensi-Teal',
 'Intensi-teal',
 'Iridium Silver',
 'Ivery',
 'Ivory',
 'Ivory Grey',
 'Ivory White',
 'Jani',
 'Java Brown',
 'Javabrown',
 'Jet Black',
 'Jet Silver',
 'Jewel Violet',
 'Jupiter Red',
 'Kala',
 'Karibu Brown Metallic',
 'Khaki',
 'Kinetic Blue',
 'Kinetic Yellow With Bluish Black Roof',
 'Knight Black',
 'Kyara Metallic',
 'Lake Side Brown',
 'Lakeside Brown',
 'Lal',
 'Lapiz Blue',
 'Laser Blue Metallic',
 'Lava Blue',
 'Lava Blue Metallic',
 'Levender',
 'Light Blue Metallic',
 'Light Gold',
 'Light Green Mica Metallic',
 'Lightning Blue',
 'Lime Green',
 'Linen Beige',
 'Loire Blue',
 'Lucent Orange With Black Roof',
 'Lunar Silver',
 'Lunar Silver Metallic',
 'Luxe Beige',
 'Magic Black',
 'Magma Grey',
 'Magnesio Grey',
 'Magnetic Brown',
 'Magnetic Red',
 'Maharaja Red',
 'Maharajah Red',
 'Mahendi',
 'Mahindra',
 'Mahogany Brown',
 'Mahrajah Red',
 'Mahroom',
 'Majestic Blue',
 'Majestic Silver',
 'Malabar Silver',
 'Maragrey',
 'Marina Blue',
 'Marine Silver',
 'Mariner Maroon',
 'Maroon',
 'Marrakesh Brown',
 'Marron',
 'Mars Red',
 'Marsred',
 'Marun',
 'Mashroom',
 'Mato Brown',
 'Matt Black',
 'Matte Graphite',
 'Mbc',
 'Mediterranean Blue',
 'Mediterranean Blue Metallic',
 'Medium Grey',
 'Mehrun',
 'Melbourne Red',
 'Melbourne Red Metallic',
 'Meron',
 'Meroon',
 'Merun',
 'Metal Ash',
 'Metal Black',
 'Metal Grey',
 'Metal Mustard',
 'Metal Mustard With Black Roof',
 'Metal Stream Metallic',
 'Metalic',
 'Metallic',
 'Metallic Azure Grey',
 'Metallic Brisk Blue',
 'Metallic Clear Beige',
 'Metallic Fiery Red',
 'Metallic Glistening Grey',
 'Metallic Granite Grey',
 'Metallic Graphite Grey',
 'Metallic Grey',
 'Metallic Magma Gray',
 'Metallic Magma Grey',
 'Metallic Midnight Black',
 'Metallic Moonlight Silver',
 'Metallic Osone Blue',
 'Metallic Pearl Silver',
 'Metallic Premiuim Silver',
 'Metallic Premium Silver',
 'Metallic Red',
 'Metallic Silky Silver',
 'Metallic Silver',
 'Metallic Sunlight Copper',
 'Metallic Woodland Brown',
 'Metbakerschocope',
 'Meteor Bronze With Black Roof',
 'Meteor Silver',
 'Meteoroid Grey Metallic',
 'Mettalic Azure Grey',
 'Mettalic Silver',
 'Mgrey',
 'Mica Grey',
 'Midas Gold',
 'Midnight Black',
 'Midnight Black Metallic',
 'Midnight Blue',
 'Midnight Grey',
 'Midnight Plum',
 'Milano Beige',
 'Mineral Grey',
 'Mineral Red',
 'Mineral Silver',
 'Mineral White',
 'Mineral White Metallic',
 'Minimal',
 'Minimal Grey',
 'Mint White',
 'Misano Red',
 'Misano Red Pearl',
 'Mist',
 'Mist Silver',
 'Mist Sliver',
 'Misty Blue',
 'Misty Lake',
 'Misty Lake Metallic',
 'Modern Steel Metallic',
 'Mojave Silver',
 'Mojito Green',
 'Molten Orange',
 'Molten Red',
 'Molten Red Rage',
 'Monaco Blue',
 'Monarch Red',
 'Moon White',
 'Moonbeam White',
 'Moonbeam White + Linen Beige',
 'Moondust Silver',
 'Moonlight Blue',
 'Moonlight Silver',
 'Moonlight Silver With Black Roof',
 'Moonshine Blue Metallic',
 'Moonwalk Grey',
 'Morello',
 'Moroccan Blue',
 'Moss Brown',
 'Mountain Green',
 'Mountain Grey',
 'Mountain Mist Metallic',
 'Mushroom',
 'Mustard',
 'Mwhite',
 'Mysterious Violet',
 'Mysthos Black Metallic',
 'Mystic Blue',
 'Mystic Copper',
 'Mystic Satin',
 'Mythos Black',
 'Mythos Black Metallic',
 'Napoli Black',
 'Nardo Grey',
 'Nautic Blue',
 'Neel',
 'New Blazing Red',
 'New Breeze Blue',
 'New Granite Grey',
 'New Mystique Red',
 'New Pearl White',
 'New Torque Blue',
 'Nexa Blue',
 'Nexa Blue (celestial)',
 'Nexa Blue With Black Roof',
 'Nexa Blue With Silver Roof',
 'Night Blue',
 'Night Bule',
 'Night Hawk Black',
 'Night Hawk Black Pearl',
 'Night Shade',
 'Nighthawk Black',
 'Nighthawk Black Pearl',
 'No',
 'Noble Blue',
 'Noble White',
 'Nutmeg Brown',
 'Oak Brown',
 'Oberon Black',
 'Obsidian Black',
 'Obsidian Black Metallic',
 'Obsidian Blue Pearl',
 'Obsidian Grey',
 'Ocean Blue',
 'Ocean Blue Metallic',
 'Oceanblue',
 'Oceanic Black',
 'Ok',
 'Onyx Black',
 'Onyx Black Metallic',
 'Opal Sage Metallic',
 'Opal White',
 'Opera Blue',
 'Optic White',
 'Opulent Purple',
 'Opulent Red',
 'Opulent Red + Black',
 'Opulent Red With Black Roof',
 'Orang',
 'Orange',
 'Orchid Brown Mica',
 'Orchid White Pearl',
 'Orcus White',
 'Orcus White With Black Roof',
 'Orcuswhite',
 'Orenge',
 'Orenj',
 'Oronge',
 'Oryx White',
 'Other',
 'Other Colour',
 'Others',
 'Outback Bronze',
 'Oxford Blue',
 'Oxford White',
 'Oxrordwhite',
 'Oyster Grey',
 'Pacific Blue',
 'Palladium Silver',
 'Panther Black',
 'Papaya Orange',
 'Paprika Orange',
 'Paprika Red',
 'Paradise Blue',
 'Parl White',
 'Parpal',
 'Passion Orange',
 'Passion Red',
 'Passion Red Metallic',
 'Passion Red Solid',
 'Pearl',
 'Pearl Arctic White',
 'Pearl Arctic White With Pearl Midnight Black Roof',
 'Pearl Artic White',
 'Pearl Black',
 'Pearl Blue',
 'Pearl Blue Blaze',
 'Pearl Blue Blaze Metallic',
 'Pearl Galaxy Black',
 'Pearl Metallic Arctic White',
 'Pearl Metallic Auburn Red',
 'Pearl Metallic Dignity Brown',
 'Pearl Metallic Lucent Orange',
 'Pearl Metallic Midnight Blue',
 'Pearl Metallic Midnight Blue With Pearl Arctic Whi',
 'Pearl Metallic Midnight Blue With Pearl Arctic White Roof',
 'Pearl Metallic Midnight Blue with Pearl Arctic White Roof',
 'Pearl Metallic Oxford Blue',
 'Pearl Midnight Black',
 'Pearl Phoenix Red',
 'Pearl Sangria Red',
 'Pearl Silver',
 'Pearl Silver Metallic',
 'Pearl Snow White',
 'Pearl Starry Blue',
 'Pearl Supreme White',
 'Pearl White',
 'Pearl White & Onyx Black',
 'Pearl White With Crystal Shine',
 'Pearlescent White',
 'Pearlwhite',
 'Pepper Grey',
 'Pepper White',
 'Perlwhite',
 'Phantom Black',
 'Phantom Black Pearl Effect',
 'Phantom Brown',
 'Phoenix Red',
 'Phytonic Blue',
 'Pink',
 'Planet Grey',
 'Platinum',
 'Platinum Grey',
 'Platinum Grey Metallic',
 'Platinum Silver',
 'Platinum White Pearl',
 'Pmawhite',
 'Pmetalic',
 'Pmw',
 'Polar',
 'Polar Silver',
 'Polar Silver Metallic',
 'Polar White',
 'Polar White With Black Roof',
 'Polar White With Phantom Black Roof',
 'Polar White With Zesty Orange Roof',
 'Polar White with Black Roof',
 'Polar White,phantom Black',
 'Polaris White',
 'Pollar Silver',
 'Poloriswhi',
 'Poolside Blue',
 'Porcelain White',
 'Poseidon Purple',
 'Potomaic Blue',
 'Precious White Pearl',
 'Premium Amber Metallic',
 'Premium Pearl White',
 'Premium Silky Silver',
 'Premium Silver',
 'Premium White Pearl',
 'Prime Ray Blue',
 'Primebrige',
 'Pristine Blue',
 'Pristine White',
 'Prodieedas',
 'Prpal',
 'Pull Me Over Red',
 'Pure White',
 'Purple',
 'Purple + Silver',
 'Purple Fantasia',
 'Purple Fusion',
 'Pwhite',
 'Quartz Black',
 'Quartz Silver',
 'Race Red',
 'Racing Green',
 'Racing Yellow',
 'Rad',
 'Rade',
 'Radiant Red',
 'Radiant Red Metallic',
 'Radiant Red With Black Roof',
 'Rainforest Green',
 'Rally Red',
 'Rallye Red',
 'Ranger Khaki',
 'Ranger Khaki With Abyss Black Roof',
 'Ranger Khaki With Black Roof',
 'Ranger Khaki,abyss Black',
 'Raw Copper Metallic',
 'Ray Blue',
 'Real Earth',
 'Real Earth Metallic',
 'Red',
 'Red Mulberry',
 'Red Passion',
 'Red Rage',
 'Red Rage, Pearl White',
 'Red passion',
 'Redu',
 'Reflex Silver',
 'Reflex Silver Metallic',
 'Regal Blue',
 'Relex Silver',
 'Res',
 'Rising Blue',
 'Rising Blue Metallic',
 'Rockey',
 'Rocky',
 'Rocky Beige',
 'Roman Silver',
 'Rosso Brunello',
 'Rouge Red',
 'Royal Burgundy',
 'Royal Gold',
 'Royal Orchid',
 'Royal Ruby Red',
 'Royale Blue',
 'Ruby',
 'Ruby Black Metallic',
 'Ruby Red',
 'Rustic Brown',
 'Rustic Brown With Sizzling Black Roof',
 'S.bridge',
 'Safed',
 'Safet',
 'Salaty',
 'Saloon',
 'Salsa Red',
 'Samurai Grey',
 'Sand Drift Grey',
 'Sanddrift Grey',
 'Sandel',
 'Sandrif Grey',
 'Sandrift Grey',
 'Sandstone Brown',
 'Sangria Red',
 'Santorini Black',
 'Santorini Black Metallic',
 'Saped',
 'Saphire Black',
 'Sapphire Black',
 'Sapphire Blue',
 'Sardinia Red',
 'Satin Copper, Everest White',
 'Satin Grey',
 'Satin White',
 'Scarlet Red',
 'Scarlet Sage',
 'Scotia White',
 'Sea Blue',
 'Sea Grey',
 'Seabeige',
 'Seattle Silver',
 'Selenite Grey',
 'Selfie',
 'Selvar',
 'Selver',
 'Serene Blue',
 'Serene Bluish Silver',
 'Serene White',
 'Shadow Blue',
 'Shadow Grey With Phantom Black Roof',
 'Sherbet Blue',
 'Sherwood Brown',
 'Shimmering Silver',
 'Signature Teal Blue',
 'Signet Silver',
 'Silky',
 'Silky Beige',
 'Silky Gold Mica Metallic',
 'Silky Silver',
 'Silky Silver Metallic',
 'Silky White Pearl',
 'Sillvar',
 'Silvar',
 'Silver',
 'Silver Metallic',
 'Silver Mica',
 'Silver Mica Metalic',
 'Silver Mica Metallic',
 'Silver Moss',
 'Silver Stone',
 'Silver mica Metallic',
 'Silver, Bold Black',
 'Silverstone',
 'Simpson Red',
 'Sizziling Red With Midnight Black Roof',
 'Sizzling Red',
 'Sizzling Red With Migdnight Black Roof',
 'Sky',
 'Sky Blue',
 'Sky Grey',
 'Skyblue',
 'Skylinesilver',
 'Skyscraper Grey Metallic',
 'Slate Grey',
 'Slaty',
 'Sleek Silver',
 'Sliver',
 'Slvr',
 'Smoke Grey',
 'Snapper Rocks Blue Metallic',
 'Snow White Pearl',
 'Snowflake White Pearl',
 'Solar Orange',
 'Solid Black',
 'Solid Bright Red',
 'Solid Fire Red',
 'Solid Fire Red With Pearl Midnight Black Roof',
 'Solid Sizzle Orange',
 'Solid White',
 'Sophisto Grey Brilliant Effect Metallic',
 'Sovereign Blue',
 'Space Silver',
 'Sparker Blue',
 'Sparkiling Brown Metallic',
 'Sparkle Blue',
 'Sparkling Black Crystal Shine',
 'Sparkling Black Cystal Shine',
 'Sparkling Black Pearl Crystal Shine',
 'Sparkling Brown',
 'Sparkling Brown Metallic',
 'Sparkling Diamond',
 'Sparkling Gold',
 'Sparkling Olive',
 'Sparkling Silver',
 'Spectrum Blue',
 'Speedy Blue',
 'Spice Red',
 'Splendid Silver',
 'Splendid Silver + Black',
 'Splendid Silver With Black Roof',
 'Splendid Silver With Black roof',
 'Splendid Silver With Midnight Black Roof',
 'Sportin Red',
 'Sporting Red',
 'Spunky Blue',
 'Spunky Blue With Sizzling Black Roof',
 'Squeeze',
 'Star Dust',
 'Stardust',
 'Starlight',
 'Starry Black',
 'Starry Grey',
 'Starry Night',
 'Startdust',
 'Stealth Black',
 'Steel',
 'Steel Blue',
 'Steel Grey Metallic',
 'Steel Silver',
 'Steel silver',
 'Sterline Gold',
 'Sterling Grey',
 'Sterling Silver',
 'Sterling Silver Metallic',
 'Stone  Beige',
 'Stone Black',
 'Storm Bay (metallic)',
 'Storm Blue',
 'Storm White',
 'Stratos Blue',
 'Suave Silver',
 'Suef Blue',
 'Summit White',
 'Sunbeam Beige',
 ...]

* checking if basic colors could be separated from the lot

In [59]:
# first clearing out the leading and trailing spaces
df_overview_A['color'] = df_overview_A['color'].str.strip()

In [60]:
# splitting the colors and exapnding them into separate columns

df_overview_A[['color_1','color_2','color_3','color_4','color_5','color_6','color_7','color_8','color_9']] = df_overview_A['color'].str.split(' ',expand=True)

In [61]:
df_overview_A[['color_1','color_2','color_3','color_4','color_5','color_6','color_7','color_8','color_9']]

,color_1,color_2,color_3,color_4,color_5,color_6,color_7,color_8,color_9
0,Polar,White,None,None,None,None,None,None,None
1,White,None,None,None,None,None,None,None,None
2,Premium,Silver,None,None,None,None,None,None,None
3,Diamond,White,None,None,None,None,None,None,None
4,Glistening,Grey,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
59703,Sleek,Silver,None,None,None,None,None,None,None
59704,New,Pearl,White,None,None,None,None,None,None
59705,Caribbean,Blue,Metallic,None,None,None,None,None,None
59706,Diamond,White,None,None,None,None,None,None,None
59707,Wine,Red,Metallic,None,None,None,None,None,None

In [62]:
# clearing out leading and trailing spaces

df_overview_A['color_1']= df_overview_A['color_1'].str.strip()
df_overview_A['color_2']= df_overview_A['color_2'].str.strip()
df_overview_A['color_3']= df_overview_A['color_3'].str.strip()
df_overview_A['color_4']= df_overview_A['color_4'].str.strip()
df_overview_A['color_5']= df_overview_A['color_5'].str.strip()
df_overview_A['color_6']= df_overview_A['color_6'].str.strip()
df_overview_A['color_7']= df_overview_A['color_7'].str.strip()
df_overview_A['color_8']= df_overview_A['color_8'].str.strip()
df_overview_A['color_9']= df_overview_A['color_9'].str.strip()

In [63]:
df_overview_A['color_1'].unique()

array(['Polar', 'White', 'Premium', 'Diamond', 'Glistening', 'Deep',
       'Blade', 'Solid', 'Sleek', 'Pearl', 'Granite', 'Royal', 'Red',
       'Golden', 'Pure', 'Superior', 'Silky', 'Chill', 'Symphony',
       'Arctic', 'Coral', 'Champagne', 'Purple', 'Brilliant', 'Superio',
       'Blue', 'Metallic', 'Tafeta', 'Dusky', 'Magma', 'Napoli', 'Modern',
       'Uata', 'Black', 'Moondust', 'Porcelain', 'Panther', 'Flash',
       'Espresso', 'Venetian', 'Bright', 'Nexa', 'Speedy', 'Phantom',
       'Radiant', 'Marine', 'Silver', 'Bronze', 'Grey', 'Fiery', 'Breeze',
       'Wine', 'Colorada', 'Ivory', 'Block', 'Meteor', 'Calgary', 'Mint',
       'Aqua', 'Midnight', 'Lunar', 'Grandeur', 'Other', 'Blazing',
       'Titan', 'Others', 'Brown', 'Gold', 'Green', 'Ice', 'Orchid',
       'Crystal', 'Pearlescent', 'Super', 'Urban', 'Oyster', 'Dazzling',
       'Bakers', 'Candy', 'Sea', 'Switchblade', 'Canyon', 'Stone',
       'Enerqetic', 'Gray', 'Opal', 'Typhoon', 'Twilight', 'Orcus',
       'Tornado', 'Intense', 'Storm', 'Kinetic', 'Hutgv', 'Oberon',
       'Carnelian', 'Classic', 'Heather', 'Oxford', 'Alabaster', 'Carbon',
       'Impherial', 'Sunny', 'Daytona', 'Onyx', 'Earth', 'Arcade',
       'Woodland', 'Starry', 'Majestic', 'Vogue', 'Insta', 'Scarlet',
       'Cocktail', 'Maroon', 'Fire', 'Phoenix', 'Platinum', 'Ecru',
       'Summit', 'Crey', 'Atlas', 'Absolute', 'Smoke', 'Regal', 'Ebony',
       'Ibis', 'Grassland', 'Lal', 'Vintage', 'Glacier', 'Denim',
       'Sporting', 'Switch', 'Oceanic', 'Metal', 'Alabastor', 'Noble',
       'Poseidon', 'Passion', 'Orange', 'Yellow', 'Beige', 'Dakota',
       'Mountain', 'Titanium', 'Tungsten', 'Foliage', 'Minimal', 'Havana',
       'Havanna', 'Caffeine', 'Avenue', 'Galaxy', 'Alpine', 'Arizona',
       'Flame', 'Pwhite', 'Lake', 'Weight', 'Dark', 'Taffeta', 'Volcano',
       'Mahrajah', 'Wihte', 'Autumn', 'Fuji', 'Lightning', 'Colorado',
       'Pristine', 'Teffeta', 'Scotia', 'Vocal', 'Obsidian', 'Sunset',
       'Cherry', 'Rising', 'Berry', 'Glaze', 'Gravity', 'Ruby', 'Coper',
       'Night', 'Lime', 'Rallye', 'Space', 'Bahamas', 'Star', 'Moonbeam',
       'Virtual', 'Java', 'Spunky', 'Linen', 'Brick', 'Moonlight',
       'Tourmaline', 'New', 'Satin', 'Designo', 'Planet', 'Tropical',
       'Bossanova', 'Waite', 'Sandrift', 'Turquoise', 'Goldan', 'Everest',
       'Meteoroid', 'Sunlight', 'Aurora', 'Caviar', 'Iconic', 'Chilli',
       'Ocean', 'Jupiter', 'Ember', 'Sangria', 'Maragrey', 'Mars',
       'Waita', 'Monaco', 'Electric', 'Estoril', 'Mojito', 'Paprika',
       'Jet', 'Bossa', 'Stardust', 'Cayenne', 'Reflex', 'Attitude',
       'Sparkling', 'Sunshine', 'Avant', 'Sunbeam', 'Amazon', 'Vermont',
       'Etna', 'Whaita', 'Opera', 'Sherwood', 'Cafe', 'Spectrum',
       'Cosmos', 'Knight', 'Www', 'Iridium', 'Clear', 'Mushroom',
       'Sparkiling', 'Exotica', 'Sportin', 'Velvet', 'Mettalic',
       'Squeeze', 'Misty', 'Cappuccino', 'Rocky', 'Sky', 'Bedge',
       'Outback', 'Splendid', 'Steel', 'Colour', 'Signature', 'Sardinia',
       'Nutmeg', 'Wait', 'Cerulean', 'Toreador', 'Whits', 'Mist',
       'Opulent', 'Pacific', 'Cedar', 'Cosmic', 'Crossover',
       'Akbaraliisonlin', 'Caribbean', 'Whate', 'Perlwhite', 'Pink',
       'Tuscan', 'Casablanca', 'Sandstone', 'Salsa', 'Dynamo', 'Wahit',
       'Blushing', 'Apple', 'Iceberg', 'Cream', 'Tango', 'Sherbet',
       'Vaite', 'Whight', 'Whit', 'Mythos', 'Ranger', 'Denimblue',
       'Safed', 'Whaite', 'Beam', 'Highway', 'Artic', 'Serene',
       'Shimmering', 'Quartz', 'Designer', 'Crabon', 'Moroccan',
       'Enticing', 'Ray', 'Arcitc', 'Santorini', 'Dew', 'Dsat', 'Copper',
       'Oronge', 'Wight', 'Misano', 'Magic', 'Buzz', 'Sparker', 'Bule',
       'Bluish', 'Race', 'Sterling', 'Sizzling', 'Gr', 'Cloudy', 'Coffee',
       'Marina', 'Downtown', 'Harmony', 'Dolphin', 'Byte', 'Bold',
       'Whahet', 'Awhite', 'Waihit', 'Kala', 'Toffee', 'Pepper', 'Lava',
       'Oak', 'Warm', 'Shadow', 'Vermilion', 'Cavern', 'Cerulian',
       'Sizziling', 'Uptown', 'Tundra', 'Monarch', 'Redu', 'Whait',
       'Wayt', 'Amethyst', 'Zanskar', 'Maharaja', 'Sandrif', 'Orenge',
       'Glassgow', 'Solar', 'Egyptian', 'Up', 'Lakeside', 'Dmndwhite',
       'Cirrus', 'Pull', 'Gaming', 'Garnet', 'Whaet', 'Forest', 'Abyss',
       'Silvar', 'Bchgbb', 'Moonshine', 'Pmawhite', 'Utopiablue',
       'Botanical', 'Moon', 'Dazzle', 'Tijuca', 'Palladium', 'Royale',
       'Deepred', 'Rosso', 'Habanaro', 'Agate', 'Magnetic', 'Nighthawk',
       'Magnesio', 'Grigio', 'Poloriswhi', 'Corrida', 'Desert', 'Mineral',
       'Mediterranean', 'Cycus', 'Avant-garde', 'Mystic', 'Intensi-teal',
       'Cavansite', 'Imperial', 'Moonwalk', 'Wildfire', 'Chocolate',
       'Thunder', 'Diamondwhi', 'Celestial', 'Sanddrift', 'Wild',
       'Stealth', 'Jewel', 'Suave', 'Burgundy', 'Seabeige', 'Marrakesh',
       'Floret', 'Condor', 'Fox', 'Habanero', 'Azure', 'Terra', 'Rouge',
       'Light', 'Simpson', 'Icy', 'Teak', 'Caspian', 'Hip', 'Graphite',
       'Flamboyant', 'Mariner', 'Aquamarine', 'Skyblue', 'Prodieedas',
       'Indus', 'Sliver', 'Flamenco', 'Spice', 'Nautic', 'Husky',
       'Mahogany', 'Mysterious', 'Calypso', 'Malabar', 'Infinity',
       'Blackish', 'Exuberant', 'Merun', 'Poolside', 'Glaciar', 'Withe',
       'Cobalt', 'Gallant', 'Torque', 'Hatchback', 'Calcite', 'Galcier',
       'Dolomite', 'Hmistm', 'Hmitsm', 'Lucent', 'What', 'Cortina',
       'Gala', 'Whites', 'Waet', 'Foresta', 'Harbour', 'Sparkle',
       'Superwhite', 'Prime', 'Levender', 'Saloon', 'Ultramarine',
       'Javabrown', 'Turf', 'Violet', 'Ultimate', 'Honey', 'Ivery',
       'Melbourne', 'Snow', 'Crimson', 'Whagit', 'Whaight', 'Alp',
       'Taiga', 'Charming', 'Whet', 'Bleck', 'Whirr', 'Mahendi',
       'Cashmere', 'Ferris', 'Laser', 'Lapiz', 'Sterline', 'Damson',
       'Skyscraper', 'Techno', 'Supreme', 'Mustard', 'TELGrey', 'Vitro',
       'Vivid', 'ALP', 'Ash', 'Sandel', 'Pearlwhite', 'Virgin', 'Pollar',
       'Dignity', 'Casmier', 'Bechz', 'Atlantic', 'Hh', 'Atlantis',
       'Tinsel', 'Write', 'Beanm', 'Safet', 'Sand', 'Furnacered', 'Midas',
       'Anyway', 'With', 'Slate', 'Rally', 'Whitr', 'Sapphire', 'Morello',
       'Racing', 'Neel', 'Biege', 'Gary', 'Fearless', 'Inferno', 'Twhite',
       'Thanks', 'Snowflake', 'Mgrey', 'Real', 'Whahit', 'Bolu', 'Wirth',
       'Bulu', 'Wite', 'Brownie', 'Rustic', 'Chestnut', 'Baige', 'Selver',
       'Meron', 'Optic', 'Earthen', 'A3dmndwhit', 'Cheery', 'Selvar',
       'Potomaic', 'Torqoise', 'Res', 'Fawn', 'Blow', 'Boga', 'Firenze',
       'Currant', 'Marron', 'Yulong', 'Whii', 'Biskit', 'Bronzo',
       'Cococola', 'Bluew', 'Gry', 'Khaki', 'Wihgt', 'Intensi-Teal',
       'Acquamarine', 'Luxe', 'Relex', 'Mbc', 'S.bridge', 'Orenj',
       'Startdust', 'Metbakerschocope', 'Flare', 'Aquatel', 'Candyy',
       'Vapour', 'Curcuma', 'Mehrun', 'Creative', 'Brush', 'Orang',
       'Seattle', 'No', 'Medium', 'Yello', 'Baltic', 'Campanella',
       'Wheit', 'Braun', 'WHITE', 'Cosmo', 'Milano', 'Raw', 'Signet',
       'Wahite', 'Witae', 'Gre', 'Salaty', 'Snapper', 'Mahindra',
       'Inscription', 'Alpha', 'Dynasty', 'Marun', 'Bbb', 'Moss', 'Greay',
       'Coppe', 'Precious', 'Whiet', 'Karibu', 'Gare', 'Clever', 'Molten',
       'Oceanblue', 'Matte', 'Chakleti', 'Diffused', 'Tanzanite', 'Loire',
       'Nardo', 'Cabalt', 'Roman', 'Oryx', 'Apine', 'Mojave', 'Bluestone',
       'Stratos', 'Pmw', 'Sunrise', 'Sovereign', 'Waiggt', 'Wheat',
       'Anthracite', 'Maharajah', 'Selenite', 'Whitefield', 'Deepforest',
       'Pmetalic', 'Astern', 'Prpal', 'Amber', 'Mysthos', 'Hainan',
       'Parpal', 'grey', 'DonBeige', 'Mica', 'Cool', 'Sillvar', 'Papaya',
       'Saphire', 'Cvblac', 'Amalfi', 'Rockey', 'Greee', 'Samurai',
       'Polaris', 'Grea', 'Orcuswhite', 'Choklet', 'Slaty', 'Whati',
       'Dwhite', 'Skylinesilver', 'Silverstone', 'Metalic', 'Bmw',
       'Brave', 'Saped', 'Ingotsliver', 'Primebrige', 'Ok', 'Blackberry',
       'Cray', 'Tryian', 'Gra', 'Selfie', 'Mashroom', 'Mato', 'Mahroom',
       'Wron', 'Blacks', 'Sunstone', 'Yallow', 'Vart', 'Verna', 'Beage',
       'Marsred', 'Rad', 'Paradise', 'Silver,', 'Wiat', 'Goldsmith',
       'Bikaner', 'Twine', 'Slvr', 'Zanksar', 'Benz', 'Begi', 'Dust',
       'Asmani', 'Creamywhite', 'Rainforest', 'D', 'Whith', 'Catwalk',
       'Matt', 'Jani', 'Bullu', 'Parl', 'Whitney', 'Kyara', 'Auburn',
       'Ferozi', 'Wife', 'Hii', 'Atomic', 'Back', 'Ujala', 'Mwhite',
       'Starlight', '1149000', 'Carpathian', 'Suef', 'Dunebeige',
       'Aquateal', 'Cyan', 'Austin', 'Waith', 'Sophisto', 'Phytonic',
       'Balack', 'Eclipse', 'Turoblue', 'Meroon', 'Rade', 'Oxrordwhite',
       'Cave', 'Emerald', 'Aodmndwhit', 'Whoye', 'Carneol'], dtype=object)

* the color column values are still inconsistent and are not suitable for analysis
* deleting the color column

In [64]:
df_overview_A.drop(columns = ['color_1','color_2','color_3','color_4','color_5','color_6','color_7','color_8','color_9'],inplace = True)

In [65]:
df_overview_A.drop(columns = ['color'],inplace = True)

In [66]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59708 entries, 0 to 59707
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         59708 non-null  object
 1   vehicle           59708 non-null  object
 2   price             59708 non-null  object
 3   kilometers        59708 non-null  object
 4   fuelName          59708 non-null  object
 5   transmissionType  59708 non-null  object
 6   insurance         59422 non-null  object
 7   makeName          59708 non-null  object
 8   modelName         59708 non-null  object
 9   versionName       59708 non-null  object
 10  makeYear          59708 non-null  int64
 11  makeMonth         59708 non-null  object
 12  city              59708 non-null  object
 13  noOfOwners        59708 non-null  object
 14  registerCity      59708 non-null  object
 15  carAvailbaleAt    59708 non-null  object
 16  regType           25222 non-null  object
 17  priceNumeric      59708 non-null  int64
 18  rootName          59708 non-null  object
 19  state             59708 non-null  object
dtypes: int64(2), object(18)
memory usage: 9.1+ MB

##### `kilometers`

In [67]:
# first clearing out the leading and trailing spaces

df_overview_A['kilometers'] = df_overview_A['kilometers'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_overview_A[df_overview_A['kilometers'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['kilometers'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['kilometers']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['kilometers']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['kilometers']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['kilometers']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['kilometers']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['kilometers']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  12

* the kilometers data is in string and we can see a lot of '0' in the data.
* converting kilometers to float

In [68]:
# removing comma ',' 
df_overview_A['kilometers'].replace(',','',inplace=True,regex=True)

In [69]:
df_overview_A['kilometers'] = df_overview_A['kilometers'].astype('float64',copy=False)

In [70]:
df_overview_A['kilometers'].head()

0     6000.0
1    55000.0
2    58000.0
3    68000.0
4    75000.0
Name: kilometers, dtype: float64

In [71]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59708 entries, 0 to 59707
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         59708 non-null  object
 1   vehicle           59708 non-null  object
 2   price             59708 non-null  object
 3   kilometers        59708 non-null  float64
 4   fuelName          59708 non-null  object
 5   transmissionType  59708 non-null  object
 6   insurance         59422 non-null  object
 7   makeName          59708 non-null  object
 8   modelName         59708 non-null  object
 9   versionName       59708 non-null  object
 10  makeYear          59708 non-null  int64
 11  makeMonth         59708 non-null  object
 12  city              59708 non-null  object
 13  noOfOwners        59708 non-null  object
 14  registerCity      59708 non-null  object
 15  carAvailbaleAt    59708 non-null  object
 16  regType           25222 non-null  object
 17  priceNumeric      59708 non-null  int64
 18  rootName          59708 non-null  object
 19  state             59708 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 9.1+ MB

* some of the kilometer values are  0
* these records will be filtered or handled during the analysis

In [72]:
df_overview_A[df_overview_A['kilometers']==0].shape

(12, 20)

##### `fuelName`

In [73]:
# first clearing out the leading and trailing spaces

df_overview_A['fuelName'] = df_overview_A['fuelName'].str.strip()

# checking inconsistencies and null values


print( "null - ", df_overview_A[df_overview_A['fuelName'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['fuelName'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['fuelName']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['fuelName']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['fuelName']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['fuelName']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['fuelName']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['fuelName']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  6
 None -  0
 0 -  0
 0(str) -  0

* there are a few of Not Applicable values
* fuel name is also not consistent
* this will be analysed along with specifications column, because specification column also contain fuel.

In [74]:
df_overview_A['fuelName'].unique()

array(['Diesel + Diesel', 'Petrol', 'Petrol + LPG', 'Diesel', 'CNG + CNG',
       'Petrol + Petrol', 'Diesel + Petrol', 'Petrol + CNG', 'LPG + LPG',
       'Petrol + Diesel', 'Diesel + LPG', 'Diesel + CNG', 'Electric',
       'CNG', 'LPG', 'Hybrid', 'CNG + Petrol+Cng', 'LPG + Petrol+Lpg',
       'CNG + LPG', 'Mild Hybrid(Electric + Petrol)', 'CNG + Petrol',
       'Electric + Electric', 'LPG + CNG', 'Electric + CNG',
       'Electric + LPG', 'Hybrid + Hybrid(Ele',
       'Mild Hybrid(Electric + Petrol) + Mild Hybri',
       'Mild Hybrid(Electric + Petrol) + CNG',
       'Mild Hybrid(Electric + Petrol) + Hybrid(Ele',
       'Petrol + Petrol+Cng', 'Petrol + Electric', 'Not Available',
       'Petrol + Hybrid(Ele', 'Hybrid (Electric + Petrol)',
       'Hybrid + Petrol', 'Mild Hybrid (Electric + Diesel)',
       'Plug-in Hybrid (Electric + Petrol) + CNG',
       'Mild Hybrid(Electric + Petrol) + LPG'], dtype=object)

##### `transmissionType`

In [75]:
# first clearing out the leading and trailing spaces

df_overview_A['transmissionType'] = df_overview_A['transmissionType'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_overview_A[df_overview_A['transmissionType'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['transmissionType'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['transmissionType']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['transmissionType']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['transmissionType']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['transmissionType']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['transmissionType']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['transmissionType']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  6
 None -  0
 0 -  0
 0(str) -  0

In [76]:
df_overview_A[df_overview_A['transmissionType'] == 'Not Available'].shape

(6, 20)

* transmission type data is also not consistent will be analysed along with specifications

In [77]:
df_overview_A['transmissionType'].unique()

array(['Automatic', 'Manual', 'Automatic (AMT)', 'Automatic (CVT)',
       'Automatic (TC)', 'Automatic (DCT)', 'Clutchless Manual (IMT)',
       'Manual - 5 Gears', 'Manual - 6 Gears', 'Automatic (e-CVT)',
       'Automatic - 8 Gears, Paddle Shift, Sport Mode',
       'Automatic - 8 Gears, Manual Override',
       'Automatic (TC) - 8 Gears, Manual Override, Sport Mode',
       'Automatic (TC) - 8 Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic - 9 Gears, Paddle Shift, Sport Mode',
       'Automatic (CVT) - CVT Gears, Sport Mode',
       'Automatic (DCT) - 7 Gears, Manual Override, Sport Mode',
       'Automatic - 8 Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic - 7 Gears, Paddle Shift, Sport Mode',
       'Automatic (TC) - 9 Gears, Paddle Shift, Sport Mode',
       'Automatic - 6 Gears, Manual Override, Sport Mode',
       'Automatic - 8 Gears, Sport Mode',
       'Automatic - 6 Gears, Sport Mode', 'Not Available',
       'Automatic - 6 Gears, Paddle Shift, Sport Mode',
       'Automatic - 8 Gears, Manual Override, Sport Mode',
       'Automatic - 8 Gears, Paddle Shift',
       'Manual - 6 Gears, Sport Mode', 'Automatic - 4 Gears',
       'Automatic (TC) - 6 Gears, Manual Override',
       'AMT - 5 Gears, Sport Mode',
       'Automatic (TC) - 6 Gears, Manual Override, Sport Mode',
       'Clutchless Manual - 6 Gears', 'AMT - 5 Gears',
       'Automatic - 1 Gears, Sport Mode', 'Manual - 4 Gears',
       'Automatic (CVT) - CVT Gears, Manual Override',
       'Automatic - 5 Gears', 'Automatic - 7 Gears',
       'AMT - 6 Gears, Manual Override, Sport Mode',
       'AMT - 5 Gears, Manual Override', 'Automatic - CVT Gears',
       'Automatic (CVT), Manual Override', 'Manual - 5 Gears, Sport Mode',
       'Automatic - 6 Gears',
       'Automatic (CVT) - CVT Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic - CVT Gears, Sport Mode',
       'Automatic (CVT) - CVT Gears, Paddle Shift',
       'Automatic (TC) - 6 Gears, Paddle Shift, Sport Mode',
       'Automatic (AMT) - 6 Gears, Manual Override',
       'Automatic (CVT) - CVT Gears, Paddle Shift, Sport Mode',
       'Automatic (DCT) - 7 Gears, Paddle Shift, Sport Mode',
       'AMT - 6 Gears', 'Automatic - 6 Gears, Manual Override',
       'Automatic - Not Applicable Gears, Sport Mode',
       'Automatic (DCT) - 7 Gears, Manual Override',
       'Automatic (CVT) - 7 Gears, Paddle Shift, Sport Mode',
       'Automatic (TC) - 6 Gears',
       'Automatic - 7 Gears, Manual Override, Sport Mode',
       'Automatic (AMT) - 5 Gears, Manual Override & Paddle Shift',
       'Automatic, Paddle Shift', 'Automatic - 5 Gears, Sport Mode'],
      dtype=object)

* grouping the transmission types into 2 major categories
    * Automatic - includes all types - AMT, CVT, IMT, TC, DCT
    * Manual

In [78]:
df_overview_A['transmission'] = df_overview_A['transmissionType'].str.split(' ', n=1,expand=True)[0]

In [79]:
# grouping into 2 major 
df_overview_A['transmission'] = df_overview_A['transmission'].str.replace(',','',regex = True).replace('Not',None,regex=True).replace('Clutchless','Automatic',regex=True).replace('AMT','Automatic',regex=True)

In [80]:
# removing tranmission type
df_overview_A.drop(columns = ['transmissionType'],inplace = True)

In [81]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59708 entries, 0 to 59707
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   profileId       59708 non-null  object
 1   vehicle         59708 non-null  object
 2   price           59708 non-null  object
 3   kilometers      59708 non-null  float64
 4   fuelName        59708 non-null  object
 5   insurance       59422 non-null  object
 6   makeName        59708 non-null  object
 7   modelName       59708 non-null  object
 8   versionName     59708 non-null  object
 9   makeYear        59708 non-null  int64
 10  makeMonth       59708 non-null  object
 11  city            59708 non-null  object
 12  noOfOwners      59708 non-null  object
 13  registerCity    59708 non-null  object
 14  carAvailbaleAt  59708 non-null  object
 15  regType         25222 non-null  object
 16  priceNumeric    59708 non-null  int64
 17  rootName        59708 non-null  object
 18  state           59708 non-null  object
 19  transmission    59702 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 9.1+ MB

##### `makeName`

In [82]:
# first clearing out the leading and trailing spaces

df_overview_A['makeName'] = df_overview_A['makeName'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_overview_A[df_overview_A['makeName'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['makeName'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['makeName']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['makeName']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['makeName']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['makeName']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['makeName']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['makeName']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [83]:
df_overview_A['makeName'].unique()

array(['Mercedes-Benz', 'Maruti Suzuki', 'Ford', 'Volkswagen', 'Nissan',
       'Hyundai', 'Renault', 'Honda', 'Toyota', 'Skoda', 'Tata',
       'Mahindra', 'MG', 'Audi', 'BMW', 'Land Rover', 'Jaguar', 'Volvo',
       'Porsche', 'Kia', 'Jeep', 'MINI', 'Chevrolet', 'Force Motors',
       'Mitsubishi', 'Fiat', 'Datsun', 'Isuzu', 'Ssangyong', 'Maserati',
       'Lexus', 'Mahindra-Renault', 'Bentley', 'Aston Martin', 'Citroen',
       'Cadillac', 'Chrysler', 'ICML', 'Rolls-Royce', 'Hindustan Motors',
       'Hummer', 'Lamborghini', 'Ferrari', 'Opel', 'Ashok Leyland',
       'Sipani'], dtype=object)

* Make Names are consistent no changes/cleanups needed

##### `modelName`, `rootName` and `versionName`

In [84]:

# first clearing out the leading and trailing spaces in modelName

df_overview_A['modelName'] = df_overview_A['modelName'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_overview_A[df_overview_A['modelName'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['modelName'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['modelName']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['modelName']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['modelName']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['modelName']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['modelName']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['modelName']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* Model Name seems to be inconsitent with some year suffixes

In [85]:
df_overview_A['modelName'].unique()

array(['GLE', 'Vitara Brezza [2016-2020]', 'Figo [2010-2012]',
       'Ritz [2009-2012]', 'Alto 800', 'Vento [2012-2014]', 'Magnite',
       'i20 [2008-2010]', 'Triber [2019-2023]', 'Swift [2014-2018]',
       'Zen [1996-2003]', 'Alto K10', 'City [2011-2014]',
       'Swift DZire [2011-2015]', 'City ZX', 'Kwid', 'Amaze [2018-2021]',
       'Creta [2018-2019]', 'Grand i10 [2013-2017]',
       'Alto K10 [2010-2014]', 'Estilo [2006-2009]',
       'Wagon R [2006-2010]', 'Figo [2012-2015]',
       'Etios Liva [2011-2013]', 'Baleno', 'Santro Xing [2008-2015]',
       'Verna [2006-2010]', 'Verna [2011-2015]',
       'Swift Dzire [2015-2017]', 'Fabia', 'Ertiga [2012-2015]',
       'Dzire [2017-2020]', 'Safari [2015-2017]', 'Eeco',
       'Alto 800 [2012-2016]', 'Wagon R 1.0 [2010-2013]',
       'S-Presso [2019-2022]', 'Verito [2011-2012]',
       'Hector Plus [2020-2023]', 'S-Cross [2017-2020]', 'Estilo',
       'Wagon R 1.0 [2014-2019]', 'Scorpio', 'Bolero [2020-2022]',
       'City 4th Generation', 'Ertiga [2015-2018]', 'Grand i10 Nios',
       'Armada', 'Scorpio 2021', 'Bolero Neo', 'Accord [2001-2003]',
       '800 [2000-2008]', 'Fiesta [2005-2008]', 'Aura [2020-2023]',
       'Indica Vista [2012-2014]', 'EcoSport [2015-2017]',
       'Polo [2016-2019]', 'Baleno [2019-2022]', 'Tiago [2016-2020]',
       'Zest', 'Santro Xing [2003-2008]', 'Corolla Ceres',
       'Alto [2005-2010]', 'Freestyle', 'Creta [2020-2023]',
       'Creta [2019-2020]', 'Kiger [2021-2022]',
       'Indica Vista [2008-2011]', 'C-Class', 'EQB',
       'E-Class [2017-2021]', 'GLE [2015-2020]', 'GLA',
       'A-Class Limousine [2021-2023]', 'GLB', 'A4 [2013-2016]',
       'AMG A35', 'Kwid [2015-2019]', 'Wagon R [2019-2022]',
       'Indigo [2005-2009]', 'Xylo', 'EcoSport [2013-2015]',
       'Baleno [2015-2019]', 'Bolero [2007-2011]', 'Exter', 'Dzire',
       'Grand i10', 'Kiger [2022-2023]', 'Swift [2018-2021]', 'Venture',
       'XUV500 [2015-2018]', 'Nexon [2020-2023]', 'XUV300',
       'Indica eV2 [2011-2012]', 'Getz Prime [2007-2010]',
       'Fortuner Legender', 'Omni', 'Grand i10 Nios [2019-2023]',
       'Urban Cruiser Hyryder', 'Thar', 'Alto K10 [2014-2020]',
       'Celerio X', 'Amaze', 'Ertiga [2018-2022]', 'Celerio [2014-2017]',
       'Bolero', 'X5 [2014-2019]', 'X1 [2013-2016]',
       'Fortuner [2012-2016]', 'EcoSport [2017-2019]', 'WR-V',
       'TUV300 [2015-2019]', 'X1 [2020-2023]',
       'Discovery Sport [2018-2020]', 'XE [2016-2019]', 'X3',
       '7 Series [2019-2023]', 'XC60 [2017-2021]', 'X3 [2014-2018]', 'GL',
       '6 Series GT', '3 Series [2016-2019]', 'Q3 [2015-2017]',
       'XC40 [2018-2022]', '5 Series [2017-2021]', 'S-Class (W222)',
       'CLA', 'Discovery Sport [2015-2017]', 'S60 [2015-2020]',
       'C-Class [2018-2022]', 'Macan [2019-2021]', 'Tiago NRG',
       'All New City [2020-2023]', 'Altroz', 'Kwid [2022-2023]',
       'EcoSport', 'Tiago', 'GLA [2017-2020]', 'Elite i20 [2016-2017]',
       'Innova Crysta [2016-2020]', 'Creta [2015-2017]',
       'Sonet [2020-2022]', 'Venue [2022-2023]', 'Micra [2013-2018]',
       'Verna [2015-2017]', 'Urban Cruiser', 'Q7 [2010 - 2015]',
       'M-Class', 'City [2014-2017]', 'WR-V [2017-2020]',
       'i20 N Line [2021-2023]', 'A6[2011-2015]', 'Glanza [2019-2022]',
       'A4 [2008-2013]', 'Ciaz [2017-2018]', 'Ciaz [2014-2017]',
       'Harrier [2019-2023]', 'Indigo eCS [2010-2013]',
       'Hexa [2017-2019]', 'Amaze [2016-2018]', 'Innova [2012-2013]',
       'Nexon [2017-2020]', 'Tucson [2016-2020]',
       'Safari Storme [2012-2015]', 'Elite i20 [2014-2015]',
       'Verna [2020-2023]', 'Q5 [2013-2018]', 'X6 [2012-2014]',
       'Elantra [2016-2019]', 'Innova Crysta [2020-2023]',
       'C-Class [2014-2018]', 'Fortuner [2016-2021]', 'Compass',
       'Cooper [2014-2018]', 'GLS [2016-2020]', 'Land Cruiser',
       'Venue [2019-2022]', 'i10 [2010-2017]', 'GLA [2014-2017]',
       'Cooper [2012-2014]', '5 Series [2010-2013]', 'Eon', 'Santro',
       'X1 [2016-2020]', 'Innova [2009-2012]', 'i10 [2007-2010]',
       'Duster [2012-2015]', 'Terrano [2013-2017]', 'Swift [2011-2014]',
       'X1 [2010-2012]', 'Civic [2006-2010]', 'C-Class [2010-2011]',
       'Endeavour [2009-2014]', 'Etios [2010-2013]', 'Mobilio',
       'City [2008-2011]', '7 Series [2008-2013]', 'Safari [1998-2005]',
       'NuvoSport', 'Amaze [2013-2016]', 'XF [2013-2016]', 'Fortuner',
       'Creta [2017-2018]', 'Freelander 2 [2009-2011]',
       'Seltos [2019-2022]', 'Duster [2015-2016]', '5 Series [2013-2017]',
       'Jimny', 'C-Class [2011-2014]', 'Hilux', 'Wrangler',
       'X3 [2018-2022]', 'Thar [2014-2020]', 'Jazz [2015-2018]', 'XUV700',
       'Eeco [2010-2022]', 'Brio [2011-2013]', 'Verna [2017-2020]',
       'Hector [2019-2021]', 'Scorpio [2009-2014]',
       'Alto 800 [2016-2019]', 'Cruze [2012-2013]',
       'Swift Dzire [2010-2011]', 'Indigo CS [2008-2011]',
       'Micra [2010-2013]', 'Bolero [2011-2020]', 'Kwid [2019-2022]',
       'i20 [2012-2014]', 'Etios [2014-2016]', 'i20 [2020-2023]', 'Punch',
       'Scorpio Getaway', 'Slavia [2022-2023]', 'Force One',
       'Elite i20 [2019-2020]', 'Accent [1999-2003]',
       'Bolero [2000-2007]', 'Etios [2013-2014]', 'Jazz [2011-2013]',
       'Captur [2017-2019]', 'Indigo eCS [2013-2018]',
       'i20 Active [2015-2018]', 'Swift', 'Fabia [2008-2010]',
       'Indica V2 [2003-2006]', 'Duster [2016-2019]',
       'Bolero Neo [2021-2022]', 'Ignis [2020-2023]',
       'Outlander [2007-2015]', 'Xcent [2014-2017]', 'Pulse [2012-2015]',
       'KUV100 NXT', 'Cruze [2009-2012]', 'Vento [2010-2012]',
       'Micra Active [2013-2018]', 'Aspire [2015-2018]',
       'Accent [2003-2009]', 'Beat [2009-2011]',
       'Accord [Import Pre-2001]', 'Ciaz', 'Spark [2012-2013]',
       'Indica eV2 [2012-2013]', 'KUV100 [2016-2017]',
       'Scorpio [2014-2017]', 'Sail [2012-2014]', 'Wagon R',
       'Kwid [2019] [2019-2019]', 'Xcent', 'Superb [2016-2020]', 'Ritz',
       'SX4 [2007-2013]', 'Fronx', 'Aspire', 'Innova [2015-2016]',
       '800 [2008-2014]', 'CR-X', 'Alturas G4', 'Ertiga',
       'Accent Viva [2001-2007]', 'Q5 [2009-2012]', 'Model T',
       'Seltos [2022-2023]', 'XL6', 'Alto [2010-2013]', 'Creta',
       'Marazzo [2018-2020]', '1100', 'Baleno [1999-2007]', 'Brezza',
       'Sunny [2011-2014]', 'Ignis [2017-2019]', 'Safari [2021-2023]',
       'Lodgy', 'A6 [2015-2019]', 'V40 [2016-2019]', 'A4',
       'Brio [2013-2016]', 'S-Cross [2014-2017]', 'Elite i20 [2018-2019]',
       'Q3 [2012-2015]', 'A6', 'Q5', 'Q8', 'A3 [2014-2017]', 'XUV500',
       'Ameo', 'redi-GO [2016-2020]', 'Celerio [2017-2021]', 'Polo',
       'Tigor [2017-2018]', 'Micra Active', 'Tigor [2018-2020]', 'BR-V',
       'Brio', 'Endeavour', 'Hector [2021-2023]', 'Carens [2022-2023]',
       'Corolla Altis [2014-2017]', 'Q3 [2017-2020]',
       'Range Rover Evoque [2016-2020]', 'Vento [2015-2019]',
       'Figo [2015-2019]', 'XUV500 [2011-2015]', 'Tigor',
       'Compass [2017-2021]', 'Alcazar [2021-2023]', 'Marazzo',
       'Q7 [2015-2020]', 'Rapid', 'T-Roc [2020-2021]', 'A8 L [2011-2014]',
       'S90 [2016-2021]', 'XC90 [2007-2015]', 'Tucson',
       'Fortuner [2009-2012]', 'Kushaq [2021-2023]', 'GLS',
       'XL6 [2019-2022]', 'GO', 'D-Max V-Cross [2016-2018]',
       'Taigun [2021-2023]', 'S-Cross 2020', 'Octavia [2013-2015]',
       'GO Plus [2015-2018]', 'Jetta [2013-2015]',
       'Land Cruiser Prado [2004-2011]', 'Beat [2014-2016]',
       'Rapid [2011-2014]', '6 Series GT [2018-2021]', 'Countryman',
       '7 Series [2016-2019]', 'Nexon EV [2020-2022]',
       '3 Series [2012-2016]', 'Etios Liva [2014-2016]', 'A4 [2016-2020]',
       'S-Class [2014-2018]', '911 [2006-2019]', 'Accord [2011-2014]',
       '3 Series GT [2014-2016]', 'Range Rover Sport [2018-2022]',
       'Range Rover Evoque', 'Polo [2012-2014]', 'Mustang', 'Seltos',
       'F-Type', 'X6 [2009-2012]', 'Elite i20 [2017-2018]', 'Glanza',
       'Grand Vitara', 'Corolla Altis [2008-2011]', 'Jetta',
       'Santa Fe [2014-2017]', 'F-Pace [2016-2021]',
       'Elantra [2012-2015]', 'E-Class [2006-2009]',
       '7 Series [Import Pre-2007]', 'CR-V [2007-2009]',
       'Freelander 2 [2012-2013]', 'Yaris', 'Gloster [2020-2022]',
       'Rexton', 'Corolla Altis [2011-2014]', 'ZS EV [2020-2022]',
       'Corolla Altis', 'Sail U-VA [2012-2014]', 'Innova [2013-2014]',
       'i20 [2010-2012]', 'Range Rover Evoque [2011-2014]',
       'C-Class [2007-2010]', 'Santro [2000-2003]', 'Scala [2012-2017]',
       'GLC [2016-2019]', 'Astor', 'Tavera', 'CLA [2015-2016]',
       'Endeavour [2016-2019]', 'Rapid [2014-2015]', 'Camry [2015-2019]',
       'Verna Transform [2010-2011]', 'Vitara Brezza [2020-2022]',
       'Fluidic Verna 4S [2015-2016]', 'Innova [2005-2009]',
       'XC60 [2021-2022]', 'Jazz [2018-2020]', 'Pajero',
       'E-Class [2002-2003]', 'Endeavour [2003-2007]',
       'Quanto [2012-2016]', 'Pulse [2015-2017]', 'E-Class [2013-2015]',
       'S-Class [2010-2014]', 'Accent', 'Cruze [2013-2014]',
       'Spark [2007-2012]', 'Range Rover', '3 Series [2009-2010]',
       'Discovery', 'Z4 [2013-2018]', 'E-Class [2009-2013]',
       'Fiesta [2011-2014]', 'Etios Cross', 'C-Class [2003-2007]',
       'Safari Storme 2019', 'Carnival', 'XF [2012-2013]', 'Movus',
       'AMG A45 S [2021-2023]', 'Cayenne [2010-2014]',
       '7 Series [2013-2016]', 'E-Class [2015-2017]', 'Beat [2011-2014]',
       'Vento', 'Defender', 'Octavia [2017-2021]', 'Polo [2010-2012]',
       'Xylo [2009-2012]', 'CR-V [2013-2018]', 'CR-V [2009-2013]',
       'Vento [2014-2015]', 'Range Rover Velar [2017-2023]',
       'Optra Magnum [2007-2012]', '3 Series [2010-2012]', 'TUV300',
       'Cayenne [2014-2018]', 'Jetta [2011-2013]', 'Linea Classic',
       'Accord [2008-2011]', '5 Series [2007-2010]', 'Safari [2005-2007]',
       'Jazz', 'Indica V2 [2006-2013]', 'Swift  [2005-2010]',
       'Pajero Sport', '1000 [1990-2000]', 'Kicks', 'Wagon R [1999-2006]',
       'redi-GO', 'CR-V', 'Classic [2012-2015]', '2 Series Gran Coupe',
       'Indica V2', 'Lancer [2004-2012]', 'Enjoy', 'Swift  [2010-2011]',
       'A8 L [2004-2011]', 'Virtus [2022-2023]', '6 Series',
       'Superb [2014-2016]', 'Jazz [2009-2011]', 'Platinum Etios',
       'A-Star [2008-2012]', 'Sunny', 'Civic', 'Punto [2011-2014]',
       'S60 [2013-2015]', 'XUV400', 'Aveo [2009-2012]', 'Aura',
       'Fiesta Classic [2011-2012]', '5 Series', 'Punto Evo',
       'CR-V [2004-2007]', 'Zen', 'Sail', 'Linea [2012-2014]',
       'Cooper Convertible', 'Versa', 'Zephyr', 'Nano GenX', 'Celerio',
       'Ignis [2019-2020]', 'B-Class [2012-2015]', 'Alphard 2017',
       'Ignis', 'Swift Dzire [2008-2010]', 'Corolla', 'Marshal',
       'Manza [2011-2015]', 'City [2003-2005]', 'Bolt',
       'Punto [2009-2011]', 'Camry [2006-2012]', 'E-Class', 'Scorpio N',
       'Fleetline', 'Stingray', 'Sonet [2022-2023]', 'Linea [2008-2011]',
       'Indigo XL [2007-2011]', 'Civic [2010-2013]', 'Rumion',
       'GO [2014-2018]', 'Koleos [2011-2014]', 'Laura',
       'Nano [2011-2013]', 'City [2000-2003]', 'Evalia [2012-2014]',
       'Urban Cross', 'Macan [2014-2019]', 'X4 [2019-2022]',
       'X5 [2019-2023]', 'Levante', 'Countryman [2015-2018]',
       'Jetta [2008-2011]', 'X7 [2019-2023]', 'ES', 'M6',
       'Wrangler [2016-2019]', 'AMG GLC43 Coupe', 'GLC [2019-2023]',
       'EQS', 'Range Rover [2014-2018]', '3 Series GT',
       'Land Cruiser [2011-2015]', 'iX', 'XC90', 'Octavia [2001-2010]',
       'Figo', 'Scorpio [2006-2009]', 'Polo [2014-2015]', 'Triber',
       'Alcazar', 'XF', 'M340i [2021-2022]', 'XJ L', 'XJ L [2010-2014]',
       'S60 [2011-2013]', 'Discovery Sport [2020-2022]', 'Duster',
       'GLC Coupe', 'Voyager', 'Gypsy [1996-2000]', 'Fiesta [2008-2011]',
       'Logan Edge', 'Indicab [2001-2007]', 'Kodiaq', 'Tiago EV',
       'Aria [2010-2014]', 'A3 [2017-2020]', 'M-Class [2006-2012]',
       'Verna', 'A3 Cabriolet', 'Clubman [2016-2020]', 'X3 [2011-2014]',
       'V40 Cross Country [2013-2016]', 'Continental Flying Spur',
       'XJ L [2014-2016]', 'XK', 'Cooper Countryman [2012-2015]',
       'Q7 [2006-2010]', 'A-Class [2013-2015]', 'Octavia [2015-2017]',
       'Cooper Convertible [2016-2018]', 'XC90 [2015-2021]', 'Elantra',
       'Rapide', 'Indica', 'Verito', '500', 'S-Presso',
       'XC60 [2013-2015]', 'A7 [2011-2015]', 'Beetle [2008-2014]',
       'i20 Active', 'Sonet', 'Range Rover Sport [2013-2018]',
       'Fluence [2011-2014]', 'Indica V2 [2001-2003]',
       'Fusion [2006-2010]', 'Transporter', 'Santro [1998-2000]', 'A8 L',
       'Sumo Gold [2011-2013]', 'Gypsy [2004-2010]', 'Ikon', '1600',
       'Manza [2009-2011]', 'Avventura', 'Sumo Victa [2004-2011]',
       'Optra [2003-2005]', 'Discovery Sport [2017-2018]',
       'Cross Polo [2013-2015]', 'Xylo [2012-2014]', 'Logan [2009-2011]',
       '800 [1997-2000]', 'Kodiaq [2017-2020]', 'Santa Fe [2011-2014]',
       'Q5 [2018-2020]', 'B-Class', 'Captiva [2012-2016]', 'Gloster',
       '3 Series Gran Limousine [2021-2023]', 'GLE Coupe',
       'Grand Vitara [2007-2009]', 'Range Rover Sport [2012-2013]',
       'Cruze [2014-2016]', 'Passat [2007-2014]', 'Superb [2009-2014]',
       'Montero [2007-2012]', 'Vellfire [2020-2023]', 'Q7',
       'G-Class [2018-2023]', 'Laura [2005-2009]', 'Getz [2004-2007]',
       'A-Star', 'Rapid [2015-2016]', 'Yeti [2010-2014]', 'Venue',
       'Q3 Sportback', 'e2o PLUS', 'Nano [2009-2011]',
       'Elantra [2015-2016]', 'Duster [2019-2020]', 'Celica', 'Esteem',
       'Esteem [1994-2002]', 'Elantra [2004-2008]', 'Spark', 'Xenon XT',
       'M5 [2012-2014]', 'AMG GLA35', 'C-Class Cabriolet [2016-2018]',
       'S-Class', 'AMG GLE Coupe', 'Nexon', 'C3',
       'Etios Liva [2013-2014]', 'Terrano', 'Grand Cherokee [2016-2020]',
       'Nexon EV Prime', 'V-Class', 'X1', 'Rapid TSI', 'EQC',
       'Range Rover Evoque [2015-2016]', 'Aria [2014-2017]', 'Beat',
       'Range Rover [Pre-2009]', 'Creta Facelift', 'Aveo [2006-2009]',
       'Corvette', 'Ghibli [2015-2018]', 'Etios Liva', 'Kiger',
       'Alto [2000-2005]', 'Range Rover Sport [2009-2012]', 'Genesis',
       'Tiguan AllSpace', 'Continental GT', 'Koleos [2014-2017]',
       'V90 Cross Country', 'Range Rover [2012-2013]',
       'S-Class [2006-2010]', '1 Series', 'NX [2017-2022]',
       'e2o [2014-2016]', '3 Series [2007-2009]', 'Accord [2003-2007]',
       'Tiguan', 'Captiva [2008-2012]', 'X5 [2008-2012]',
       'Range Rover [2010-2012]', 'Tiguan [2017-2020]', 'XF [2009-2012]',
       'Sumo Grande [2008-2009]', '370Z [2010-2014]', 'Nano', 'Rapid new',
       'Freelander 2', 'Land Cruiser Prado',
       'Range Rover Sport [Pre-2009]', 'Sonata Transform [2009-2011]',
       'Karoq', 'LX', 'A6 [2008-2011]', 'A4 [2006-2008]', 'Jeep',
       'Sonata', '5 Series [Import Pre-2007]', 'C-Coupe',
       'Cooper S [2014-2015]', 'A8 L [2014-2018]', 'Panamera', 'Q2',
       'RS5 [2012-2016]', 'Corona', 'S-Coupe', 'G-Class [2013-2018]',
       'Panamera [2014-2017]', 'GL [2010-2013]', 'CTS', '3 Series', '300',
       'TL', 'F-Type [2013-2020]', '6 Series Gran Coupe',
       'X5 [2007-2008]', 'S-Class [1999-2005]', 'R-Class', 'Serena',
       'Touareg [2008-2012]', 'MB-Class', '190', 'Tucson [2020-2022]',
       'Cayenne [2004-2010]', 'E-Class [1998-2002]', 'LX 470', 'Passat',
       'Z3', 'Commuter', 'Yeti', 'C5 Aircross [2021-2022]',
       'Ikon [2003-2009]', 'ZS EV', 'Nexon EV Max', 'Cruze',
       'Palio [2001-2005]', 'Aveo U-VA [2006-2012]', 'Teana [2007-2014]',
       'XC40', 'Camry', 'Scorpio [2002-2006]', 'Logan [2007-2009]',
       'Innova Crysta', 'T-Roc', 'Linea', 'Carens', 'Superb [2004-2009]',
       'Lancer [1998-2004]', 'Range Rover [2018-2022]', 'Hexa', 'Safari',
       'Palio Stile [2007-2011]', 'Innova Hycross', 'SX4',
       'XUV300 TurboSport', 'Sumo Gold', 'XC60 [2010-2013]',
       'LX [2017-2022]', 'D-MAX V-Cross [2018-2019]', 'Superb',
       'Wrangler [2019-2021]', 'CLS [2014-2018]', '800 [1984-1986]',
       'Optra SRV [2006-2010]', 'Hector', 'Rhino Rx [2008-2014]',
       'Cooper JCW', 'Hiace', 'S5 Sportback', 'Vantage V8 [2022]',
       'M2 [2018-2022]', 'GLC Coupe [2017-2020]', 'R8 [2013-2016]',
       'D-Max', 'Cooper SE', 'I-Pace', 'i8 [2015-2019]',
       'Range Rover Evoque [2014-2015]', 'Phaeton', 'Meridian', 'Octavia',
       'SLC', 'Vista Tech', 'Phantom', 'FJ Cruiser',
       'A-Class [2015-2019]', 'Harrier', 'Cedia [2006-2009]', 'SL',
       'Z4 [2010-2013]', 'Cresta', 'GTI', 'X4', 'i20', 'Kizashi',
       'Ikon [1999-2003]', 'Camry [2012-2015]', 'Verito Vibe CS',
       'Ambassador', 'Cross Polo', 'Venue N Line', 'Caravelle',
       'SLK-Class [2006-2011]', 'Tigor EV [2021-2022]',
       'Discovery 4 [2009-2012]', 'H2', 'Hector Plus', '5 Series GT',
       'Discovery [2014-2017]', 'M4 Competition', 'Silverado',
       'Grand Cherokee', 'D-MAX V-Cross [2019-2020]', 'Discovery 4', 'A5',
       'V12 Vantage [2010-2019]', '6 Series [Import Pre-2007]',
       'V40 Cross Country [2016-2019]', 'Quattroporte', 'CLS [2011-2014]',
       'Ghost', 'Accord [2007-2008]', 'X-Trail [2009-2014]',
       'RS7 Sportback [2014-2015]', 'Huracan Evo', 'S60', 'H3',
       'XC60 [2015-2017]', 'Gallardo [2005 - 2014]', 'R8 [Pre-2012]',
       'Touareg', '3 Series Gran Limousine', 'Tigor EV',
       'Qualis [2000-2002]', '488', 'Defender [2020-2021]', 'Beetle',
       'X6', 'Mulsanne', 'ES [2017-2018]', 'Virtus',
       'Sumo Grande MK II [2009-2014]', 'Sail Hatchback', 'Kushaq',
       'Taigun', 'S90', 'GO+', 'Fluence [2014-2017]', 'Fiesta',
       'Optra [2005-2007]', '911', 'RX [2017-2023]',
       '6 Series [2008-2011]', 'X6 [2015-2019]', 'RX [2013]', 'SLK',
       'CLS', 'Z4 [2019-2023]', '718', 'MU-X [2017-2018]',
       'M4 [2014-2018]', 'Cayenne', 'Nexon EV', 'MU-X [2018-2020]',
       'Gurkha', 'Trailblazer', 'Estate', 'Terracan [2003-2006]',
       '3 Series [Import Pre-2007]', 'V70 [Import]',
       'Land Cruiser [2009-2011]', 'Grand Vitara [2003-2007]', 'Ioniq 5',
       'Cooper', 'Scenic', 'Safari Granroad', 'EV6', 'Sumo [2002-2006]',
       'M5 [2014-2018]', 'XF [2008]', 'Millicento', 'TT', 'F-Pace',
       'Slavia', 'City [1998-2000]', 'Corsa', 'City',
       'E-Class All Terrain', 'Endeavour [2007-2009]', 'New Jazz',
       'Micra', 'M5 [2018-2021]', 'R8', 'LS', 'Qualis [2002-2004]',
       'Gypsy [2000-2004]', 'Venue N Line [2022-2023]', 'Cayenne Coupe',
       'MU7 [2014-2017]', 'Gypsy', 'Indica [1999-2001]',
       'Wrangler [2013-2016]', 'TT [2012-2015]', 'MB 100', 'Accord',
       'Seltos BS6 Phase 2 [2023-2023]', 'Sumo [1999-2002]',
       'Octavia Combi', 'Esteem [2002-2004]', 'Grand Vitara [2009-2015]',
       'Sonata [2001-2005]', 'Montero [2012-2014]', 'E-Class [2003-2006]',
       'A6 [Import]', 'Sonata Embera [2005-2009]', 'Camry [2019-2022]',
       'Evalia [2014-2016]', 'X7', 'V40 [2015-2016]',
       'Gurkha [2017-2020]', 'City Hybrid eHEV [2022-2023]',
       'Stile [2013-2015]', 'Punto Pure [2016-2017]', 'S80 [2015-2017]',
       'Concerto', 'Captur', 'Impala', 'Indigo [2002-2005]',
       'Tucson [2005-2010]', 'Trax Cruiser', 'Kona Electric', 'MU-X',
       'Montego', 'Land Cruiser [2008]', 'Indigo Marina [2004-2010]',
       'AMG EQS', 'X5 [2012-2014]', 'S5 Sportback [2015-2017]',
       'C5 Aircross', 'Challenger', 'Contessa'], dtype=object)

* column 'rootName' consists of model names without the year names

In [86]:
df_overview_A['rootName'].unique()

array(['GLE', 'Vitara Brezza', 'Figo', 'Ritz', 'Alto 800', 'Vento',
       'Magnite', 'i20', 'Triber', 'Swift', 'Zen', 'Alto K10', 'City',
       'Swift DZire', 'Kwid', 'Amaze', 'Creta', 'Grand i10', 'Alto',
       'Estilo', 'Wagon R', 'Etios Liva', 'Baleno', 'Santro', 'Verna',
       'Fabia', 'Ertiga', 'DZire', 'Safari', 'Eeco', 'S-Presso',
       'Logan/Verito', 'Hector Plus', 'S-Cross', 'Scorpio', 'Bolero',
       'Grand i10 NIOS', 'Armada', 'Accord', '800', 'Fiesta/Classic',
       'Aura', 'Vista', 'Ecosport', 'Polo', 'Tiago', 'Zest', 'Corolla',
       'Freestyle', 'Kiger', 'C-Class', 'EQB', 'E-Class', 'GLA',
       'A-Class Limousine', 'GLB', 'A4', 'AMG A35 Limousine', 'Indigo',
       'Xylo', 'Exter', 'Venture', 'XUV500', 'Nexon', 'XUV300', 'Indica',
       'Getz', 'Fortuner', 'Omni', 'Urban Cruiser Hyryder', 'Thar',
       'Celerio X', 'Celerio', 'X5', 'X1', 'WR-V', 'TUV300',
       'Discovery Sport', 'XE', 'X3', '7-Series', 'XC60', 'GL-Class',
       '6-Series GT', '3-Series', 'Q3', 'XC40', '5-Series', 'S-Class',
       'CLA', 'S60', 'Macan', 'Altroz', 'Elite i20', 'Innova Crysta',
       'Sonet', 'Venue', 'Micra', 'Urban Cruiser', 'Q7', 'M-Class',
       'i20 N Line', 'A6', 'Glanza', 'Ciaz', 'Harrier', 'Hexa', 'Innova',
       'Tucson', 'Q5', 'X6', 'Elantra', 'Compass', 'Cooper', 'GLS',
       'Land Cruiser', 'i10', 'Eon', 'Duster', 'Terrano', 'Civic',
       'Endeavour', 'Etios', 'Mobilio', 'NuvoSport', 'XF', 'Freelander',
       'Seltos', 'Jimny', 'Hilux', 'Wrangler', 'Jazz', 'XUV700', 'Brio',
       'Hector', 'Cruze', 'Punch', 'Slavia', 'One', 'Accent', 'Captur',
       'i20 Active', 'Ignis', 'Outlander', 'Xcent', 'Pulse', 'KUV100',
       'Aspire', 'Beat', 'Spark', 'Sail Sedan', 'Superb', 'SX4', 'FRONX',
       'CR-X', 'Alturas G4', 'Model T', 'XL6', 'Marazzo', '1100',
       'Baleno Sedan', 'Sunny', 'Lodgy', 'V40', 'Q8', 'A3', 'Ameo',
       'Redigo', 'Tigor', 'BR-V', 'Carens', 'Corolla Altis', 'Evoque',
       'Alcazar', 'Rapid', 'T-Roc', 'A8', 'S90', 'XC90', 'Kushaq', 'Go',
       'D-Max V-Cross', 'Taigun', 'Octavia', 'Go Plus', 'Jetta', 'Prado',
       'Countryman', 'Nexon EV', '911', 'Range Rover Sport', 'Mustang',
       'F-type', 'Grand Vitara', 'Santa Fe', 'F-Pace', 'CR-V', 'Yaris',
       'Gloster', 'Rexton', 'ZS EV', 'Sail Hatchback', 'Scala', 'GLC',
       'Astor', 'Tavera', 'Camry', 'Pajero', 'Quanto', 'Range Rover',
       'Discovery', 'Z4', 'Fiesta', 'Carnival', 'Grande', 'AMG A45 S',
       'Cayenne', 'Defender', 'Range Rover Velar', 'Optra', 'Linea',
       '1000', 'Kicks', '2 Series Gran Coupe', 'Lancer', 'Enjoy',
       'Virtus', '6-Series', 'A-Star', 'Punto', 'XUV400', 'Aveo',
       'Convertible', 'Versa', 'Zephyr', 'Nano', 'B-class', 'Alphard',
       'Marshal', 'Manza', 'Bolt', 'Fleetline', 'Rumion', 'Koleos',
       'Laura', 'Evalia', 'Urban Cross', 'X4', 'Levante', 'X7', 'ES',
       'M6', 'AMG GLC 43 Coupe', 'EQS', 'iX', 'XJ', 'GLC Coupe',
       'Voyager', 'Gypsy', 'Verito/Logan', 'Kodiaq', 'Tiago EV', 'Aria',
       'Clubman', 'V40 Cross Country', 'Continental Flying Spur', 'XK',
       'A-Class', 'Rapide', 'Tiago NRG', '500', 'A7', 'Beetle', 'Fluence',
       'Fusion', 'Transporter', 'Sumo', 'Ikon', '1600', 'Avventura',
       'Captiva', 'GLE Coupe', 'Grand Vitara 2015', 'Passat', 'Montero',
       'Vellfire', 'G-Class', 'Yeti', 'e2o Plus', 'Celica', 'Esteem',
       'Xenon', 'M5', 'AMG GLA 35', 'C-Class Cabriolet', 'C3', 'Cherokee',
       'V-Class', 'EQC', 'Corvette', 'Ghibli', 'Genesis',
       'Tiguan AllSpace', 'Continental GT', 'V90 Cross Country',
       '1-Series', 'NX', 'e2o', 'Tiguan', '370Z', 'Sonata', 'Karoq', 'LX',
       'Jeep', 'C-Coupe', 'Cooper S', 'Panamera', 'Q2', 'RS5', 'Corona',
       'S-Coupe', 'CTS', '300', 'TL', 'R-Class', 'Serena', 'Touareg',
       'MB-Class', '190', 'Z3', 'Commuter', 'C5', 'Palio', 'Aveo U-Va',
       'Teana', 'Innova Hyrcross', 'CLS', 'Rhino Rx', 'Cooper JCW',
       'Hiace', 'S5 Sportback', 'Vantage', 'M2', 'R8', 'Cooper SE',
       'I-Pace', 'i8', 'Phaeton', 'Meridian', 'SLC', 'Phantom', 'Cedia',
       'SL', 'Cresta', 'GTi', 'Kizashi', 'Ambassador', 'Caravelle',
       'SLK-Class', 'Tigor EV', 'H2', 'M4', 'Silverado', 'A5',
       'Quattroporte', 'Ghost', 'X-Trail', 'RS', 'Huracan', 'H3',
       'Gallardo', 'Qualis', '488', 'Mulsanne', 'RX', '718', 'MU-X',
       'Gurkha', 'Trailblazer', 'Estate', 'Terracan', 'V70', 'Ioniq 5',
       'Scenic', 'Fronx', 'granroad', 'EV6', 'Millicento', 'TT', 'Corsa',
       'E-Class All-Terrain', 'LS', 'Cayenne Coupe', 'MU7', 'eHEV',
       'Stile', 'S80', 'Concerto', 'Impala', 'Trax Cruiser',
       'Kona Electric', 'Montego', 'Challenger', 'Contessa'], dtype=object)

In [87]:
# first clearing out the leading and trailing spaces from versionName

df_overview_A['versionName'] = df_overview_A['versionName'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_overview_A[df_overview_A['versionName'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['versionName'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['versionName']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['versionName']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['versionName']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['versionName']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['versionName']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['versionName']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [88]:
list(df_overview_A['versionName'].unique())

['300d 4MATIC LWB',
 'VDi (O) [2016-2018]',
 'VDi',
 'Duratorq Diesel EXI 1.4',
 'GENUS VXI',
 'LXi (O)',
 'Comfortline Diesel',
 'XE  [2020]',
 'LXi (O) CNG',
 'Asta 1.2',
 'RXL',
 'VXi [2014-2017]',
 'LXi',
 'VXi Plus AGS',
 '1.5 V AT',
 'VXI',
 'VTEC',
 'CLIMBER (O) 1.0 AMT Dual Tone',
 '1.2 E MT Petrol [2018-2020]',
 'E Plus 1.4 CRDi',
 'Sportz 1.1 CRDi [2013-2016]',
 'ZDi Plus',
 'LX',
 'LXi Minor',
 'Duratorq Diesel Titanium 1.4',
 'GD',
 'Zeta AGS',
 'GENUS VDI',
 'GL',
 'CRDI VGT SX 1.5',
 'Fluidic 1.6 CRDi SX Opt AT',
 'VDi ABS',
 'Active 1.2 MPI',
 'GL LPG',
 'ZDi',
 'Sports Edition 1.2L Kappa VTVT',
 '4x2 EXi BS-III',
 '5 STR AC [2022-2023]',
 'Lxi',
 'VXi',
 '1.5 D4 BS-IV',
 'Sharp Hybrid 1.5 Petrol',
 'GXi',
 'Alpha 1.3',
 'VXi ABS BS-IV',
 'VDI',
 'S11 MT 7S CC',
 'B6',
 'SV Petrol',
 'VDI SHVS',
 'Asta 1.2 Kappa VTVT [2023]',
 'VXi Plus AGS [2022-2023]',
 'AC',
 'S11',
 'N10',
 '1.8 MT',
 'AC BS-II',
 '5 STR AC CNG',
 'EXi 1.4',
 'SX 1.2 (O) Petrol',
 'LS TDI BS-III',
 'Ambiente 1.5L Ti-VCT',
 'Highline1.5L (D)',
 'Delta Automatic',
 'Revotorq XE (O) [2016-2019]',
 'XE 75 PS Diesel',
 'XO eRLX - Euro III',
 'Petrol AT',
 'LXi BS-III',
 'Alpha Automatic',
 'Titanium 1.5 TDCi',
 'E 1.5 Diesel [2020-2022]',
 'SX 1.6 Petrol',
 'Highline Plus 1.0 (P) Connect Edition',
 'RXZ Turbo CVT Dual Tone',
 'Aqua 1.4 TDI',
 'C 220d',
 'C 300d',
 '300 4MATIC',
 'E 200 Exclusive [2019-2019]',
 '250 d',
 '220d',
 '200',
 '200 Progressive Line',
 '2.0 TDI (177bhp) Premium Plus',
 'E 220d Exclusive [2019-2019]',
 '200d',
 '220d Progressive Line',
 '4MATIC',
 '1.0 RXT [2016-2019]',
 'VXi Plus',
 'LXi (O) 1.0 CNG',
 'LXI ABS',
 'LX DiCOR BS-III',
 'D4 BS-IV',
 'Titanium 1.5 TDCi (Opt)',
 'LX BS-III',
 'ZXI',
 'Duratorq Diesel LXI 1.4',
 'SLE',
 'EX (O) 1.2 MT',
 'ZXi Plus AGS',
 'Sportz (O) 1.2 Kappa VTVT [2017-2018]',
 'RXZ MT',
 'ZXi AMT [2018-2019]',
 'EX 8 STR',
 'W10',
 'XM [2020-2023]',
 'W8 (O) 1.5 Diesel AMT Dual Tone [2021]',
 'LS',
 '1.3 GLX',
 'ZXi AMT',
 '4X2 AT 2.8 Legender',
 '8 STR BS-III',
 'ZXi [2020-2023]',
 'Magna 1.2 Kappa VTVT',
 'Alpha MT [2022-2023]',
 'G E-CNG [2023-2023]',
 'AX (O) Convertible Top Diesel MT 4WD',
 'Vxi',
 'E MT 1.2 Petrol (Old Design) [2021]',
 'VXi CNG',
 'Era 1.2 Kappa VTVT [2023]',
 'Delta MT CNG [2023]',
 'VXi Plus [2022-2023]',
 'ZXi',
 'Sportz 1.2 Kappa VTVT CNG',
 'Zeta',
 'Delta',
 'xDrive 30d M Sport',
 'sDrive20d xLine',
 '4x2 AT',
 'Titanium 1.5L TDCi',
 'SV MT Petrol',
 'T6 Plus',
 'sDrive20i SportX',
 'SE',
 'Portfolio Diesel',
 'xDrive20d Luxury Edition [2022-2023]',
 '730Ld DPE Signature',
 'Inscription [2017-2020]',
 'xDrive-20d xLine',
 '350 CDI',
 '630d M Sport',
 '320d Prestige',
 '35 TDI Premium + Sunroof',
 'T4 R-Design',
 '520d Luxury Line [2017-2019]',
 'S 350D [2018-2020]',
 '200 D Urban Sport',
 'HSE Luxury 7-Seater',
 'D4 R',
 'C 200 Progressive [2018-2020]',
 'Base [2019-2020]',
 'XZ MT [2021-2023]',
 'ZX Petrol',
 'Titanium + 1.5L TDCi',
 'XM Rhytm Plus Style Petrol',
 'CLIMBER AMT',
 'Thunder Edtion Diesel',
 'XZ Plus CNG [2022-2023]',
 '200 d Sport',
 'S 1.2 Petrol',
 'Sportz 1.2 [2016-2017]',
 'RXT [2019-2020]',
 'XT Petrol [2020-2023]',
 '2.4 VX 8 STR [2016-2020]',
 '1.6 SX Plus AT',
 'GTX Plus 1.5 AT [2020-2021]',
 'SX 1.5 CRDi',
 'XE Diesel [2013-2016]',
 '1.6 CRDI SX',
 'Premium Grade AT Dual Tone',
 '35 TDI Technology Pack + Sunroof',
 'ML 250 CDI',
 'SX 1.6 AT CRDi',
 'S Diesel',
 'S MT Diesel',
 'N8 1.0 Turbo DCT',
 '3.0 4x2 AT',
 '2.0 TDI Premium',
 'Magna 1.4 CRDI [2016-2017]',
 'V CVT',
 '2.0 TDI Sline',
 'Delta 1.3 Hybrid',
 '3.0 TDI quattro Premium Plus',
 'LXI',
 'ZXi 1.2 AMT',
 'XZ [2019-2020]',
 'GLS',
 '3.0 4x4 AT',
 'Limited Edition Petrol',
 'ZDi+ Dual Tone [2017-2018]',
 'XT 4x2 7 STR',
 'Zeta 1.2',
 '1.2 E i-VTEC',
 '2.5 VX 7 STR BS-IV',
 'XZ Plus Diesel',
 '2WD AT GLS Diesel',
 '2.2 VX 4x2',
 'Asta 1.2 (O)',
 '3.0 4x4 MT',
 'W6',
 'LXi LPG',
 'SX (O)1.5 MPi',
 'V Hybrid [2022-2023]',
 'xDrive 40d',
 'xDrive 20d Expedition',
 '1.6 SX (O) AT',
 'GX 2.4 7 STR',
 'VX (O) MT',
 'C 220 CDI Avantgarde',
 '2.8 4x2 AT [2016-2020]',
 '80 Anniversary 2.0 Diesel 4X4 AT',
 '2.4 GX 8 STR [2016-2020]',
 'VXi 1.2',
 'S',
 'Grand Edition Diesel',
 'ZX Diesel',
 'sDrive20i xLine',
 'S 1.5 CRDi',
 'Magna 1.2 Kappa2',
 '200 CDI Sport',
 'Convertible',
 'C 220d Progressive [2018-2019]',
 '520d Sedan',
 'RXZ [2019-2020]',
 'Era +',
 'Sportz',
 'sDrive20d Expedition',
 '2.0 GX 8 STR',
 'Sportz 1.2',
 '110 PS RxL Diesel',
 'XM 75 PS Diesel',
 'XE (D)',
 'sDrive20d',
 'Zxi BS-IV',
 '1.8V MT',
 '1.2 W6 [2019-2019]',
 '250 CDI Avantgarde',
 'VDi+ SHVS',
 '2.5L 4x2',
 '5 STR BS-IV',
 '1.2 S i-VTEC',
 'VX',
 'E Petrol',
 'Delta 1.4 MT',
 'Sportz (O) U2 1.2 CRDi [2017-2018]',
 '1.5 S MT',
 '730Ld Sedan',
 '4x2 LX',
 'RXT Opt [2015-2019]',
 'N8',
 '1.5 S i-DTEC',
 'Asta 1.1 CRDi [2013-2016]',
 'Lxi CNG',
 'VDi [2014-2015]',
 '2.0 TDI (177bhp) Premium',
 '2.2 Diesel Luxury',
 '4X2 MT 2.8 Diesel',
 'E 220 d Avantgarde',
 'EX 1.5 Petrol [2020-2022]',
 '1.6 CRDI SX (O)',
 'S 1.4 CRDI',
 'S Plus 1.4 CRDI',
 'HSE',
 '350 d',
 '2.0 TDI Technology Pack',
 'HTK 1.5 Diesel [2020-2021]',
 'V Diesel',
 '85 PS RxE',
 '520d Luxury Line',
 '2.4 VX 7 STR [2016-2020]',
 'Alpha AT',
 '200 CGI',
 'High 4X4 AT',
 'VXI CNG',
 '2.7 ZX AT 7 STR',
 'ZX 2.4 AT 7 STR',
 'Sportz AMT',
 '35 TDI Technology with Navigation',
 'HTE 1.5 Diesel',
 'Rubicon',
 'xDrive 20d Luxury Line [2018-2020]',
 'EX 1.5 Diesel [2020-2022]',
 'HTX Plus 1.5 Diesel [2020-2021]',
 '1.5 W8 (O) [2019-2020]',
 '1.0 RXL [2017-2019]',
 'XL (P)',
 'SX Plus 1.0 Turbo DCT Dual Tone',
 'VXI+ AMT (O)',
 'CRDe 4x4 AC',
 '1.2 VX AT i-VTEC',
 'Revotron XZ Plus',
 'VXi 1.0',
 'SV',
 'Era',
 'Trend 1.5L TDCi [2015-2016]',
 'VX Diesel',
 'AX 7 Petrol MT 7 STR [2021]',
 'LXi CNG',
 'XE',
 'RS 1.0',
 '5 STR AC (O) CNG',
 'Thunder Edtion Diesel [2019-2020]',
 'Comfortline 1.5L (D)',
 'S(O)MT',
 'SX 1.6 CRDi',
 'Trend 1.5 TDCi',
 'Sharp 1.5 DCT Petrol [2019-2020]',
 'LX BS-IV',
 'Sportz 1.4 (O)',
 'Sportz 1.2 Kappa VTVT [2016-2017]',
 'LTZ',
 'XL [2020]',
 'VDi BS-IV',
 'LS TDI',
 'Duo LXi LPG',
 'VDi 1.5 Diesel',
 'XTA 4x2 7 STR',
 'XZ Plus [2020-2023]',
 'XV Diesel',
 'VXi [2020-2023]',
 'LDI',
 'Camper',
 'Power Plus ZLX [2016-2019]',
 'S 1.2 CNG',
 '1.0 RXT [2019-2020]',
 'Sportz 1.4 CRDI',
 'XZ Plus Dual Tone [2020-2023]',
 'Magna 1.2',
 'W8 (O) 1.5 Diesel [2020]',
 'VDi [2014-2017]',
 'CRDe 4x4 AC1',
 'Sportz 1.2 IVT [2020-2023]',
 'GL Plus',
 'SLX BS IV',
 'Adventure MT [2021-2023]',
 'Sportz 1.2 Kappa2',
 '2WD BS IV',
 'Style 1.5L TSI DSG',
 'RXE MT',
 'Revotron XE (O) [2016-2019]',
 'SX ABS 7 STR',
 'SX 1.2 Petrol',
 'Aqua Quadrajet BS-IV',
 'S 1.0 Turbo',
 'Sportz 1.2 Kappa VTVT [2013-2016]',
 'Sportz Plus 1.2 [2019-2020]',
 'SX (O) 1.5 Diesel Automatic',
 '85 PS RxE Diesel ADVENTURE',
 'GTX - Tornado',
 'Fluidic 1.6 VTVT',
 'Revotron XT [2016-2019]',
 'XV Premium Diesel',
 'Duratec Petrol Titanium 1.2',
 '85 PS RxL Diesel (Opt)',
 'Delta 1.2',
 'V Petrol',
 '2021 XT Plus Dark Editon',
 'GLX',
 '1.5 VX i-DTEC',
 'CVT',
 '1.5 S AT',
 'EX AC BS IV',
 'LX Minor',
 'xDrive30d Pure Experience (5 Seater)',
 'LXi [2020-2023]',
 'Delta 1.3',
 'VXi [2014-2019]',
 '1.0 Kappa Era +',
 'Mid Grade MT',
 'Magna 1.2 AT',
 'Magna +',
 'RXE Petrol',
 '4x2 EX DiCOR 2.2 VTT',
 'LX CR4 BS-IV',
 'SLX BS III',
 '1.2 S',
 'LXi [2021-2023]',
 'Elegance 1.2MPI',
 'LXi (O) 1.0 CNG [2019-2020]',
 'DLG',
 'Asta 1.4 CRDI [2016-2017]',
 'XE Petrol',
 'XV [2020]',
 'LXI CNG',
 '85 PS RXS 4X2 MT Diesel',
 '1.5 V AT Exclusive',
 'Magna 1.2 MT [2020-2023]',
 'LXi [2022-2023]',
 'Sigma 1.2 MT',
 '2.4 MIVEC',
 '5 STR WITH A/C+HTR CNG [2017-2019]',
 'Zeta 1.2 MT',
 'Base 1.1 CRDi',
 'VDi AGS',
 'RxL Petrol',
 'K2 6 STR',
 'LX (O) [2016-2019]',
 'LTZ AT',
 'IPL Edition',
 'XV',
 'SLE BS IV',
 'LXi 1.0 CNG',
 'VXi [2021-2023]',
 '85 PS RxE Diesel',
 'G',
 'Titanium 1.2 Ti-VCT',
 'Magna 1.1 iRDE2 [2010-2017]',
 'CRDi',
 'Sports',
 'V MT Diesel',
 'V',
 'N10 (O)',
 'RxL ABS Diesel',
 '1.5 W8 [2019-2020]',
 'SX 1.5 Petrol',
 'LT Petrol',
 'xDrive 30d',
 'EX Sunroof',
 'Magna [2011-2012]',
 '1.2 [2015-2016]',
 'S3 2WD 9 STR',
 'Alpha 1.5 [2020-2023]',
 '1.5 V MT',
 'LS 1.0 BS-III',
 'D-Lite +',
 'Magna AMT 1.2 Kappa VTVT',
 'L',
 'D4 BS-III',
 'Deca Limited Edition VXi [2016-2017]',
 '85 PS RxL',
 'XM',
 'Alpha AT Dual Tone',
 '7 STR [2014-2019]',
 'VX MT 1.2 Petrol [2021]',
 'S10',
 '1.2 LS ABS',
 'Magna 1.2 Kappa VTVT [2017-2020]',
 'S 1.1 CRDi (O)',
 'VXi 1.2 BS-IV',
 'VXI 1.0 [2022-2023]',
 '1.0 RXT Opt',
 'Magna',
 'SX',
 'Grand 2WD',
 'L&K TSI AT',
 'Vdi BS-IV',
 'Alpha 1.0L Turbo MT',
 'SX (O) 1.6 VTVT AT',
 'S (O) 1.2 MT',
 'Ambiente 1.5L TDCi',
 'Edge Edition Petrol [2018-2019]',
 'Ambiente 1.2 Ti-VCT [2018-2020]',
 'S MT 7STR',
 'SX 1.1 CRDi (O)',
 'Magna 1.2 Kappa VTVT [2013-2016]',
 'S MT 9STR',
 '2.5 G BS III 7 STR',
 'Duo AC LPG',
 'B6 (O) [2022]',
 '5 STR AC CNG [2022-2023]',
 'VXi AMT [2014-2018]',
 'LX Convertible Top Petrol AT 4WD [2023]',
 'Petrol',
 'VX MT Petrol',
 '2WD High AT',
 'VXi (O) CNG [2022-2023]',
 'ZXi CNG [2022-2023]',
 'ZDI + SHVS',
 'Base',
 'VXI+ AMT',
 '2.0 TDI quattro',
 'Accomplished iCNG',
 'B6 [2022]',
 'Duratec Petrol ZXI 1.2',
 'RXE 0.8',
 'S11 MT 7S',
 'SX Plus 1.2 AMT CRDi',
 'VXi AMT',
 'Magna 1.2 Kappa VTVT [2016-2017]',
 'HTK Plus 1.5 Diesel',
 'Vxi ABS',
 'Zeta MT CNG [2022-2023]',
 'AX (O) Convertible Top Diesel MT 4WD [2023]',
 'S 1.0 AT Petrol [2019-2020]',
 '110 PS RxZ Diesel (Opt)',
 'ZXi AT [2023]',
 'ZLX BS III',
 '5 STR AC',
 'XCITE',
 'S 1.5 Diesel',
 'M8 7 STR',
 'VLX 2WD BS-IV',
 'RXZ',
 'Altura',
 'DI DX 7 Str',
 '1.5 E MT',
 'LXi (O) 1.0',
 'AC BS-III',
 'LXi S-CNG',
 'VXi (O) CNG',
 'LDi',
 'V CVT Petrol',
 'XL Diesel',
 'M6 7 STR',
 '4x2 LX DiCOR 2.2 VTT',
 'Zeta 1.2 AMT',
 'XZ Plus Dark Edition',
 '110 PS RxL [2015-2016]',
 '1.5 SX i-DTEC',
 '35 TDI Matrix',
 'D3 R-Design',
 'Premium Plus 40 TFSI',
 '3.0 TDI quattro Technology Pack',
 'Sportz 1.2 AT Kappa2',
 'VXi Minor',
 'VX MT',
 'VX CVT',
 'Magna Plus 1.2 [2019-2020]',
 '2.0 TDI quattro Premium Plus',
 'SX 1.6 AT Petrol',
 'VXI AMT',
 'S 1.0 Turbo DCT',
 'V CVT Petrol [2017-2019]',
 'Asta AT 1.2 Kappa VTVT [2013-2016]',
 'LX Convertible Diesel AT',
 'Technology 45 TFSI',
 'GTX Plus 1.4 DCT',
 'Celebration',
 '220 CDI Sport',
 'Technology 40 TFSI [2021-2022]',
 '2.0 TDI quattro Premium',
 'HTX IVT 1.5 [2019-2020]',
 '35 TFSI Technology',
 '35 TDI Premium',
 '320d Luxury Line',
 'XZA Plus (O) Dark Edition',
 'XZ',
 'Sharp Hybrid 1.5 Petrol [2019-2020]',
 'W7 [2018-2020]',
 'Titanium + 1.5L Ti-VCT AT [2019-2020]',
 'LX Hard Top Petrol AT',
 'Highline Plus 1.5L AT (D)16 Alloy',
 'LX Hard Top Diesel AT 4WD [2023]',
 'S 1.0 AMT [2018-2019]',
 'S MT',
 'VXI BS-IV',
 'Sportz CNG [2018-2020]',
 'S5 2WD 7 STR',
 'S 1.2',
 '1.6 CRDI S',
 'Asta AT 1.2 Kappa VTVT (O) [2016-2017]',
 'Alpha 1.2',
 'Delta 1.2 MT',
 'V AT Petrol',
 'Sportz AMT [2018-2020]',
 'Revotron XZA',
 'ZDi AMT',
 'Trendline 1.0L MPI',
 'S 1.2 Special Edition',
 '1.2 S MT Petrol [2018-2020]',
 'Delta 1.2 AT',
 'Sigma 1.2',
 'ZXi [2019-2020]',
 'Zeta (O) 1.2',
 'Alpha 1.2 MT',
 'Zeta MT [2022-2023]',
 'Alpha Hybrid 1.5 [2018-2020]',
 'Sportz 1.2 MT [2020-2023]',
 'Revotron XT',
 'ZXi Plus AMT',
 'Revotron XZA Plus',
 'XL O',
 'VXi 1.0 AMT [2019-2019]',
 'Era 1.2 Kappa VTVT',
 'Comfortline 1.2L (P)',
 'Alpha 1.3 Hybrid',
 'Revotron XZ',
 'ZDi+ SHVS',
 'Trendline 1.0L (P) [2019-2020]',
 'Magna (O) 1.2',
 'VXi+',
 '5 STR WITH A/C+HTR [2019-2020]',
 'SV CVT',
 'VXi (O) 1.0',
 'Magna 1.2 [2016-2017]',
 'Asta 1.4 (O) CRDi',
 'Revotron XTA [2017-2019]',
 'Magna 1.2 Kappa VTVT CNG',
 'VX CVT Petrol',
 'S Petrol',
 'VX CVT 1.2 Petrol [2021]',
 'XV Premium Turbo CVT [2020]',
 'Titanium + 1.5L Ti-VCT',
 '1.2 S i-VTEC Opt',
 '1.0 RXT AMT Opt',
 'Lxi ABS [2014-2017]',
 'XZ Petrol [2020-2023]',
 'S (O)MT',
 'Zeta 1.2 AT',
 'XZ Plus Petrol Dark Edition [2021-2023]',
 'Asta (O) 1.2 MT [2020-2023]',
 'LXi 1.0 [2019-2019]',
 'GLS 2WD AT Petrol',
 'Titanium Plus 2.0 4x4 AT',
 'Sharp 2.0 Diesel Turbo MT',
 'GTX Plus 1.5 Diesel AT',
 'Luxury 1.4 Petrol 7 STR',
 'E Plus 1.6 Petrol',
 'SX (O) 1.5 Petrol CVT [2020-2022]',
 'VXi 1.2 AMT',
 'ZX CVT Petrol',
 '1.2 S CVT Petrol [2018-2020]',
 'Sportz [2018-2020]',
 'S 1.0 [2017-2019]',
 'G Petrol',
 'ZX CVT Petrol [2017-2019]',
 'Titanium1.5 TDCi [2018-2020]',
 'W11',
 '35 TDI quattro Technology',
 'LX Hard Top Petrol MT',
 'Titanium 1.2 Ti-VCT [2018-2020]',
 'HSE Petrol 7-Seater',
 'W10 AT',
 '200 CDI Style',
 'SX Plus 1.0 Turbo DCT',
 'SX 1.1 CRDi',
 'Magna [2018-2020]',
 'Highline Petrol AT [2015-2016]',
 'SX (O) 1.5 Diesel [2020-2022]',
 'Titanium1.5 TDCi',
 'KRAZ Diesel',
 'Titanium Plus 1.2 Ti-VCT',
 'W8',
 '110 PS RxZ AWD',
 'SX 1.5 Petrol Executive',
 'Sharp 1.5 Petrol Turbo CVT 6-STR',
 '2.8 ZX AT 7 STR [2016-2020]',
 'Fluidic 1.6 VTVT SX Opt AT',
 '1.6 VTVT SX (O)',
 'Limited (O) 2.0 Diesel [2017-2020]',
 'XM (S) [2020-2023]',
 'Platinum (O) 6 STR 1.5 Diesel AT',
 'Adventure AMT [2021-2023]',
 'ZDi+ SHVS RS [2015-2017]',
 '2.8 GX AT 8 STR [2016-2020]',
 'HTX 1.5 [2020-2021]',
 'M2 8 STR [2020]',
 'XL (D)',
 '45 TDI Premium Plus',
 'E 1.2 Petrol [2019-2020]',
 'VXi AMT [2021-2023]',
 'E Diesel',
 'VX Petrol [2017-2019]',
 'Prestige Diesel',
 'Ambition 1.5 TDI AT',
 '1.5 TSI',
 '3.0 TDI quattro',
 'VXi 1.0 [2019-2019]',
 'K2 Plus 6 STR [2017-2020]',
 'XL',
 'D4 Inscription',
 'D5 AWD',
 'Signature 2.0 AT Diesel [2022-2023]',
 '3.0 MT',
 'Model S (O) Diesel 4x4 AT [2021]',
 '4X4 AT 2.8 Legender',
 'Style 1.0L TSI AT',
 '400d 4MATIC',
 'Limited Plus Petrol AT [2018-2020]',
 'E Plus 1.4 CRDI',
 'Zeta AT Petrol',
 '320d Sport Line [2016-2018]',
 'T [2018-2019]',
 '4x4',
 'Accomplished MT [2021-2023]',
 'GT Plus 1.5 TSI DSG',
 'Zeta 1.4 AT',
 'SV Diesel',
 'Duratorq Diesel ZXI 1.4',
 'Ambition 2.0 TDI',
 'Style 1.5 TDI AT',
 'T',
 'S CRDi',
 'LXI CNG (O)',
 'Highline TDI AT',
 'EXi 1.4 TDCi',
 'PS Petrol',
 '110 PS RxZ Diesel',
 'HSE 7-Seater',
 'GTX Plus AT 1.5 Diesel [2019-2020]',
 'Ambition 1.6 TDI CR MT',
 'RXT Diesel Dual Tone',
 'Comfortline Diesel [2015-2016]',
 'Ultima Elegance 1.6 MPI MT',
 'S 1.2 (O)',
 '1.1L iRDE Magna Special Edition',
 '630d M Sport [2018-2019]',
 'Cooper S JCW Inspired',
 'XM 4x2 7 STR',
 'VX MT Diesel',
 'SX (O) 1.5 Diesel Automatic [2020-2022]',
 'X Line 1.5 Diesel AT',
 'SX Plus 1.6 AT CRDI',
 'XZ Plus',
 'Prestige 1.4 Petrol MT 7 STR',
 'Titanium Plus 2.0 4x2 AT',
 'S 1.6 AT CRDi',
 'Ambition 1.2 TDI',
 'Revotorq XZ',
 '1.8S MT',
 'HTK Plus 1.2 [2020-2021]',
 '35 TDI Premium Plus',
 'Zeta 1.4 MT',
 'S 350 CDI',
 'Carrera S',
 'Asta 1.2 Kappa VTVT [2013-2016]',
 '1.6 S Plus AT',
 '2.4 AT',
 '320d Luxury Line [2014-2016]',
 'Inscription D4 [2016-2020]',
 'Delta 1.2 AMT',
 'S Plus 1.5 CRDi',
 'Fluidic 1.6 CRDi SX',
 'SE 2.0 Petrol',
 'SE R-Dynamic Diesel',
 'GT TSI',
 'GT Fastback 5.0L v8',
 'S MT [2015-2016]',
 'S 1.2 AMT Petrol',
 '1.6 SX Plus AT Petrol',
 '1.5 VX MT Diesel [2018-2020]',
 'HTK Plus 1.5 Turbo Petrol iMT',
 'Ambiente 1.5 TDCi',
 'XZA Plus Dark Edition',
 'CLIMBER 1.0 AMT',
 'SX Plus 1.6 CRDI',
 'Highline Petrol AT',
 '1.2 V MT Petrol [2018-2020]',
 'XZA Plus Diesel [2020-2023]',
 '1.2 VX CVT Petrol [2019-2020]',
 '1.6 SX (O)',
 'Coupe R-Dynamic 2.0',
 'W8 (O) 1.2 Petrol',
 'W10 AWD',
 'SX 1.5 Diesel Automatic',
 'Era 1.1 iRDE2 [2010-2017]',
 'SX 1.5 CRDi AT',
 'Magna Executive 1.2',
 'V [2022-2023]',
 'SX Plus 1.6  Petrol',
 '2.0 TDI (143bhp)',
 'XTA 4x2 6 STR',
 'XE Petrol [2020-2023]',
 'Luxury Plus 1.5 Diesel 7 STR',
 'Sportz 1.2 Kappa VTVT',
 'Alpha Smart Hybrid AT [2022-2023]',
 'W6 AT',
 '1.6 SX',
 '2.8 4x4 AT [2016-2020]',
 '1.4 S Plus',
 '1.8 VL AT',
 '1.2 V CVT Petrol [2018-2020]',
 '4X4 AT 2.8 Diesel',
 'Sigma 1.3',
 'XMA Diesel',
 'Momentum [2015-2020]',
 'Sharp 2.0 Diesel [2019-2020]',
 '30 TDI Premium FWD',
 '1.2 VX MT Petrol [2018-2020]',
 '1.5 S CVT Diesel [2018-2020]',
 'SX (O) 1.6 CRDi  AT',
 '200 CGI Avantgarde',
 '2WD AT [2014-2017]',
 'W6 1.2 Petrol',
 'Zeta 1.3',
 'XT [2019-2020]',
 'Limited (O) 1.4 Petrol AT [2017-2020]',
 'SX 1.2',
 'Prestige',
 'ZXi Plus AMT [2018-2019]',
 'Limited Plus 2.0 Diesel 4x4 AT',
 '35 TDI quattro Premium Plus',
 '1.6 SX AT',
 'Magna AT 1.2 Kappa VTVT',
 'HTK 1.5 [2020-2021]',
 '2.0 TDI Base Grade',
 'VL AT Petrol',
 '200 K Elegance',
 '730d Sedan',
 '1.6 SX Plus Petrol',
 'Sharp 1.5 DCT Petrol Dual Tone',
 'M2 8 STR',
 'GL Petrol',
 'SX 1.5 MPi',
 'ZDi Plus AMT',
 '1.5 V CVT Diesel',
 'Zeta 1.6',
 'Sharp 2.0 Diesel Dual Tone',
 '530i M Sport [2019-2019]',
 'SX 1.6 CRDI (O)',
 'Ambition 1.0L TSI MT',
 'Ldi BS-IV',
 'HTX Plus AT 1.5 Diesel [2019-2020]',
 'HTK Plus AT 1.5 Diesel [2020-2021]',
 'ZXI+',
 'HSE SD4',
 'Magna AT 1.2 Kappa VTVT [2016-2017]',
 'XZA Plus',
 'Longitude (O) 2.0 Diesel [2017-2020]',
 'W8 AWD',
 'J CVT [2018-2020]',
 'AX 7 Diesel MT 7 STR [2021]',
 'Savvy 6 STR 2.0 Twin Turbo 4WD',
 'RX7',
 '1.4L SX (O) [2015-2016]',
 'VX AT',
 'VD',
 'G Diesel',
 'Exclusive [2020-2021]',
 'VXI+',
 'GL Diesel',
 '1.3 LS',
 'Sportz 1.1 iRDE2 [2010--2017]',
 'GL (CNG)',
 '1.6 S Petrol',
 'AX 7 Petrol AT 7 STR [2021]',
 '35 TDI Premium Sunroof',
 'EX 1.6 VTVT [2017-2018]',
 '2.5 G 8 STR BS-IV',
 'XL Petrol',
 'Sportz 1.2 (O)',
 'Dynamic SD4',
 '220 CDI Elegance AT',
 'ZXI+ AT',
 'LS zipPlus',
 'K4 D 5 STR',
 'Style 1.0L TSI MT',
 'VX (O) MT BL Diesel',
 '1.5 VX CVT Diesel',
 'VLX 4WD ABS AT BS-III',
 'RxL Diesel',
 'VDI Limited Edition [2017]',
 '220 d Sport',
 'K8 6 STR',
 'Savvy 1.3 Turbo AT S Red [2021-2023]',
 'Neo 3 LT- 9 STR BS-IV',
 'VX Petrol',
 '2.5 GX BS IV 8 STR',
 'Highline1.5L (D) [2016-2018]',
 'VDi AMT',
 '5 STR WITH A/C+HTR CNG [2019]',
 'ZDi Plus AGS',
 '110 PS RXZ 7 STR STEPWAY [2015-2016]',
 'GL 2WD AT Diesel',
 'W11 (O) AT',
 'Titanium 3.2 4x4 AT',
 'S (O) 1.0 Turbo DCT',
 'Asta 1.4 CRDI',
 'High Grade MT',
 'W9 [2018-2020]',
 'GLS 1.6',
 '1.6 MPI Elegance AT',
 'GLS (CNG)',
 'Smart Hybrid 1.5 Petrol',
 '2.5L AT',
 '1.5 CRDi',
 '1.6 SX MT',
 '1.4 VTVT',
 '2.0 G1',
 'SX Plus 1.6 CRDI Dual Tone',
 'VXi ABS',
 'Comfortline 1.0L (P)',
 'B5 Inscription',
 'Touring Sport Diesel AT [2017-2020]',
 'Longitude 2.0 Diesel [2017-2020]',
 'XS eRLX - Euro III',
 'XT',
 'SFX 2.8',
 'Limited 1.4 Petrol AT [2017-2020]',
 'EX 1.6 CRDi [2017-2018]',
 'Trend 1.5L TDCi',
 'EX 1.6 VTVT AT [2017-2018]',
 '220 CDI MT',
 'XLT 4X2',
 '220 BlueEfficiency',
 'C8',
 '523i Sedan',
 'Highline1.2L (D)',
 'Magna 1.4 CRDI',
 '5 STR',
 'RxL ABS Diesel [2015-2017]',
 'E250 CDI Avantgarde',
 'XMA',
 'S MT Petrol',
 'Asta 1.2 [2016-2017]',
 'Sportz 1.4 CRDi',
 '350 CDI Long Blue-Efficiency',
 'CNG',
 'Highline Plus 1.2 (P) AT 16 Alloy',
 'LS 1.0',
 '1.5 TDI CR Elegance',
 'Alpha',
 'Trailhawk (O) 2.0 4x4',
 'K6 Plus D 6 STR',
 'Magna 1.1 CRDi [2016-2017]',
 'HSE 3.0 Diesel [2022]',
 '320d Highline Sedan',
 '3.0 HSE Luxury Diesel',
 'sDrive 35i DPT',
 '300',
 'G Hybrid [2022-2023]',
 '85 PS RxL Diesel',
 'ZXi (Opt) [2019-2020]',
 'E Plus 1.6 CRDi',
 'S 1.4 MT',
 'E200 CGI Blue Efficiency',
 '2.5 GX 7 STR BS-IV',
 '2.8 4x2 MT [2016-2020]',
 '2.0 TDI Premium Plus',
 'SX Plus 1.6 CRDi AT',
 'Sportz AMT 1.2 Kappa VTVT',
 '1.6 VTVT SX',
 'VXi (O) AMT [2017-2019]',
 '2.4 ZX 7 STR [2016-2020]',
 '530d Highline Sedan',
 'Style Diesel [2011-2014]',
 '1.2 G',
 'S 1.1 CRDi',
 'LX Hard Top Diesel AT',
 '35 TDI Technology Pack',
 'SX (O) 1.5 CRDi',
 'Prestige 6 STR 1.5 Diesel',
 'S4 Plus 1.99 Intelli-Hybrid',
 '200 K AT',
 '2.5 G4 7 STR',
 'VX (O) MT BL',
 'M6 8 STR',
 'RXZ 1.0 Turbo MT Dual Tone',
 'W10 AWD AT',
 '1.0 RXT AMT Opt [2016-2019]',
 'XL eRLX - Euro II',
 'Magna U2 1.2 CRDi',
 'RXT AMT',
 'Sportz AT 1.2 Kappa VTVT',
 'Sportz 1.0 Turbo IMT',
 '2.2 EX 4X2',
 'Premium 7 STR',
 'Delta MT [2022-2023]',
 '2.8 GX AT 7 STR [2016-2020]',
 'Sportz (O) AT 1.2 Kappa VTVT [2017-2018]',
 'T8 AMT',
 'K2 Plus D 6 STR',
 'Sportivo 4x2 AT',
 'Alpha 1.4 MT',
 '3.0 V6 Premium Luxury',
 'W8 1.5 Diesel [2020]',
 'LX 9 STR',
 'V MT',
 'Fluidic 1.6 VTVT SX',
 '4Matic Plus',
 '1.1L iRDE ERA Special Edition',

* modelName has year data, might not be required for analysis hence deleting that column
* changing 'rootName' to 'modelName'
* keeping version name intact

In [89]:
df_overview_A[['modelName','rootName']].head(2)

                   modelName       rootName
0                        GLE            GLE
1  Vitara Brezza [2016-2020]  Vitara Brezza

In [90]:
df_overview_A.drop(columns = ['modelName'],inplace = True)

In [91]:
df_overview_A.rename({'rootName':'modelName'},axis = 1,inplace=True)

In [92]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59708 entries, 0 to 59707
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   profileId       59708 non-null  object
 1   vehicle         59708 non-null  object
 2   price           59708 non-null  object
 3   kilometers      59708 non-null  float64
 4   fuelName        59708 non-null  object
 5   insurance       59422 non-null  object
 6   makeName        59708 non-null  object
 7   versionName     59708 non-null  object
 8   makeYear        59708 non-null  int64
 9   makeMonth       59708 non-null  object
 10  city            59708 non-null  object
 11  noOfOwners      59708 non-null  object
 12  registerCity    59708 non-null  object
 13  carAvailbaleAt  59708 non-null  object
 14  regType         25222 non-null  object
 15  priceNumeric    59708 non-null  int64
 16  modelName       59708 non-null  object
 17  state           59708 non-null  object
 18  transmission    59702 non-null  object
dtypes: float64(1), int64(2), object(16)
memory usage: 8.7+ MB

##### `makeYear` and `makeMonth`

In [93]:
df_overview_A['makeYear'].unique()

array([2022, 2016, 2018, 2011, 2012, 2023, 2021, 2009, 2020, 2014, 2000,
       2013, 2008, 2019, 2010, 2007, 2017, 2015, 2003, 2001, 2006, 2004,
       2002, 2005, 1999, 1998, 1995, 1991, 1988, 1994, 1996, 1993, 1900],
      dtype=int64)

In [94]:
df_overview_A['makeMonth'].unique()

array(['Apr', 'Aug', 'May', 'Sep', 'Mar', 'Jan', 'Dec', 'Jul', 'Feb',
       'Oct', 'Nov', 'Jun'], dtype=object)

* No inconsitencies in make year or month

##### `noOfOwners`

In [95]:
df_overview_A['noOfOwners'].unique()

array(['First', 'Second', '4 or More', 'Third', 'UnRegistered Car',
       'Fourth'], dtype=object)

In [96]:
df_overview_A['noOfOwners'].replace('UnRegistered Car','Unregistered',inplace=True)

In [97]:
df_overview_A['noOfOwners'].unique()

array(['First', 'Second', '4 or More', 'Third', 'Unregistered', 'Fourth'],
      dtype=object)

* corrected a value
* no of owners data is now consistent

##### `registerCity`

In [98]:
df_overview_A['registerCity'].unique()

array(['Not Available', 'Agra', 'Mall road', 'kanpur', 'AHMEDABAD',
       'BAVLA', 'MODASA', 'VADODARA', 'BHARUCH', 'BAWLA',
       'AHMEDABAD EAST', 'ANAND', 'RAJKOT', 'JAMNAGAR', 'GIR SOMNATH',
       'GHANDHINAGER', 'Chhotaudapur', 'SURAT', 'BANASKANTHA',
       'AHEMDABAD', 'ahmedabad', 'Ahmedabad', 'Gandhinagar',
       'GJ 01 KE3559', 'GANDHINAGAR', 'Madgoan Goa', 'pune',
       'Aizawl, Mizoram', 'Jaipur', 'Mumbai', 'mumbai', 'panvel',
       'Kanpur', 'Lucknow', 'Allahabad', 'JAIPUR', 'Nagpur East',
       'Yavatmal', 'NAGPUR URBAN', 'YAVATMAL', 'yavatmal', 'Nagpur',
       'Nagpur Rular', 'NAGPUR', 'Chandigarh', 'Punjab', 'PB', 'Ludhiana',
       'sangrur', 'chandigarh', 'DD', 'Anand, Gujarat', 'Patna', 'Bihar',
       'Nashik', 'Satara', 'Aurangabad', 'Aurangabad Maharashtra ',
       'KALYAN', 'Navi Mumbai', 'BORIVALI', 'Borivali', 'Vasai', 'Kalyan',
       'Mumbai east', 'pen', 'BENGALURU', 'MYSURU', 'BELGAUM', 'BELLARY',
       'SHIVAMOGGA', 'TUMKUR', 'HOSPET', 'NELAMANGALA', 'MANGALORE',
       'HAVERI', 'Bangalore', 'SAKALESHPURA', 'bangalore east',
       'BANGALORE EAST', 'Bangalore ', 'Delhi', 'Karnataka', 'DAVANGERE',
       'Manglore', 'Devanahalli', 'MYSORE', 'HUBLI', 'KA', 'KA03', 'KA53',
       'KA04', 'KA47', 'KA02', 'KA42', 'KA13', 'KA70', 'KA05', 'KA09',
       'KA01', 'KA22', 'Electronic City ', 'BANGALORE', 'KA66', 'ka',
       'bangalore', 'KA19', 'Bangalore central', 'ka01', 'ka03', 'ka51',
       'Yeshwantpur', 'Davangere', 'Belgaum', 'GABBUR CROSS', 'UDUPI',
       'CHINTHAMANI', 'Dadra Nagar Haveli', 'Madurai', 'Bengaluru',
       'Calicut', 'ka41', 'jh01', 'Bengaluru North', 'Indiranagar',
       'PUNE', 'puttur dk karnataka', 'Krishnarajapuram',
       'Electronic city', 'ka50', 'Faridabad. haryana', 'panipat',
       'CHANDIGARH', 'Ranchi', 'jharkhand', 'Latur', 'lucknow', 'karnal',
       'haryana', 'gurgaon', 'Chennai', 'CHENNAI', 'Theni', 'Raipur',
       'RAIPUR', 'Kerala', 'Gurgaon', 'BHIWANI HARYANA', 'GURGAON',
       'RAJA GARDEN', 'Mayur vihar', 'South Janakpuri', 'Wazirpur', 'HR',
       'West Delhi', 'vasant vihar', 'Ganour', 'Srinagar', 'surat',
       'Surat', 'PALANPUR', 'BHUJ', 'MORBI', 'DAHOD', 'UP', 'JH', 'OD',
       'CG', 'GJ', 'Odisha', 'MH', 'HP', 'CH', 'PY', 'UK', 'WB', 'MUMBAI',
       'thane', 'THANE', 'MH01', 'NAVI MUMBAI', 'Thane', 'SANGLI',
       'PANVEL', 'MH14', 'MH03', 'VASAI', 'Pune', 'Solapur', 'PEN',
       'Panvel', 'KARAD', 'Kolhpur', 'KOLHAPUR', 'Kolhapur', 'Karad',
       'navi Mumbai', 'PIMPARI CHINCHWAD', 'borivali', 'andheri',
       'mumbai west', 'MH02', 'NaviMumbai', 'MH04', 'MH43', 'DN09',
       'MH47', 'Pimpri Chinchwad', 'Pen', 'MH23', 'Ratnagiri', 'NASIK',
       'mh04', '23BH', 'MUMBAI WEST', 'dahisar', 'goregaon',
       'Mumbai west', 'Mumbai Central', 'pune ', 'Trivandrum',
       'Visakhapatnam (AP)', 'PRODDUTUR', 'tirupathi', 'tiruptahi',
       'jodhpur', 'Kota', 'Balotra', 'Pali', 'Jodhpur', 'jaipur', 'Alwar',
       'jhalawar', 'kota', 'beltala', 'Barrackpore', 'howrah', 'Thane ',
       'Kochi', 'Ghaziabad', 'wazirpur', 'Noida', 'Haryana',
       'Rajauri garden', 'NOIDA', 'GURUGRAM', 'noida', 'NEW DELHI',
       'Meerut', 'new delhi', 'gurgoan', 'New delhi', 'new Delhi',
       'punjab', 'wazir pur', 'SARAI Kale Khan', 'hr', 'up', 'dl',
       'Maharashtra', 'Margao', 'Mathura', 'MUMBAI EAST', 'NANDED',
       'GONDIA', 'PIMPRI CHINCH', 'Hassan', 'Mysore',
       'NANDED, MAHARASHTRA', 'akola', 'Gorakhpur', 'KARNATAKA',
       'Guwahati', 'NASHIK', 'BARAMATI', 'MH48', 'Vadodara, Gujarat',
       'Nellore,AP', 'ongole', 'NELLORE', 'Sheik Sarah', 'Raja garden',
       'janak Puri', 'shekh Sarah', 'Faridabad', 'Gurugram', 'Bhadkhel',
       'Palwal', 'I.P. Depot', 'Gujarat', 'Chandigarh ', 'Jharkhand',
       'Hisar', 'Kolkata', 'Hubli Karnataka', 'Hyderabad', 'Rangareddy',
       'Hyd', 'secunderabad', 'medchal -malkajgiri', 'INDORE', 'Dehradun',
       'Ajmer', 'Indore', 'Bikaner', 'JAJPUR', 'onole',
       'Himachal pradesh', 'panchkula', 'Panipat', 'patan', 'patna',
       'Pimpri', 'Chey', 'Pondicherry', 'PCMC', 'PIMPRI CHINCHWAD',
       'pimpri chinchwad', 'pimpri Chinchwad', 'Pimpri chinchwad',
       'Ahmed Nagar', 'MH 14 CS 1140', 'banglore', 'ka36', 'JHARKHAND',
       'Jhatkhand', 'Jamnagar', 'Rajkot', 'Kakinada', 'KANPUR',
       'kolhapur', 'Rajahmundry', 'Himmatnagar', 'Rajsamand Apr 2017',
       'NADIAD', 'REWARI', 'Dungarpur', 'samba', 'BHAVNAGAR', 'od07y0545',
       'Bhubaneswar', 'BIKANER-334001 ', 'BULANDSHAHR', 'Mohali',
       'Pathanapuram', 'kollam', 'Kanjirappally', 'Moovatupuzha', 'satna',
       'kondapur', 'HYDERABAD', 'Singrauli, MP', 'Silchar', 'Aburoad',
       'RED HILLS', 'Meenambakam', 'ch', 'chennai', 'GUDIYATHAM VELLORE',
       'Coimbatore', 'Tiruvallur', 'sholinganallur',
       'TN06 CHENNAI SE RTO', 'DL', 'coimbatore', 'gwalior',
       'Karnal, Haryana', 'West janak Puri', 'shekh Sarai', 'GHAZIABAD',
       'Rohini', 'Tilak Marg', 'MALL ROAD', 'Vasant vihar', 'delhi',
       'Sarai kale Khan', 'tilak nagar'], dtype=object)

* register city is inconsistent and is not needed for analysis, hence removing the column

In [99]:
df_overview_A.drop(columns = ['registerCity'],inplace=True)

In [100]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59708 entries, 0 to 59707
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   profileId       59708 non-null  object
 1   vehicle         59708 non-null  object
 2   price           59708 non-null  object
 3   kilometers      59708 non-null  float64
 4   fuelName        59708 non-null  object
 5   insurance       59422 non-null  object
 6   makeName        59708 non-null  object
 7   versionName     59708 non-null  object
 8   makeYear        59708 non-null  int64
 9   makeMonth       59708 non-null  object
 10  city            59708 non-null  object
 11  noOfOwners      59708 non-null  object
 12  carAvailbaleAt  59708 non-null  object
 13  regType         25222 non-null  object
 14  priceNumeric    59708 non-null  int64
 15  modelName       59708 non-null  object
 16  state           59708 non-null  object
 17  transmission    59702 non-null  object
dtypes: float64(1), int64(2), object(15)
memory usage: 8.2+ MB

##### `priceNumeric` and `price`

In [101]:
# checking inconsistencies in price and price Numeric 
print( "null - ", df_overview_A[df_overview_A['price'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['price'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['price']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['price']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['price']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['price']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['price']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['price']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [102]:
# checking inconsistencies in price and price Numeric 
print( "null - ", df_overview_A[df_overview_A['priceNumeric'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['priceNumeric'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['priceNumeric']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['priceNumeric']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['priceNumeric']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['priceNumeric']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['priceNumeric']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['priceNumeric']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* The priceNumeric data is consistent and does not need any cleaning
* Removing the price (string column) and renaming priceNumeric to price

In [103]:
df_overview_A.drop("price",axis=1,inplace = True)

In [104]:
df_overview_A.rename(columns = {'priceNumeric':'price'},inplace=True)

In [105]:
df_overview_A.head(2)

,profileId,vehicle,kilometers,fuelName,insurance,makeName,versionName,makeYear,makeMonth,city,noOfOwners,carAvailbaleAt,regType,price,modelName,state,transmission
0,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB,6000.0,Diesel + Diesel,ThirdParty,Mercedes-Benz,300d 4MATIC LWB,2022,Apr,A&N Islands,First,A&N Islands,Individual,7500000,GLE,Andaman and Nicobar Islands,Automatic
1,S2730115,Maruti Suzuki Vitara Brezza VDi (O) [2016-2018],55000.0,Diesel + Diesel,Comprehensive,Maruti Suzuki,VDi (O) [2016-2018],2016,Aug,A&N Islands,First,A&N Islands,Individual,600000,Vitara Brezza,Andaman and Nicobar Islands,Manual

In [106]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59708 entries, 0 to 59707
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   profileId       59708 non-null  object
 1   vehicle         59708 non-null  object
 2   kilometers      59708 non-null  float64
 3   fuelName        59708 non-null  object
 4   insurance       59422 non-null  object
 5   makeName        59708 non-null  object
 6   versionName     59708 non-null  object
 7   makeYear        59708 non-null  int64
 8   makeMonth       59708 non-null  object
 9   city            59708 non-null  object
 10  noOfOwners      59708 non-null  object
 11  carAvailbaleAt  59708 non-null  object
 12  regType         25222 non-null  object
 13  price           59708 non-null  int64
 14  modelName       59708 non-null  object
 15  state           59708 non-null  object
 16  transmission    59702 non-null  object
dtypes: float64(1), int64(2), object(14)
memory usage: 7.7+ MB

##### `regType`

In [107]:
# first clearing out the leading and trailing spaces

df_overview_A['regType'] = df_overview_A['regType'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_overview_A[df_overview_A['regType'].isnull()].shape[0],'\n',
       "nan - ",df_overview_A[df_overview_A['regType'].isna()].shape[0],'\n',
       "empty - ", df_overview_A[df_overview_A['regType']==''].shape[0],'\n',
       "space - ",df_overview_A[df_overview_A['regType']==' '].shape[0],'\n',
       "NA - ", df_overview_A[df_overview_A['regType']=='Not Available'].shape[0],'\n',
       "None - ", df_overview_A[df_overview_A['regType']== None].shape[0],'\n',
       "0 - ",  df_overview_A[df_overview_A['regType']== 0].shape[0],'\n',
       "0(str) - ",  df_overview_A[df_overview_A['regType']== '0'].shape[0],'\n'
     )

null -  34486
 nan -  34486
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [108]:
df_overview_A['regType'].unique()

array(['Individual', 'Corporate', nan, 'Taxi'], dtype=object)

* regType is inconsistent but can be kept for analysis

In [109]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59708 entries, 0 to 59707
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   profileId       59708 non-null  object
 1   vehicle         59708 non-null  object
 2   kilometers      59708 non-null  float64
 3   fuelName        59708 non-null  object
 4   insurance       59422 non-null  object
 5   makeName        59708 non-null  object
 6   versionName     59708 non-null  object
 7   makeYear        59708 non-null  int64
 8   makeMonth       59708 non-null  object
 9   city            59708 non-null  object
 10  noOfOwners      59708 non-null  object
 11  carAvailbaleAt  59708 non-null  object
 12  regType         25222 non-null  object
 13  price           59708 non-null  int64
 14  modelName       59708 non-null  object
 15  state           59708 non-null  object
 16  transmission    59702 non-null  object
dtypes: float64(1), int64(2), object(14)
memory usage: 7.7+ MB

In [110]:
df_overview_A.drop(columns = ['carAvailbaleAt'], inplace = True)

In [111]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59708 entries, 0 to 59707
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   profileId     59708 non-null  object
 1   vehicle       59708 non-null  object
 2   kilometers    59708 non-null  float64
 3   fuelName      59708 non-null  object
 4   insurance     59422 non-null  object
 5   makeName      59708 non-null  object
 6   versionName   59708 non-null  object
 7   makeYear      59708 non-null  int64
 8   makeMonth     59708 non-null  object
 9   city          59708 non-null  object
 10  noOfOwners    59708 non-null  object
 11  regType       25222 non-null  object
 12  price         59708 non-null  int64
 13  modelName     59708 non-null  object
 14  state         59708 non-null  object
 15  transmission  59702 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 7.3+ MB

##### `insurance`

In [112]:
df_overview_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59708 entries, 0 to 59707
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   profileId     59708 non-null  object
 1   vehicle       59708 non-null  object
 2   kilometers    59708 non-null  float64
 3   fuelName      59708 non-null  object
 4   insurance     59422 non-null  object
 5   makeName      59708 non-null  object
 6   versionName   59708 non-null  object
 7   makeYear      59708 non-null  int64
 8   makeMonth     59708 non-null  object
 9   city          59708 non-null  object
 10  noOfOwners    59708 non-null  object
 11  regType       25222 non-null  object
 12  price         59708 non-null  int64
 13  modelName     59708 non-null  object
 14  state         59708 non-null  object
 15  transmission  59702 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 7.3+ MB

In [113]:
df_overview_A['insurance'].unique()

array(['ThirdParty', 'Comprehensive', 'Expired', 'Not Available',
       'Third Party', nan, 'No Insurance'], dtype=object)

* data is consistent, but there are a lot of unavailable and empty values.
* keeping this column for analysis
* correcting 'ThirdParty' to 'Third Party'

In [114]:
df_overview_A['insurance'].replace('ThirdParty','Third Party',inplace = True)

In [115]:
df_overview_A['insurance'].unique()

array(['Third Party', 'Comprehensive', 'Expired', 'Not Available', nan,
       'No Insurance'], dtype=object)

In [116]:
df_overview_A[df_overview_A['insurance'].isnull()]

,profileId,vehicle,kilometers,fuelName,insurance,makeName,versionName,makeYear,makeMonth,city,noOfOwners,regType,price,modelName,state,transmission
4816,D4149539,Tata Tiago Revotron XZ,65000.0,Petrol,NaN,Tata,Revotron XZ,2018,Jun,Haldwani,First,Individual,425000,Tiago,Uttarakhand,Manual
4819,D4181735,Maruti Suzuki Swift VXi,74947.0,Petrol,NaN,Maruti Suzuki,VXi,2017,Jun,Haldwani,First,Individual,490000,Swift,Uttarakhand,Manual
4820,D4149591,Toyota Urban Cruiser High Grade MT,17000.0,Petrol,NaN,Toyota,High Grade MT,2021,Jun,Haldwani,First,Individual,975000,Urban Cruiser,Uttarakhand,Manual
22561,D4177823,Maserati Levante Diesel,50000.0,Diesel,NaN,Maserati,Diesel,2017,Jun,Thiruvananthapuram,Second,Individual,7700000,Levante,Kerala,Automatic
22600,S2732787,Hyundai Grand i10 Nios Sportz 1.2 Kappa VTVT,3300.0,Petrol + Petrol,NaN,Hyundai,Sportz 1.2 Kappa VTVT,2022,Jun,Thiruvananthapuram,First,Individual,780000,Grand i10 NIOS,Kerala,Manual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45413,S2741351,Maruti Suzuki Swift ZXi Plus Dual Tone [2021-2...,5000.0,Petrol + CNG,NaN,Maruti Suzuki,ZXi Plus Dual Tone [2021-2023],2023,Jan,Bareilly,First,NaN,951000,Swift,Uttar Pradesh,Manual
45414,S2758821,Ford Aspire Titanium1.5 TDCi,65000.0,Diesel,NaN,Ford,Titanium1.5 TDCi,2015,Oct,Bareilly,First,NaN,450000,Aspire,Uttar Pradesh,Manual
45415,S2771403,Mahindra Scorpio S4,175000.0,Diesel,NaN,Mahindra,S4,2014,May,Bareilly,First,NaN,700000,Scorpio,Uttar Pradesh,Manual
45416,S2784313,Mitsubishi Montero 3.2 Di-D AT,142000.0,Diesel,NaN,Mitsubishi,3.2 Di-D AT,2012,Mar,Bareilly,First,NaN,2400000,Montero,Uttar Pradesh,Automatic
45417,S2784423,Mahindra Thar LX Hard Top Diesel MT,5000.0,Diesel,NaN,Mahindra,LX Hard Top Diesel MT,2022,Sep,Bareilly,First,NaN,1590000,Thar,Uttar Pradesh,Manual

* updating NaN values with 'Not Available'

In [117]:
df_overview_A['insurance'].replace(np.nan,'Not Available',inplace = True)

In [118]:
df_overview_A['insurance'].unique()

array(['Third Party', 'Comprehensive', 'Expired', 'Not Available',
       'No Insurance'], dtype=object)

In [119]:
df_overview_A.shape

(59708, 16)

#### EXPORTING OVERVIEW DATA

In [120]:
df_overview_A.to_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\02.Pre-Processing\Pre-processed Data Stage-II\overview_A.csv',index=False)

### `Specifications` DATA

In [121]:
#loading the specifications data
df_specs_A = pd.read_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\02.Pre-Processing\Pre-processed Data Stage-I\specifications_A.csv',low_memory=False)

In [122]:
df_specs_A.head(2)

,specName,specValue,specUnit,spec_category,carId,profileId,vehicle,city,state
0,Top Speed,225,Kmph,Engine & Transmission,1,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB,A&N Islands,Andaman Nicobar
1,Acceleration (0-100 kmph),7.2,seconds,Engine & Transmission,1,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB,A&N Islands,Andaman Nicobar

In [123]:
df_specs_A.shape

(3191958, 9)

In [124]:
df_specs_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3191958 entries, 0 to 3191957
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   specName       object
 1   specValue      object
 2   specUnit       object
 3   spec_category  object
 4   carId          int64
 5   profileId      object
 6   vehicle        object
 7   city           object
 8   state          object
dtypes: int64(1), object(8)
memory usage: 219.2+ MB

#### REMOVING DUPLICATES

* profileId and specName will be the unique key to identify each record.
* for each car (profileId)

In [125]:
# taking a copy of the original dataframe before removing duplicates
df_specs_A_1 = df_specs_A.copy()

In [126]:
df_specs_A.nunique()

specName            46
specValue         7286
specUnit            13
spec_category        4
carId            15880
profileId        58908
vehicle           5349
city              1060
state               35
dtype: int64

In [127]:
df_specs_A['spec_category'].unique()

array(['Engine & Transmission', 'Dimensions & Weight', 'Capacity',
       'Suspensions, Brakes, Steering & Tyres'], dtype=object)

* profileId and specName will be the unique key to identify each record.
* for each car (profileId) there should be 46 specifications which fall under the below 4 main specification categories:
    * 'Engine & Transmission'
    * 'Dimensions & Weight'
    * 'Capacity'
    * 'Suspensions, Brakes, Steering & Tyres'
* estimating **46 * 58908** (unique cars) = 2709768 records

In [128]:
df_specs_A.value_counts(['profileId','specName'])

profileId  specName
D4111563   Rear Suspension       40
           Engine Type           40
           Height                40
           Fuel Type             40
           Fuel Tank Capacity    40
                                 ..
S2673607   Fuel Type              1
           Fuel Tank Capacity     1
           Front Tyres            1
           Front Suspension       1
S2819375   Width                  1
Name: count, Length: 1697127, dtype: int64

* Only 1697127 records are available which means that some cars do not have all the specifications

In [129]:
# checking for a specific profileID
df_specs_A[(df_specs_A['profileId']=='D4111563')].head()

,specName,specValue,specUnit,spec_category,carId,profileId,vehicle,city,state
286148,Engine,"2987 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",NaN,Engine & Transmission,10456,D4111563,Mercedes-Benz GLS 350 d,Bagalkot,Karnataka
286149,Engine Type,V/6 9G-TRONIC,NaN,Engine & Transmission,10456,D4111563,Mercedes-Benz GLS 350 d,Bagalkot,Karnataka
286150,Fuel Type,Diesel,NaN,Engine & Transmission,10456,D4111563,Mercedes-Benz GLS 350 d,Bagalkot,Karnataka
286151,Max Power (bhp@rpm),255 bhp @ 3400 rpm,NaN,Engine & Transmission,10456,D4111563,Mercedes-Benz GLS 350 d,Bagalkot,Karnataka
286152,Max Torque (Nm@rpm),620 Nm @ 1600 rpm,NaN,Engine & Transmission,10456,D4111563,Mercedes-Benz GLS 350 d,Bagalkot,Karnataka

In [130]:
#removing duplicate records
df_specs_A.drop_duplicates(['profileId','specName'],inplace=True)

In [131]:
#value count also reveals no duplicates
df_specs_A.value_counts(['profileId','specName'])

profileId  specName
D1820959   Doors                          1
S2728075   Wheelbase                      1
S2728079   Fuel Type                      1
           Fuel Tank Capacity             1
           Front Tyres                    1
                                         ..
D4163003   Wheels                         1
           Wheelbase                      1
           Turbocharger / Supercharger    1
           Transmission                   1
S2819375   Width                          1
Name: count, Length: 1697127, dtype: int64

In [132]:
# checking if there are any duplicates
df_specs_A[(df_specs_A['profileId'] =='D4111563') & (df_specs_A['specName'] =="Fuel Type ")].head()

,specName,specValue,specUnit,spec_category,carId,profileId,vehicle,city,state
286150,Fuel Type,Diesel,NaN,Engine & Transmission,10456,D4111563,Mercedes-Benz GLS 350 d,Bagalkot,Karnataka

#### COLUMN-WISE UNDERSTANDING OF DATA AND CLEANING

In [133]:
# taking a clone for contingency
df_specs_A_2 = df_specs_A.copy()

In [134]:
#looking at the data
df_specs_A.head()

,specName,specValue,specUnit,spec_category,carId,profileId,vehicle,city,state
0,Top Speed,225,Kmph,Engine & Transmission,1,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB,A&N Islands,Andaman Nicobar
1,Acceleration (0-100 kmph),7.2,seconds,Engine & Transmission,1,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB,A&N Islands,Andaman Nicobar
2,Engine,"1950 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",NaN,Engine & Transmission,1,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB,A&N Islands,Andaman Nicobar
3,Engine Type,OM654 Turbocharged I4,NaN,Engine & Transmission,1,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB,A&N Islands,Andaman Nicobar
4,Fuel Type,Diesel,NaN,Engine & Transmission,1,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB,A&N Islands,Andaman Nicobar

In [135]:
# unique values in each column
df_specs_A.nunique()

specName            46
specValue         7286
specUnit            13
spec_category        4
carId            15076
profileId        58908
vehicle           5204
city              1028
state               35
dtype: int64

In [136]:
df_specs_A.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1697127 entries, 0 to 3191957
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   specName       object
 1   specValue      object
 2   specUnit       object
 3   spec_category  object
 4   carId          int64
 5   profileId      object
 6   vehicle        object
 7   city           object
 8   state          object
dtypes: int64(1), object(8)
memory usage: 129.5+ MB

In [137]:
# deleting carId column as it is not needed

df_specs_A.drop(columns = ['carId'], inplace=True)

In [138]:
df_specs_A.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1697127 entries, 0 to 3191957
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   specName       object
 1   specValue      object
 2   specUnit       object
 3   spec_category  object
 4   profileId      object
 5   vehicle        object
 6   city           object
 7   state          object
dtypes: object(8)
memory usage: 116.5+ MB

- analysing and cleaning each column

##### `specName`

In [139]:
# first clearing out the leading and trailing spaces

df_specs_A['specName'] = df_specs_A['specName'].str.strip()


# checking inconsistencies and null values

print( "null - ", df_specs_A[df_specs_A['specName'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A[df_specs_A['specName'].isna()].shape[0],'\n',
       "empty - ", df_specs_A[df_specs_A['specName']==''].shape[0],'\n',
       "space - ",df_specs_A[df_specs_A['specName']==' '].shape[0],'\n',
       "NA - ", df_specs_A[df_specs_A['specName']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A[df_specs_A['specName']== None].shape[0],'\n',
       "0 - ",  df_specs_A[df_specs_A['specName']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A[df_specs_A['specName']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [140]:
# unique values in specification Name
df_specs_A['specName'].unique()

array(['Top Speed', 'Acceleration (0-100 kmph)', 'Engine', 'Engine Type',
       'Fuel Type', 'Max Power (bhp@rpm)', 'Max Torque (Nm@rpm)',
       'Mileage (ARAI)', 'Driving Range', 'Drivetrain', 'Transmission',
       'Emission Standard', 'Turbocharger / Supercharger', 'Others',
       'Alternate Fuel', 'Length', 'Width', 'Height', 'Wheelbase',
       'Ground Clearance', 'Doors', 'Seating Capacity',
       'No of Seating Rows', 'Bootspace', 'Fuel Tank Capacity',
       'Four Wheel Steering', 'Front Suspension', 'Rear Suspension',
       'Front Brake Type', 'Rear Brake Type', 'Minimum Turning Radius',
       'Steering Type', 'Wheels', 'Spare Wheel', 'Front Tyres',
       'Rear Tyres', 'Kerb Weight', 'Battery',
       'City Mileage (CarWale Tested)',
       'Highway Mileage (CarWale Tested)', 'Max Motor Performance',
       'Electric Motor', 'Performance on Alternate Fuel',
       'Battery Charging', 'Electric Motor Assist',
       'Range (Carwale Tested)'], dtype=object)

* no discrepancies or inconsistancies

##### `specValue`

* this contains heterogeneous data
* checking for none, NaN or empty values

- checking for null or empty values in specification values

In [141]:
# first clearing out the leading and trailing spaces

df_specs_A['specValue'] = df_specs_A['specValue'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A[df_specs_A['specValue'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A[df_specs_A['specValue'].isna()].shape[0],'\n',
       "empty - ", df_specs_A[df_specs_A['specValue']==''].shape[0],'\n',
       "space - ",df_specs_A[df_specs_A['specValue']==' '].shape[0],'\n',
       "NA - ", df_specs_A[df_specs_A['specValue']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A[df_specs_A['specValue']== None].shape[0],'\n',
       "0 - ",  df_specs_A[df_specs_A['specValue']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A[df_specs_A['specValue']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  13932

* specValue contains a lot of '0' values around 13000 records.
* These values can only be analysed by each specification, which will be done after this part.

##### `specUnit`

* checking for null or empty values in specification Unit
* needed when renaming column labels

In [142]:

# first clearing out the leading and trailing spaces

df_specs_A['specUnit'] = df_specs_A['specUnit'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A[df_specs_A['specUnit'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A[df_specs_A['specUnit'].isna()].shape[0],'\n',
       "empty - ", df_specs_A[df_specs_A['specUnit']==''].shape[0],'\n',
       "space - ",df_specs_A[df_specs_A['specUnit']==' '].shape[0],'\n',
       "NA - ", df_specs_A[df_specs_A['specUnit']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A[df_specs_A['specUnit']== None].shape[0],'\n',
       "0 - ",  df_specs_A[df_specs_A['specUnit']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A[df_specs_A['specUnit']== '0'].shape[0],'\n'
     )

null -  997157
 nan -  997157
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* a lot of null and na values could be seen
* this could be because there might be no units for some specifications ot they might not be available
* units are not required for every record as we will be appending units to the column names
* so ignoring this column

In [143]:
# checking unique units
df_specs_A['specUnit'].unique()

array(['Kmph', 'seconds', nan, 'kmpl', 'Km', 'mm', 'Doors', 'Person',
       'Rows', 'litres', 'metres', 'kg', 'km/kg', 'km/full charge'],
      dtype=object)

##### `profileId`

* checking for null or empty values in profileId which is a unique identifier of each car

In [144]:
# first clearing out the leading and trailing spaces

df_specs_A['profileId'] = df_specs_A['profileId'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A[df_specs_A['profileId'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A[df_specs_A['profileId'].isna()].shape[0],'\n',
       "empty - ", df_specs_A[df_specs_A['profileId']==''].shape[0],'\n',
       "space - ",df_specs_A[df_specs_A['profileId']==' '].shape[0],'\n',
       "NA - ", df_specs_A[df_specs_A['profileId']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A[df_specs_A['profileId']== None].shape[0],'\n',
       "0 - ",  df_specs_A[df_specs_A['profileId']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A[df_specs_A['profileId']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [145]:
set(pd.Series(df_specs_A['profileId'].unique()).str.slice(stop = 2))

{'D1', 'D2', 'D3', 'D4', 'S2'}

* no inconsistencies in profileId data as well

##### `vehicle`

- checking for null or empty values in vehicle name

In [146]:
# first clearing out the leading and trailing spaces

df_specs_A['vehicle'] = df_specs_A['vehicle'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A[df_specs_A['vehicle'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A[df_specs_A['vehicle'].isna()].shape[0],'\n',
       "empty - ", df_specs_A[df_specs_A['vehicle']==''].shape[0],'\n',
       "space - ",df_specs_A[df_specs_A['vehicle']==' '].shape[0],'\n',
       "NA - ", df_specs_A[df_specs_A['vehicle']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A[df_specs_A['vehicle']== None].shape[0],'\n',
       "0 - ",  df_specs_A[df_specs_A['vehicle']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A[df_specs_A['vehicle']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* no inconsistencies
* keeping this column for verification purposes

##### `city` and `state`

- city and state column is not needed hence deleting the columns

In [147]:
df_specs_A.drop(columns = ['city','state'],inplace = True)

In [148]:
df_specs_A.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1697127 entries, 0 to 3191957
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   specName       object
 1   specValue      object
 2   specUnit       object
 3   spec_category  object
 4   profileId      object
 5   vehicle        object
dtypes: object(6)
memory usage: 90.6+ MB

#### LOOKING INTO SPECIFICATION CATEGORIES

* The dataset will be split by CATEGORIES for ease of analysis
* There are 4 categories and data will be split according to this:
    * 'Engine & Transmission'
    * 'Dimensions & Weight'
    * 'Capacity'
    * 'Suspensions, Brakes, Steering & Tyres'

In [149]:
df_specs_A[(df_specs_A['spec_category']=='Dimensions & Weight') & (df_specs_A['profileId']=='S2725575' ) ]

,specName,specValue,specUnit,spec_category,profileId,vehicle
15,Length,4924,mm,Dimensions & Weight,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
16,Width,2157,mm,Dimensions & Weight,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
17,Height,1772,mm,Dimensions & Weight,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
18,Wheelbase,2995,mm,Dimensions & Weight,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
19,Ground Clearance,215,mm,Dimensions & Weight,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB

In [150]:
df_specs_A[(df_specs_A['spec_category']=='Capacity') & (df_specs_A['profileId']=='S2725575' ) ]

,specName,specValue,specUnit,spec_category,profileId,vehicle
20,Doors,5,Doors,Capacity,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
21,Seating Capacity,5,Person,Capacity,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
22,No of Seating Rows,2,Rows,Capacity,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
23,Bootspace,630,litres,Capacity,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
24,Fuel Tank Capacity,93,litres,Capacity,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB

In [151]:
df_specs_A[(df_specs_A['spec_category']=='Suspensions, Brakes, Steering & Tyres') & (df_specs_A['profileId']=='S2725575' ) ]

,specName,specValue,specUnit,spec_category,profileId,vehicle
25,Four Wheel Steering,0,NaN,"Suspensions, Brakes, Steering & Tyres",S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
26,Front Suspension,"Independent, Double Wishbone, Coil Springs",NaN,"Suspensions, Brakes, Steering & Tyres",S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
27,Rear Suspension,"Independent, Multi-link, Coil Springs",NaN,"Suspensions, Brakes, Steering & Tyres",S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
28,Front Brake Type,Ventilated Disc,NaN,"Suspensions, Brakes, Steering & Tyres",S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
29,Rear Brake Type,Ventilated Disc,NaN,"Suspensions, Brakes, Steering & Tyres",S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
30,Minimum Turning Radius,5.9,metres,"Suspensions, Brakes, Steering & Tyres",S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
31,Steering Type,Power assisted (Electric),NaN,"Suspensions, Brakes, Steering & Tyres",S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
32,Wheels,Alloy Wheels,NaN,"Suspensions, Brakes, Steering & Tyres",S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
33,Spare Wheel,Space Saver,NaN,"Suspensions, Brakes, Steering & Tyres",S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
34,Front Tyres,265 / 45 R19,NaN,"Suspensions, Brakes, Steering & Tyres",S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
35,Rear Tyres,265 / 45 R19,NaN,"Suspensions, Brakes, Steering & Tyres",S2725575,Mercedes-Benz GLE 300d 4MATIC LWB

- The only category that might be useful for our analysis
    * 'Engine & Transmission'
    * 'Dimensions & Weight'
    * 'Capacity'
- Ignoring Suspensions, Brakes, Steering & Tyres category

#### `Engine & Transmission`

In [152]:
#looking at the data
df_specs_A[df_specs_A['spec_category'] == 'Engine & Transmission'].head()

,specName,specValue,specUnit,spec_category,profileId,vehicle
0,Top Speed,225,Kmph,Engine & Transmission,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
1,Acceleration (0-100 kmph),7.2,seconds,Engine & Transmission,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
2,Engine,"1950 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",NaN,Engine & Transmission,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
3,Engine Type,OM654 Turbocharged I4,NaN,Engine & Transmission,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
4,Fuel Type,Diesel,NaN,Engine & Transmission,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB

In [153]:
# copying Engine category into a new variable
df_specs_A_Engine = df_specs_A[df_specs_A['spec_category'] == 'Engine & Transmission'].copy()

In [154]:
pivot_columns = df_specs_A_Engine['specName'].unique()

##### PIVOTING TABLE

In [155]:
df_specs_A_Engine = df_specs_A_Engine.pivot(index =['profileId','vehicle'], columns = 'specName', values ='specValue')

In [156]:
df_specs_A_Engine.head()

,specName,Acceleration (0-100 kmph),Alternate Fuel,Battery,Battery Charging,City Mileage (CarWale Tested),Drivetrain,Driving Range,Electric Motor,Electric Motor Assist,Emission Standard,...,Max Motor Performance,Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),Others,Performance on Alternate Fuel,Range (Carwale Tested),Top Speed,Transmission,Turbocharger / Supercharger
profileId,vehicle,,,,,,,,,,,,,,,,,,,,,
D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,NaN,NaN,NaN,NaN,NaN,FWD,NaN,NaN,NaN,NaN,...,NaN,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,16.95,NaN,NaN,NaN,NaN,Automatic - 4 Gears,NaN
D1982769,Audi A8 L 50 TDI,NaN,NaN,NaN,NaN,NaN,4WD / AWD,NaN,NaN,NaN,NaN,...,NaN,247 bhp @ 4000 rpm,580 Nm @ 1750 rpm,16.77,NaN,NaN,NaN,NaN,"Automatic - 8 Gears, Paddle Shift, Sport Mode",Turbocharged
D2136401,Honda Amaze 1.5 EX i-DTEC,NaN,NaN,NaN,NaN,NaN,FWD,NaN,NaN,NaN,NaN,...,NaN,99 bhp @ 3600 rpm,200 Nm @ 1750 rpm,25.8,NaN,NaN,NaN,NaN,Manual - 5 Gears,Turbocharged
D2184679,Honda City S,NaN,NaN,NaN,NaN,NaN,FWD,NaN,NaN,NaN,NaN,...,NaN,117 bhp @ 6600 rpm,145 Nm @ 4600 rpm,17.8,NaN,NaN,NaN,NaN,Manual - 5 Gears,No
D2184744,Hyundai Elite i20 Asta 1.4 (O) CRDi,NaN,NaN,NaN,NaN,NaN,FWD,NaN,NaN,NaN,NaN,...,NaN,89 bhp @ 4000 rpm,220 Nm @ 1500 rpm,22.5,NaN,NaN,NaN,NaN,Manual - 6 Gears,Turbocharged

In [157]:
# resetting index
df_specs_A_Engine.reset_index(inplace = True)

In [158]:
df_specs_A_Engine.index

RangeIndex(start=0, stop=58635, step=1)

In [159]:
# renaming the axis name after resetting
df_specs_A_Engine.rename_axis('',axis = 1,inplace=True)

In [160]:
df_specs_A_Engine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58635 entries, 0 to 58634
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   profileId                         58635 non-null  object
 1   vehicle                           58635 non-null  object
 2   Acceleration (0-100 kmph)         3061 non-null   object
 3   Alternate Fuel                    15432 non-null  object
 4   Battery                           699 non-null    object
 5   Battery Charging                  188 non-null    object
 6   City Mileage (CarWale Tested)     176 non-null    object
 7   Drivetrain                        55020 non-null  object
 8   Driving Range                     11503 non-null  object
 9   Electric Motor                    452 non-null    object
 10  Electric Motor Assist             19 non-null     object
 11  Emission Standard                 22465 non-null  object
 12  Engine                            58300 non-null  object
 13  Engine Type                       53517 non-null  object
 14  Fuel Type                         58581 non-null  object
 15  Highway Mileage (CarWale Tested)  176 non-null    object
 16  Max Motor Performance             282 non-null    object
 17  Max Power (bhp@rpm)               58071 non-null  object
 18  Max Torque (Nm@rpm)               58071 non-null  object
 19  Mileage (ARAI)                    54078 non-null  object
 20  Others                            9325 non-null   object
 21  Performance on Alternate Fuel     436 non-null    object
 22  Range (Carwale Tested)            23 non-null     object
 23  Top Speed                         982 non-null    object
 24  Transmission                      58635 non-null  object
 25  Turbocharger / Supercharger       45150 non-null  object
dtypes: object(26)
memory usage: 11.6+ MB

In [161]:
# unique count of values of each column
df_specs_A_Engine.nunique()

profileId                           58635
vehicle                              5165
Acceleration (0-100 kmph)             126
Alternate Fuel                          5
Battery                                38
Battery Charging                       14
City Mileage (CarWale Tested)           5
Drivetrain                              6
Driving Range                         348
Electric Motor                         12
Electric Motor Assist                   5
Emission Standard                       4
Engine                                441
Engine Type                           815
Fuel Type                               9
Highway Mileage (CarWale Tested)        5
Max Motor Performance                  32
Max Power (bhp@rpm)                   761
Max Torque (Nm@rpm)                   723
Mileage (ARAI)                        656
Others                                  5
Performance on Alternate Fuel          16
Range (Carwale Tested)                  5
Top Speed                              42
Transmission                          128
Turbocharger / Supercharger             6
dtype: int64

In [162]:
df_specs_A_Engine[df_specs_A_Engine.notnull()]

,profileId,vehicle,Acceleration (0-100 kmph),Alternate Fuel,Battery,Battery Charging,City Mileage (CarWale Tested),Drivetrain,Driving Range,Electric Motor,...,Max Motor Performance,Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),Others,Performance on Alternate Fuel,Range (Carwale Tested),Top Speed,Transmission,Turbocharger / Supercharger
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,NaN,NaN,NaN,NaN,NaN,FWD,NaN,NaN,...,NaN,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,16.95,NaN,NaN,NaN,NaN,Automatic - 4 Gears,NaN
1,D1982769,Audi A8 L 50 TDI,NaN,NaN,NaN,NaN,NaN,4WD / AWD,NaN,NaN,...,NaN,247 bhp @ 4000 rpm,580 Nm @ 1750 rpm,16.77,NaN,NaN,NaN,NaN,"Automatic - 8 Gears, Paddle Shift, Sport Mode",Turbocharged
2,D2136401,Honda Amaze 1.5 EX i-DTEC,NaN,NaN,NaN,NaN,NaN,FWD,NaN,NaN,...,NaN,99 bhp @ 3600 rpm,200 Nm @ 1750 rpm,25.8,NaN,NaN,NaN,NaN,Manual - 5 Gears,Turbocharged
3,D2184679,Honda City S,NaN,NaN,NaN,NaN,NaN,FWD,NaN,NaN,...,NaN,117 bhp @ 6600 rpm,145 Nm @ 4600 rpm,17.8,NaN,NaN,NaN,NaN,Manual - 5 Gears,No
4,D2184744,Hyundai Elite i20 Asta 1.4 (O) CRDi,NaN,NaN,NaN,NaN,NaN,FWD,NaN,NaN,...,NaN,89 bhp @ 4000 rpm,220 Nm @ 1500 rpm,22.5,NaN,NaN,NaN,NaN,Manual - 6 Gears,Turbocharged
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58630,S2819197,Hyundai Xcent S 1.2 [2014-2016],NaN,NaN,NaN,NaN,NaN,FWD,NaN,NaN,...,NaN,81 bhp @ 6000 rpm,114 Nm @ 4000 rpm,19.1,NaN,NaN,NaN,NaN,Manual - 5 Gears,No
58631,S2819213,Mahindra Bolero Neo Limited Edition [2023],NaN,Not Applicable,NaN,NaN,NaN,RWD,865,NaN,...,NaN,100 bhp @ 3750 rpm,260 Nm @ 1750 rpm,17.2,Idle Start/Stop,NaN,NaN,NaN,Manual - 5 Gears,Turbocharged
58632,S2819265,Hyundai Eon D-Lite +,NaN,NaN,NaN,NaN,NaN,FWD,NaN,NaN,...,NaN,55 bhp @ 5500 rpm,75 Nm @ 4000 rpm,21.1,NaN,NaN,NaN,NaN,Manual - 5 Gears,No
58633,S2819349,Honda City VX CVT,NaN,NaN,NaN,NaN,NaN,FWD,NaN,NaN,...,NaN,117 bhp @ 6600 rpm,145 Nm @ 4600 rpm,18,NaN,NaN,NaN,NaN,"Automatic - CVT Gears, Sport Mode",No
58634,S2819375,Hyundai Eon Era +,NaN,NaN,NaN,NaN,NaN,FWD,NaN,NaN,...,NaN,55 bhp @ 5500 rpm,75 Nm @ 4000 rpm,21.1,NaN,NaN,NaN,NaN,Manual - 5 Gears,No

In [163]:
df_specs_A_Engine['Drivetrain'].unique()

array(['FWD', '4WD / AWD', 'AWD', nan, 'RWD', 'AWD with Terrain Mode',
       '4WD'], dtype=object)

* Since we do not have enough data for a few columns we can remove them from analysis.
* Processing by each column and removing them

In [164]:
# removing unwanted columns
df_specs_A_Engine.drop(columns = ['Acceleration (0-100 kmph)','Battery','Battery Charging','Drivetrain','Driving Range',
                                    'Electric Motor','Electric Motor Assist','Emission Standard','Max Motor Performance','Others',
                                     'Performance on Alternate Fuel','Range (Carwale Tested)','Top Speed','Turbocharger / Supercharger'],inplace = True)

In [165]:
df_specs_A_Engine.head(2)

,profileId,vehicle,Alternate Fuel,City Mileage (CarWale Tested),Engine,Engine Type,Fuel Type,Highway Mileage (CarWale Tested),Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),Transmission
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,NaN,NaN,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4 cylinder inline petrol engine,Petrol,NaN,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,16.95,Automatic - 4 Gears
1,D1982769,Audi A8 L 50 TDI,NaN,NaN,"2967 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",V6 diesel engine with common rail injection sy...,Diesel,NaN,247 bhp @ 4000 rpm,580 Nm @ 1750 rpm,16.77,"Automatic - 8 Gears, Paddle Shift, Sport Mode"

In [166]:
df_specs_A_Engine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58635 entries, 0 to 58634
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   profileId                         58635 non-null  object
 1   vehicle                           58635 non-null  object
 2   Alternate Fuel                    15432 non-null  object
 3   City Mileage (CarWale Tested)     176 non-null    object
 4   Engine                            58300 non-null  object
 5   Engine Type                       53517 non-null  object
 6   Fuel Type                         58581 non-null  object
 7   Highway Mileage (CarWale Tested)  176 non-null    object
 8   Max Power (bhp@rpm)               58071 non-null  object
 9   Max Torque (Nm@rpm)               58071 non-null  object
 10  Mileage (ARAI)                    54078 non-null  object
 11  Transmission                      58635 non-null  object
dtypes: object(12)
memory usage: 5.4+ MB

##### `fuel`

In [167]:
# changing 'Fuel Type ' column name to 'Fuel'
df_specs_A_Engine.rename({'Fuel Type':'fuel'},axis=1,inplace=True)
df_specs_A_Engine.head(2)

,profileId,vehicle,Alternate Fuel,City Mileage (CarWale Tested),Engine,Engine Type,fuel,Highway Mileage (CarWale Tested),Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),Transmission
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,NaN,NaN,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4 cylinder inline petrol engine,Petrol,NaN,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,16.95,Automatic - 4 Gears
1,D1982769,Audi A8 L 50 TDI,NaN,NaN,"2967 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",V6 diesel engine with common rail injection sy...,Diesel,NaN,247 bhp @ 4000 rpm,580 Nm @ 1750 rpm,16.77,"Automatic - 8 Gears, Paddle Shift, Sport Mode"

In [168]:
# first clearing out the leading and trailing spaces

df_specs_A_Engine['fuel'] = df_specs_A_Engine['fuel'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Engine[df_specs_A_Engine['fuel'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Engine[df_specs_A_Engine['fuel'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Engine[df_specs_A_Engine['fuel']==''].shape[0],'\n',
       "space - ",df_specs_A_Engine[df_specs_A_Engine['fuel']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Engine[df_specs_A_Engine['fuel']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Engine[df_specs_A_Engine['fuel']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Engine[df_specs_A_Engine['fuel']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Engine[df_specs_A_Engine['fuel']== '0'].shape[0],'\n'
     )

null -  54
 nan -  54
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* a few null and nan values where found
* there are LPG and CNG vehicles listed within Alternate Fuel
* checking if we could compensate the fuel column with alternate fuel

In [169]:
df_specs_A_Engine[(df_specs_A_Engine['fuel'].isna()) & (~df_specs_A_Engine['Alternate Fuel'].isna())].shape

(54, 12)

In [170]:
df_specs_A_Engine[(df_specs_A_Engine['fuel'].isna()) & (~df_specs_A_Engine['Alternate Fuel'].isna())]['Alternate Fuel'].unique()

array(['LPG', 'CNG'], dtype=object)

In [171]:
df_specs_A_Engine[(df_specs_A_Engine['fuel'].isna()) & (~df_specs_A_Engine['Alternate Fuel'].isna())]

,profileId,vehicle,Alternate Fuel,City Mileage (CarWale Tested),Engine,Engine Type,fuel,Highway Mileage (CarWale Tested),Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),Transmission
38,D2677249,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
743,D3597535,Maruti Suzuki SX4 VXI CNG BS-IV,CNG,NaN,"1586 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",16V DOHC VVT,NaN,NaN,87 bhp @ 5600 rpm,122 Nm @ 4100 rpm,21.4,Manual - 5 Gears
2145,D3882207,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
4578,D4010011,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
4720,D4014089,Maruti Suzuki SX4 VXI CNG BS-IV,CNG,NaN,"1586 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",16V DOHC VVT,NaN,NaN,87 bhp @ 5600 rpm,122 Nm @ 4100 rpm,21.4,Manual - 5 Gears
4834,D4016849,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
10534,D4109083,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
10580,D4109567,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
17568,D4153601,Maruti Suzuki SX4 VXI CNG BS-IV,CNG,NaN,"1586 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",16V DOHC VVT,NaN,NaN,87 bhp @ 5600 rpm,122 Nm @ 4100 rpm,21.4,Manual - 5 Gears
23737,D4181115,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
24507,D4183707,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
26990,D4191673,Maruti Suzuki SX4 VXI CNG BS-IV,CNG,NaN,"1586 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",16V DOHC VVT,NaN,NaN,87 bhp @ 5600 rpm,122 Nm @ 4100 rpm,21.4,Manual - 5 Gears
28172,S2670779,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
28548,S2673487,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
28727,S2674511,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
29452,S2678373,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
30162,S2682195,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
31609,S2690089,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
32005,S2692021,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
32292,S2693481,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
32396,S2694103,Maruti Suzuki Alto LX CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
32943,S2697119,Chevrolet Aveo CNG 1.4,CNG,NaN,"1399 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",E-TEC II,NaN,NaN,94 bhp @ 6200 rpm,127 Nm @ 3400 rpm,11.5,Manual - 5 Gears
33232,S2698817,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
34253,S2704181,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
34371,S2704771,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
35570,S2711097,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
37184,S2719011,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
39461,S2730367,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
39655,S2731379,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
39750,S2731839,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
41218,S2739101,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
41462,S2740219,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
41532,S2740611,Maruti Suzuki Alto LX CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
42502,S2745495,Maruti Suzuki SX4 VXI CNG BS-IV,CNG,NaN,"1586 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",16V DOHC VVT,NaN,NaN,87 bhp @ 5600 rpm,122 Nm @ 4100 rpm,21.4,Manual - 5 Gears
42857,S2747023,Maruti Suzuki Alto LX CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
43786,S2751485,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
43806,S2751599,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
44465,S2754723,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
44617,S2755443,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
45127,S2757717,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
46259,S2763103,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
46277,S2763189,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
46960,S2766283,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
48680,S2774319,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
49133,S2776467,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
49714,S2779121,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
50063,S2780863,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears
50244,S2781611,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
50262,S2781701,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
50722,S2783729,Tata Indica V2 Xeta eGLS(LPG) BS-IV,LPG,NaN,"1193 cc, 4 Cylinders Inline, SOHC",Multi Point Fuel Injection System,NaN,NaN,NaN,NaN,NaN,Manual - 5 Gears
51663,S2787675,Maruti Suzuki Alto LX CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
52836,S2792775,Maruti Suzuki Alto LXi CNG,CNG,NaN,"796 cc, 3 Cylinders Inline, 4 Valves/Cylinder",FC engine,NaN,NaN,39 bhp @ 6200 rpm,54 Nm @ 3000 rpm,26.83,Manual - 5 Gears
54215,S2798760,Maruti Suzuki SX4 VXI CNG BS-IV,CNG,NaN,"1586 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",16V DOHC VVT,NaN,NaN,87 bhp @ 5600 rpm,122 Nm @ 4100 rpm,21.4,Manual - 5 Gears
57748,S2813629,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,NaN,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears

In [172]:
df_specs_A_Engine.head(1)

,profileId,vehicle,Alternate Fuel,City Mileage (CarWale Tested),Engine,Engine Type,fuel,Highway Mileage (CarWale Tested),Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),Transmission
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,NaN,NaN,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4 cylinder inline petrol engine,Petrol,NaN,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,16.95,Automatic - 4 Gears

In [173]:
# function to update fuel
def value_update(row):
    if str(row[6]) == 'nan':  # updating 8th index of row which is the actual fuel
        if str(row[2]) != 'nan':
            row[6] = row[2]  # updating 8th index of row with 4th index value of row value which is the alternate fuel
    return row

In [174]:
df_specs_A_Engine = df_specs_A_Engine.apply(value_update,axis = 1)

In [175]:
# checking if the update is successful
df_specs_A_Engine[(df_specs_A_Engine['fuel'].isna()) & (~df_specs_A_Engine['Alternate Fuel'].isna())]

Empty DataFrame
Columns: [profileId, vehicle, Alternate Fuel, City Mileage (CarWale Tested), Engine, Engine Type, fuel, Highway Mileage (CarWale Tested), Max Power (bhp@rpm), Max Torque (Nm@rpm), Mileage (ARAI), Transmission]
Index: []

In [176]:
df_specs_A_Engine[df_specs_A_Engine['profileId']=='D2677249']

,profileId,vehicle,Alternate Fuel,City Mileage (CarWale Tested),Engine,Engine Type,fuel,Highway Mileage (CarWale Tested),Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),Transmission
38,D2677249,Maruti Suzuki Wagon R 1.0 LXi LPG,LPG,NaN,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder",K10B,LPG,NaN,46 bhp @ 6200 rpm,85 Nm @ 3500 rpm,13.1,Manual - 5 Gears

In [177]:
# checking out unique values within the fuel
df_specs_A_Engine.fuel.unique()

array(['Petrol', 'Diesel', 'LPG', 'CNG', 'Electric',
       'Hybrid (Electric + Petrol)', 'Mild Hybrid(Electric + Petrol)',
       'Mild Hybrid (Electric + Diesel)',
       'Plug-in Hybrid (Electric + Petrol)'], dtype=object)

* there are usual fuel types -  petrol, diesel, cng and lpg
* there are several sub-categories of hybrid, but for analysis purposes, we will consider them as a Hybrid (Electric + Petrol) or Hybrid (Electric + Diesel) category

In [178]:
df_specs_A_Engine.fuel.replace('Mild Hybrid(Electric + Petrol)','Hybrid (Electric + Petrol)',inplace=True)

In [179]:
df_specs_A_Engine.fuel.replace('Mild Hybrid (Electric + Diesel)','Hybrid (Electric + Diesel)',inplace=True)

In [180]:
df_specs_A_Engine.fuel.replace('Plug-in Hybrid (Electric + Petrol)','Hybrid (Electric + Petrol)',inplace=True)

In [181]:
df_specs_A_Engine.fuel.unique()

array(['Petrol', 'Diesel', 'LPG', 'CNG', 'Electric',
       'Hybrid (Electric + Petrol)', 'Hybrid (Electric + Diesel)'],
      dtype=object)

In [182]:
df_specs_A_Engine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58635 entries, 0 to 58634
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   profileId                         58635 non-null  object
 1   vehicle                           58635 non-null  object
 2   Alternate Fuel                    15432 non-null  object
 3   City Mileage (CarWale Tested)     176 non-null    object
 4   Engine                            58300 non-null  object
 5   Engine Type                       53517 non-null  object
 6   fuel                              58635 non-null  object
 7   Highway Mileage (CarWale Tested)  176 non-null    object
 8   Max Power (bhp@rpm)               58071 non-null  object
 9   Max Torque (Nm@rpm)               58071 non-null  object
 10  Mileage (ARAI)                    54078 non-null  object
 11  Transmission                      58635 non-null  object
dtypes: object(12)
memory usage: 5.4+ MB

In [183]:
# dropping alterante fuel column
df_specs_A_Engine.drop(columns=['Alternate Fuel'],inplace = True)

In [184]:
df_specs_A_Engine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58635 entries, 0 to 58634
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   profileId                         58635 non-null  object
 1   vehicle                           58635 non-null  object
 2   City Mileage (CarWale Tested)     176 non-null    object
 3   Engine                            58300 non-null  object
 4   Engine Type                       53517 non-null  object
 5   fuel                              58635 non-null  object
 6   Highway Mileage (CarWale Tested)  176 non-null    object
 7   Max Power (bhp@rpm)               58071 non-null  object
 8   Max Torque (Nm@rpm)               58071 non-null  object
 9   Mileage (ARAI)                    54078 non-null  object
 10  Transmission                      58635 non-null  object
dtypes: object(11)
memory usage: 4.9+ MB

##### `Mileage (ARAI)` ,`City Mileage (CarWale Tested)` and `Highway Mileage (CarWale Tested)`

In [185]:

df_specs_A_Engine['Mileage (ARAI)'] = df_specs_A_Engine['Mileage (ARAI)'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Engine[df_specs_A_Engine['Mileage (ARAI)'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Engine[df_specs_A_Engine['Mileage (ARAI)'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Engine[df_specs_A_Engine['Mileage (ARAI)']==''].shape[0],'\n',
       "space - ",df_specs_A_Engine[df_specs_A_Engine['Mileage (ARAI)']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Engine[df_specs_A_Engine['Mileage (ARAI)']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Engine[df_specs_A_Engine['Mileage (ARAI)']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Engine[df_specs_A_Engine['Mileage (ARAI)']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Engine[df_specs_A_Engine['Mileage (ARAI)']== '0'].shape[0],'\n'
     )

null -  4557
 nan -  4557
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* huge null/nan values found for mileage

In [186]:
df_specs_A_Engine['City Mileage (CarWale Tested)'] = df_specs_A_Engine['City Mileage (CarWale Tested)'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Engine[df_specs_A_Engine['City Mileage (CarWale Tested)'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Engine[df_specs_A_Engine['City Mileage (CarWale Tested)'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Engine[df_specs_A_Engine['City Mileage (CarWale Tested)']==''].shape[0],'\n',
       "space - ",df_specs_A_Engine[df_specs_A_Engine['City Mileage (CarWale Tested)']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Engine[df_specs_A_Engine['City Mileage (CarWale Tested)']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Engine[df_specs_A_Engine['City Mileage (CarWale Tested)']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Engine[df_specs_A_Engine['City Mileage (CarWale Tested)']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Engine[df_specs_A_Engine['City Mileage (CarWale Tested)']== '0'].shape[0],'\n'
     )

null -  58459
 nan -  58459
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [187]:
df_specs_A_Engine['Highway Mileage (CarWale Tested)'] = df_specs_A_Engine['Highway Mileage (CarWale Tested)'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Engine[df_specs_A_Engine['Highway Mileage (CarWale Tested)'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Engine[df_specs_A_Engine['Highway Mileage (CarWale Tested)'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Engine[df_specs_A_Engine['Highway Mileage (CarWale Tested)']==''].shape[0],'\n',
       "space - ",df_specs_A_Engine[df_specs_A_Engine['Highway Mileage (CarWale Tested)']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Engine[df_specs_A_Engine['Highway Mileage (CarWale Tested)']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Engine[df_specs_A_Engine['Highway Mileage (CarWale Tested)']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Engine[df_specs_A_Engine['Highway Mileage (CarWale Tested)']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Engine[df_specs_A_Engine['Highway Mileage (CarWale Tested)']== '0'].shape[0],'\n'
     )

null -  58459
 nan -  58459
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [188]:
# checking if value exists for Highway Mileage (CarWale Tested) with empty City Mileage (CarWale Tested)

df_specs_A_Engine[(~df_specs_A_Engine['City Mileage (CarWale Tested)'].isna()) & (df_specs_A_Engine['Highway Mileage (CarWale Tested)'].isna())]

Empty DataFrame
Columns: [profileId, vehicle, City Mileage (CarWale Tested), Engine, Engine Type, fuel, Highway Mileage (CarWale Tested), Max Power (bhp@rpm), Max Torque (Nm@rpm), Mileage (ARAI), Transmission]
Index: []

In [189]:
# checking if value exists for City Mileage (CarWale Tested) with empty or null Highway Mileage (CarWale Tested)

df_specs_A_Engine[(df_specs_A_Engine['City Mileage (CarWale Tested)'].isna()) & (~df_specs_A_Engine['Highway Mileage (CarWale Tested)'].isna())]

Empty DataFrame
Columns: [profileId, vehicle, City Mileage (CarWale Tested), Engine, Engine Type, fuel, Highway Mileage (CarWale Tested), Max Power (bhp@rpm), Max Torque (Nm@rpm), Mileage (ARAI), Transmission]
Index: []

* checking if Mileage NaN values could be replaced with City Mileage or Highway Mileage

In [190]:
df_specs_A_Engine[(df_specs_A_Engine['Mileage (ARAI)'].isna()) & (~df_specs_A_Engine['City Mileage (CarWale Tested)'].isna())]

Empty DataFrame
Columns: [profileId, vehicle, City Mileage (CarWale Tested), Engine, Engine Type, fuel, Highway Mileage (CarWale Tested), Max Power (bhp@rpm), Max Torque (Nm@rpm), Mileage (ARAI), Transmission]
Index: []

In [191]:
df_specs_A_Engine[(df_specs_A_Engine['Mileage (ARAI)'].isna()) & (~df_specs_A_Engine['Highway Mileage (CarWale Tested)'].isna())]

Empty DataFrame
Columns: [profileId, vehicle, City Mileage (CarWale Tested), Engine, Engine Type, fuel, Highway Mileage (CarWale Tested), Max Power (bhp@rpm), Max Torque (Nm@rpm), Mileage (ARAI), Transmission]
Index: []

In [192]:
# city and highway mileage will not contribute much to analysis
# dropping both city and highway mileage columns
df_specs_A_Engine.drop(columns = ['City Mileage (CarWale Tested)','Highway Mileage (CarWale Tested)'],inplace = True)

In [193]:
df_specs_A_Engine['Mileage (ARAI)'].unique()

array(['16.95', '16.77', '25.8', '17.8', '22.5', '16', '21.9', '15.8',
       '24.95', '20.5', '11.4', '14', '23.4', '13.6', '20.45', '24',
       '24.4', nan, '20', '9.52', '21.19', '19.01', '11.2', '8', '9.4',
       '8.45', '25.31', '17.92', '23', '20.4', '20.3', '21.45', '15',
       '13.1', '18.49', '17.11', '26.59', '14.2', '23.2', '21.01', '12.8',
       '13', '18', '16.7', '17.3', '16.2', '13.32', '19', '21.56', '11.1',
       '21.02', '16.65', '21.4', '19.34', '23.1', '15.96', '18.7', '22.9',
       '22.15', '16.66', '6.38', '18.48', '26.6', '17.4', '17.5', '23.01',
       '14.54', '20.63', '26.209999084472656', '13.96', '17.2', '16.1',
       '16.8', '22.95', '21.93', '21', '15.4', '18.6', '26', '8.2',
       '14.9', '11.45', '19.4', '25.2', '17.9', '24.29', '18.9', '18.15',
       '23.84', '19.1', '15.29', '23.59000015258789', '16.61', '22.54',
       '16.9', '19.16', '19.8', '19.05', '11.5', '13.7', '17.72', '19.56',
       '15.1', '10.78', '12.4', '12', '25.17', '12.07', '18.66', '14.8',
       '20.37', '24.04', '22.48', '24.59', '21.66', '20.34', '21.15',
       '18.12', '11.7', '22.32', '25.5', '21.7', '12.1', '25.83', '17.42',
       '15.77', '10.96', '21.1', '19.59', '17.57', '11.9', '14.81',
       '17.01', '18.5', '21.73', '17.1', '22.69', '19.44', '16.6',
       '20.89', '22.07', '17.49', '13.88', '25.44', '21.21', '25.11',
       '22.04', '28.09', '15.6', '13.93', '25', '22.74', '11.6',
       '11.300000190734863', '19.3', '9.8', '20.85', '25.6', '20.2',
       '14.36', '12.37', '8.6', '23.7', '13.2', '19.87', '12.9', '22.27',
       '14.7', '23.95', '19.67', '15.26', '19.77', '18.78', '17.05',
       '6.92', '9.3', '17.88', '22', '23.59', '10.4', '27.3', '18.16',
       '20.1', '8.84', '18.59', '20.3799991607666', '15.34', '15.62',
       '16.3', '14.5', '18.3', '17.84', '14.75', '16.55', '14.4', '27.28',
       '15.97', '15.06', '20.52', '9.76', '21.38', '18.88', '11.8',
       '15.5', '14.24', '10.8', '17.24', '10.7', '16.5', '28.4', '10.91',
       '23.65', '16.47', '20.14', '12.55', '12.39', '22.71', '24.8',
       '27.39', '17.41', '10.72', '21.14', '17.52', '22.7', '14.29',
       '21.13', '24.07', '18.4', '12.99', '25.31999969482422', '12.06',
       '19.6', '18.1', '10.6', '9.2', '14.84', '14.6', '24.7', '19.12',
       '19.81', '25.47', '17.049999237060547', '20.51', '17', '18.19',
       '16.51', '15.23', '31.79', '10.2', '23.97', '17.19', '14.63',
       '12.62', '15.15', '16.96', '8.66', '20.77', '19.5', '14.3', '12.5',
       '24.1', '20.729999542236328', '23.9', '16.36', '12.36', '18.2',
       '13.05', '23.64', '13.9', '19.27', '21.5', '5.9', '32.52', '5.88',
       '13.53', '16.09', '16.780000686645508', '11.14', '14.34', '13.87',
       '31.19', '14.83', '18.56', '22.8', '13.46', '22.05', '10.3',
       '30.47', '16.81', '12.35', '23.8', '9.26', '24.52', '19.62',
       '20.58', '19.39', '15.92', '7.6', '20.73', '20.139999389648438',
       '19.17', '9.46', '13.06', '20.6', '26.1', '17.86', '17.21',
       '20.06', '14.08', '14.74', '11.12', '11', '12.7', '22.38', '9.6',
       '10.75', '12.53', '13.3', '20.8', '19.49', '15.38', '16.38',
       '20.28', '19.33', '27.4', '13.5', '6.1', '24.5', '14.59', '33.54',
       '11.3', '19.03', '13.4', '13.74', '15.63', '11.86', '24.9',
       '27.97', '23.3', '23.08', '13.85', '17.7', '13.28', '26.82',
       '18.14', '16.52', '9.5', '21.63', '13.48', '8.5', '13.8', '15.17',
       '10', '21.3', '18.51', '15.04', '18.97', '17.6', '12.98', '22.81',
       '10.53', '7.96', '13.38', '9.1', '6.7', '22.3', '20.53', '12.82',
       '21.64', '26.83', '20.08', '14.69', '16.11', '4.7', '19.7',
       '17.719999313354492', '19.71', '15.56', '19.2', '31.59', '19.72',
       '15.81', '20.68', '23.5', '16.93', '28', '22.56', '8.36', '19.69',
       '14.94', '13.49', '24.2', '16.14', '9.44', '16.02', '14.1', '26.4',
       '13.66', '16.05', '17.99', '16.86', '14.82', '18.23', '15.3',
       '17.66', '9.7', '11.13', '17.95', '15.05', '13.24', '24.6', '7.9',
       '25.35', '27.62', '19.64', '15.7', '10.93', '17.71', '13.08',
       '18.76', '14.71', '5.91', '14.02', '19.65', '14.33', '12.6',
       '21.76', '26.8', '34.05', '20.9', '18.41', '17.33', '15.2',
       '11.04', '16.57', '21.72', '7.5', '15.41', '8.3', '30.48', '14.66',
       '32.26', '6.9', '17.03', '16.39', '12.81', '24.39', '17.83',
       '16.35', '24.200000762939453', '14.49', '18.18', '10.37', '20.25',
       '11.25', '15.9', '12.44', '12.95', '15.85', '9.43', '7.36',
       '14.41', '16.24', '6.71', '21.79', '25.4', '10.01', '17.68',
       '10.26', '14.19', '16.97', '18.8', '16.4', '24.76', '12.66', '6.6',
       '21.04', '22.1', '16.78', '20.09', '9', '8.86', '21.2', '10.5',
       '12.54', '13.55', '11.24', '23.87', '14.56', '17.85', '24.75',
       '17.97', '17.43', '10.1', '19.91', '8.93', '8.77', '13.94', '10.9',
       '20.64', '23.6', '13.84', '10.87', '16.42', '17.18', '140', '12.2',
       '25.32', '14.23', '11.36', '24.43', '13.33', '17.69', '11.28',
       '21.58', '11.68', '22.58', '7.29', '13.64', '13.51', '18.29',
       '17.38', '16.13', '14.16', '18.42', '19.83', '25.19', '15.39',
       '13.16', '13.17', '9.08', '16.34', '20.7', '19.979999542236328',
       '21.11', '11.11', '19.61', '18.44', '11.64', '17.54', '10.52',
       '9.82', '36', '20.01', '9.62', '11.44', '14.53',
       '20.6200008392334', '10.64', '8.7', '7.81', '13.29', '8.8',
       '47.45', '13.25', '18.47', '8.9', '9.25', '19.38', '20.65',
       '16.98', '11.23', '23.56', '12.3', '25.3', '7.2',
       '18.149999618530273', '19.15', '30', '18.64', '20.04', '11.72',
       '25.51', '19.98', '14.22', '30.9', '26.2', '31.12', '22.41',
       '30.61', '35.6', '33.44', '27.1', '22.89', '26.78', '26.11',
       '33.85', '25.24', '6.52', '18.09', '26.49', '18.61', '22.35',
       '16.82', '10.24', '9.9', '32.73', '23.22', '24.12', '15.42',
       '21.49', '12.03', '20.07', '6.8', '20.71', '11.98', '22.61',
       '24.35', '21.43', '26.32', '26.68', '11.62', '5.96', '16.94',
       '31.5', '28.51', '21.12', '12.88', '24.97', '13.73', '12.45',
       '11.96', '20.35', '10.34', '14.09', '18.75', '8.1', '34.43', '7.3',
       '12.18', '18.143', '13.89', '17.67', '8.24', '8.96', '9.57',
       '19.41', '19.36', '20.11', '13.15', '25.01', '7.1', '17.44',
       '20.32', '11.56', '24.08', '8.94', '26.99', '23.23', '5', '26.5',
       '14.31', '9.64', '18.45', '12.08', '5.8', '11.26'], dtype=object)

In [194]:
# converting mileage column to float

df_specs_A_Engine['Mileage (ARAI)'] = df_specs_A_Engine['Mileage (ARAI)'].astype('float',copy=False)

In [195]:
df_specs_A_Engine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58635 entries, 0 to 58634
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   profileId            58635 non-null  object
 1   vehicle              58635 non-null  object
 2   Engine               58300 non-null  object
 3   Engine Type          53517 non-null  object
 4   fuel                 58635 non-null  object
 5   Max Power (bhp@rpm)  58071 non-null  object
 6   Max Torque (Nm@rpm)  58071 non-null  object
 7   Mileage (ARAI)       54078 non-null  float64
 8   Transmission         58635 non-null  object
dtypes: float64(1), object(8)
memory usage: 4.0+ MB

##### `Transmission`

In [196]:

df_specs_A_Engine['Transmission'] = df_specs_A_Engine['Transmission'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Engine[df_specs_A_Engine['Transmission'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Engine[df_specs_A_Engine['Transmission'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Engine[df_specs_A_Engine['Transmission']==''].shape[0],'\n',
       "space - ",df_specs_A_Engine[df_specs_A_Engine['Transmission']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Engine[df_specs_A_Engine['Transmission']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Engine[df_specs_A_Engine['Transmission']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Engine[df_specs_A_Engine['Transmission']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Engine[df_specs_A_Engine['Transmission']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [197]:
df_specs_A_Engine['Transmission'].unique()

array(['Automatic - 4 Gears',
       'Automatic - 8 Gears, Paddle Shift, Sport Mode',
       'Manual - 5 Gears', 'Manual - 6 Gears', 'AMT - 5 Gears',
       'Automatic - 9 Gears, Paddle Shift',
       'Automatic - 8 Gears, Manual Override, Sport Mode',
       'Automatic - 6 Gears', 'Automatic - 5 Gears', 'Manual',
       'Automatic - CVT Gears, Sport Mode',
       'Automatic - 7 Gears, Paddle Shift',
       'Automatic - 7 Gears, Paddle Shift, Sport Mode',
       'Automatic - 6 Gears, Manual Override',
       'Automatic - 6 Gears, Manual Override, Sport Mode',
       'Automatic - 9 Gears, Paddle Shift, Sport Mode',
       'Automatic - 9 Gears, Sport Mode',
       'Automatic - CVT Gears, Paddle Shift, Sport Mode',
       'Automatic - 7 Gears, Manual Override & Paddle Shift',
       'Automatic - CVT Gears', 'Automatic - 7 Gears, Manual Override',
       'Automatic - 8 Gears', 'Automatic - 6 Gears, Sport Mode',
       'Automatic - 7 Gears, Manual Override, Sport Mode',
       'Automatic - 7 Gears', 'Automatic',
       'Automatic - 4 Gears, Sport Mode',
       'Automatic (CVT) - 6 Gears, Manual Override, Sport Mode',
       'Automatic (CVT) - 5 Gears', 'Automatic - 8 Gears, Paddle Shift',
       'Automatic (CVT) - 6 Gears, Sport Mode',
       'Automatic - 7 Gears, Sport Mode', 'Manual - 4 Gears',
       'Automatic - 9 Gears',
       'Automatic (TC) - 8 Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic (TC) - 9 Gears, Manual Override, Sport Mode',
       'Automatic - Not Applicable Gears, Sport Mode',
       'Manual - 5 Gears, Sport Mode',
       'Automatic - CVT Gears, Manual Override, Sport Mode',
       'Automatic - 8 Gears, Sport Mode',
       'Automatic (CVT), Paddle Shift, Sport Mode',
       'Automatic (TC) - 6 Gears, Manual Override, Sport Mode',
       'Automatic - 6 Gears, Paddle Shift, Sport Mode',
       'Automatic (DCT) - 7 Gears, Manual Override, Sport Mode',
       'Automatic - 8 Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic (CVT) - CVT Gears',
       'Automatic - 5 Gears, Paddle Shift, Sport Mode',
       'AMT - 5 Gears, Manual Override',
       'Automatic (DCT) - 7 Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic (TC) - 10 Gears, Manual Override, Sport Mode',
       'Automatic (TC) - 6 Gears, Manual Override',
       'Automatic (TC) - 8 Gears, Manual Override, Sport Mode',
       'Automatic - 1 Gears, Sport Mode', 'AMT - 5 Gears, Sport Mode',
       'Manual - 6 Gears, Sport Mode', 'AMT - 6 Gears',
       'Automatic (DCT) - 7 Gears, Manual Override & Paddle Shift',
       'Automatic (TC) - 6 Gears, Paddle Shift, Sport Mode',
       'Automatic (TC) - 9 Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic (CVT), Paddle Shift',
       'Automatic (TC) - 9 Gears, Paddle Shift, Sport Mode',
       'Clutchless Manual - 6 Gears',
       'Automatic (AMT) - 6 Gears, Manual Override', 'Automatic (CVT)',
       'Automatic (DCT) - 6 Gears, Manual Override',
       'Automatic (TC) - 6 Gears, Paddle Shift',
       'Automatic (TC) - 7 Gears, Manual Override',
       'Automatic (TC) - 6 Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic (TC) - 9 Gears',
       'Automatic (CVT) - CVT Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic (TC) - 7 Gears, Paddle Shift, Sport Mode',
       'Automatic (DCT) - 7 Gears, Paddle Shift, Sport Mode',
       'Automatic (DCT) - 8 Gears, Paddle Shift, Sport Mode',
       'Automatic (CVT) - CVT Gears, Paddle Shift, Sport Mode',
       'Automatic (CVT) - 7 Gears',
       'Automatic - 5 Gears, Manual Override',
       'Automatic (CVT) - CVT Gears, Paddle Shift',
       'Automatic (CVT) - 7 Gears, Paddle Shift, Sport Mode',
       'Automatic (TC) - 4 Gears',
       'Automatic (TC) - 4 Gears, Manual Override',
       'Automatic (TC) - 8 Gears, Manual Override',
       'AMT - 6 Gears, Manual Override, Sport Mode',
       'Automatic (CVT) - CVT Gears, Sport Mode',
       'Automatic (TC) - 8 Gears, Paddle Shift, Sport Mode',
       'Manual - 6 Gears, Paddle Shift, Sport Mode',
       'Automatic - 5 Gears, Manual Override, Sport Mode',
       'Automatic (CVT) - 6 Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic - 6 Gears, Paddle Shift',
       'Automatic - 8 Gears, Manual Override', 'Automatic - 1 Gears',
       'Automatic (TC)', 'Automatic (CVT), Sport Mode',
       'Automatic (CVT) - CVT Gears, Manual Override',
       'Automatic (CVT) - 7 Gears, Paddle Shift',
       'Automatic (TC) - 8 Gears, Sport Mode',
       'Automatic (CVT) - 6 Gears', 'Automatic (DCT) - 7 Gears',
       'Automatic (DCT) - 7 Gears, Manual Override',
       'Automatic (CVT) - 6 Gears, Manual Override',
       'Automatic - 10 Gears, Manual Override, Sport Mode',
       'Automatic (CVT), Manual Override',
       'Automatic (TC) - 9 Gears, Manual Override',
       'Automatic - 7 Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic (DCT) - 8 Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic (TC) - 6 Gears',
       'Automatic (TC) - 6 Gears, Manual Override & Paddle Shift',
       'Automatic (DCT) - 6 Gears',
       'Automatic - CVT Gears, Manual Override',
       'Manual - 6 Gears, Manual Override, Sport Mode',
       'Clutchless Manual (IMT) - 6 Gears',
       'Automatic (CVT) - 7 Gears, Manual Override',
       'Automatic - 5 Gears, Sport Mode',
       'Automatic - 4 Gears, Manual Override, Sport Mode',
       'Automatic (TC) - 7 Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic (CVT) - CVT Gears, Manual Override & Paddle Shift',
       'AMT - 5 Gears, Manual Override, Sport Mode',
       'Automatic (CVT) - Not Applicable Gears, Sport Mode',
       'Automatic (AMT) - 5 Gears, Manual Override',
       'Automatic (AMT) - 5 Gears',
       'Automatic (AMT) - 5 Gears, Manual Override & Paddle Shift',
       'Automatic - 3 Gears',
       'Automatic (EV/Hybrid) - CVT Gears, Paddle Shift, Sport Mode',
       'Automatic - Not Applicable Gears, Paddle Shift, Sport Mode',
       'Automatic (TC) - 9 Gears, Sport Mode', 'Automatic, Paddle Shift',
       'Automatic (AMT) - 6 Gears, Manual Override & Paddle Shift, Sport Mode',
       'Automatic (TC) - 5 Gears', 'Automatic (AMT)'], dtype=object)

* transmission column values not null
* grouping them in 2 categories
    * Automatic
    * Manual

In [198]:
#splitting the column by space
df_specs_A_Engine['transmission'] = df_specs_A_Engine['Transmission'].str.partition(' ')[0]

In [199]:
df_specs_A_Engine['transmission'].replace(['AMT','Automatic,','Clutchless'],'Automatic',inplace=True)

In [200]:
df_specs_A_Engine['transmission'].unique()

array(['Automatic', 'Manual'], dtype=object)

In [201]:
# deleting the original Transmission column
df_specs_A_Engine.drop(columns = ['Transmission'],inplace = True)

In [202]:
df_specs_A_Engine.head(2)

,profileId,vehicle,Engine,Engine Type,fuel,Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),transmission
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4 cylinder inline petrol engine,Petrol,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,16.95,Automatic
1,D1982769,Audi A8 L 50 TDI,"2967 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",V6 diesel engine with common rail injection sy...,Diesel,247 bhp @ 4000 rpm,580 Nm @ 1750 rpm,16.77,Automatic

In [203]:
df_specs_A_Engine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58635 entries, 0 to 58634
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   profileId            58635 non-null  object
 1   vehicle              58635 non-null  object
 2   Engine               58300 non-null  object
 3   Engine Type          53517 non-null  object
 4   fuel                 58635 non-null  object
 5   Max Power (bhp@rpm)  58071 non-null  object
 6   Max Torque (Nm@rpm)  58071 non-null  object
 7   Mileage (ARAI)       54078 non-null  float64
 8   transmission         58635 non-null  object
dtypes: float64(1), object(8)
memory usage: 4.0+ MB

##### `Engine AND Engine Type`

In [204]:

df_specs_A_Engine['Engine'] = df_specs_A_Engine['Engine'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Engine[df_specs_A_Engine['Engine'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Engine[df_specs_A_Engine['Engine'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Engine[df_specs_A_Engine['Engine']==''].shape[0],'\n',
       "space - ",df_specs_A_Engine[df_specs_A_Engine['Engine']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Engine[df_specs_A_Engine['Engine']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Engine[df_specs_A_Engine['Engine']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Engine[df_specs_A_Engine['Engine']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Engine[df_specs_A_Engine['Engine']== '0'].shape[0],'\n'
     )

null -  335
 nan -  335
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* There are 335 null values
* Checking if any other field could compensate the null values

In [205]:
df_specs_A_Engine.head()

,profileId,vehicle,Engine,Engine Type,fuel,Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),transmission
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4 cylinder inline petrol engine,Petrol,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,16.95,Automatic
1,D1982769,Audi A8 L 50 TDI,"2967 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",V6 diesel engine with common rail injection sy...,Diesel,247 bhp @ 4000 rpm,580 Nm @ 1750 rpm,16.77,Automatic
2,D2136401,Honda Amaze 1.5 EX i-DTEC,"1498 cc, 4 Cylinders Inline, 4 Valves/Cylinder...","4-Cylinder, DOHC i-DTEC",Diesel,99 bhp @ 3600 rpm,200 Nm @ 1750 rpm,25.80,Manual
3,D2184679,Honda City S,"1497 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",NaN,Petrol,117 bhp @ 6600 rpm,145 Nm @ 4600 rpm,17.80,Manual
4,D2184744,Hyundai Elite i20 Asta 1.4 (O) CRDi,"1396 cc, 4 Cylinders Inline, 4 Valves/Cylinder...","16 Valves, 4 Cylinder",Diesel,89 bhp @ 4000 rpm,220 Nm @ 1500 rpm,22.50,Manual

* Checking if Engine Type field is of any use

In [206]:
df_specs_A_Engine['Engine Type'].unique()

array(['4 cylinder inline petrol engine',
       'V6 diesel engine with common rail injection system and turbocharging',
       '4-Cylinder, DOHC i-DTEC', nan, '16 Valves, 4 Cylinder',
       '4 cylinder mHawk CRDe diesel engine',
       '4 cyl , 16 Valves,DOHC with VGT', '1.5L Ti-VCT (Petrol)',
       '2nd Gen 1.2 U2 CRDi Diesel', 'K10B',
       '2.5 Liter, 4-cylinder, 16 valve, DOHC, Turbo',
       'Multijet/DDis/DOHC', 'DDiS Diesel Engine', 'F10D Petrol',
       'mEagle - developed on NEF CRDe platform with Dual Pilot Injection and top mounted Intercooler',
       '1.5 dCI K9K HP Diesel engine', '2nd Gen 1.1 U2 CRDi Diesel',
       '8 V DOHC', 'V6 Petrol Engine with electric hybrid',
       '1.4 U II 6 Speed Manual Transmission',
       '1.5 dCI K9K THP Diesel engine',
       '2KD-FTV, Diesel With Turbocharger, DOHC', '4B 12 2.4 DOCH',
       'Water cooled, 4-stroke, common rail direct injection diesel with variable nozzle turbine turbocharger',
       'BMW TwinTurbo inline 6 Petrol engine', 'mFalcon D75 Diesel',
       'Hyundai epsilon engine', '1.5L DV5 (Diesel)',
       'In-line 5 Cylinder Turbo diesel', '2nd Gen 1.1 U2 CRDi',
       'D-4D Diesel engine with Variable Nozzle Turbo and Intercooler, 4 cylinder inline',
       'All aliuminum light weight KB10',
       'mHAWK100 Diesel Engine with 2-Stage Turbocharger',
       'inline diesel engine with common rail injection and exhaust gas turbocharging.',
       'CDI', '1.2L DualJet', '1.2L K Series',
       '1.2 Kappa, 4-cylinder Petrol', 'L/4', 'FC Engine',
       '1.5L CRDI VGT', 'mHawk75', 'D15 1.5 Litre', '8V SOHC',
       'D5204T6 Five-cylinder turbodiesel with start/stop technology (117g, man)',
       'Aluminium 32 bit', '4 cylinder inline Turbodiesel engine',
       'mHawk 4 Cylinder Engine, Variable Geometry Turbocharger with Intercooler, 4 Valves per Cylinder, Common Rail Direct Injection Technology',
       '3.0 Litre TDCi with Variable Geometry Turbocharger (VGT)',
       'K Series with VVT, Multipoint injection', 'iVTEC',
       '4-Cylinder, SOHC i-VTEC', 'K15 Petrol Smart Hybrid',
       'BMW straight 6 diesel engine',
       'Turbocharged Common rail direct injection', 'VVT',
       '3 cylinder petrol engine', '4 cylinder diesel engine',
       'DDis Diesel,CRDI', 'TDI Engine', '4 cylinder inline',
       'inline diesel engine with common rail injection',
       '6-litre twin-turbocharged W12',
       'straight 4 cylinder diesel engine',
       'K-Series Petrol Engine with VVT', '1.0L', 'FC engine',
       '1.5L Turbocharged Intercooled', '4 cylinder inline diesel engine',
       '4 cylinder m2DICR', '4 cylinder inline petrol', 'Quadrajet',
       '3 cylinder inline engine',
       'turbocharged diesel engine, turbocharger with self-aligning blades, in-line, liquid cooling system, high-pressure direct injection system, 16V DOHC, transverse in front',
       '1.2 Kappa petrol with dual VTVT, 16 Valves, 4 Cylinder', 'V6',
       '2.8L Double Overhead Cam, 4-Cylinder, Common Rail Injection, Duramax Diesel with 4 Valves per Cylinder',
       'in-vee, twin turbo', 'i-DSI', 'DDiS 200', 'V/6 7G-Tronic Plus',
       'mHawk155 Diesel Engine', '1.2 Kappa Dual VTVT Petrol',
       'Revotron 1.2L 3 cylinder with MULTI-DRIVE Mode', 'mHawk',
       'K-Series Petrol engine with VVT', 'Petrol Dual VTVT',
       '4-Cylinder 8V, SOHC,D-4D', 'Premium Petrol',
       '2AR-FXE, 4 cylinders, In-line, Petrol', '1.2 L Revotron',
       'V/6 9G-TRONIC', '2.2L VariCOR', 'V6 Diesel engine', 'DOHC',
       '0.8L',
       'V6 diesel engine with common rail injection and exhaust-gas turbocharging.',
       'Turbocharged diesel engine, turbocharger with self-aligning blades, in-line, liquid cooling system, high-pressure direct injection system, 16V DOHC, transverse in front',
       'straight 6 cylinder diesel engine', 'BMW TwinPower Turbo inline',
       'turbocharged engine, in-line, liquid cooling system, high-pressure direct injection system, 16V DOHC, transverse in front',
       '1.1 Epsilon MPI Petrol',
       'turbocharged diesel engine, turbocharger with self-aligning blades, in-line, liquid cooling system, high-pressure direct injection system, transverse in front',
       '1.2 l Kappa', '2.2L I4 mHawk 130', 'iDTEC', '4 inline',
       'mDI CRDe 4 Cylinder, Inline, Turbocharged with Intercooler. 2 valves per cylinder',
       'TDCi', 'DSG Automatic', '4 stroke cycle, Water cooled',
       'BlueEFFICIENCY 4 cylinder inline petrol engine',
       '3 cylinder engine', 'R18A', '4 cylinder petrol engine',
       'Family Z VCDi', 'U2 VGT CRDi', 'inline 4 cylinder petrol engine',
       '1.5L TDI Engine', 'BMW TwinPower Turbo 4-cylinder diesel engine',
       '1L MPI Engine', 'i-VTEC', 'DDiS 320', 'XSDE Smartech',
       '1.5 L Turbocharged Revotorq', '3 cylinder inline', 'DDIS 200',
       '220 d 4MATIC', '4 Cylinder In-line DOHC',
       '2.2 L 16 Valve DOHC VTT DiCOR', 'Common Rail CR4', 'F8D',
       '1.5 K9K dCi Diesel', '1.5L, SOHC, 4-cylinder, i-VTEC',
       'turbocharged diesel engine, turbocharger with self-aligning blades, in-line, liquid cooling system, high-pressure direct injection system, DOHC, transverse in front',
       '3.0L Turbocharged FSI V6', '1.5 L i-DTEC Engine',
       '2ZR-FE, Gasoline, 4 cylinder inline',
       'V6 petrol engine with direct fuel injection',
       'iRDE 1.1, 4-cylinder Petrol', '4 cylinder Inline diesel engine',
       '2.2 L mHawk', '2.0 L Multijet II',
       '4 cylinder inline diesel engine CRDI',
       'Three Phase Permanent Magnet Synchronous Motor', '2GD-FTV Diesel',
       'Inline petrol engine with direct fuel injection, exhaust gas turbocharging and Audi valvelift system',
       'Water cooled SOHC (1C2V)',
       'CRDi with Variable Geometry Turbocharger', '3.0 L TDV6 Diesel',
       '1.2 L Turbocharged Revotron Engine', '1.2 L VVT Engine',
       '4-Cylinder 8V, SOHC, D-4D', '1.5 L i-VTEC Engine',
       'BlueEFFICIENCY 4 cylinder inline diesel engine',
       'Turbocharged petrol engine, in-line, liquid cooling system, direct injection, 16V DOHC, transverse in front',
       'S-TEC II', 'Ti-VCT', 'DOHC with Dual VTVT', 'CDI V6',
       'BMW TwinPower Turbo 4-cylinder petrol engine',
       'Four-cylinder  turbo-charged diesel engine',
       'inline 4 petrol engine', '1.5 l U2 CRDi', '1L TSI',
       'Turbocharged petrol engine, direct injection system',
       'G 1.0 T-GDI',
       'In Line Diesel Engine, Inter Cooler Turbo, Water Cooler OHC, Traverse Mounted, Direct Injections',
       'Inline turbocharged Diesel',
       '2.2L VARICOR 320 4 cylinder, with Super Drive Modes',
       'Revotorq 1.05L 3 cylinder with MULTI-DRIVE Mode',
       'TwinPower Turbo inline 6-cylinder engine',
       'straight 6 petrol engine', 'K12M', 'Hyundai Alpha', '2.49L CRDe',
       'RX270 XVT', 'Petrol Hybrid',
       'D-4D Diesel with Intercooler Turbocharger, 4 Cylinders In-line',
       'VCDi 16V SOHC', 'Reliable mHAWKD70', '3.2 l TDCi',
       'B48 Turbocharged I4', '1.2L MPI Engine',
       '1.5 dCI K9K Diesel engine', '2.0 EcoBlue Diesel Engine',
       '2.8L SOHC Turbocharged diesel engine', '2.0L Turbocharged Diesel',
       '4 cyl. Inline SOHC 12Valve MPI Petrol',
       '2.0L I4 mStallion 150 TGDi',
       'turbocharged diesel engine, in-line, liquid cooling system, high-pressure direct injection system, 16V DOHC, transverse in front',
       '4-in-line', '1GD-FTV Diesel', '2.0T GME T4 DI TC',
       'R 2.2 CRDi H-matic', '624 cc, 2 cylinder, MPFI', '1.2 Kappa',
       '1.5L I4 dCI Diesel engine',
       '2KD-FTV, Diesel with Intercooler Turbocharger, 4 Inline Cylinder',
       'Permanent Magnet Synchronous Motor paired to High energy density Lithium-ion battery pack',
       'Revotron, MPFi with MULTI DRIVE',
       'Turbocharged diesel engine with Intercooler',
       '4.5-litre Diesel Engine,V8, 32-value DOHC',
       '1.3L, DOHC, DDiS Diesel', '1GD-FTV Turbocharged D-4D I4',
       '2.2L VARICOR 400 4 cylinder, with Super Drive Modes',
       'K- Series Petrol engine with WT', '1.2L VVT', 'K 14B VVT',
       'Petrol, 4 Cylinder 16 V', '1.0 l Kappa Turbo GDi',
       'DDIS 200 Smart Hybrid', 'DDiS 200 Smart Hybrid Diesel Engine',
       'Revotron 1.2 L BS6 engine', 'All aluminium light weight K10B',
       'Revotorq, CRAIL with MULTI DRIVE',
       'Revotron, 1.2L 3 Cylinder with Multi Drive: Eco, City Mode',
       'K15B', 'Inline four-cylinder TFSI Petrol Engine',
       '1.5L Diesel CRDi engine', '2.0L Ingenium Turbocharged I4',
       'TSI Engine', '16V DOHC, VVT',
       '1.2L Kappa Dual VTVT Petrol with CVT',
       'Top mounted intercooler,intercooler, mHawkCRDe, 4 stroke, Turbo charged, DI',
       '1.5 LTurbocharged Revotorq Engine',
       '1.2L Kappa 5 Speed Manual Transmission', '2.0 L Kryotec',
       '2.2 l TDCi',
       'V8 diesel engine with common rail injection and exhaust-gas turbocharging.',
       '4.5 Litre Diesel Engine V8, 32-Valve DOHC',
       '2.0 Turbo Petrol With Direct Injection (TGDi)',
       'Smartstream G 1.5', 'inline 4', '1.0L Kappa', '16V DOHC VVT',
       'Cooper D Countryman', 'DOHC i-VTEC in line, 4 Cylinder',
       'OM656 Turbocharged I6', '1.5L CRDi', 'OM654 Turbo', 'SOHC i-VTEC',
       'i-DTEC', 'Intelli-Hybrid', 'm2DiCR Engine',
       'petrol engine, in-line, liquid cooling system, 16V DOHC, transverse in front',
       'i-SAT', '4-Cylinder 16V, DOHC', '1.6L K4M petrol engine',
       'MPI petrol/in-line/SOHC', 'Blue-efficiency', 'M276 Twin-Turbo V6',
       '1GR-FE, Petrol', 'W12 TwinTurbo engine',
       'DOHC 12Valve3 Cylinders', 'Hyundai Epsilon Engine',
       'SMARTSTREAM  G1.4 T-GDI', 'Petrol Engine', '300 4MATIC',
       '1.5 l U2 CRDi Diesel', 'V6 TwinTurbo Diesel',
       'V6 diesel engine with common rail injection',
       '4 Cylinder, SOHC i-VTEC', '1.4 Multiair', '1.6L 16V DOHC',
       '1.0L TSI', '1.5 H4K Petrol', 'NEF CRDe Turbocharged Intercooled,',
       '16V DOHC', '1.5 Turbo Diesel', '2.0L I4 TFSI',
       'OM654 Turbocharged I4', 'VTEC',
       '4 cyl, 16 Valves, DOHC with Dual VTVT',
       'Inline 4 cylinder diesel engine', 'N55 Turbocharged I6',
       'Cooper S Countryman',
       'DOHC 16-Valve,in -line,4-Cylinder,Diesel, intercooled turbocharger',
       'Inline 4 cylinder TDi4 190', '2.0L SC20M Twin-Turbocharged I4',
       'In-Line 5 Cylinder, Turbo Diesel', 'Multijet/DDis',
       'Advanced Multijet (DOHC)', 'B47 Turbocharged I4', '1.5 l U2',
       'K15C + Mild Hybrid System', '1.2L Turbocharged Revotron',
       '2.2 Litre', '2GD-FTV', '6-cylinder, 3.2L Petrol',
       '1.0 TSI Petrol', '1.0L Energy', '1.5 i-VTEC with VTC',
       '2.0 Multijet II', 'Ingenium', '1.5L CRDi VGT', '1.2 Turbo Petrol',
       'K15 Smart Hybrid', '1ZZ-FE, Gasoline, 4 cylinder inline',
       '1.5 l MPi Petrol', '2.0L Turbocharged',
       '1.2L TSI, 4-cylinder In-line', 'Diesel',
       '1.4 l Kappa Turbo GDi Petrol', 'G13BB, MPFI, 16-Valve, Gasoline',
       'Diesel DI Turbo Charged "', 'Smartstream G 1.2',
       'M264 Turbocharged I4', 'OM651 Turbocharged I4', '1.3 HR13DDT',
       '1.2L Dual Jet', 'Gasoline, 4 cylinder inline',
       '2 Electric Motors', '2TR-FE Gasoline',
       '2.0L M260 Turbocharged I4', '2.0L OM654 Turbocharged I4',
       'Smartstream G 1.4 T-GDI', 'Five-cylinder turbodiesel',
       'BMW TwinPower Turbo six-cylinder in-line diesel engine',
       '3.0-Litre V6 EcoDiesel', '1.5L Dual VVT-i Engine',
       'K15B Smart Hybrid', '1.3L MPFI Petrol',
       '4 cylinder inline, transverse in front', '1.2 Kappa Petrol',
       'R 2.0', 'BMW Twin Power Turbo Technology with VALVTRONIC & VANOS',
       '2.0 l Nu', 'K10C', '4-In-line', 'V10 DOHC, common pin crankshaft',
       'M15D + Strong Hybrid', '3 cylinder diesel engine',
       '2.0L Drive-E Turbocharged Diesel I4', 'V8 Petrol engine', 'G12B',
       '1.5 l MPi', 'NEF TCI- CRDe', 'DDIS 225', 'mFalcon G80 Pertol',
       'RA 420 TCDi', 'M256 Turbocharged I6 with EQ Boost',
       'V8 supercharged petrol engine', '2.0L M139 Turbocharged I4',
       'Two permanently agitated synchronous motors (PSM)', 'K15B ISG',
       'PURETECH 82', 'i4 Turbocharged Petrol',
       'm2DICR 4 Cylinder 2.5 L Engine, 4 Stroke, Turbo Charged, Direct Injection, Common Rail Diesel Engine',
       '2.0 Diesel', '1.2 MPI', '1.5L i-VTEC',
       '2.2 Turbo Diesel With CRDi', 'Revotron 1.2 T',
       '3.0L V6 TurboDiesel', 'Revotron 1.2 L', 'V- engine',
       'B57 Turbocharged I6', '1.0 Litre Energy Engine',
       'Four-cylinder twin turbo-charged diesel engine',
       'Water-Cooled, 4-Stroke, i-VTEC', 'DDiS 190 Engine', 'FIRE',
       'V8 petrol engine with direct fuel injection',
       '6-litre v12 Biturbo', '16 V DOHC', '1.2 L VVT',
       'SMARTSTREAM G1.5', '2.2L CRDi', '1.0L Turbo',
       'Renault K9K dCi Diesel engine', 'DDis Diesel, CRDI',
       'D350 Ingenium Twin-turbocharged I6 Diesel + MHEV',
       'K 15 Smart Hybrid', 'Aston Martin 6.0 V12',
       'Renault K9K Diesel engine', '2.0L Turbocharged Intercooled',
       '3.0L TFSI V6', '2.0L', '2.0L Petrol MPi engine',
       '1.2 Kappa Bi-Fuel', 'B 180 BlueEFFICIENCY 4 cylinder inline',
       '2 cylinder, MPFI, Gasoline', 'TwinPower Turbo', '9G-TRONIC',
       '5.0 Litre V8 S/C Petrol',
       'W12 petrol engine with direct fuel injection and Audi cylinder on demand',
       '1.5L i-DTEC', '2L Diesel', '1.2 Kappa petrol with dual VTVT',
       '1.0L B4D',
       'BMW Twin Power Turbo technology With VALVETRONIC & VANOS',
       '1.0 l Turbo GDi', 'Five-cylinder twin-turbo charged diesel',
       'SOHC i-VTEC in line, 4 Cylinder',
       'BMW TwinPower Turbo technology: variable-geometry turbocharger, common-rail direct injection',
       '1.5L Turbocharged Intercooled with Belt Starter Generator',
       'MPFI, Petrol with INTELLIGENT PORT RESIZING',
       '1.2 Bi-Fuel (Petrol with CNG)',
       'V6 cylinder diesel engine with turbocharger and second generation common rall technology',
       '1TR-FE, Gasoline DOHC, WT-i', '2.2 L 16 DOHC VTT DICOR', 'DW10FC',
       'Duratorq',
       '6- Cylinder V diesel engine with VTG turbocharher DOHC TDI direct injection',
       'Turbocharged common rail direct injection', '2.5L A25A-FXS I4',
       '4 Cylinder Common rail diesel engine', 'MPI Engine',
       '2.5 Litre TDCi with Variable Geometry Turbocharger (VGT)',
       'BMW TwinPower Turbo Diesel Engine', 'V8 Diesel Engine', '6/V',
       '4.4 L SDV8 Diesel', 'K15C Smart Hybrid',
       'Petrol engine, in-line liquid cooling system 12 V  DOHC, Transverse in front',
       'Bi Fuel', 'S-TEC', '4 Cylinder In-line 16V DOHC', 'Electric',
       '1.5L TSI EVO with ACT', '4 cylinderl Diesel',
       'Turbocharged diesel engine, turbocharger with self-aligning blades, in-line, liquid cooling system, high-pressure direct injection system, DOHC, transverse in front',
       'Kryotec, 2.0L Turbocharged Engine',
       '1.5 TSI Petrol with Active Cylinder Technology', '2.2 L Varicor',
       'mHAWK100',
       'MPFI Petrol engine with 32-bit microprocessor BS4 emission compliant',
       'OM 654', '2 cylinder, MPFI', '1.3L M282 Turbocharged I4',
       '1.3 H5Ht', 'Four-cylinder  turbo-charged Petrol engine',
       'DDiS125', 'VTi-TECH 1.5', 'In-Line,16 Value SOCH',
       '2.0L B4204T6 I4', '16V DOHC DDiS',
       'SMARTECH 4 cylinder Petrol engine', 'V6 Petrol engine',
       'In-line 5 Cylinder TwinTurbo diesel', '2.4L GDi',
       '2.2 Litre Euro-6 Ready', 'Tubro Diesel', '5.0L Ti-VCT V8',
       'V6 TurboDiesel Engine', '6.6L V12 enigne', 'M264+EQ Boost',
       'mDI CRDe 4 cylinder diesel engine',
       '2.0 Liter, 4-cylinder, 16 valve, DOHC, VVT-i',
       '3.6L Pentastar Engine', 'mHAWk',
       '3.0L Ingenium Turbocharged I6 MHEV',
       '16 bit engine control microprocessor', '220TURBO 1.3',
       '1.5L I4 mHawk 100', '1.2 Revotron', '2.0L Drive-E Turbocharged',
       'turbocharged petrol engine, in-line, liquid cooling system, direct injection, DOHC, transverse in front',
       'turbocharged diesel engine, in-line, liquid cooling system, high-pressure direct injection system, 16V DOHC, transverse in front DSG',
       'V8 diesel engine with common rail injection system and turbocharging',
       'mHAWK', 'Turbocharged, Intercooled', 'RX270 Xdi',
       '1.1 Epsilon MPI CNG', '40 TFSI', 'DURATEC',
       '2.2 L 16-Valve DOHC VTT DiCOR', '4 Cylinder OHC',
       '1.5L Turbocharged', 'R 2.2 CRDi', '483 DL turbo charged',
       '5.7L 3UR-FE V8', 'Smartstream G 1.4T-GDI',
       'Direct Injection Diesel Engine', 'MDI 3200TC L',
       '4 cylinder inline Petrol engine',
       'Revotron 1.2T, Turbocharged MPFi With MULTI',
       'turbocharged diesel engine, in-line, liquid cooling system, high-pressure direct injection system, 12V DOHC, transverse in front',
       '4-cylinder in-line petrol', 'Nu 2.0', '4 cylinder, 8 valve',
       'S55 Twin-Turbocharged I6', 'Asynchronous Electric Motor',
       '3.6 L V6', '16 Valve DOHC-iVTEC', '3.0 CR4 Engine', '2.0 Petrol',
       'Turbocharged Diesel Engine', '1.0 TSI',
       'V10 petrol engine with direct fuel injection', '1.0L HRAO Turbo',
       '1.5 Turbocharged Intercooled Petrol',
       '4 cylinder Inline Petrol engine', '1.5L Turbocharged Revotorq',
       '1.4L TSI', '1.0 XSDE', '2.8-litre EcoDiesel, inline 4-cylinder',
       '4 cylinder Inline Petroll engine',
       '1.4L Dual VTVT 4-Speed Automatic Transmission',
       'Multi Point Fuel Injection', 'V6 3.3L Turbo',
       '1.0L Ecoboost (Petrol)',
       'Revotron, 1.2L 3 Cylinder with Multi Drive: Eco, Sport Mode',
       '3.0L Turbocharged Petrol V6', '3.0L B57 Turbocharged I6',
       'Diesel 4-Cylinder 8V, SOHC,D-4D', '3.0L Turbocharged I6 MHEV',
       'Turbo intercooled Common rail direct injection',
       'm2DiCR 2.5L Diesel engine',
       '4 Cylinder, Comon Rail, VGS Turbo Intercooled Diesel',
       'dCi Diesel with Fixed Geometry Turbo',
       'SMARTECH 4 cylinder diesel engine',
       'Four Cylinder Inline Turbocharged', '1.2L Revotron Petrol',
       'Petrol', 'PURETECH 110', 'B57Turbocharged', 'Common Rail, Diesel',
       'B58 Turbocharged I6',
       'Turbo-charged Indirect Injection Engine with Intercooler (TDi)',
       '4 stroke, Water-cooled with 32-Bit Electronic Control Module (ECM)',
       '2.2 16 Valve DOHC DiCOR', 'B58 Turbochaged I6', '1.2 l i-CNG',
       'K15C', 'mHAWKD70',
       'Revotorq 1.05L 3 Cylinder With Multi Drive: Eco, City Mode',
       'Turbocharged, direct injection petrol engine',
       '1.2L DualJet, Dual VVT', '2TR-FE',
       'VTVT - Variable Timing Valve Train', '3.0 L Turbocharged V6',
       '4 Cylinder In-line 8V SOHC', '2.0L Turbocharged I4',
       'M2DI, 4 Stroke, Turbo-Charged, DI Engine',
       '1.5 L TSI EVO with ACT', '4 Cylinder Turbo Intercooled',
       'BlueEFFICIENCY 4 cylinder inline',
       '3.0L Twin-Turbocharged I6 MHEV',
       '3.0 TFSI V6 + 48V Mild-Hybrid System',
       'M256 Turbocharged I6 with Integrated Starter-Alternator',
       'V6 Petrol Engine', 'V10 90° IDS, 40 valves',
       '2.0L TFSI Turbocharged I4',
       'Ddi VGS Turbo Hi-Power 3.0 litre turbo diesel',
       'M276 DE 30 LA Twin-Turbocharged V6', 'V6 Turbo Engine',
       'G1.5 T-GDi', 'Permanent magnet synchronous AC motor',
       '4 Cyls In-line', 'MPFI Petrol Engine with 32 bit microprocessor',
       '1.5 H4K', 'Electric Motor', '1.2 U2 CRDi Diesel',
       'S63 Twin-Turbocharged V8', 'TwinPower Turbo 4-Cylinder engine',
       'Turbocharged, Intercooled Common Raid Direct Injection (CRDi)',
       '1.0 Kappa Turbo GDi', '1.2 Kaapa, 4-cylinder Petrol', '2.0L TSI',
       '1.4 U2 CRDi Diesel 16 Valves, 4 Cylinder', 'OM654 Turbo I4',
       '2.5 L Engine,  In-line, Petrol', '2.0 TSI',
       '1.5L Turbocharged with Belt Starter Generator', 'Durasport',
       'Turbocharged petrol engine with direct injection system',
       'SZ CRDe, 4 stroke, Turbo-charged, Intercooled, DI, Common Rail Diesel Engine',
       'OM656 Turbo I6', 'Direct Injection Common Rail, 16-valve DOHC',

* no cc data was found in Engine Type and is not useful
* deleting this column

In [207]:
# taking a copy of the processed data for contingency
df_specs_A_Engine_3 = df_specs_A_Engine.copy()

In [208]:
# deleting engine type column

df_specs_A_Engine.drop(columns = ['Engine Type'],inplace = True)

In [209]:
# splitting the engine column values

df_specs_A_Engine['Engine'].str.split(pat=',',expand=True)

             0                        1                   2      3
0      1197 cc       4 Cylinders Inline   4 Valves/Cylinder   DOHC
1      2967 cc   6 Cylinders In V Shape   4 Valves/Cylinder   DOHC
2      1498 cc       4 Cylinders Inline   4 Valves/Cylinder   DOHC
3      1497 cc       4 Cylinders Inline   4 Valves/Cylinder   SOHC
4      1396 cc       4 Cylinders Inline   4 Valves/Cylinder   DOHC
...        ...                      ...                 ...    ...
58630  1197 cc       4 Cylinders Inline   4 Valves/Cylinder   DOHC
58631  1493 cc       3 Cylinders Inline   4 Valves/Cylinder   DOHC
58632   814 cc       3 Cylinders Inline   3 Valves/Cylinder   SOHC
58633  1497 cc       4 Cylinders Inline   4 Valves/Cylinder   SOHC
58634   814 cc       3 Cylinders Inline   3 Valves/Cylinder   SOHC

[58635 rows x 4 columns]

In [210]:
# splitting engine specifications are compased in 4 new columns into the main dataframe

df_specs_A_Engine[['Displacement','Cylinders','Valves','Camshaft']] = df_specs_A_Engine['Engine'].str.split(pat=',',expand=True)

In [211]:
df_specs_A_Engine.head(2)

,profileId,vehicle,Engine,fuel,Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),transmission,Displacement,Cylinders,Valves,Camshaft
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",Petrol,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,16.95,Automatic,1197 cc,4 Cylinders Inline,4 Valves/Cylinder,DOHC
1,D1982769,Audi A8 L 50 TDI,"2967 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",Diesel,247 bhp @ 4000 rpm,580 Nm @ 1750 rpm,16.77,Automatic,2967 cc,6 Cylinders In V Shape,4 Valves/Cylinder,DOHC

In [212]:
# checking unique values in the displacement column for converting them to integers or floats
df_specs_A_Engine['Displacement'].unique()

array(['1197 cc', '2967 cc', '1498 cc', '1497 cc', '1396 cc', '2179 cc',
       '1582 cc', '1499 cc', '1186 cc', '998 cc', '2494 cc', '1248 cc',
       '1061 cc', '2498 cc', '1461 cc', '1120 cc', '4663 cc', '1399 cc',
       '2995 cc', '2360 cc', '2685 cc', '2979 cc', '1198 cc', '1086 cc',
       '2400 cc', '1364 cc', '1493 cc', '1968 cc', '2143 cc', '995 cc',
       '1984 cc', '1196 cc', '2953 cc', '1199 cc', '1462 cc', '2993 cc',
       '2523 cc', '1598 cc', '5998 cc', '1995 cc', '1591 cc', '1373 cc',
       '999 cc', '796 cc', '1451 cc', '1336 cc', '2987 cc', '2776 cc',
       nan, '5461 cc', '1991 cc', '1495 cc', '799 cc', '1896 cc',
       '1496 cc', '1150 cc', '2184 cc', '2489 cc', '1796 cc', '814 cc',
       '1799 cc', '1998 cc', '1956 cc', '1997 cc', '936 cc', '1999 cc',
       '1798 cc', '2755 cc', 'Not Applicable Cylinders Not Applicable',
       '2997 cc', '2393 cc', '3498 cc', '1368 cc', '1969 cc', '1395 cc',
       '1047 cc', '2696 cc', '2477 cc', '2982 cc', '3198 cc', '1996 cc',
       '2835 cc', '1468 cc', '2199 cc', '624 cc', '1950 cc', '1405 cc',
       '4461 cc', '1586 cc', '2198 cc', '4134 cc', '2354 cc', '2925 cc',
       '1597 cc', '1298 cc', '2996 cc', '3956 cc', '1353 cc', '1797 cc',
       '2998 cc', '3200 cc', '3628 cc', '2157 cc', '2497 cc', '3192 cc',
       '1794 cc', '2956 cc', '1330 cc', '2694 cc', '1986 cc', '1988 cc',
       '2698 cc', '4 Cylinders Inline', '5204 cc', '1490 cc', '2999 cc',
       '5000 cc', '1599 cc', '1193 cc', '4163 cc', '5980 cc', '5935 cc',
       '2994 cc', '1595 cc', '4999 cc', '6299 cc', '3982 cc', '2446 cc',
       '3604 cc', '2148 cc', '2487 cc', '2499 cc', '4367 cc', '1993 cc',
       '1332 cc', '793 cc', '2496 cc', '2359 cc', '4951 cc', '6752 cc',
       '6592 cc', '3598 cc', '993 cc', '1349 cc', '1194 cc', '3696 cc',
       '1596 cc', '1948 cc', '5663 cc', '3605 cc', '1390 cc', '3996 cc',
       '3597 cc', '4806 cc', '2799 cc', '3346 cc', '1898 cc', '1389 cc',
       '3993 cc', '3902 cc', '1482 cc', '1781 cc', '4395 cc', '1172 cc',
       '2609 cc', '1422 cc', '3456 cc', '2231 cc', '1987 cc', '2362 cc',
       '3799 cc', '3998 cc', '3800 cc', '1341 cc', '2596 cc', '3197 cc',
       '1388 cc', '6417 cc', '5439 cc', '2349 cc', '1297 cc', '1299 cc',
       '1817 cc', '1795 cc', '1339 cc', '1108 cc', '2149 cc', '1994 cc',
       '1527 cc', '1590 cc', '2656 cc', '6749 cc', '6208 cc', '2736 cc',
       '3471 cc', '2800 cc'], dtype=object)

In [213]:
df_specs_A_Engine[df_specs_A_Engine['Displacement'] =='Not Applicable Cylinders Not Applicable'].head(2)

,profileId,vehicle,Engine,fuel,Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),transmission,Displacement,Cylinders,Valves,Camshaft
319,D3267965,MG ZS EV Exclusive [2020-2021],"Not Applicable Cylinders Not Applicable, Not A...",Electric,NaN,NaN,NaN,Automatic,Not Applicable Cylinders Not Applicable,Not Applicable Valves/Cylinder,Not Applicable,None
582,D3531205,Tata Nexon EV XZ Plus,"Not Applicable Cylinders Not Applicable, Not A...",Electric,NaN,NaN,NaN,Automatic,Not Applicable Cylinders Not Applicable,Not Applicable Valves/Cylinder,Not Applicable,None

In [214]:
# replacing the inconsitent string contents

df_specs_A_Engine['Displacement'].replace('Not Applicable Cylinders Not Applicable',0,inplace=True)

In [215]:
df_specs_A_Engine['Displacement'].unique()

array(['1197 cc', '2967 cc', '1498 cc', '1497 cc', '1396 cc', '2179 cc',
       '1582 cc', '1499 cc', '1186 cc', '998 cc', '2494 cc', '1248 cc',
       '1061 cc', '2498 cc', '1461 cc', '1120 cc', '4663 cc', '1399 cc',
       '2995 cc', '2360 cc', '2685 cc', '2979 cc', '1198 cc', '1086 cc',
       '2400 cc', '1364 cc', '1493 cc', '1968 cc', '2143 cc', '995 cc',
       '1984 cc', '1196 cc', '2953 cc', '1199 cc', '1462 cc', '2993 cc',
       '2523 cc', '1598 cc', '5998 cc', '1995 cc', '1591 cc', '1373 cc',
       '999 cc', '796 cc', '1451 cc', '1336 cc', '2987 cc', '2776 cc',
       nan, '5461 cc', '1991 cc', '1495 cc', '799 cc', '1896 cc',
       '1496 cc', '1150 cc', '2184 cc', '2489 cc', '1796 cc', '814 cc',
       '1799 cc', '1998 cc', '1956 cc', '1997 cc', '936 cc', '1999 cc',
       '1798 cc', '2755 cc', 0, '2997 cc', '2393 cc', '3498 cc',
       '1368 cc', '1969 cc', '1395 cc', '1047 cc', '2696 cc', '2477 cc',
       '2982 cc', '3198 cc', '1996 cc', '2835 cc', '1468 cc', '2199 cc',
       '624 cc', '1950 cc', '1405 cc', '4461 cc', '1586 cc', '2198 cc',
       '4134 cc', '2354 cc', '2925 cc', '1597 cc', '1298 cc', '2996 cc',
       '3956 cc', '1353 cc', '1797 cc', '2998 cc', '3200 cc', '3628 cc',
       '2157 cc', '2497 cc', '3192 cc', '1794 cc', '2956 cc', '1330 cc',
       '2694 cc', '1986 cc', '1988 cc', '2698 cc', '4 Cylinders Inline',
       '5204 cc', '1490 cc', '2999 cc', '5000 cc', '1599 cc', '1193 cc',
       '4163 cc', '5980 cc', '5935 cc', '2994 cc', '1595 cc', '4999 cc',
       '6299 cc', '3982 cc', '2446 cc', '3604 cc', '2148 cc', '2487 cc',
       '2499 cc', '4367 cc', '1993 cc', '1332 cc', '793 cc', '2496 cc',
       '2359 cc', '4951 cc', '6752 cc', '6592 cc', '3598 cc', '993 cc',
       '1349 cc', '1194 cc', '3696 cc', '1596 cc', '1948 cc', '5663 cc',
       '3605 cc', '1390 cc', '3996 cc', '3597 cc', '4806 cc', '2799 cc',
       '3346 cc', '1898 cc', '1389 cc', '3993 cc', '3902 cc', '1482 cc',
       '1781 cc', '4395 cc', '1172 cc', '2609 cc', '1422 cc', '3456 cc',
       '2231 cc', '1987 cc', '2362 cc', '3799 cc', '3998 cc', '3800 cc',
       '1341 cc', '2596 cc', '3197 cc', '1388 cc', '6417 cc', '5439 cc',
       '2349 cc', '1297 cc', '1299 cc', '1817 cc', '1795 cc', '1339 cc',
       '1108 cc', '2149 cc', '1994 cc', '1527 cc', '1590 cc', '2656 cc',
       '6749 cc', '6208 cc', '2736 cc', '3471 cc', '2800 cc'],
      dtype=object)

In [216]:
# replacing the inconsitent string contents

df_specs_A_Engine['Displacement'].replace('4 Cylinders Inline',0,inplace=True)

In [217]:
df_specs_A_Engine[df_specs_A_Engine['Displacement'] =='4 Cylinders Inline'].shape

(0, 12)

In [218]:
# null or empty values

df_specs_A_Engine[df_specs_A_Engine['Displacement'].isna()].shape

(335, 12)

In [219]:
# to convert the cc values to float
# replacing the cc withing the displacement values to convert them into float

df_specs_A_Engine['Displacement'].replace(' cc','',regex=True,inplace=True)

In [220]:
df_specs_A_Engine['Displacement'].unique()

array(['1197', '2967', '1498', '1497', '1396', '2179', '1582', '1499',
       '1186', '998', '2494', '1248', '1061', '2498', '1461', '1120',
       '4663', '1399', '2995', '2360', '2685', '2979', '1198', '1086',
       '2400', '1364', '1493', '1968', '2143', '995', '1984', '1196',
       '2953', '1199', '1462', '2993', '2523', '1598', '5998', '1995',
       '1591', '1373', '999', '796', '1451', '1336', '2987', '2776', nan,
       '5461', '1991', '1495', '799', '1896', '1496', '1150', '2184',
       '2489', '1796', '814', '1799', '1998', '1956', '1997', '936',
       '1999', '1798', '2755', 0, '2997', '2393', '3498', '1368', '1969',
       '1395', '1047', '2696', '2477', '2982', '3198', '1996', '2835',
       '1468', '2199', '624', '1950', '1405', '4461', '1586', '2198',
       '4134', '2354', '2925', '1597', '1298', '2996', '3956', '1353',
       '1797', '2998', '3200', '3628', '2157', '2497', '3192', '1794',
       '2956', '1330', '2694', '1986', '1988', '2698', '5204', '1490',
       '2999', '5000', '1599', '1193', '4163', '5980', '5935', '2994',
       '1595', '4999', '6299', '3982', '2446', '3604', '2148', '2487',
       '2499', '4367', '1993', '1332', '793', '2496', '2359', '4951',
       '6752', '6592', '3598', '993', '1349', '1194', '3696', '1596',
       '1948', '5663', '3605', '1390', '3996', '3597', '4806', '2799',
       '3346', '1898', '1389', '3993', '3902', '1482', '1781', '4395',
       '1172', '2609', '1422', '3456', '2231', '1987', '2362', '3799',
       '3998', '3800', '1341', '2596', '3197', '1388', '6417', '5439',
       '2349', '1297', '1299', '1817', '1795', '1339', '1108', '2149',
       '1994', '1527', '1590', '2656', '6749', '6208', '2736', '3471',
       '2800'], dtype=object)

In [221]:
# replacing 0 values with np.nan
df_specs_A_Engine['Displacement'].replace(0,np.nan,inplace=True)

In [222]:
df_specs_A_Engine['Displacement'].unique()

array(['1197', '2967', '1498', '1497', '1396', '2179', '1582', '1499',
       '1186', '998', '2494', '1248', '1061', '2498', '1461', '1120',
       '4663', '1399', '2995', '2360', '2685', '2979', '1198', '1086',
       '2400', '1364', '1493', '1968', '2143', '995', '1984', '1196',
       '2953', '1199', '1462', '2993', '2523', '1598', '5998', '1995',
       '1591', '1373', '999', '796', '1451', '1336', '2987', '2776', nan,
       '5461', '1991', '1495', '799', '1896', '1496', '1150', '2184',
       '2489', '1796', '814', '1799', '1998', '1956', '1997', '936',
       '1999', '1798', '2755', '2997', '2393', '3498', '1368', '1969',
       '1395', '1047', '2696', '2477', '2982', '3198', '1996', '2835',
       '1468', '2199', '624', '1950', '1405', '4461', '1586', '2198',
       '4134', '2354', '2925', '1597', '1298', '2996', '3956', '1353',
       '1797', '2998', '3200', '3628', '2157', '2497', '3192', '1794',
       '2956', '1330', '2694', '1986', '1988', '2698', '5204', '1490',
       '2999', '5000', '1599', '1193', '4163', '5980', '5935', '2994',
       '1595', '4999', '6299', '3982', '2446', '3604', '2148', '2487',
       '2499', '4367', '1993', '1332', '793', '2496', '2359', '4951',
       '6752', '6592', '3598', '993', '1349', '1194', '3696', '1596',
       '1948', '5663', '3605', '1390', '3996', '3597', '4806', '2799',
       '3346', '1898', '1389', '3993', '3902', '1482', '1781', '4395',
       '1172', '2609', '1422', '3456', '2231', '1987', '2362', '3799',
       '3998', '3800', '1341', '2596', '3197', '1388', '6417', '5439',
       '2349', '1297', '1299', '1817', '1795', '1339', '1108', '2149',
       '1994', '1527', '1590', '2656', '6749', '6208', '2736', '3471',
       '2800'], dtype=object)

In [223]:
# converting the displacement to float
df_specs_A_Engine['Displacement'] = df_specs_A_Engine['Displacement'].astype('float',copy=False)

In [224]:
df_specs_A_Engine['Displacement']

0        1197.0
1        2967.0
2        1498.0
3        1497.0
4        1396.0
          ...
58630    1197.0
58631    1493.0
58632     814.0
58633    1497.0
58634     814.0
Name: Displacement, Length: 58635, dtype: float64

- cylinders, valve and camshaft column values are not needed for analysis
- deleting these columns as well as Engine column

In [225]:
df_specs_A_Engine['Cylinders'].unique()

array([' 4 Cylinders Inline', ' 6 Cylinders In V Shape',
       ' 3 Cylinders Inline', ' 4 Cylinders 4 Valves/Cylinder',
       ' 8 Cylinders In V Shape', ' 6 Cylinders Flat',
       ' 5 Cylinders Inline', ' 6 Cylinders Inline',
       ' 3 Cylinders 4 Valves/Cylinder', ' 12 Cylinders In W Shape', None,
       ' 6 Cylinders 4 Valves/Cylinder', nan, ' 4 Cylinders',
       ' 2 Valves/Cylinder', ' Not Applicable Valves/Cylinder',
       ' 4 Cylinders In V Shape', ' 2 Cylinders',
       ' 8 Cylinders 4 Valves/Cylinder', ' 3 Cylinders 3 Valves/Cylinder',
       ' 4 Cylinders 2 Valves/Cylinder', ' 4 Cylinders Flat',
       ' 4 Valves/Cylinder', ' 10 Cylinders In V Shape',
       ' 12 Cylinders In V Shape', ' 2 Cylinders Inline', ' In V Shape',
       ' 2 Cylinders In V Shape', ' 4 Cylinders SOHC', ' Inline', ' DOHC',
       ' 4 Cylinders DOHC', ' 8 Cylinders Inline'], dtype=object)

In [226]:
df_specs_A_Engine['Valves'].unique()

array([' 4 Valves/Cylinder', None, ' 2 Valves/Cylinder',
       ' 3 Valves/Cylinder', nan, ' DOHC', ' Not Applicable', ' SOHC',
       ' 6 Valves/Cylinder', ' 5 Valves/Cylinder'], dtype=object)

In [227]:
df_specs_A_Engine['Camshaft'].unique()

array([' DOHC', ' SOHC', None, nan], dtype=object)

In [228]:
df_specs_A_Engine.drop(columns = ['Cylinders','Valves','Camshaft','Engine'],inplace = True)

In [229]:
df_specs_A_Engine.head(2)

,profileId,vehicle,fuel,Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),transmission,Displacement
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,Petrol,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,16.95,Automatic,1197.0
1,D1982769,Audi A8 L 50 TDI,Diesel,247 bhp @ 4000 rpm,580 Nm @ 1750 rpm,16.77,Automatic,2967.0

##### `Max Power (bhp@rpm) AND Max Torque (Nm@rpm)`

In [230]:

df_specs_A_Engine['Max Power (bhp@rpm)'] = df_specs_A_Engine['Max Power (bhp@rpm)'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Engine[df_specs_A_Engine['Max Power (bhp@rpm)'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Engine[df_specs_A_Engine['Max Power (bhp@rpm)'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Engine[df_specs_A_Engine['Max Power (bhp@rpm)']==''].shape[0],'\n',
       "space - ",df_specs_A_Engine[df_specs_A_Engine['Max Power (bhp@rpm)']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Engine[df_specs_A_Engine['Max Power (bhp@rpm)']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Engine[df_specs_A_Engine['Max Power (bhp@rpm)']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Engine[df_specs_A_Engine['Max Power (bhp@rpm)']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Engine[df_specs_A_Engine['Max Power (bhp@rpm)']== '0'].shape[0],'\n'
     )

null -  564
 nan -  564
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [231]:
df_specs_A_Engine['Max Torque (Nm@rpm)'] = df_specs_A_Engine['Max Torque (Nm@rpm)'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Engine[df_specs_A_Engine['Max Torque (Nm@rpm)'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Engine[df_specs_A_Engine['Max Torque (Nm@rpm)'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Engine[df_specs_A_Engine['Max Torque (Nm@rpm)']==''].shape[0],'\n',
       "space - ",df_specs_A_Engine[df_specs_A_Engine['Max Torque (Nm@rpm)']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Engine[df_specs_A_Engine['Max Torque (Nm@rpm)']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Engine[df_specs_A_Engine['Max Torque (Nm@rpm)']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Engine[df_specs_A_Engine['Max Torque (Nm@rpm)']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Engine[df_specs_A_Engine['Max Torque (Nm@rpm)']== '0'].shape[0],'\n'
     )

null -  564
 nan -  564
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* there are some null values in both torque and power
* splitting the column values to get the torque and power

In [232]:
# splitting power data into separate columns
df_specs_A_Engine[['maxPower_(bhp)','maxPowerrpm']] = df_specs_A_Engine['Max Power (bhp@rpm)'].str.split(pat="@",expand=True)

In [233]:
# splitting torque data into separate columns
df_specs_A_Engine[['maxTorque_(Nm)','maxTorquerpm']] = df_specs_A_Engine['Max Torque (Nm@rpm)'].str.split(pat="@",expand=True)

In [234]:
df_specs_A_Engine.head(2).iloc[:,7:]

   Displacement maxPower_(bhp) maxPowerrpm maxTorque_(Nm) maxTorquerpm
0        1197.0        79 bhp     6000 rpm   112.7619 Nm      4000 rpm
1        2967.0       247 bhp     4000 rpm        580 Nm      1750 rpm

In [235]:
df_specs_A_Engine['maxPower_(bhp)'].replace(' bhp','',regex=True, inplace=True)

In [236]:
df_specs_A_Engine['maxPower_(bhp)'] = df_specs_A_Engine['maxPower_(bhp)'].str.strip()

In [237]:
df_specs_A_Engine['maxPower_(bhp)'].replace('',0,regex=True,inplace=True)

In [238]:
df_specs_A_Engine['maxPower_(bhp)'] = df_specs_A_Engine['maxPower_(bhp)'].astype('float',copy=False)

In [239]:
# checking is null values remain the same
df_specs_A_Engine[df_specs_A_Engine['maxPower_(bhp)'].isnull()].shape

(564, 12)

In [648]:
df_specs_A_Engine['maxPowerrpm'] = df_specs_A_Engine['maxPowerrpm'].str.strip().str.slice(0,4).replace('',0).astype('float',copy=True)

* Torque

In [240]:
df_specs_A_Engine['maxTorque_(Nm)'].replace(' Nm','',regex=True,inplace=True)

In [241]:
df_specs_A_Engine['maxTorque_(Nm)'] = df_specs_A_Engine['maxTorque_(Nm)'].str.strip()

In [242]:
df_specs_A_Engine['maxTorque_(Nm)'].replace('',0,regex=True,inplace=True)

In [243]:
df_specs_A_Engine['maxTorque_(Nm)'] = df_specs_A_Engine['maxTorque_(Nm)'].astype('float',copy=False)

In [651]:
df_specs_A_Engine['maxTorquerpm'] = df_specs_A_Engine['maxTorquerpm'].str.strip().str.slice(0,4).replace('',0).astype('float',copy=True)

In [653]:
df_specs_A_Engine.head(2).iloc[:,6:]

   maxPower_(bhp)  maxPowerrpm  maxTorque_(Nm)  maxTorquerpm
0            79.0       6000.0        112.7619        4000.0
1           247.0       4000.0        580.0000        1750.0

In [654]:
# checking is null values remain the same
df_specs_A_Engine[df_specs_A_Engine['maxTorque_(Nm)'].isnull()].shape

(564, 10)

In [655]:
df_specs_A_Engine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58635 entries, 0 to 58634
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   profileId       58635 non-null  object
 1   vehicle         58635 non-null  object
 2   fuel            58635 non-null  object
 3   Mileage (ARAI)  54078 non-null  float64
 4   transmission    58635 non-null  object
 5   Displacement    58058 non-null  float64
 6   maxPower_(bhp)  58071 non-null  float64
 7   maxPowerrpm     58067 non-null  float64
 8   maxTorque_(Nm)  58071 non-null  float64
 9   maxTorquerpm    58059 non-null  float64
dtypes: float64(6), object(4)
memory usage: 4.5+ MB

##### FINAL ENGINE DATASET

In [247]:
df_specs_A_Engine_1 = df_specs_A_Engine.copy()

In [248]:
df_specs_A_Engine.head(2)

,profileId,vehicle,fuel,Max Power (bhp@rpm),Max Torque (Nm@rpm),Mileage (ARAI),transmission,Displacement,maxPower_(bhp),maxPowerrpm,maxTorque_(Nm),maxTorquerpm
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,Petrol,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,16.95,Automatic,1197.0,79.0,6000 rpm,112.7619,4000 rpm
1,D1982769,Audi A8 L 50 TDI,Diesel,247 bhp @ 4000 rpm,580 Nm @ 1750 rpm,16.77,Automatic,2967.0,247.0,4000 rpm,580.0000,1750 rpm

In [249]:
df_specs_A_Engine.drop(columns = ['Max Power (bhp@rpm)','Max Torque (Nm@rpm)'],inplace=True)

In [250]:
df_specs_A_Engine.head()

,profileId,vehicle,fuel,Mileage (ARAI),transmission,Displacement,maxPower_(bhp),maxPowerrpm,maxTorque_(Nm),maxTorquerpm
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,Petrol,16.95,Automatic,1197.0,79.0,6000 rpm,112.7619,4000 rpm
1,D1982769,Audi A8 L 50 TDI,Diesel,16.77,Automatic,2967.0,247.0,4000 rpm,580.0000,1750 rpm
2,D2136401,Honda Amaze 1.5 EX i-DTEC,Diesel,25.80,Manual,1498.0,99.0,3600 rpm,200.0000,1750 rpm
3,D2184679,Honda City S,Petrol,17.80,Manual,1497.0,117.0,6600 rpm,145.0000,4600 rpm
4,D2184744,Hyundai Elite i20 Asta 1.4 (O) CRDi,Diesel,22.50,Manual,1396.0,89.0,4000 rpm,220.0000,1500 rpm

In [251]:
df_specs_A_Engine.to_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\02.Pre-Processing\Pre-processed Data Stage-II\specs_Engine_A.csv',index=False)

#### `Dimensions & Weight`

In [252]:
#looking at the data
df_specs_A[df_specs_A['spec_category'] == 'Dimensions & Weight'].head()

,specName,specValue,specUnit,spec_category,profileId,vehicle
15,Length,4924,mm,Dimensions & Weight,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
16,Width,2157,mm,Dimensions & Weight,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
17,Height,1772,mm,Dimensions & Weight,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
18,Wheelbase,2995,mm,Dimensions & Weight,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
19,Ground Clearance,215,mm,Dimensions & Weight,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB

In [253]:
df_specs_A_Dimensions = df_specs_A[df_specs_A['spec_category'] == 'Dimensions & Weight'].copy()

##### PIVOTING TABLE

In [254]:
df_specs_A_Dimensions_1 = df_specs_A_Dimensions.copy()

In [255]:
df_specs_A_Dimensions = df_specs_A_Dimensions.pivot(index =['profileId','vehicle'], columns = 'specName', values ='specValue')

In [256]:
df_specs_A_Dimensions.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 58423 entries, ('D1820959', 'Hyundai i10 Sportz 1.2 AT Kappa2') to ('S2819375', 'Hyundai Eon Era +')
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ground Clearance  44174 non-null  object
 1   Height            58423 non-null  object
 2   Kerb Weight       36335 non-null  object
 3   Length            58423 non-null  object
 4   Wheelbase         58421 non-null  object
 5   Width             58423 non-null  object
dtypes: object(6)
memory usage: 5.6+ MB

In [257]:
df_specs_A_Dimensions.head(2)

,specName,Ground Clearance,Height,Kerb Weight,Length,Wheelbase,Width
profileId,vehicle,,,,,,
D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,165,1550,NaN,3585,2380,1595
D1982769,Audi A8 L 50 TDI,NaN,1471,2010,5265,3122,1949

In [258]:
# resetting index
df_specs_A_Dimensions.reset_index(inplace = True)

In [259]:
df_specs_A_Dimensions.index

RangeIndex(start=0, stop=58423, step=1)

In [260]:
# renaming the axis name after resetting
df_specs_A_Dimensions.rename_axis('',axis = 1,inplace=True)

In [261]:
df_specs_A_Dimensions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58423 entries, 0 to 58422
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         58423 non-null  object
 1   vehicle           58423 non-null  object
 2   Ground Clearance  44174 non-null  object
 3   Height            58423 non-null  object
 4   Kerb Weight       36335 non-null  object
 5   Length            58423 non-null  object
 6   Wheelbase         58421 non-null  object
 7   Width             58423 non-null  object
dtypes: object(8)
memory usage: 3.6+ MB

In [262]:
# unique count of values of each column
df_specs_A_Dimensions.nunique()

profileId           58423
vehicle              5113
Ground Clearance      102
Height                349
Kerb Weight           663
Length                470
Wheelbase             249
Width                 271
dtype: int64

In [263]:
df_specs_A_Dimensions[df_specs_A_Dimensions.notnull()]

,profileId,vehicle,Ground Clearance,Height,Kerb Weight,Length,Wheelbase,Width
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,165,1550,NaN,3585,2380,1595
1,D1982769,Audi A8 L 50 TDI,NaN,1471,2010,5265,3122,1949
2,D2136401,Honda Amaze 1.5 EX i-DTEC,165,1505,1065,3990,2405,1680
3,D2184679,Honda City S,165,1495,1041,4440,2600,1695
4,D2184744,Hyundai Elite i20 Asta 1.4 (O) CRDi,170,1505,NaN,3985,2570,1734
...,...,...,...,...,...,...,...,...
58418,S2819197,Hyundai Xcent S 1.2 [2014-2016],165,1520,NaN,3995,2425,1660
58419,S2819213,Mahindra Bolero Neo Limited Edition [2023],180,1817,NaN,3995,2680,1795
58420,S2819265,Hyundai Eon D-Lite +,170,1500,715,3495,2380,1550
58421,S2819349,Honda City VX CVT,165,1495,1085,4440,2600,1695
58422,S2819375,Hyundai Eon Era +,170,1500,720,3495,2380,1550

In [264]:
df_specs_A_Dimensions['Ground Clearance'].unique()

array(['165', nan, '170', '200', '205', '168', '215', '190', '172', '136',
       '175', '184', '163', '180', '133', '160', '212', '210', '152',
       '149', '154', '185', '192', '158', '183', '241', '198', '174',
       '204.8', '164', '144', '226', '188', '145', '157', '120', '155',
       '220', '209', '214', '161', '176', '179', '295.5', '139', '211',
       '195', '141', '208', '225', '217', '167', '239.8', '159', '150',
       '201', '216', '213', '135', '244', '110', '202', '142', '138',
       '230', '238', '100', '189', '171', '221', '182', '223', '219',
       '117', '187', '156', '151', '218', '137', '186', '196', '204',
       '112', '126', '118', '128', '116', '227', '181', '134', '206',
       '109', '140', '130', '197', '147', '113', '114', '162', '178',
       '177', '191', '235'], dtype=object)

* analysing data by column

##### `Ground Clearance`

In [265]:

df_specs_A_Dimensions['Ground Clearance'] = df_specs_A_Dimensions['Ground Clearance'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Ground Clearance'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Dimensions[df_specs_A_Dimensions['Ground Clearance'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Ground Clearance']==''].shape[0],'\n',
       "space - ",df_specs_A_Dimensions[df_specs_A_Dimensions['Ground Clearance']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Ground Clearance']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Ground Clearance']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Dimensions[df_specs_A_Dimensions['Ground Clearance']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Dimensions[df_specs_A_Dimensions['Ground Clearance']== '0'].shape[0],'\n'
     )

null -  14249
 nan -  14249
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* huge null values can be seen
* we will be using this for analysis

In [266]:
df_specs_A_Dimensions['Ground Clearance'].unique()

array(['165', nan, '170', '200', '205', '168', '215', '190', '172', '136',
       '175', '184', '163', '180', '133', '160', '212', '210', '152',
       '149', '154', '185', '192', '158', '183', '241', '198', '174',
       '204.8', '164', '144', '226', '188', '145', '157', '120', '155',
       '220', '209', '214', '161', '176', '179', '295.5', '139', '211',
       '195', '141', '208', '225', '217', '167', '239.8', '159', '150',
       '201', '216', '213', '135', '244', '110', '202', '142', '138',
       '230', '238', '100', '189', '171', '221', '182', '223', '219',
       '117', '187', '156', '151', '218', '137', '186', '196', '204',
       '112', '126', '118', '128', '116', '227', '181', '134', '206',
       '109', '140', '130', '197', '147', '113', '114', '162', '178',
       '177', '191', '235'], dtype=object)

In [267]:
df_specs_A_Dimensions['Ground Clearance'] = df_specs_A_Dimensions['Ground Clearance'].astype('float64',copy=True)

In [268]:
df_specs_A_Dimensions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58423 entries, 0 to 58422
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         58423 non-null  object
 1   vehicle           58423 non-null  object
 2   Ground Clearance  44174 non-null  float64
 3   Height            58423 non-null  object
 4   Kerb Weight       36335 non-null  object
 5   Length            58423 non-null  object
 6   Wheelbase         58421 non-null  object
 7   Width             58423 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.6+ MB

##### `Height`

In [269]:
df_specs_A_Dimensions['Height'] = df_specs_A_Dimensions['Height'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Height'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Dimensions[df_specs_A_Dimensions['Height'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Height']==''].shape[0],'\n',
       "space - ",df_specs_A_Dimensions[df_specs_A_Dimensions['Height']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Height']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Height']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Dimensions[df_specs_A_Dimensions['Height']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Dimensions[df_specs_A_Dimensions['Height']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [270]:
df_specs_A_Dimensions['Height'].unique()

array(['1550', '1471', '1505', '1495', '1785', '1470', '1708', '1520',
       '1670', '1755', '1530', '1555', '1700', '1595', '1895', '1695',
       '1494', '1427', '1705', '1680', '1484', '1635', '1590', '1647',
       '1560', '1480', '1817', '1474', '1515', '1510', '1796', '1690',
       '1645', '1880', '1774', '1518', '1458', '1800', '1995', '1724',
       '1475', '1826', '1544', '1485', '1481', '1672', '1500', '1467',
       '1466', '1455', '1404', '1464', '1685', '1478', '1460', '1760',
       '1482', '1930', '1570', '1522', '1975', '1653', '1780', '1838',
       '1669', '1640', '1850', '1535', '1839', '1665', '1938', '1523',
       '1691', '1922', '1479', '1370', '1737', '1483', '1416', '1425',
       '1844', '1601', '1564', '1447', '1525', '1456', '1608', '1675',
       '1429', '1450', '1477', '1630', '1620', '1420', '1453', '1639',
       '1925', '1619', '1498', '1476', '1605', '1835', '1698', '1795',
       '1545', '1405', '1490', '1473', '1840', '1659', '1846', '1607',
       '1432', '1508', '1652', '1407', '1496', '1431', '1740', '1678',
       '1791', '1762', '1837', '1598', '1469', '1671', '1900', '1430',
       '1855', '1848', '1488', '1655', '1606', '1540', '1910', '1468',
       '1537', '1627', '1706', '1865', '1561', '1823', '1442', '1433',
       '1541', '1642', '1418', '1402', '1905', '1587', '1448', '1661',
       '1624', '1507', '1457', '1772', '1644', '1696', '1870', '1501',
       '1803', '1867', '1487', '1877', '1465', '1651', '1441', '1845',
       '1421', '1784', '1489', '1443', '1786', '1976', '1909', '1411',
       '1611', '1713', '1719', '1559', '1660', '1802', '1539', '1295',
       '1588', '1538', '1459', '1440', '1414', '1184', '1549', '1776',
       '1825', '1445', '1716', '1565', '1322', '1412', '1512', '1586',
       '1603', '1693', '1805', '1643', '1658', '1612', '1366', '1241',
       '1390', '1360', '1617', '1557', '1621', '1304', '1666', '1572',
       '1697', '1664', '1833', '1875', '1710', '1657', '1977', '1699',
       '2100', '1532', '1857', '1969', '1437', '1446', '1745', '1650',
       '1503', '1649', '1391', '1521', '1435', '1637', '1829', '1869',
       '1353', '1291', '1315', '1566', '1615', '1773', '1534', '1409',
       '1593', '1720', '1423', '1904', '1434', '1369', '1683', '1562',
       '1410', '1426', '1461', '1628', '1252', '1486', '1945', '1676',
       '1567', '1789', '1967', '1916', '1240', '1395', '1940', '1573',
       '1750', '1970', '1703', '1165', '1974', '1548', '1213', '1415',
       '1585', '1616', '1792', '1542', '1674', '1393', '1701', '1472',
       '1281', '1689', '1297', '1543', '1452', '1493', '1417', '1269',
       '1765', '1386', '1392', '1499', '2075', '1401', '1901', '1301',
       '1308', '1688', '1329', '1298', '1702', '1311', '1679', '1749',
       '1931', '1383', '1397', '1709', '1403', '1529', '1920', '1631',
       '2055', '1860', '1439', '1379', '1634', '1575', '1730', '1553',
       '1878', '1868', '1377', '1546', '1810', '1836', '1610', '1885',
       '1536', '1600', '1625', '1558', '1382', '1279', '1812', '1985',
       '1890', '2027', '1422', '1648', '1384'], dtype=object)

In [271]:
df_specs_A_Dimensions['Height'] = df_specs_A_Dimensions['Height'].astype('float64',copy=True)

In [272]:
df_specs_A_Dimensions['Height'].head()

0    1550.0
1    1471.0
2    1505.0
3    1495.0
4    1505.0
Name: Height, dtype: float64

In [273]:
df_specs_A_Dimensions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58423 entries, 0 to 58422
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         58423 non-null  object
 1   vehicle           58423 non-null  object
 2   Ground Clearance  44174 non-null  float64
 3   Height            58423 non-null  float64
 4   Kerb Weight       36335 non-null  object
 5   Length            58423 non-null  object
 6   Wheelbase         58421 non-null  object
 7   Width             58423 non-null  object
dtypes: float64(2), object(6)
memory usage: 3.6+ MB

##### `Kerb Weight`

In [274]:

df_specs_A_Dimensions['Kerb Weight'] = df_specs_A_Dimensions['Kerb Weight'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Kerb Weight'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Dimensions[df_specs_A_Dimensions['Kerb Weight'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Kerb Weight']==''].shape[0],'\n',
       "space - ",df_specs_A_Dimensions[df_specs_A_Dimensions['Kerb Weight']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Kerb Weight']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Kerb Weight']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Dimensions[df_specs_A_Dimensions['Kerb Weight']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Dimensions[df_specs_A_Dimensions['Kerb Weight']== '0'].shape[0],'\n'
     )

null -  22088
 nan -  22088
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [275]:
df_specs_A_Dimensions['Kerb Weight'].unique()

array([nan, '2010', '1065', '1041', '1329', '1241', '1025', '895', '1060',
       '885', '1260', '2200', '1130', '2315', '1272', '1976', '1135',
       '820', '1304', '1551', '1108', '1270', '925', '1620', '1595',
       '1055', '1800', '898', '890', '2175', '1680', '1587', '928',
       '2014', '960', '1035', '955', '1024', '1029', '1950', '1720',
       '880', '930', '810', '1020', '1233', '1220', '1585', '2350', '845',
       '1145', '1095', '1175', '1608', '1170', '1510', '1152', '1830',
       '1125', '1656', '2115', '1099', '2968', '2075', '1190', '1920',
       '965', '1058', '950', '990', '970', '1015', '1122', '2550', '1022',
       '1625', '865', '1300', '2455', '1525', '1543', '935', '1845',
       '2000', '2005', '1785', '980', '2345', '1049', '1565', '1340',
       '1560', '1180', '1211', '1205', '1635', '1171', '1176', '763',
       '1040', '1550', '1660', '795', '1210', '915', '1150', '1540',
       '1184', '1584', '1050', '1063', '1178', '825', '1165', '1265',
       '1860', '1027', '800', '1120', '1954', '1080', '720', '214',
       '1075', '1395', '945', '765', '1955', '1236', '1890', '1515',
       '1290', '779', '963', '1820', '1545', '1575', '665', '1044',
       '2366', '875', '995', '1071', '1107', '1735', '1048', '1570',
       '870', '1275', '1062', '1005', '1695', '1380', '1418', '830',
       '1450', '2330', '854', '2280', '1030', '1675', '1590', '1268',
       '1995', '1010', '2065', '1935', '1204', '761', '1195', '1053',
       '1251', '1168', '2410', '1805', '2155', '1097', '1825', '1206',
       '1182', '755', '1360', '1970', '1289', '1400', '1200', '1085',
       '1615', '985', '2394', '1250', '1975', '727', '1880', '1104',
       '750', '1110', '2087', '1179', '1815', '900', '1064', '1719',
       '2485', '2725', '1460', '1261', '1235', '1230', '1310', '1600',
       '2505', '1014', '1358', '849', '850', '678', '1465', '1281',
       '2040', '1160', '1850', '1100', '2310', '1655', '905', '2475',
       '979', '876', '1871', '1813', '1795', '1790', '760', '940', '1537',
       '1610', '1760', '1105', '1925', '757', '1296', '1259', '2130',
       '840', '1335', '920', '1066', '1745', '1039', '2151', '1240',
       '1799', '1598', '1198', '1373', '1870', '2060', '715', '740',
       '886', '2113', '1158', '1023', '1654', '2095', '1045', '2962',
       '1092', '835', '1109', '1505', '2150', '1855', '1042', '2177',
       '2495', '1500', '1084', '2035', '2432', '1153', '917', '1151',
       '993', '1115', '1668', '1215', '1318', '1140', '1245', '1026',
       '1087', '1012', '1640', '1284', '2204', '1090', '879', '1750',
       '1088', '1174', '1370', '1687', '957', '837', '910', '1320',
       '2435', '1753', '2585', '1061', '1163', '860', '982', '1824',
       '1242', '2003', '1475', '839', '1116', '1129', '2205', '971',
       '1248', '2445', '947', '1879', '848', '1154', '1389', '2335',
       '695', '762', '908', '2666', '1161', '942', '1147', '1990', '705',
       '844', '1740', '1685', '1835', '1000', '1301', '1445', '2245',
       '939', '758', '855', '2910', '1067', '1699', '823', '1690', '1138',
       '882', '1533', '833', '1876', '1755', '1900', '1621', '1033',
       '1725', '1730', '722', '1308', '1555', '1514', '1142', '2270',
       '1191', '841', '2440', '1312', '1405', '2489', '2140', '1298',
       '978', '660', '921', '1490', '1385', '805', '2265', '1965', '1349',
       '1255', '1700', '1225', '1520', '1222', '1816', '1732', '2208',
       '1295', '2080', '1885', '1915', '1770', '2583', '2655', '1945',
       '1148', '1927', '1875', '1826', '1929', '725', '2119', '1238',
       '842', '924', '2342', '1164', '1355', '1017', '2238', '1496',
       '785', '1008', '1285', '1144', '1376', '866', '2070', '1070',
       '769', '2650', '1228', '1131', '1986', '1430', '1303', '1905',
       '1868', '1710', '1306', '2722', '1263', '1185', '1187', '767',
       '858', '1059', '1007', '1387', '1137', '1403', '1208', '1069',
       '2285', '1246', '1068', '1440', '892', '1667', '1583', '1118',
       '1274', '784', '615', '1884', '1124', '1258', '2295', '1106',
       '635', '2340', '1132', '1338', '1021', '1302', '1006', '975',
       '1256', '774', '2395', '1031', '2625', '2135', '1485', '2030',
       '2186', '1425', '1794', '1155', '1350', '2132', '1577', '2460',
       '1305', '2105', '1072', '998', '896', '1181', '1580', '1214',
       '1231', '1345', '2097', '891', '1324', '735', '2595', '1780',
       '1703', '846', '1157', '2015', '1579', '1457', '1644', '1670',
       '2100', '1217', '1278', '2190', '1134', '1796', '888', '1315',
       '838', '2360', '1562', '2240', '1365', '904', '1663', '1910',
       '2415', '600', '1705', '1614', '1988', '1128', '1016', '1193',
       '1332', '1273', '1526', '2660', '1609', '1368', '1173', '1309',
       '1280', '1865', '1439', '1470', '1032', '745', '2322', '680',
       '827', '1354', '2152', '2261', '1895', '1798', '932', '2840',
       '1126', '1793', '1018', '1846', '1688', '1271', '1459', '1723',
       '1057', '764', '2454', '1779', '1435', '2510', '1586', '1666',
       '2090', '867', '1086', '1410', '2458', '913', '2210', '1401',
       '1495', '1572', '2417', '987', '1645', '2022', '1773', '1216',
       '1567', '1366', '958', '717', '2011', '959', '732', '1051', '1346',
       '1446', '650', '1665', '1348', '730', '1277', '1299', '923', '737',
       '819', '690', '1162', '992', '1426', '1353', '1112', '1423',
       '1325', '1461', '1234', '1398', '1264', '912', '1840', '815',
       '1213', '669', '1239', '697', '1004', '726', '1709', '1093',
       '2170', '1127', '812', '2220', '1330', '1078', '1046', '997',
       '1535', '2153', '1003', '1266', '2635', '1188', '1810', '834',
       '1146', '2110', '1056', '2565', '1249', '1244', '1212'],
      dtype=object)

In [276]:
df_specs_A_Dimensions['Kerb Weight'] = df_specs_A_Dimensions['Kerb Weight'].astype('float64',copy=True)

In [277]:
df_specs_A_Dimensions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58423 entries, 0 to 58422
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         58423 non-null  object
 1   vehicle           58423 non-null  object
 2   Ground Clearance  44174 non-null  float64
 3   Height            58423 non-null  float64
 4   Kerb Weight       36335 non-null  float64
 5   Length            58423 non-null  object
 6   Wheelbase         58421 non-null  object
 7   Width             58423 non-null  object
dtypes: float64(3), object(5)
memory usage: 3.6+ MB

##### `Length`

In [278]:


df_specs_A_Dimensions['Length'] = df_specs_A_Dimensions['Length'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Length'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Dimensions[df_specs_A_Dimensions['Length'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Length']==''].shape[0],'\n',
       "space - ",df_specs_A_Dimensions[df_specs_A_Dimensions['Length']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Length']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Length']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Dimensions[df_specs_A_Dimensions['Length']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Dimensions[df_specs_A_Dimensions['Length']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [279]:
df_specs_A_Dimensions['Length'].unique()

array(['3585', '5265', '3990', '4440', '3985', '4585', '4530', '3999',
       '3765', '3636', '4555', '4160', '3995', '3599', '3495', '4520',
       '4315', '5246', '3795', '4846', '4580', '4640', '4818', '5212',
       '3675', '3565', '3998', '4635', '3610', '4540', '3539', '3595',
       '4701', '4879', '4804', '3520', '4370', '4355', '4456', '4600',
       '5060', '3850', '3955', '4490', '5219', '4486', '3825', '3695',
       '4107', '4390', '4384', '4915', '4806', '3600', '4386', '4899',
       '4375', '4296', '3679', '4655', '4838', '4000', '4569', '4430',
       '4933', '4629', '4781', '4417', '3940', '4878', '4877', '5120',
       '3746', '4270', '4265', '4763', '4425', '4825', '5130', '4424',
       '4223', '5226', '4250', '3775', '5089', '4861', '4936', '3982',
       '3880', '4850', '4596', '4767', '4385', '3370', '3655', '3886',
       '4624', '4545', '4310', '4597', '4395', '4633', '3989', '3700',
       '4300', '4969', '3640', '3970', '4656', '4650', '4480', '3690',
       '3395', '4329', '4420', '4129', '4659', '4986', '3620', '4795',
       '4769', '4314', '3545', '4735', '4454', '3335', '5076', '5199',
       '5157', '4988', '3994', '3840', '4868', '4630', '3785', '4824',
       '3729', '4689', '4726', '4507', '5052', '4657', '4788', '4886',
       '4056', '3987', '4755', '4935', '4695', '4892', '4447', '3971',
       '4331', '4903', '4705', '4500', '4797', '4290', '4882', '4413',
       '4690', '3099', '3805', '4618', '5063', '3993', '3988', '4950',
       '4841', '3760', '3430', '3895', '3992', '4598', '4628', '4644',
       '4581', '3515', '4097', '5207', '4686', '3900', '3429', '3884',
       '4937', '4693', '4715', '5290', '3793', '5247', '4648', '4405',
       '4697', '4561', '3920', '4939', '4924', '3445', '4658', '4110',
       '4900', '4961', '4985', '3715', '3723', '4560', '4972', '4620',
       '4720', '4670', '4345', '4819', '4807', '4541', '3991', '4549',
       '4963', '4170', '4292', '4661', '4010', '4505', '4731', '5370',
       '3845', '4762', '4360', '4559', '4410', '3780', '4627', '4891',
       '4998', '4475', '4828', '4637', '4554', '4570', '4379', '4436',
       '4277', '5091', '4916', '4145', '3731', '4365', '4953', '4855',
       '5453', '5067', '4525', '3500', '4794', '4445', '5216', '3981',
       '5252', '4833', '3801', '4455', '5005', '4854', '5151', '4688',
       '4830', '4225', '4649', '5115', '4380', '4765', '5020', '4221',
       '4359', '3164', '4752', '4142', '4453', '5462', '4439', '4634',
       '4747', '5152', '4699', '4398', '4282', '4703', '4494', '4975',
       '5099', '4999', '5299', '4662', '4291', '4324', '4817', '4531',
       '4760', '4780', '4751', '4548', '4922', '5267', '4323', '4595',
       '4761', '4976', '4249', '3821', '4820', '4371', '5262', '4784',
       '5572', '3446', '5399', '5223', '5260', '5255', '4583', '4299',
       '5000', '4177', '4239', '3535', '3954', '4682', '5140', '3827',
       '5118', '4958', '4247', '4421', '4325', '5295', '4660', '4810',
       '5080', '4495', '4663', '3530', '5049', '4702', '4894', '4461',
       '5175', '4528', '4258', '4971', '4727', '4434', '4970', '4278',
       '4423', '4708', '4918', '4738', '5018', '4498', '5325', '3802',
       '4426', '4150', '4095', '4931', '3946', '4234', '4393', '4305',
       '5064', '4459', '5011', '4318', '4568', '5019', '4749', '4696',
       '4914', '4465', '3590', '4966', '4509', '4297', '4869', '5075',
       '4709', '4684', '4713', '4890', '3280', '4336', '4756', '4470',
       '5569', '4592', '4673', '4526', '5235', '3788', '4840', '4815',
       '4082', '3976', '5289', '5053', '4435', '4733', '5007', '4491',
       '3810', '5287', '4116', '4575', '4382', '4940', '4134', '4400',
       '4482', '4909', '4910', '4198', '4522', '5027', '4800', '5003',
       '4681', '4845', '4671', '4698', '3815', '4018', '4535', '4885',
       '5086', '4140', '4200', '4369', '4158', '3950', '5200', '4871',
       '3941', '3435', '4572', '4377', '4574', '4860', '3769', '5192',
       '4090', '4518', '4718', '4573', '4803', '5320', '4857', '4222',
       '4852', '4730', '4180', '4285', '5100', '4320', '5770', '4612',
       '4513', '4610', '5181', '3660', '4342', '4955'], dtype=object)

In [280]:
df_specs_A_Dimensions['Length'] = df_specs_A_Dimensions['Length'].astype('float64',copy=True)

In [281]:
df_specs_A_Dimensions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58423 entries, 0 to 58422
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         58423 non-null  object
 1   vehicle           58423 non-null  object
 2   Ground Clearance  44174 non-null  float64
 3   Height            58423 non-null  float64
 4   Kerb Weight       36335 non-null  float64
 5   Length            58423 non-null  float64
 6   Wheelbase         58421 non-null  object
 7   Width             58423 non-null  object
dtypes: float64(4), object(4)
memory usage: 3.6+ MB

##### `Wheelbase`

In [282]:


df_specs_A_Dimensions['Wheelbase'] = df_specs_A_Dimensions['Wheelbase'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Wheelbase'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Dimensions[df_specs_A_Dimensions['Wheelbase'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Wheelbase']==''].shape[0],'\n',
       "space - ",df_specs_A_Dimensions[df_specs_A_Dimensions['Wheelbase']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Wheelbase']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Wheelbase']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Dimensions[df_specs_A_Dimensions['Wheelbase']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Dimensions[df_specs_A_Dimensions['Wheelbase']== '0'].shape[0],'\n'
     )

null -  2
 nan -  2
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [283]:
df_specs_A_Dimensions['Wheelbase'].unique()

array(['2380', '3122', '2405', '2600', '2570', '2700', '2520', '2425',
       '2400', '2750', '2390', '2430', '2360', '2760', '2673', '3165',
       '2489', '2895', '2670', '2854', '3210', '2385', '2519', '2776',
       '2680', '2808', '2874', '2450', '2915', '2610', '2345', '2646',
       '2350', '2660', '2741', '2860', '2530', '2650', '2677', '2553',
       '2552', '2912', '2746', '2968', '2740', '2422', '2761', '2550',
       '2470', '2525', '2465', '2578', '2807', '2699', '2923', '2845',
       '2933', '2500', '3075', '2590', '2850', '2775', '2501', '2440',
       '2460', '3002', '2841', '2637', '2975', '2580', '2567', '2480',
       '2555', '2491', '2786', '2603', '1840', '2435', '2960', '2810',
       '2685', '2636', '2914', '2375', '2456', '2873', '2502', '2688',
       '2995', '2745', '2782', '2585', '2175', '3035', '3120', '3215',
       '2922', '2498', '2920', '2702', '2467', '2679', '2820', '2512',
       '2994', '2864', '2510', '2835', '3000', '2800', '2469', '2725',
       '3008', '2230', '2703', '3079', '2888', '2633', '2715', '2595',
       '2620', '3135', '2840', '2348', '2790', '3065', '3157', '2651',
       '2924', '2780', '2909', '2950', '2791', '2880', '2961', '2865',
       '2857', '2490', '2941', '2794', '3430', '2729', '2774', '3070',
       '2575', '2475', '2630', '2843', '2486', '2495', '2560', '2984',
       '3365', '2967', '2935', '2752', '2540', '2462', '2652', '3004',
       '3105', '2751', '3060', '3197', '2825', '2989', '2819', '2662',
       '2806', '2829', '3150', '2730', '2870', '2711', '3194', '2690',
       '2890', '2872', '2795', '2681', '3171', '2720', '3266', '2300',
       '2885', '3295', '2939', '2947', '2505', '2496', '2335', '2990',
       '2445', '3040', '2464', '3095', '2855', '2693', '3001', '2998',
       '2524', '2158', '3022', nan, '3085', '2365', '2999', '2587',
       '2916', '2593', '2964', '2258', '2982', '2692', '2787', '2499',
       '2851', '2709', '2455', '1958', '2640', '3465', '2705', '3125',
       '2997', '2468', '3216', '2457', '2824', '2648', '2638', '3200',
       '2622', '2755', '2945', '2812', '2373', '2100', '3025', '2541',
       '3074', '2900', '2811', '2803', '3128', '2443', '2904', '3050',
       '3552', '2511'], dtype=object)

In [284]:
df_specs_A_Dimensions['Wheelbase'] = df_specs_A_Dimensions['Wheelbase'].astype('float64',copy=True)

In [285]:
df_specs_A_Dimensions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58423 entries, 0 to 58422
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         58423 non-null  object
 1   vehicle           58423 non-null  object
 2   Ground Clearance  44174 non-null  float64
 3   Height            58423 non-null  float64
 4   Kerb Weight       36335 non-null  float64
 5   Length            58423 non-null  float64
 6   Wheelbase         58421 non-null  float64
 7   Width             58423 non-null  object
dtypes: float64(5), object(3)
memory usage: 3.6+ MB

##### `Width`

In [286]:


df_specs_A_Dimensions['Width'] = df_specs_A_Dimensions['Width'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Width'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Dimensions[df_specs_A_Dimensions['Width'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Width']==''].shape[0],'\n',
       "space - ",df_specs_A_Dimensions[df_specs_A_Dimensions['Width']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Width']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Dimensions[df_specs_A_Dimensions['Width']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Dimensions[df_specs_A_Dimensions['Width']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Dimensions[df_specs_A_Dimensions['Width']== '0'].shape[0],'\n'
     )

null -  0
 nan -  0
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [287]:
df_specs_A_Dimensions['Width'].unique()

array(['1595', '1949', '1680', '1695', '1734', '1890', '1775', '1765',
       '1660', '1475', '1770', '1690', '1495', '1850', '1822', '1899',
       '2155', '1760', '1800', '2134', '1715', '1525', '1865', '1645',
       '1795', '1826', '1854', '1735', '1745', '2141', '1490', '1866',
       '1783', '2120', '1820', '2069', '1700', '1788', '1694', '1730',
       '1902', '1729', '1839', '1665', '1600', '1699', '1874', '1943',
       '2094', '1579', '1835', '1817', '1706', '1710', '1642', '1769',
       '1898', '1911', '1804', '2073', '1983', '1790', '1934', '1647',
       '1780', '1855', '1825', '1755', '1793', '1965', '1670', '1864',
       '1796', '1868', '1727', '1520', '1832', '1831', '1410', '1620',
       '1550', '2031', '1750', '1682', '1818', '1811', '2139', '1918',
       '1813', '1721', '1814', '1995', '1859', '1809', '1830', '2044',
       '1440', '1871', '2220', '2183', '1777', '1635', '1828', '1863',
       '1913', '1842', '1731', '1968', '1881', '1903', '1938', '1687',
       '1900', '1815', '1840', '1860', '1821', '1705', '1698', '1869',
       '2195', '2032', '1894', '1880', '1970', '1846', '1798', '1785',
       '1677', '2097', '1778', '1500', '1789', '2157', '1810', '1799',
       '1560', '1875', '2118', '2110', '1923', '1752', '1886', '1515',
       '2004', '1877', '1926', '1882', '2034', '1827', '1960', '1748',
       '1967', '1704', '1879', '1540', '1726', '1928', '1884', '1992',
       '2020', '2003', '2132', '1781', '1801', '1740', '1655', '1632',
       '1891', '2008', '1939', '1725', '2091', '2014', '2028', '1733',
       '1683', '1981', '2071', '1933', '2000', '1739', '1985', '2209',
       '2025', '1845', '2140', '2010', '1847', '1758', '1703', '1834',
       '1969', '1686', '1920', '1984', '1917', '1722', '1931', '1885',
       '1895', '2040', '2173', '2112', '1996', '1948', '2080', '1627',
       '1915', '2105', '1737', '1742', '2041', '1805', '1662', '1980',
       '1893', '1937', '1640', '1936', '1728', '1945', '2095', '1930',
       '2114', '1808', '2745', '1751', '1940', '1575', '1819', '1924',
       '1910', '1952', '2096', '1979', '1772', '1514', '1849', '1870',
       '1887', '1636', '2176', '1861', '1954', '1852', '1843', '1812',
       '1947', '1841', '2075', '2006', '1989', '1829', '1942', '1767',
       '2170', '2119', '2077', '1720', '1634', '1485', '1625', '1565',
       '1574', '2124', '1608', '1990', '1764', '2018', '1782'],
      dtype=object)

In [288]:
df_specs_A_Dimensions['Width'] = df_specs_A_Dimensions['Width'].astype('float64',copy=True)

In [289]:
df_specs_A_Dimensions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58423 entries, 0 to 58422
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profileId         58423 non-null  object
 1   vehicle           58423 non-null  object
 2   Ground Clearance  44174 non-null  float64
 3   Height            58423 non-null  float64
 4   Kerb Weight       36335 non-null  float64
 5   Length            58423 non-null  float64
 6   Wheelbase         58421 non-null  float64
 7   Width             58423 non-null  float64
dtypes: float64(6), object(2)
memory usage: 3.6+ MB

##### FINAL DIMENSIONS DATASET

In [290]:
df_specs_A_Dimensions_1 = df_specs_A_Dimensions.copy()

In [291]:
df_specs_A_Dimensions.columns

Index(['profileId', 'vehicle', 'Ground Clearance', 'Height', 'Kerb Weight',
       'Length', 'Wheelbase', 'Width'],
      dtype='object', name='')

In [292]:
rename_col = {}
for i in df_specs_A_Dimensions.columns:
    rename_col.update({i:i + '_(mm)'})

In [293]:
rename_col

{'profileId': 'profileId_(mm)',
 'vehicle': 'vehicle_(mm)',
 'Ground Clearance': 'Ground Clearance_(mm)',
 'Height': 'Height_(mm)',
 'Kerb Weight': 'Kerb Weight_(mm)',
 'Length': 'Length_(mm)',
 'Wheelbase': 'Wheelbase_(mm)',
 'Width': 'Width_(mm)'}

In [294]:
df_specs_A_Dimensions.rename(columns = {'profileId': 'profileId',
                             'vehicle': 'vehicle',
                             'Ground Clearance': 'Ground_Clearance_(mm)',
                             'Height': 'Height_(mm)',
                             'Kerb Weight': 'Kerb_Weight_(mm)',
                             'Length': 'Length_(mm)',
                             'Wheelbase': 'Wheelbase_(mm)',
                             'Width': 'Width_(mm)'},inplace=True)

In [295]:
df_specs_A_Dimensions.head(2)

,profileId,vehicle,Ground_Clearance_(mm),Height_(mm),Kerb_Weight_(mm),Length_(mm),Wheelbase_(mm),Width_(mm)
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,165.0,1550.0,NaN,3585.0,2380.0,1595.0
1,D1982769,Audi A8 L 50 TDI,NaN,1471.0,2010.0,5265.0,3122.0,1949.0

In [296]:
df_specs_A_Dimensions.to_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\02.Pre-Processing\Pre-processed Data Stage-II\specs_Dimensions_A.csv',index=False)

#### `Capacity`

In [297]:
#looking at the data
df_specs_A[df_specs_A['spec_category'] == 'Capacity'].head()

,specName,specValue,specUnit,spec_category,profileId,vehicle
20,Doors,5,Doors,Capacity,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
21,Seating Capacity,5,Person,Capacity,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
22,No of Seating Rows,2,Rows,Capacity,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
23,Bootspace,630,litres,Capacity,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
24,Fuel Tank Capacity,93,litres,Capacity,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB

In [298]:
df_specs_A_Capacity = df_specs_A[df_specs_A['spec_category'] == 'Capacity'].copy()

In [299]:
df_specs_A_Capacity.head(2)

,specName,specValue,specUnit,spec_category,profileId,vehicle
20,Doors,5,Doors,Capacity,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB
21,Seating Capacity,5,Person,Capacity,S2725575,Mercedes-Benz GLE 300d 4MATIC LWB

##### PIVOTING TABLE

In [300]:
df_specs_A_Capacity_1 = df_specs_A_Capacity.copy()

In [301]:
df_specs_A_Capacity = df_specs_A_Capacity.pivot(index =['profileId','vehicle'], columns = 'specName', values ='specValue')

In [302]:
df_specs_A_Capacity.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 58423 entries, ('D1820959', 'Hyundai i10 Sportz 1.2 AT Kappa2') to ('S2819375', 'Hyundai Eon Era +')
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Bootspace           42381 non-null  object
 1   Doors               58415 non-null  object
 2   Fuel Tank Capacity  57408 non-null  object
 3   No of Seating Rows  52199 non-null  object
 4   Seating Capacity    58422 non-null  object
dtypes: object(5)
memory usage: 5.2+ MB

In [303]:
df_specs_A_Capacity.head(2)

,specName,Bootspace,Doors,Fuel Tank Capacity,No of Seating Rows,Seating Capacity
profileId,vehicle,,,,,
D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,NaN,5,35,2,5
D1982769,Audi A8 L 50 TDI,510,4,82,2,4

In [304]:
# resetting index
df_specs_A_Capacity.reset_index(inplace = True)

In [305]:
df_specs_A_Capacity.index

RangeIndex(start=0, stop=58423, step=1)

In [306]:
# renaming the axis name after resetting
df_specs_A_Capacity.rename_axis('',axis = 1,inplace=True)

In [307]:
df_specs_A_Capacity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58423 entries, 0 to 58422
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   profileId           58423 non-null  object
 1   vehicle             58423 non-null  object
 2   Bootspace           42381 non-null  object
 3   Doors               58415 non-null  object
 4   Fuel Tank Capacity  57408 non-null  object
 5   No of Seating Rows  52199 non-null  object
 6   Seating Capacity    58422 non-null  object
dtypes: object(7)
memory usage: 3.1+ MB

In [308]:
# unique count of values of each column
df_specs_A_Capacity.nunique()

profileId             58423
vehicle                5112
Bootspace               208
Doors                     4
Fuel Tank Capacity       80
No of Seating Rows        4
Seating Capacity         10
dtype: int64

In [309]:
df_specs_A_Capacity[df_specs_A_Capacity.notnull()]

,profileId,vehicle,Bootspace,Doors,Fuel Tank Capacity,No of Seating Rows,Seating Capacity
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,NaN,5,35,2,5
1,D1982769,Audi A8 L 50 TDI,510,4,82,2,4
2,D2136401,Honda Amaze 1.5 EX i-DTEC,400,4,35,2,5
3,D2184679,Honda City S,510,4,40,2,5
4,D2184744,Hyundai Elite i20 Asta 1.4 (O) CRDi,285,5,40,2,5
...,...,...,...,...,...,...,...
58418,S2819197,Hyundai Xcent S 1.2 [2014-2016],407,4,43,2,5
58419,S2819213,Mahindra Bolero Neo Limited Edition [2023],384,5,50,3,7
58420,S2819265,Hyundai Eon D-Lite +,215,5,32,2,5
58421,S2819349,Honda City VX CVT,510,4,40,2,5
58422,S2819375,Hyundai Eon Era +,215,5,32,2,5

##### `Bootspace`

In [310]:

df_specs_A_Capacity['Bootspace'] = df_specs_A_Capacity['Bootspace'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Capacity[df_specs_A_Capacity['Bootspace'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Capacity[df_specs_A_Capacity['Bootspace'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Capacity[df_specs_A_Capacity['Bootspace']==''].shape[0],'\n',
       "space - ",df_specs_A_Capacity[df_specs_A_Capacity['Bootspace']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Capacity[df_specs_A_Capacity['Bootspace']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Capacity[df_specs_A_Capacity['Bootspace']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Capacity[df_specs_A_Capacity['Bootspace']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Capacity[df_specs_A_Capacity['Bootspace']== '0'].shape[0],'\n'
     )

null -  16042
 nan -  16042
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* there are huge no. of null values
* converting the values to int or float

In [311]:
df_specs_A_Capacity['Bootspace'].unique()

array([nan, '510', '400', '285', '420', '346', '256', '180', '320', '475',
       '407', '530', '284', '670', '243', '218', '352', '380', '235',
       '384', '480', '540', '378', '339', '690', '433', '190', '324',
       '556', '465', '205', '354', '615', '251', '494', '454', '358',
       '212', '460', '135', '300', '565', '506', '390', '295', '315',
       '421', '570', '175', '328', '680', '242', '595', '490', '345',
       '416', '560', '515', '625', '425', '311', '278', '363', '240',
       '359', '586', '341', '257', '215', '470', '236', '330', '438',
       '260', '353', '170', '280', '550', '981', '220', '392', '590',
       '605', '350', '448', '177', '633', '268', '265', '520', '432',
       '505', '673', '897', '296', '225', '209', '419', '493', '430',
       '222', '355', '347', '521', '630', '580', '623', '343', '270',
       '458', '373', '234', '483', '405', '455', '500', '447', '461',
       '435', '650', '1025', '476', '402', '513', '610', '313', '211',
       '279', '655', '370', '508', '326', '84', '385', '318', '312',
       '155', '587', '486', '94', '1400', '223', '336', '755', '360',
       '412', '80', '395', '488', '442', '194', '216', '472', '450',
       '383', '185', '884', '707', '366', '709', '969', '258', '208',
       '525', '214', '210', '445', '645', '857', '207', '248', '232',
       '290', '740', '297', '230', '1068', '110', '316', '340', '255',
       '453', '122', '522', '440', '1050', '495', '125', '308', '410',
       '335', '479', '600', '154', '281', '509', '391', '528', '93',
       '368', '592', '531', '128', '132', '332', '398', '174', '548',
       '382'], dtype=object)

In [312]:
df_specs_A_Capacity['Bootspace'] = df_specs_A_Capacity['Bootspace'].astype('float64')

In [313]:
df_specs_A_Capacity['Bootspace'].unique()

array([  nan,  510.,  400.,  285.,  420.,  346.,  256.,  180.,  320.,
        475.,  407.,  530.,  284.,  670.,  243.,  218.,  352.,  380.,
        235.,  384.,  480.,  540.,  378.,  339.,  690.,  433.,  190.,
        324.,  556.,  465.,  205.,  354.,  615.,  251.,  494.,  454.,
        358.,  212.,  460.,  135.,  300.,  565.,  506.,  390.,  295.,
        315.,  421.,  570.,  175.,  328.,  680.,  242.,  595.,  490.,
        345.,  416.,  560.,  515.,  625.,  425.,  311.,  278.,  363.,
        240.,  359.,  586.,  341.,  257.,  215.,  470.,  236.,  330.,
        438.,  260.,  353.,  170.,  280.,  550.,  981.,  220.,  392.,
        590.,  605.,  350.,  448.,  177.,  633.,  268.,  265.,  520.,
        432.,  505.,  673.,  897.,  296.,  225.,  209.,  419.,  493.,
        430.,  222.,  355.,  347.,  521.,  630.,  580.,  623.,  343.,
        270.,  458.,  373.,  234.,  483.,  405.,  455.,  500.,  447.,
        461.,  435.,  650., 1025.,  476.,  402.,  513.,  610.,  313.,
        211.,  279.,  655.,  370.,  508.,  326.,   84.,  385.,  318.,
        312.,  155.,  587.,  486.,   94., 1400.,  223.,  336.,  755.,
        360.,  412.,   80.,  395.,  488.,  442.,  194.,  216.,  472.,
        450.,  383.,  185.,  884.,  707.,  366.,  709.,  969.,  258.,
        208.,  525.,  214.,  210.,  445.,  645.,  857.,  207.,  248.,
        232.,  290.,  740.,  297.,  230., 1068.,  110.,  316.,  340.,
        255.,  453.,  122.,  522.,  440., 1050.,  495.,  125.,  308.,
        410.,  335.,  479.,  600.,  154.,  281.,  509.,  391.,  528.,
         93.,  368.,  592.,  531.,  128.,  132.,  332.,  398.,  174.,
        548.,  382.])

In [314]:
df_specs_A_Capacity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58423 entries, 0 to 58422
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   profileId           58423 non-null  object
 1   vehicle             58423 non-null  object
 2   Bootspace           42381 non-null  float64
 3   Doors               58415 non-null  object
 4   Fuel Tank Capacity  57408 non-null  object
 5   No of Seating Rows  52199 non-null  object
 6   Seating Capacity    58422 non-null  object
dtypes: float64(1), object(6)
memory usage: 3.1+ MB

##### `Doors`

In [315]:
df_specs_A_Capacity['Doors'] = df_specs_A_Capacity['Doors'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Capacity[df_specs_A_Capacity['Doors'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Capacity[df_specs_A_Capacity['Doors'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Capacity[df_specs_A_Capacity['Doors']==''].shape[0],'\n',
       "space - ",df_specs_A_Capacity[df_specs_A_Capacity['Doors']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Capacity[df_specs_A_Capacity['Doors']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Capacity[df_specs_A_Capacity['Doors']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Capacity[df_specs_A_Capacity['Doors']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Capacity[df_specs_A_Capacity['Doors']== '0'].shape[0],'\n'
     )

null -  8
 nan -  8
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* not much null values

In [316]:
df_specs_A_Capacity['Doors'].unique()

array(['5', '4', '2', '3', nan], dtype=object)

In [317]:
df_specs_A_Capacity['Doors'] = df_specs_A_Capacity['Doors'].astype('Int64')

In [318]:
df_specs_A_Capacity['Doors'].unique()

<IntegerArray>
[5, 4, 2, 3, <NA>]
Length: 5, dtype: Int64

In [319]:
df_specs_A_Capacity['Doors'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 58423 entries, 0 to 58422
Series name: Doors
Non-Null Count  Dtype
--------------  -----
58415 non-null  Int64
dtypes: Int64(1)
memory usage: 513.6 KB

##### `Fuel Tank Capacity`

In [320]:
df_specs_A_Capacity['Fuel Tank Capacity'] = df_specs_A_Capacity['Fuel Tank Capacity'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Capacity[df_specs_A_Capacity['Fuel Tank Capacity'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Capacity[df_specs_A_Capacity['Fuel Tank Capacity'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Capacity[df_specs_A_Capacity['Fuel Tank Capacity']==''].shape[0],'\n',
       "space - ",df_specs_A_Capacity[df_specs_A_Capacity['Fuel Tank Capacity']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Capacity[df_specs_A_Capacity['Fuel Tank Capacity']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Capacity[df_specs_A_Capacity['Fuel Tank Capacity']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Capacity[df_specs_A_Capacity['Fuel Tank Capacity']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Capacity[df_specs_A_Capacity['Fuel Tank Capacity']== '0'].shape[0],'\n'
     )

null -  1015
 nan -  1015
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* a few rows are null

In [321]:
df_specs_A_Capacity['Fuel Tank Capacity'].unique()

array(['35', '82', '40', '70', '56', '52', '43', '55', '42', '50', '80',
       '45', '85', '60', nan, '67.5', '28', '63', '37', '38', '57', '65',
       '71', '41', '90', '44', '75', '95', '77', '76', '48', '100', '96',
       '78', '66', '27', '64', '32', '36', '105', '54', '67', '58', '51',
       '92', '81', '15', '93', '61', '47', '87', '83', '73', '88', '104',
       '59', '62', '93.5', '68', '70.6', '30', '90.5', '24', '53', '52.5',
       '74', '26.2', '66.5', '60.9', '82.5', '72', '26', '138', '110',
       '86', '89', '88.5', '33', '62.4', '63.5', '71.5'], dtype=object)

In [322]:
df_specs_A_Capacity['Fuel Tank Capacity'] = df_specs_A_Capacity['Fuel Tank Capacity'].astype('Float64')

In [323]:
df_specs_A_Capacity['Fuel Tank Capacity'].unique()

<FloatingArray>
[ 35.0,  82.0,  40.0,  70.0,  56.0,  52.0,  43.0,  55.0,  42.0,  50.0,  80.0,
  45.0,  85.0,  60.0,  <NA>,  67.5,  28.0,  63.0,  37.0,  38.0,  57.0,  65.0,
  71.0,  41.0,  90.0,  44.0,  75.0,  95.0,  77.0,  76.0,  48.0, 100.0,  96.0,
  78.0,  66.0,  27.0,  64.0,  32.0,  36.0, 105.0,  54.0,  67.0,  58.0,  51.0,
  92.0,  81.0,  15.0,  93.0,  61.0,  47.0,  87.0,  83.0,  73.0,  88.0, 104.0,
  59.0,  62.0,  93.5,  68.0,  70.6,  30.0,  90.5,  24.0,  53.0,  52.5,  74.0,
  26.2,  66.5,  60.9,  82.5,  72.0,  26.0, 138.0, 110.0,  86.0,  89.0,  88.5,
  33.0,  62.4,  63.5,  71.5]
Length: 81, dtype: Float64

In [324]:
df_specs_A_Capacity['Fuel Tank Capacity'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 58423 entries, 0 to 58422
Series name: Fuel Tank Capacity
Non-Null Count  Dtype
--------------  -----
57408 non-null  Float64
dtypes: Float64(1)
memory usage: 513.6 KB

##### `No of Seating Rows`

In [325]:
df_specs_A_Capacity['No of Seating Rows'] = df_specs_A_Capacity['No of Seating Rows'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Capacity[df_specs_A_Capacity['No of Seating Rows'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Capacity[df_specs_A_Capacity['No of Seating Rows'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Capacity[df_specs_A_Capacity['No of Seating Rows']==''].shape[0],'\n',
       "space - ",df_specs_A_Capacity[df_specs_A_Capacity['No of Seating Rows']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Capacity[df_specs_A_Capacity['No of Seating Rows']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Capacity[df_specs_A_Capacity['No of Seating Rows']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Capacity[df_specs_A_Capacity['No of Seating Rows']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Capacity[df_specs_A_Capacity['No of Seating Rows']== '0'].shape[0],'\n'
     )

null -  6224
 nan -  6224
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

* a huge no. of null values are found

In [326]:
df_specs_A_Capacity['No of Seating Rows'].unique()

array(['2', '3', nan, '1', '4'], dtype=object)

In [327]:
df_specs_A_Capacity['No of Seating Rows'] = df_specs_A_Capacity['No of Seating Rows'].astype('Int64')

In [328]:
df_specs_A_Capacity['No of Seating Rows'].unique()

<IntegerArray>
[2, 3, <NA>, 1, 4]
Length: 5, dtype: Int64

In [329]:
df_specs_A_Capacity['No of Seating Rows'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 58423 entries, 0 to 58422
Series name: No of Seating Rows
Non-Null Count  Dtype
--------------  -----
52199 non-null  Int64
dtypes: Int64(1)
memory usage: 513.6 KB

##### `Seating Capacity`

In [330]:
df_specs_A_Capacity['Seating Capacity'] = df_specs_A_Capacity['Seating Capacity'].str.strip()

# checking inconsistencies and null values

print( "null - ", df_specs_A_Capacity[df_specs_A_Capacity['Seating Capacity'].isnull()].shape[0],'\n',
       "nan - ",df_specs_A_Capacity[df_specs_A_Capacity['Seating Capacity'].isna()].shape[0],'\n',
       "empty - ", df_specs_A_Capacity[df_specs_A_Capacity['Seating Capacity']==''].shape[0],'\n',
       "space - ",df_specs_A_Capacity[df_specs_A_Capacity['Seating Capacity']==' '].shape[0],'\n',
       "NA - ", df_specs_A_Capacity[df_specs_A_Capacity['Seating Capacity']=='Not Available'].shape[0],'\n',
       "None - ", df_specs_A_Capacity[df_specs_A_Capacity['Seating Capacity']== None].shape[0],'\n',
       "0 - ",  df_specs_A_Capacity[df_specs_A_Capacity['Seating Capacity']== 0].shape[0],'\n',
       "0(str) - ",  df_specs_A_Capacity[df_specs_A_Capacity['Seating Capacity']== '0'].shape[0],'\n'
     )

null -  1
 nan -  1
 empty -  0
 space -  0
 NA -  0
 None -  0
 0 -  0
 0(str) -  0

In [331]:
df_specs_A_Capacity['Seating Capacity'].unique()

array(['5', '4', '7', '8', '6', '7 & 9', '7 & 8', '2', '9', nan, '10'],
      dtype=object)

In [332]:
df_specs_A_Capacity['Seating Capacity'].replace(['7 & 9','7 & 8'],['7','7'],inplace = True)

In [333]:
df_specs_A_Capacity['Seating Capacity'].unique()

array(['5', '4', '7', '8', '6', '2', '9', nan, '10'], dtype=object)

In [334]:
df_specs_A_Capacity['Seating Capacity'] = df_specs_A_Capacity['Seating Capacity'].astype('Int64')

In [335]:
df_specs_A_Capacity['Seating Capacity'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 58423 entries, 0 to 58422
Series name: Seating Capacity
Non-Null Count  Dtype
--------------  -----
58422 non-null  Int64
dtypes: Int64(1)
memory usage: 513.6 KB

##### FINAL DATASET

In [336]:
df_specs_A_Capacity_2 = df_specs_A_Capacity.copy()

In [337]:
df_specs_A_Capacity.columns

Index(['profileId', 'vehicle', 'Bootspace', 'Doors', 'Fuel Tank Capacity',
       'No of Seating Rows', 'Seating Capacity'],
      dtype='object', name='')

In [338]:
df_specs_A_Capacity.rename(columns = {
                                         'Bootspace': 'Bootspace_(litres)',
                                         'Doors': 'Doors',
                                         'Fuel Tank Capacity': 'Fuel_Tank_Capacity_(litres)',
                                         'No of Seating Rows': 'Seating_Rows_(rows)',
                                         'Seating Capacity': 'Seating_Capacity_(persons)'
                                        },
                             inplace=True)

In [339]:
df_specs_A_Capacity.head(2)

,profileId,vehicle,Bootspace_(litres),Doors,Fuel_Tank_Capacity_(litres),Seating_Rows_(rows),Seating_Capacity_(persons)
0,D1820959,Hyundai i10 Sportz 1.2 AT Kappa2,NaN,5,35.0,2,5
1,D1982769,Audi A8 L 50 TDI,510.0,4,82.0,2,4

In [340]:
df_specs_A_Capacity.to_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\02.Pre-Processing\Pre-processed Data Stage-II\specs_Capacity_A.csv',index=False)

## <div style = "padding: 20px; border-radius: 40px; background-color: #9FE2BF"> Dataset B - (using POLARS)</div>

### `Overview` DATA

In [341]:
df_overview_B = pl.read_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\02.Pre-Processing\Pre-processed Data Stage-I\overview_B.csv')

In [342]:
df_overview_B.shape

(31517, 57)

In [343]:
df_overview_B.describe()

shape: (9, 58)
┌────────────┬─────────────┬───────────┬────────────────┬───┬───────────────┬────────────────┬─────────┬───────────────┐
│ describe   ┆ carId       ┆ profileId ┆ vehicle        ┆ … ┆ fuelEconomy   ┆ dealershipLogo ┆ isSold  ┆ formattedOrig │
│ ---        ┆ ---         ┆ ---       ┆ ---            ┆   ┆ ---           ┆ Url            ┆ ---     ┆ inalPrice     │
│ str        ┆ f64         ┆ str       ┆ str            ┆   ┆ str           ┆ ---            ┆ f64     ┆ ---           │
│            ┆             ┆           ┆                ┆   ┆               ┆ str            ┆         ┆ str           │
╞════════════╪═════════════╪═══════════╪════════════════╪═══╪═══════════════╪════════════════╪═════════╪═══════════════╡
│ count      ┆ 31517.0     ┆ 31517     ┆ 31517          ┆ … ┆ 31517         ┆ 31517          ┆ 31517.0 ┆ 31517         │
│ null_count ┆ 0.0         ┆ 0         ┆ 0              ┆ … ┆ 0             ┆ 30238          ┆ 0.0     ┆ 30994         │
│ mean       ┆ 3569.307517 ┆ null      ┆ null           ┆ … ┆ null          ┆ null           ┆ 0.0     ┆ null          │
│ std        ┆ 2385.056231 ┆ null      ┆ null           ┆ … ┆ null          ┆ null           ┆ 0.0     ┆ null          │
│ min        ┆ 0.0         ┆ D1982769  ┆ Aston Martin   ┆ … ┆ 10 kpl        ┆ https://imgd.a ┆ 0.0     ┆ Rs. 1.09      │
│            ┆             ┆           ┆ Rapide S V12   ┆   ┆               ┆ eplcdn.com/0x0 ┆         ┆ Crore         │
│            ┆             ┆           ┆                ┆   ┆               ┆ /cw/…          ┆         ┆               │
│ 25%        ┆ 1577.0      ┆ null      ┆ null           ┆ … ┆ null          ┆ null           ┆ null    ┆ null          │
│ 50%        ┆ 3208.0      ┆ null      ┆ null           ┆ … ┆ null          ┆ null           ┆ null    ┆ null          │
│ 75%        ┆ 5351.0      ┆ null      ┆ null           ┆ … ┆ null          ┆ null           ┆ null    ┆ null          │
│ max        ┆ 9450.0      ┆ S2805517  ┆ Volvo XC90     ┆ … ┆ Not Available ┆ https://imgd.a ┆ 0.0     ┆ Rs. 98.75     │
│            ┆             ┆           ┆ Momentum       ┆   ┆               ┆ eplcdn.com/0x0 ┆         ┆ Lakh          │
│            ┆             ┆           ┆ Luxury [2015…  ┆   ┆               ┆ /cw/…          ┆         ┆               │
└────────────┴─────────────┴───────────┴────────────────┴───┴───────────────┴────────────────┴─────────┴───────────────┘

In [344]:
df_overview_B.head(2)

shape: (2, 57)
┌───────┬───────────┬───────────────────┬───────────┬───┬───────────────┬──────────────────┬────────┬──────────────────┐
│ carId ┆ profileId ┆ vehicle           ┆ city      ┆ … ┆ fuelEconomy   ┆ dealershipLogoUr ┆ isSold ┆ formattedOrigina │
│ ---   ┆ ---       ┆ ---               ┆ ---       ┆   ┆ ---           ┆ l                ┆ ---    ┆ lPrice           │
│ i64   ┆ str       ┆ str               ┆ str       ┆   ┆ str           ┆ ---              ┆ bool   ┆ ---              │
│       ┆           ┆                   ┆           ┆   ┆               ┆ str              ┆        ┆ str              │
╞═══════╪═══════════╪═══════════════════╪═══════════╪═══╪═══════════════╪══════════════════╪════════╪══════════════════╡
│ 0     ┆ D4135089  ┆ Tata Harrier XZ   ┆ Bangalore ┆ … ┆ Not Available ┆ null             ┆ false  ┆ null             │
│       ┆           ┆ Dark Edition      ┆           ┆   ┆               ┆                  ┆        ┆                  │
│ 1     ┆ D4170587  ┆ BMW 3 Series GT   ┆ Bangalore ┆ … ┆ Not Available ┆ null             ┆ false  ┆ null             │
│       ┆           ┆ 320d Luxury Line… ┆           ┆   ┆               ┆                  ┆        ┆                  │
└───────┴───────────┴───────────────────┴───────────┴───┴───────────────┴──────────────────┴────────┴──────────────────┘

#### REMOVING DUPLICATES

In [345]:
# cloning the dataframe from the previous process for contingency
# can be restored from previous process

df_overview_B_1 = df_overview_B.clone()

* `profileId` is the unique id for each car record
* as below each unique id is repeated multiple times

In [346]:
df_overview_B['profileId'].unique().shape

(30274,)

In [347]:
df_overview_B.group_by('profileId').count().filter(pl.col('count')>1).sort(by = 'count', descending = True)

shape: (721, 2)
┌───────────┬───────┐
│ profileId ┆ count │
│ ---       ┆ ---   │
│ str       ┆ u32   │
╞═══════════╪═══════╡
│ S2679811  ┆ 13    │
│ S2714391  ┆ 11    │
│ S2787361  ┆ 11    │
│ D4091389  ┆ 10    │
│ …         ┆ …     │
│ D3998037  ┆ 2     │
│ S2705613  ┆ 2     │
│ D4152483  ┆ 2     │
│ D4096659  ┆ 2     │
└───────────┴───────┘

In [348]:
df_overview_B.filter(pl.col('profileId') == 'D4038483')

shape: (7, 57)
┌───────┬───────────┬───────────────────┬───────────┬───┬───────────────┬──────────────────┬────────┬──────────────────┐
│ carId ┆ profileId ┆ vehicle           ┆ city      ┆ … ┆ fuelEconomy   ┆ dealershipLogoUr ┆ isSold ┆ formattedOrigina │
│ ---   ┆ ---       ┆ ---               ┆ ---       ┆   ┆ ---           ┆ l                ┆ ---    ┆ lPrice           │
│ i64   ┆ str       ┆ str               ┆ str       ┆   ┆ str           ┆ ---              ┆ bool   ┆ ---              │
│       ┆           ┆                   ┆           ┆   ┆               ┆ str              ┆        ┆ str              │
╞═══════╪═══════════╪═══════════════════╪═══════════╪═══╪═══════════════╪══════════════════╪════════╪══════════════════╡
│ 6830  ┆ D4038483  ┆ Ford Endeavour    ┆ Bangalore ┆ … ┆ Not Available ┆ null             ┆ false  ┆ null             │
│       ┆           ┆ Titanium 3.2 4x4  ┆           ┆   ┆               ┆                  ┆        ┆                  │
│       ┆           ┆ …                 ┆           ┆   ┆               ┆                  ┆        ┆                  │
│ 6831  ┆ D4038483  ┆ Fiat Linea        ┆ Bangalore ┆ … ┆ Not Available ┆ null             ┆ false  ┆ null             │
│       ┆           ┆ Emotion Pk 1.3    ┆           ┆   ┆               ┆                  ┆        ┆                  │
│       ┆           ┆ MJD               ┆           ┆   ┆               ┆                  ┆        ┆                  │
│ 6832  ┆ D4038483  ┆ Maruti Suzuki     ┆ Bangalore ┆ … ┆ Not Available ┆ null             ┆ false  ┆ null             │
│       ┆           ┆ Swift ZDi         ┆           ┆   ┆               ┆                  ┆        ┆                  │
│ 6833  ┆ D4038483  ┆ Toyota Corolla H5 ┆ Bangalore ┆ … ┆ Not Available ┆ null             ┆ false  ┆ null             │
│       ┆           ┆ 1.8E              ┆           ┆   ┆               ┆                  ┆        ┆                  │
│ 6834  ┆ D4038483  ┆ Honda City 1.5 V  ┆ Bangalore ┆ … ┆ Not Available ┆ null             ┆ false  ┆ null             │
│       ┆           ┆ MT                ┆           ┆   ┆               ┆                  ┆        ┆                  │
│ 6835  ┆ D4038483  ┆ Toyota Corolla    ┆ Bangalore ┆ … ┆ Not Available ┆ null             ┆ false  ┆ null             │
│       ┆           ┆ Altis 1.8 G       ┆           ┆   ┆               ┆                  ┆        ┆                  │
│ 6836  ┆ D4038483  ┆ Kia Seltos GTX    ┆ Bangalore ┆ … ┆ Not Available ┆ null             ┆ false  ┆ null             │
│       ┆           ┆ Plus DCT 1.4      ┆           ┆   ┆               ┆                  ┆        ┆                  │
│       ┆           ┆ [202…             ┆           ┆   ┆               ┆                  ┆        ┆                  │
└───────┴───────────┴───────────────────┴───────────┴───┴───────────────┴──────────────────┴────────┴──────────────────┘

In [349]:
# removing duplicate records w.r.t profileId
df_overview_B = df_overview_B.unique(subset = ['profileId'],keep = 'first',maintain_order = True).clone()

In [350]:
df_overview_B.describe()

shape: (9, 58)
┌────────────┬─────────────┬───────────┬────────────────┬───┬───────────────┬────────────────┬─────────┬───────────────┐
│ describe   ┆ carId       ┆ profileId ┆ vehicle        ┆ … ┆ fuelEconomy   ┆ dealershipLogo ┆ isSold  ┆ formattedOrig │
│ ---        ┆ ---         ┆ ---       ┆ ---            ┆   ┆ ---           ┆ Url            ┆ ---     ┆ inalPrice     │
│ str        ┆ f64         ┆ str       ┆ str            ┆   ┆ str           ┆ ---            ┆ f64     ┆ ---           │
│            ┆             ┆           ┆                ┆   ┆               ┆ str            ┆         ┆ str           │
╞════════════╪═════════════╪═══════════╪════════════════╪═══╪═══════════════╪════════════════╪═════════╪═══════════════╡
│ count      ┆ 30274.0     ┆ 30274     ┆ 30274          ┆ … ┆ 30274         ┆ 30274          ┆ 30274.0 ┆ 30274         │
│ null_count ┆ 0.0         ┆ 0         ┆ 0              ┆ … ┆ 0             ┆ 29036          ┆ 0.0     ┆ 29781         │
│ mean       ┆ 3550.432054 ┆ null      ┆ null           ┆ … ┆ null          ┆ null           ┆ 0.0     ┆ null          │
│ std        ┆ 2389.923857 ┆ null      ┆ null           ┆ … ┆ null          ┆ null           ┆ 0.0     ┆ null          │
│ min        ┆ 0.0         ┆ D1982769  ┆ Aston Martin   ┆ … ┆ 10 kpl        ┆ https://imgd.a ┆ 0.0     ┆ Rs. 1.09      │
│            ┆             ┆           ┆ Rapide S V12   ┆   ┆               ┆ eplcdn.com/0x0 ┆         ┆ Crore         │
│            ┆             ┆           ┆                ┆   ┆               ┆ /cw/…          ┆         ┆               │
│ 25%        ┆ 1530.0      ┆ null      ┆ null           ┆ … ┆ null          ┆ null           ┆ null    ┆ null          │
│ 50%        ┆ 3187.0      ┆ null      ┆ null           ┆ … ┆ null          ┆ null           ┆ null    ┆ null          │
│ 75%        ┆ 5344.0      ┆ null      ┆ null           ┆ … ┆ null          ┆ null           ┆ null    ┆ null          │
│ max        ┆ 9450.0      ┆ S2805517  ┆ Volvo XC90     ┆ … ┆ Not Available ┆ https://imgd.a ┆ 0.0     ┆ Rs. 98.75     │
│            ┆             ┆           ┆ Momentum       ┆   ┆               ┆ eplcdn.com/0x0 ┆         ┆ Lakh          │
│            ┆             ┆           ┆ Luxury [2015…  ┆   ┆               ┆ /cw/…          ┆         ┆               │
└────────────┴─────────────┴───────────┴────────────────┴───┴───────────────┴────────────────┴─────────┴───────────────┘

#### COLUMN-WISE UNDERSTANDING OF DATA AND CLEANING

In [351]:
# taking a clone after removing duplicates
df_overview_B_2 = df_overview_B.clone()

In [352]:
# checking the kind of data in each column
df_overview_B.head()[:,0:20]

shape: (5, 20)
┌───────┬───────────┬──────────────────┬───────────┬───┬─────────────┬──────────────────┬─────────────────┬────────────┐
│ carId ┆ profileId ┆ vehicle          ┆ city      ┆ … ┆ modelName   ┆ versionName      ┆ mainImageUrl    ┆ photoCount │
│ ---   ┆ ---       ┆ ---              ┆ ---       ┆   ┆ ---         ┆ ---              ┆ ---             ┆ ---        │
│ i64   ┆ str       ┆ str              ┆ str       ┆   ┆ str         ┆ str              ┆ str             ┆ i64        │
╞═══════╪═══════════╪══════════════════╪═══════════╪═══╪═════════════╪══════════════════╪═════════════════╪════════════╡
│ 0     ┆ D4135089  ┆ Tata Harrier XZ  ┆ Bangalore ┆ … ┆ Harrier     ┆ XZ Dark Edition  ┆ https://imgd-ct ┆ 22         │
│       ┆           ┆ Dark Edition     ┆           ┆   ┆ [2019-2023] ┆                  ┆ .aeplcdn.com/64 ┆            │
│       ┆           ┆                  ┆           ┆   ┆             ┆                  ┆ 0X…             ┆            │
│ 1     ┆ D4170587  ┆ BMW 3 Series GT  ┆ Bangalore ┆ … ┆ 3 Series GT ┆ 320d Luxury Line ┆ https://imgd.ae ┆ 22         │
│       ┆           ┆ 320d Luxury      ┆           ┆   ┆ [2014-2016] ┆ [2014-2016]      ┆ plcdn.com/640X4 ┆            │
│       ┆           ┆ Line…            ┆           ┆   ┆             ┆                  ┆ 80…             ┆            │
│ 2     ┆ D4170559  ┆ Jeep Compass     ┆ Bangalore ┆ … ┆ Compass     ┆ Limited 2.0      ┆ https://imgd-ct ┆ 20         │
│       ┆           ┆ Limited 2.0      ┆           ┆   ┆ [2017-2021] ┆ Diesel           ┆ .aeplcdn.com/64 ┆            │
│       ┆           ┆ Diesel …         ┆           ┆   ┆             ┆ [2017-2020]      ┆ 0X…             ┆            │
│ 3     ┆ D4112409  ┆ Mercedes-Benz    ┆ Bangalore ┆ … ┆ C-Class     ┆ C 220d           ┆ https://imgd.ae ┆ 22         │
│       ┆           ┆ C-Class C 220d   ┆           ┆   ┆             ┆                  ┆ plcdn.com/640X4 ┆            │
│       ┆           ┆                  ┆           ┆   ┆             ┆                  ┆ 80…             ┆            │
│ 4     ┆ D4087571  ┆ Jeep Compass     ┆ Bangalore ┆ … ┆ Compass     ┆ Limited Plus     ┆ https://imgd.ae ┆ 22         │
│       ┆           ┆ Limited Plus     ┆           ┆   ┆ [2017-2021] ┆ Petrol AT        ┆ plcdn.com/640X4 ┆            │
│       ┆           ┆ Petrol…          ┆           ┆   ┆             ┆ [2018-202…       ┆ 80…             ┆            │
└───────┴───────────┴──────────────────┴───────────┴───┴─────────────┴──────────────────┴─────────────────┴────────────┘

In [353]:
# checking the kind of data in each column
df_overview_B.head()[:,20:40]

shape: (5, 20)
┌──────────┬───────────┬─────────────────┬───────────┬───┬────────────────────┬───────────┬─────────┬──────────────┐
│ makeYear ┆ makeMonth ┆ cityMaskingName ┆ cityName  ┆ … ┆ registrationNumber ┆ tcStockId ┆ regType ┆ priceNumeric │
│ ---      ┆ ---       ┆ ---             ┆ ---       ┆   ┆ ---                ┆ ---       ┆ ---     ┆ ---          │
│ i64      ┆ str       ┆ str             ┆ str       ┆   ┆ str                ┆ i64       ┆ str     ┆ i64          │
╞══════════╪═══════════╪═════════════════╪═══════════╪═══╪════════════════════╪═══════════╪═════════╪══════════════╡
│ 2021     ┆ Jun       ┆ bangalore       ┆ Bangalore ┆ … ┆ KA51MQ9123         ┆ 3123154   ┆ null    ┆ 1895000      │
│ 2017     ┆ Jun       ┆ bangalore       ┆ Bangalore ┆ … ┆ KA51MK9891         ┆ 3142670   ┆ null    ┆ 3495000      │
│ 2017     ┆ Jun       ┆ bangalore       ┆ Bangalore ┆ … ┆ KA03NB0575         ┆ 3142656   ┆ null    ┆ 1445000      │
│ 2022     ┆ May       ┆ bangalore       ┆ Bangalore ┆ … ┆ KA28MB4777         ┆ 3110602   ┆ null    ┆ 5676000      │
│ 2019     ┆ Jun       ┆ bangalore       ┆ Bangalore ┆ … ┆ KA01MT7980         ┆ 3096618   ┆ null    ┆ 1745000      │
└──────────┴───────────┴─────────────────┴───────────┴───┴────────────────────┴───────────┴─────────┴──────────────┘

In [354]:
# checking the kind of data in each column
df_overview_B.head()[:,40:60]

shape: (5, 17)
┌─────────────┬───────────────┬───────────────┬──────────────┬───┬──────────────┬──────────────┬────────┬──────────────┐
│ isCertified ┆ oemVehicleUrl ┆ videoUrl      ┆ modelMasking ┆ … ┆ fuelEconomy  ┆ dealershipLo ┆ isSold ┆ formattedOri │
│ ---         ┆ ---           ┆ ---           ┆ Name         ┆   ┆ ---          ┆ goUrl        ┆ ---    ┆ ginalPrice   │
│ bool        ┆ str           ┆ str           ┆ ---          ┆   ┆ str          ┆ ---          ┆ bool   ┆ ---          │
│             ┆               ┆               ┆ str          ┆   ┆              ┆ str          ┆        ┆ str          │
╞═════════════╪═══════════════╪═══════════════╪══════════════╪═══╪══════════════╪══════════════╪════════╪══════════════╡
│ false       ┆ null          ┆ https://www.y ┆ harrier-2019 ┆ … ┆ Not          ┆ null         ┆ false  ┆ null         │
│             ┆               ┆ outube.com/wa ┆ -2023        ┆   ┆ Available    ┆              ┆        ┆              │
│             ┆               ┆ tch?v=…       ┆              ┆   ┆              ┆              ┆        ┆              │
│ false       ┆ null          ┆ https://www.y ┆ 3-series-gt- ┆ … ┆ Not          ┆ null         ┆ false  ┆ null         │
│             ┆               ┆ outube.com/wa ┆ 2014-2016    ┆   ┆ Available    ┆              ┆        ┆              │
│             ┆               ┆ tch?v=…       ┆              ┆   ┆              ┆              ┆        ┆              │
│ false       ┆ null          ┆ https://www.y ┆ compass-2017 ┆ … ┆ Not          ┆ null         ┆ false  ┆ null         │
│             ┆               ┆ outube.com/wa ┆ -2021        ┆   ┆ Available    ┆              ┆        ┆              │
│             ┆               ┆ tch?v=…       ┆              ┆   ┆              ┆              ┆        ┆              │
│ false       ┆ null          ┆ null          ┆ c-class      ┆ … ┆ Not          ┆ null         ┆ false  ┆ null         │
│             ┆               ┆               ┆              ┆   ┆ Available    ┆              ┆        ┆              │
│ false       ┆ null          ┆ null          ┆ compass-2017 ┆ … ┆ Not          ┆ https://imgd ┆ false  ┆ null         │
│             ┆               ┆               ┆ -2021        ┆   ┆ Available    ┆ .aeplcdn.com ┆        ┆              │
│             ┆               ┆               ┆              ┆   ┆              ┆ /0x0/cw/…    ┆        ┆              │
└─────────────┴───────────────┴───────────────┴──────────────┴───┴──────────────┴──────────────┴────────┴──────────────┘

* after preliminary assessment the below columns seem to be useless for the analysis
* **"color","sellerId","insuranceExpiry","interiorColor","lifeTimeTax","insuranceLink","mainImageUrl","photoCount","cityId","lastUpdatedDate","totalPhotosUploaded","similarCarsUrl","stockRecommendationUrl","cwBasePackageId","ctePackageId","modelId","versionId","tcStockId","isCertified","oemVehicleUrl","videoUrl","modelMaskingName","bodyStyleId","isSellCarOfferAvailable","allowBooking","virtualPhoneNumber","emiPrice","isHomeTestDrive","homeTestDriveSlug","formattedRegistrationDate","fuelEconomy","dealershipLogoUrl","isSold","formattedOriginalPrice"**

In [355]:
df_overview_B = df_overview_B.drop(["carId","color","sellerId","insuranceExpiry","interiorColor","lifeTimeTax",
                                    "insuranceLink","mainImageUrl","photoCount","cityId","lastUpdatedDate",
                                    "totalPhotosUploaded","similarCarsUrl","stockRecommendationUrl",
                                    "cwBasePackageId","ctePackageId","modelId","versionId","tcStockId",
                                    "isCertified","oemVehicleUrl","videoUrl","modelMaskingName","bodyStyleId",
                                    "isSellCarOfferAvailable","allowBooking","virtualPhoneNumber","emiPrice",
                                    "isHomeTestDrive","homeTestDriveSlug","formattedRegistrationDate","fuelEconomy",
                                    "dealershipLogoUrl","isSold","formattedOriginalPrice"]
                                  )

In [356]:
df_overview_B.head(2)

shape: (2, 22)
┌───────────┬────────────────────┬───────────┬────────────┬───┬────────────────────┬─────────┬──────────────┬──────────┐
│ profileId ┆ vehicle            ┆ city      ┆ price      ┆ … ┆ registrationNumber ┆ regType ┆ priceNumeric ┆ rootName │
│ ---       ┆ ---                ┆ ---       ┆ ---        ┆   ┆ ---                ┆ ---     ┆ ---          ┆ ---      │
│ str       ┆ str                ┆ str       ┆ str        ┆   ┆ str                ┆ str     ┆ i64          ┆ str      │
╞═══════════╪════════════════════╪═══════════╪════════════╪═══╪════════════════════╪═════════╪══════════════╪══════════╡
│ D4135089  ┆ Tata Harrier XZ    ┆ Bangalore ┆ 18.95 Lakh ┆ … ┆ KA51MQ9123         ┆ null    ┆ 1895000      ┆ Harrier  │
│           ┆ Dark Edition       ┆           ┆            ┆   ┆                    ┆         ┆              ┆          │
│ D4170587  ┆ BMW 3 Series GT    ┆ Bangalore ┆ 34.95 Lakh ┆ … ┆ KA51MK9891         ┆ null    ┆ 3495000      ┆ 3-Series │
│           ┆ 320d Luxury Line…  ┆           ┆            ┆   ┆                    ┆         ┆              ┆          │
└───────────┴────────────────────┴───────────┴────────────┴───┴────────────────────┴─────────┴──────────────┴──────────┘

In [357]:
df_overview_B.describe()

shape: (9, 23)
┌────────────┬───────────┬───────────────────┬───────────┬───┬───────────────────┬───────────┬──────────────┬──────────┐
│ describe   ┆ profileId ┆ vehicle           ┆ city      ┆ … ┆ registrationNumbe ┆ regType   ┆ priceNumeric ┆ rootName │
│ ---        ┆ ---       ┆ ---               ┆ ---       ┆   ┆ r                 ┆ ---       ┆ ---          ┆ ---      │
│ str        ┆ str       ┆ str               ┆ str       ┆   ┆ ---               ┆ str       ┆ f64          ┆ str      │
│            ┆           ┆                   ┆           ┆   ┆ str               ┆           ┆              ┆          │
╞════════════╪═══════════╪═══════════════════╪═══════════╪═══╪═══════════════════╪═══════════╪══════════════╪══════════╡
│ count      ┆ 30274     ┆ 30274             ┆ 30274     ┆ … ┆ 30274             ┆ 30274     ┆ 30274.0      ┆ 30274    │
│ null_count ┆ 0         ┆ 0                 ┆ 0         ┆ … ┆ 0                 ┆ 22068     ┆ 0.0          ┆ 0        │
│ mean       ┆ null      ┆ null              ┆ null      ┆ … ┆ null              ┆ null      ┆ 1.4369e6     ┆ null     │
│ std        ┆ null      ┆ null              ┆ null      ┆ … ┆ null              ┆ null      ┆ 2.1342e6     ┆ null     │
│ min        ┆ D1982769  ┆ Aston Martin      ┆ Bangalore ┆ … ┆                   ┆ Corporate ┆ 40000.0      ┆ 1-Series │
│            ┆           ┆ Rapide S V12      ┆           ┆   ┆                   ┆           ┆              ┆          │
│ 25%        ┆ null      ┆ null              ┆ null      ┆ … ┆ null              ┆ null      ┆ 453775.0     ┆ null     │
│ 50%        ┆ null      ┆ null              ┆ null      ┆ … ┆ null              ┆ null      ┆ 750000.0     ┆ null     │
│ 75%        ┆ null      ┆ null              ┆ null      ┆ … ┆ null              ┆ null      ┆ 1.525e6      ┆ null     │
│ max        ┆ S2805517  ┆ Volvo XC90        ┆ Mumbai    ┆ … ┆ wb02as2431        ┆ Taxi      ┆ 5.45e7       ┆ iX       │
│            ┆           ┆ Momentum Luxury   ┆           ┆   ┆                   ┆           ┆              ┆          │
│            ┆           ┆ [2015…            ┆           ┆   ┆                   ┆           ┆              ┆          │
└────────────┴───────────┴───────────────────┴───────────┴───┴───────────────────┴───────────┴──────────────┴──────────┘

* analysing and cleaning each column

##### `profileId`

In [358]:
# first clearing out the leading and trailing spaces

df_overview_B['profileId'].str.strip_chars()


# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('profileId').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('profileId')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('profileId')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('profileId')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('profileId')==None).shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('profileId').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('profileId')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0

In [359]:
# checking profileId for any irregularities in the values
# the data seems to be consistent
# profileId starts with either S or D, so the data here is consistent

set(df_overview_B['profileId'].str.slice(0,2))

{'D1', 'D2', 'D3', 'D4', 'S2'}

##### `vehicle`

In [360]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('vehicle').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('vehicle').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('vehicle')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('vehicle')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('vehicle')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('vehicle')==None).shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('profileId').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('profileId')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0

In [361]:
# data is consistent here as well
# will not be specifically used for analysis, but is kept to retain the original description as shown in the website

set(df_overview_B['vehicle'].str.split(' ').list[0])

{'Aston',
 'Audi',
 'BMW',
 'Bentley',
 'Chevrolet',
 'Chrysler',
 'Citroen',
 'Datsun',
 'Fiat',
 'Force',
 'Ford',
 'Hindustan',
 'Honda',
 'Hummer',
 'Hyundai',
 'Isuzu',
 'Jaguar',
 'Jeep',
 'Kia',
 'Lamborghini',
 'Land',
 'Lexus',
 'MG',
 'MINI',
 'Mahindra',
 'Mahindra-Renault',
 'Maruti',
 'Maserati',
 'Mercedes-Benz',
 'Mitsubishi',
 'Nissan',
 'Opel',
 'Porsche',
 'Renault',
 'Rolls-Royce',
 'Skoda',
 'Ssangyong',
 'Tata',
 'Toyota',
 'Volkswagen',
 'Volvo'}

##### `cityName`, `city`, `state`, `cityMaskingName`, and `carAvailbaleAt`

In [362]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('city').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('city').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('city')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('city')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('city')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('city')==None).shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('city').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('city')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0

In [363]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('cityName').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('cityName').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('cityName')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('cityName')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('cityName')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('cityName')==None).shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('cityName').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('cityName')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0

In [364]:
df_overview_B.filter(pl.col('city') != pl.col('cityName')).shape[0]

2536

In [365]:
df_overview_B.filter(pl.col('city') == pl.col('cityName')).shape[0]

27738

* around 2536 records have incorrrect cities
* so cityName should be the correct city since, this data was embedded in the source extracted json
* there are to Not Applicable values in the cityName, which can be filled using cityMaskingName or carAvailableAt data as all the 3 fields will have similar values
* Hence we will be using cityName column instead of city

In [366]:
set(df_overview_B['cityName'].unique())

{'Ahmedabad',
 'Badlapur',
 'Bangalore',
 'Chandigarh',
 'Chennai',
 'Coimbatore',
 'Dak. Kannada',
 'Dehradun',
 'Delhi',
 'Faridabad',
 'Ghaziabad',
 'Gurgaon',
 'Hyderabad',
 'Karnal',
 'Lucknow',
 'Ludhiana',
 'Madurai',
 'Mangalore',
 'Meerut',
 'Mohali',
 'Mumbai',
 'Nashik',
 'Navi Mumbai',
 'Noida',
 'Pune',
 'Thane',
 'Udupi'}

* the city data is consistent, so, other city related columns will not be required
* state data is not available and has to be updated.

In [367]:
# updating state data extracted from CHAT-GPT
city_state_update = pl.read_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\01.Data Extraction\city_state_missing_2.csv')

In [368]:
city_state_update.head(2)

shape: (2, 2)
┌───────────┬─────────────┐
│ cityName  ┆ State       │
│ ---       ┆ ---         │
│ str       ┆ str         │
╞═══════════╪═════════════╡
│ Ahmedabad ┆ Gujarat     │
│ Badlapur  ┆ Maharashtra │
└───────────┴─────────────┘

In [369]:
# joining the state data on main dataframe
df_overview_B = df_overview_B.join(other= city_state_update,on = 'cityName', how = 'left')

In [370]:
df_overview_B.shape

(30274, 23)

In [371]:
df_overview_B.columns

['profileId',
 'vehicle',
 'city',
 'price',
 'kilometers',
 'fuelName',
 'transmissionType',
 'insurance',
 'makeName',
 'modelName',
 'versionName',
 'makeYear',
 'makeMonth',
 'cityMaskingName',
 'cityName',
 'noOfOwners',
 'registerCity',
 'carAvailbaleAt',
 'registrationNumber',
 'regType',
 'priceNumeric',
 'rootName',
 'State']

In [372]:
# deleting all other columns

df_overview_B = df_overview_B.drop(['city','cityMaskingName','carAvailbaleAt','registerCity','registrationNumber'])

In [373]:
df_overview_B.describe()

shape: (9, 19)
┌────────────┬───────────┬────────────────────────┬────────────┬───┬───────────┬──────────────┬──────────┬─────────────┐
│ describe   ┆ profileId ┆ vehicle                ┆ price      ┆ … ┆ regType   ┆ priceNumeric ┆ rootName ┆ State       │
│ ---        ┆ ---       ┆ ---                    ┆ ---        ┆   ┆ ---       ┆ ---          ┆ ---      ┆ ---         │
│ str        ┆ str       ┆ str                    ┆ str        ┆   ┆ str       ┆ f64          ┆ str      ┆ str         │
╞════════════╪═══════════╪════════════════════════╪════════════╪═══╪═══════════╪══════════════╪══════════╪═════════════╡
│ count      ┆ 30274     ┆ 30274                  ┆ 30274      ┆ … ┆ 30274     ┆ 30274.0      ┆ 30274    ┆ 30274       │
│ null_count ┆ 0         ┆ 0                      ┆ 0          ┆ … ┆ 22068     ┆ 0.0          ┆ 0        ┆ 0           │
│ mean       ┆ null      ┆ null                   ┆ null       ┆ … ┆ null      ┆ 1.4369e6     ┆ null     ┆ null        │
│ std        ┆ null      ┆ null                   ┆ null       ┆ … ┆ null      ┆ 2.1342e6     ┆ null     ┆ null        │
│ min        ┆ D1982769  ┆ Aston Martin Rapide S  ┆ 1 Crore    ┆ … ┆ Corporate ┆ 40000.0      ┆ 1-Series ┆ Chandigarh  │
│            ┆           ┆ V12                    ┆            ┆   ┆           ┆              ┆          ┆             │
│ 25%        ┆ null      ┆ null                   ┆ null       ┆ … ┆ null      ┆ 453775.0     ┆ null     ┆ null        │
│ 50%        ┆ null      ┆ null                   ┆ null       ┆ … ┆ null      ┆ 750000.0     ┆ null     ┆ null        │
│ 75%        ┆ null      ┆ null                   ┆ null       ┆ … ┆ null      ┆ 1.525e6      ┆ null     ┆ null        │
│ max        ┆ S2805517  ┆ Volvo XC90 Momentum    ┆ 99.99 Lakh ┆ … ┆ Taxi      ┆ 5.45e7       ┆ iX       ┆ Uttarakhand │
│            ┆           ┆ Luxury [2015…          ┆            ┆   ┆           ┆              ┆          ┆             │
└────────────┴───────────┴────────────────────────┴────────────┴───┴───────────┴──────────────┴──────────┴─────────────┘

##### `kilometers`

In [374]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('kilometers').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('kilometers').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('kilometers')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('kilometers')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('kilometers')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('kilometers')==None).shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('kilometers').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('kilometers')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 5
 None 0

* a few '0' columns can be found

In [375]:
df_overview_B['kilometers'].head()

shape: (10,)
Series: 'kilometers' [str]
[
	"39,420"
	"38,703"
	"49,209"
	"36,464"
	"65,000"
	"38,590"
	"12,400"
	"75,600"
	"36,893"
	"83,000"
]

In [376]:
df_overview_B = df_overview_B.with_columns(pl.col('kilometers').str.replace_all(',',''))

In [377]:
# changing the datatype to float
df_overview_B = df_overview_B.with_columns(pl.col('kilometers').cast(pl.Float64))

In [378]:
df_overview_B.head()

shape: (5, 18)
┌───────────┬────────────────────────────┬────────────┬────────────┬───┬─────────┬──────────────┬──────────┬───────────┐
│ profileId ┆ vehicle                    ┆ price      ┆ kilometers ┆ … ┆ regType ┆ priceNumeric ┆ rootName ┆ State     │
│ ---       ┆ ---                        ┆ ---        ┆ ---        ┆   ┆ ---     ┆ ---          ┆ ---      ┆ ---       │
│ str       ┆ str                        ┆ str        ┆ f64        ┆   ┆ str     ┆ i64          ┆ str      ┆ str       │
╞═══════════╪════════════════════════════╪════════════╪════════════╪═══╪═════════╪══════════════╪══════════╪═══════════╡
│ D4135089  ┆ Tata Harrier XZ Dark       ┆ 18.95 Lakh ┆ 39420.0    ┆ … ┆ null    ┆ 1895000      ┆ Harrier  ┆ Karnataka │
│           ┆ Edition                    ┆            ┆            ┆   ┆         ┆              ┆          ┆           │
│ D4170587  ┆ BMW 3 Series GT 320d       ┆ 34.95 Lakh ┆ 38703.0    ┆ … ┆ null    ┆ 3495000      ┆ 3-Series ┆ Karnataka │
│           ┆ Luxury Line…               ┆            ┆            ┆   ┆         ┆              ┆          ┆           │
│ D4170559  ┆ Jeep Compass Limited 2.0   ┆ 14.45 Lakh ┆ 49209.0    ┆ … ┆ null    ┆ 1445000      ┆ Compass  ┆ Karnataka │
│           ┆ Diesel …                   ┆            ┆            ┆   ┆         ┆              ┆          ┆           │
│ D4112409  ┆ Mercedes-Benz C-Class C    ┆ 56.76 Lakh ┆ 36464.0    ┆ … ┆ null    ┆ 5676000      ┆ C-Class  ┆ Karnataka │
│           ┆ 220d                       ┆            ┆            ┆   ┆         ┆              ┆          ┆           │
│ D4087571  ┆ Jeep Compass Limited Plus  ┆ 17.45 Lakh ┆ 65000.0    ┆ … ┆ null    ┆ 1745000      ┆ Compass  ┆ Karnataka │
│           ┆ Petrol…                    ┆            ┆            ┆   ┆         ┆              ┆          ┆           │
└───────────┴────────────────────────────┴────────────┴────────────┴───┴─────────┴──────────────┴──────────┴───────────┘

In [379]:
# 0 kilometers
df_overview_B.filter(pl.col('kilometers')==0).shape

(5, 18)

##### `fuelName`

In [380]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('fuelName').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('fuelName').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('fuelName')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('fuelName')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('fuelName')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('fuelName')==None).shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('fuelName').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('fuelName')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0

In [381]:
set(df_overview_B['fuelName'].unique())

{'CNG',
 'CNG + CNG',
 'CNG + LPG',
 'CNG + Petrol',
 'CNG + Petrol+Cng',
 'Diesel',
 'Diesel + CNG',
 'Diesel + Diesel',
 'Diesel + LPG',
 'Diesel + Petrol',
 'Electric',
 'Electric + Electric',
 'Electric + LPG',
 'Hybrid',
 'Hybrid + Hybrid(Ele',
 'Hybrid + Petrol',
 'LPG',
 'LPG + CNG',
 'LPG + LPG',
 'LPG + Petrol',
 'LPG + Petrol+Lpg',
 'Mild Hybrid(Electric + Petrol)',
 'Mild Hybrid(Electric + Petrol) + Hybrid(Ele',
 'Petrol',
 'Petrol + CNG',
 'Petrol + Diesel',
 'Petrol + Hybrid(Ele',
 'Petrol + LPG',
 'Petrol + Petrol',
 'Petrol + Petrol+Cng'}

* fuel names are inconsistent, and can be compared with fuel in specifications

##### `transmissionType`

In [382]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('transmissionType').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('transmissionType').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('transmissionType')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('transmissionType')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('transmissionType')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('transmissionType')==None).shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('transmissionType').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('transmissionType')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0

In [383]:
list(df_overview_B['transmissionType'].unique())

['Automatic (EV/Hybrid)',
 'Automatic (TC)',
 'Automatic (DCT)',
 'Manual',
 'Automatic (CVT)',
 'Automatic (AMT)',
 'Clutchless Manual (IMT)',
 'Automatic (e-CVT)',
 'Automatic']

* grouping all the transmissions into 2 basic categories
    * Automatic
    * Manual

In [384]:
df_overview_B = df_overview_B.with_columns(pl.col('transmissionType').str.split(' ').list[0].str.replace('Clutchless','Automatic').alias('transmission'))

In [385]:
df_overview_B['transmission'].unique()

shape: (2,)
Series: 'transmission' [str]
[
	"Automatic"
	"Manual"
]

In [386]:
#dropping Transmission type column
df_overview_B = df_overview_B.drop('transmissionType')

In [387]:
df_overview_B.columns

['profileId',
 'vehicle',
 'price',
 'kilometers',
 'fuelName',
 'insurance',
 'makeName',
 'modelName',
 'versionName',
 'makeYear',
 'makeMonth',
 'cityName',
 'noOfOwners',
 'regType',
 'priceNumeric',
 'rootName',
 'State',
 'transmission']

##### `insurance`

In [388]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('insurance').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('insurance').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('insurance')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('insurance')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('insurance')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('insurance')==None).shape[0],'\n',
        'NA',df_overview_B.filter(pl.col('insurance')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('insurance').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('insurance')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 8376

In [389]:
df_overview_B['insurance'].unique()

shape: (5,)
Series: 'insurance' [str]
[
	"Not Available"
	"Comprehensive"
	"ThirdParty"
	"Expired"
	"Third Party"
]

In [390]:
df_overview_B = df_overview_B.with_columns(pl.col('insurance').str.replace("ThirdParty","Third Party"))

In [391]:
df_overview_B.describe()

shape: (9, 19)
┌────────────┬───────────┬─────────────────────┬────────────┬───┬──────────────┬──────────┬─────────────┬──────────────┐
│ describe   ┆ profileId ┆ vehicle             ┆ price      ┆ … ┆ priceNumeric ┆ rootName ┆ State       ┆ transmission │
│ ---        ┆ ---       ┆ ---                 ┆ ---        ┆   ┆ ---          ┆ ---      ┆ ---         ┆ ---          │
│ str        ┆ str       ┆ str                 ┆ str        ┆   ┆ f64          ┆ str      ┆ str         ┆ str          │
╞════════════╪═══════════╪═════════════════════╪════════════╪═══╪══════════════╪══════════╪═════════════╪══════════════╡
│ count      ┆ 30274     ┆ 30274               ┆ 30274      ┆ … ┆ 30274.0      ┆ 30274    ┆ 30274       ┆ 30274        │
│ null_count ┆ 0         ┆ 0                   ┆ 0          ┆ … ┆ 0.0          ┆ 0        ┆ 0           ┆ 0            │
│ mean       ┆ null      ┆ null                ┆ null       ┆ … ┆ 1.4369e6     ┆ null     ┆ null        ┆ null         │
│ std        ┆ null      ┆ null                ┆ null       ┆ … ┆ 2.1342e6     ┆ null     ┆ null        ┆ null         │
│ min        ┆ D1982769  ┆ Aston Martin Rapide ┆ 1 Crore    ┆ … ┆ 40000.0      ┆ 1-Series ┆ Chandigarh  ┆ Automatic    │
│            ┆           ┆ S V12               ┆            ┆   ┆              ┆          ┆             ┆              │
│ 25%        ┆ null      ┆ null                ┆ null       ┆ … ┆ 453775.0     ┆ null     ┆ null        ┆ null         │
│ 50%        ┆ null      ┆ null                ┆ null       ┆ … ┆ 750000.0     ┆ null     ┆ null        ┆ null         │
│ 75%        ┆ null      ┆ null                ┆ null       ┆ … ┆ 1.525e6      ┆ null     ┆ null        ┆ null         │
│ max        ┆ S2805517  ┆ Volvo XC90 Momentum ┆ 99.99 Lakh ┆ … ┆ 5.45e7       ┆ iX       ┆ Uttarakhand ┆ Manual       │
│            ┆           ┆ Luxury [2015…       ┆            ┆   ┆              ┆          ┆             ┆              │
└────────────┴───────────┴─────────────────────┴────────────┴───┴──────────────┴──────────┴─────────────┴──────────────┘

##### `makeName`,`modelName`, `rootName` and `versionName`

In [392]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('makeName').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('makeName').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('makeName')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('makeName')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('makeName')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('makeName')==None).shape[0],'\n',
        'NA',df_overview_B.filter(pl.col('makeName')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('makeName').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('makeName')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 0

In [393]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('modelName').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('modelName').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('modelName')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('modelName')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('modelName')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('modelName')==None).shape[0],'\n',
        'NA',df_overview_B.filter(pl.col('modelName')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('modelName').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('modelName')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 0

In [394]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('rootName').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('rootName').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('rootName')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('rootName')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('rootName')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('rootName')==None).shape[0],'\n',
        'NA',df_overview_B.filter(pl.col('rootName')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('rootName').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('rootName')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 0

In [395]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('versionName').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('versionName').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('versionName')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('versionName')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('versionName')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('versionName')==None).shape[0],'\n',
        'NA',df_overview_B.filter(pl.col('versionName')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('versionName').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('versionName')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 0

In [396]:
print(list(df_overview_B['makeName'].unique()))

['Renault', 'Hummer', 'Nissan', 'Lexus', 'Chrysler', 'Lamborghini', 'Aston Martin', 'Skoda', 'Datsun', 'Fiat', 'Kia', 'BMW', 'Ford', 'Bentley', 'Jeep', 'Jaguar', 'Mahindra-Renault', 'Hindustan Motors', 'Chevrolet', 'Maruti Suzuki', 'Mitsubishi', 'Honda', 'Rolls-Royce', 'MG', 'Opel', 'MINI', 'Mercedes-Benz', 'Hyundai', 'Porsche', 'Ssangyong', 'Volkswagen', 'Force Motors', 'Toyota', 'Maserati', 'Audi', 'Mahindra', 'Isuzu', 'Tata', 'Citroen', 'Volvo', 'Land Rover']

In [397]:
print(list(df_overview_B['modelName'].unique()))

['GLB', '3 Series GT', 'Venue [2022-2023]', 'Bolero [2000-2007]', 'Bolero Neo', 'City ZX', 'X5 [2012-2014]', 'Dzire [2017-2020]', 'LS 600', 'Jazz [2009-2011]', 'Getz Prime [2007-2010]', 'Accord [2008-2011]', 'Continental Flying Spur', 'Gypsy', 'Land Cruiser Prado', 'RX [2017-2023]', 'Hector Plus [2020-2023]', 'Harrier [2019-2023]', 'GLE [2015-2020]', 'Elite i20 [2019-2020]', 'Etios Liva [2011-2013]', 'Xcent [2014-2017]', 'iX', 'Vento [2014-2015]', '2 Series Gran Coupe', 'Grand Cherokee', 'XK', 'Kwid [2019-2022]', '7 Series [2008-2013]', 'MU-X [2017-2018]', 'Cayenne', 'Gloster', 'Q3 [2012-2015]', 'City [2008-2011]', 'Civic [2010-2013]', '718', 'Laura', 'Accent [1999-2003]', 'Swift DZire [2011-2015]', 'S-Presso', 'Superb [2009-2014]', 'Optra Magnum [2007-2012]', 'B-Class [2012-2015]', 'Caravelle', 'Figo', 'XC60 [2010-2013]', 'Baleno [2019-2022]', 'Cooper [2014-2018]', 'Touareg', 'EcoSport', 'XUV300 TurboSport', 'X6 [2015-2019]', 'Innova Crysta [2020-2023]', 'Ritz [2009-2012]', 'Indica', 'Seltos [2019-2022]', 'Versa', 'City 4th Generation', 'Indica [1999-2001]', 'Range Rover [Pre-2009]', 'Verna [2015-2017]', 'X1 [2013-2016]', 'GO+', 'Gypsy [1996-2000]', 'A4 [2016-2020]', 'Civic [2006-2010]', '3 Series [2010-2012]', 'S-Class [2006-2010]', '911 [2006-2019]', 'Rapide', 'Aspire', 'GLA [2017-2020]', '5 Series [2010-2013]', 'Estilo [2006-2009]', 'Tiguan [2017-2020]', 'Accent', 'Land Cruiser [2008]', 'Tucson [2016-2020]', 'Figo [2012-2015]', 'Kodiaq [2017-2020]', 'Ignis [2019-2020]', 'i10 [2007-2010]', 'S5 Sportback [2015-2017]', 'Creta [2018-2019]', 'AMG A45 S [2021-2023]', 'Safari Storme 2019', 'Safari', 'Nano GenX', 'Swift Dzire [2008-2010]', 'C-Class [2007-2010]', 'X3 [2011-2014]', 'Jazz [2018-2020]', 'Rapid TSI', 'Alcazar', 'X7 [2019-2023]', 'Commuter', 'Manza [2011-2015]', 'Carens', 'Endeavour [2009-2014]', 'Creta [2019-2020]', 'TUV300', 'M-Class [2006-2012]', 'TT [2012-2015]', 'Outlander [2007-2015]', 'Punto [2009-2011]', 'Micra Active [2013-2018]', 'MU-X [2018-2020]', 'XJ L [2014-2016]', 'Discovery Sport [2020-2022]', 'ZS EV [2020-2022]', 'Etios Liva', 'Aveo U-VA [2006-2012]', 'XUV500 [2011-2015]', 'Brio [2013-2016]', 'Cayenne Coupe', 'Innova [2005-2009]', 'Virtus', 'Qualis [2002-2004]', 'Kushaq [2021-2023]', 'M4 Competition', 'Verna [2020-2023]', 'i20 [2012-2014]', 'Superb [2004-2009]', 'S60', 'CLA [2015-2016]', 'Estilo', 'Tigor EV [2021-2022]', 'Micra [2013-2018]', 'Punch', 'Camaro', 'Tiguan', 'Rapid [2014-2015]', 'S-Class [2010-2014]', '6 Series', 'Panamera [2014-2017]', 'Cooper Convertible [2016-2018]', 'Indica V2', 'A6', 'Wrangler [2016-2019]', 'Terrano [2013-2017]', 'A6 [2008-2011]', 'TT', 'XF [2009-2012]', 'Ikon', 'Land Cruiser Prado [2004-2011]', 'redi-GO', 'Aria [2010-2014]', '3 Series [Import Pre-2007]', 'C-Class [2014-2018]', 'Z4 [2013-2018]', 'Ignis [2020-2023]', 'Alcazar [2021-2023]', '190', 'Alto [2005-2010]', 'Fiesta', 'Bolero [2011-2020]', 'Amaze [2016-2018]', 'i20 [2008-2010]', 'F-Pace [2016-2021]', 'Celerio [2017-2021]', '7 Series [2019-2023]', 'LS 460', 'Silverado', 'Marshal', 'Pulse [2012-2015]', 'Cooper', 'Hexa', 'XJ L', 'Duster [2019-2020]', 'Kodiaq', 'XC90', 'Esteem [2002-2004]', 'Grand i10', 'Harrier', 'Verna [2017-2020]', 'Aveo [2009-2012]', 'Triber [2019-2023]', 'Model T', 'Brio [2011-2013]', 'XUV500 [2015-2018]', 'WR-V [2017-2020]', 'Virtus [2022-2023]', '3 Series', 'GLE Coupe', 'Nexon EV Max', 'Safari [1998-2005]', 'Tigor [2017-2018]', 'Sonata', 'Serena', 'Indigo eCS [2010-2013]', 'Terracan [2003-2006]', 'Terrano', 'Vento', 'Amaze [2018-2021]', 'Punto Evo', 'Cross Polo [2013-2015]', 'AMG EQS', 'Polo [2012-2014]', 'CR-V [2009-2013]', 'Elite i20 [2018-2019]', 'Safari Granroad', 'Rapid', 'Optra [2005-2007]', 'Santro [1998-2000]', 'Aura [2020-2023]', 'Logan [2007-2009]', 'ES', 'X4 [2019-2022]', 'C-Class', 'Aveo [2006-2009]', 'Baleno [1999-2007]', 'CR-V [2004-2007]', 'Evalia [2012-2014]', 'Alto K10 [2010-2014]', 'Q2', 'Seltos [2022-2023]', 'Fortuner', 'Swift  [2010-2011]', 'Bolt', 'Seltos', 'S-Presso [2019-2022]', 'C-Class [2018-2022]', 'Etios Liva [2013-2014]', 'Verna Transform [2010-2011]', 'Fortuner [2009-2012]', 'Polo [2010-2012]', '6 Series GT [2018-2021]', 'Abarth Punto', 'Xcent', 'M5 [2018-2021]', 'Wrangler [2019-2021]', 'Fiesta [2008-2011]', 'Jazz [2015-2018]', 'Celerio X', 'Macan [2014-2019]', 'S-Class [2014-2018]', 'XC60 [2013-2015]', 'Force One', 'Camry', 'GO [2014-2018]', 'C3', 'Kwid [2022-2023]', 'Range Rover Evoque [2016-2020]', 'GL [2010-2013]', 'Mobilio', 'Palio Stile [2007-2011]', 'SX4 [2007-2013]', 'Sonet [2022-2023]', 'XC60 [2021-2022]', 'X5 [2008-2012]', 'Alto [2010-2013]', 'Captiva [2008-2012]', 'C-Class Cabriolet [2016-2018]', 'Alto 800 [2012-2016]', 'Range Rover Evoque', 'CLS [2011-2014]', 'Corolla Altis [2008-2011]', 'Tigor EV', 'NX [2017-2022]', 'i20 [2010-2012]', 'i20 [2020-2023]', 'Ertiga', 'City [2000-2003]', 'Sumo [1994-1999]', 'GLC Coupe [2017-2020]', 'Duster [2012-2015]', 'Swift Dzire [2010-2011]', 'Corsa', 'R-Class', 'Clubman [2016-2020]', 'Xylo [2009-2012]', 'Indica Vista [2012-2014]', 'Q3 [2017-2020]', 'City [2003-2005]', 'Accent [2003-2009]', 'Creta', '3 Series GT [2014-2016]', 'Tavera', 'Alphard 2017', 'E-Class [2006-2009]', 'Boxster [2014-2017]', 'Logan [2009-2011]', 'Hector', 'SLK', 'Tucson [2020-2022]', 'Vista Tech', 'Cruze', 'Verna', 'Indica V2 [2003-2006]', 'Duster [2016-2019]', 'Wagon R 1.0 [2010-2013]', 'Macan', 'GL', 'Ciaz', 'ZS EV', 'AMG E53', 'Creta [2020-2023]', 'Astor', 'Cruze [2013-2014]', 'Ertiga [2015-2018]', 'Tiguan AllSpace', 'Kiger [2021-2022]', 'M4 [2014-2018]', 'D-MAX V-Cross [2018-2019]', 'Discovery Sport [2018-2020]', 'Lancer [1998-2004]', 'Cross Polo', 'CLA', 'Indica Vista [2008-2011]', 'X3 [2018-2022]', 'A5', 'Classic [2012-2015]', 'Q3 [2015-2017]', 'M-Class', 'Cooper [2012-2014]', 'AMG GLE Coupe', 'Spark [2012-2013]', 'Freestyle', 'C-Class [2010-2011]', 'Swift [2011-2014]', 'V12 Vantage [2010-2019]', 'Altroz', 'Indica V2 [2006-2013]', 'Gallardo [2005 - 2014]', 'Taigun', 'Zen [1996-2003]', 'GLS [2016-2020]', 'Safari [2021-2023]', 'Celerio [2014-2017]', 'Kicks', 'Verito [2011-2012]', 'Punto [2011-2014]', 'H3', 'Sumo Grande [2008-2009]', 'Optra [2003-2005]', 'C-Class [2011-2014]', 'Jazz [2011-2013]', 'i20 N Line [2021-2023]', 'Etios [2014-2016]', 'Vitara Brezza [2020-2022]', 'LX [2017-2022]', 'Creta [2017-2018]', 'Hector [2021-2023]', 'X6 [2012-2014]', 'Nexon', 'Range Rover Sport [2013-2018]', 'Octavia', 'Swift Dzire [2015-2017]', 'City [2011-2014]', 'LX', 'X3', 'City [1998-2000]', 'Defender', 'Continental GT', 'Bolero Neo [2021-2022]', 'V90 Cross Country', '3 Series Gran Limousine [2021-2023]', 'Urban Cross', 'Corolla Levin', 'Eeco', 'Accord [2003-2007]', 'X4', 'Kiger [2022-2023]', 'Baleno', 'Tiago [2016-2020]', 'F-Type [2013-2020]', 'M340i [2021-2022]', 'V-Class', 'LS', 'Innova [2015-2016]', 'Nano [2009-2011]', 'C-Coupe', 'Swift  [2005-2010]', 'Range Rover Sport [2018-2022]', 'XC40', 'Cresta', 'Kwid [2015-2019]', 'Beat [2009-2011]', 'Range Rover [2018-2022]', 'Range Rover [2014-2018]', 'G-Class [2018-2023]', 'Rapid [2011-2014]', 'Range Rover [2010-2012]', '7 Series [2016-2019]', 'Stingray', 'Innova Crysta [2016-2020]', 'Range Rover', 'Santro', 'X1 [2010-2012]', 'Yeti [2010-2014]', 'Ghost', 'A6 [2015-2019]', 'AMG A35', 'GLS', 'Camry [2006-2012]', 'Range Rover Velar [2017-2023]', 'Scorpio [2006-2009]', 'Vellfire [2020-2023]', 'Alto [2000-2005]', 'e2o [2014-2016]', 'Fluence [2014-2017]', 'I-Pace', '1 Series', 'New Jazz', 'Pajero Sport', 'Ambassador', 'Fiesta Classic [2011-2012]', 'Karoq', 'R8 [Pre-2012]', '1000 [1990-2000]', 'Indigo eCS [2013-2018]', 'Fiesta [2011-2014]', 'Slavia [2022-2023]', 'Accent Viva [2001-2007]', 'i10 [2010-2017]', 'Nano [2011-2013]', 'Micra', 'Duster', 'Etios [2013-2014]', 'Fabia', 'Grand i10 Nios [2019-2023]', '5 Series GT', 'X5 [2014-2019]', 'MU7 [2014-2017]', 'SLK-Class [2006-2011]', 'A-Star [2008-2012]', 'Ciaz [2017-2018]', 'Zest', 'Range Rover Sport [2012-2013]', 'V40 [2016-2019]', 'Mustang', 'Superb [2016-2020]', 'Discovery [2014-2017]', 'Beat [2014-2016]', 'Endeavour [2016-2019]', 'V40 Cross Country [2016-2019]', 'RS5 [2012-2016]', 'Baleno [2015-2019]', 'Elite i20 [2016-2017]', 'Vento [2015-2019]', 'Corona', 'A4 [2006-2008]', 'Qualis [2000-2002]', 'A8 L [2004-2011]', 'S60 [2015-2020]', 'Venue [2019-2022]', 'Scala [2012-2017]', 'Spark [2007-2012]', 'Freelander 2 [2012-2013]', 'Countryman', 'BR-V', 'Grand i10 [2013-2017]', 'A-Class [2013-2015]', 'Bolero [2020-2022]', 'KUV100 [2016-2017]', 'Safari [2015-2017]', 'Yaris', 'XJ L [2010-2014]', '5 Series [2017-2021]', 'V40 Cross Country [2013-2016]', 'Santa Fe [2011-2014]', 'Kwid', 'Platinum Etios', 'Linea [2008-2011]', 'XE [2016-2019]', 'RX [2013]', 'Scorpio [2009-2014]', 'Cooper Countryman [2012-2015]', 'Vento [2012-2014]', 'All New City [2020-2023]', 'Safari [2005-2007]', 'Verna [2006-2010]', 'Wagon R [2006-2010]', 'Taigun [2021-2023]', 'X1 [2016-2020]', 'EcoSport [2015-2017]', 'M6 [Import Pre-2014]', 'Lodgy', 'Hilux', 'KUV100 NXT', 'Octavia [2015-2017]', 'Etios [2010-2013]', 'E-Class [2017-2021]', 'Ertiga [2018-2022]', 'Sail [2012-2014]', 'Alto 800', 'Cooper S [2014-2015]', 'Scorpio 2021', 'XF [2012-2013]', 'Thar [2014-2020]', 'Elantra [2004-2008]', 'TUV300 [2015-2019]', 'Q5', 'A8 L [2011-2014]', 'Compass [2017-2021]', 'Elantra [2015-2016]', 'Rapid [2015-2016]', 'Q7 [2010 - 2015]', 'Polo', 'Jimny', '800 [2000-2008]', 'Xylo', 'Glanza', 'Tigor', 'Polo [2016-2019]', 'Magnite', 'Rapid new', 'Tigor [2018-2020]', 'A4 [2008-2013]', 'Countryman [2015-2018]', 'Gypsy [2004-2010]', 'Scorpio [2014-2017]', 'Land Cruiser [2009-2011]', 'AMG GLC43 Coupe', 'Scorpio', 'Aria [2014-2017]', 'Wagon R', 'Alto K10', 'Dzire', 'Corolla', 'Corolla Altis [2011-2014]', 'NuvoSport', 'Aura', 'Fiesta [2005-2008]', 'S-Cross [2014-2017]', 'X3 [2008-2011]', 'XC60 [2015-2017]', 'A5 Cabriolet', '5 Series', '5 Series [2007-2010]', 'Sail Hatchback', 'Accord [2001-2003]', 'XF [2013-2016]', 'Passat [2007-2014]', 'Sail', 'CLS [2014-2018]', 'Scorpio [2002-2006]', 'i20 Active', 'Beat [2011-2014]', 'Camry [2012-2015]', 'CR-V [2007-2009]', '6 Series [Import Pre-2007]', 'A3', 'Eeco [2010-2022]', 'EQS', 'Captur [2017-2019]', 'Rumion', 'Discovery', 'Land Cruiser [2011-2015]', 'Rexton', 'Defender [2020-2021]', 'CR-V [2013-2018]', 'XC90 [2007-2015]', '7 Series [2013-2016]', 'Vantage V8 [2022]', 'Esteem', 'Grand Cherokee [2016-2020]', 'S60 [2013-2015]', 'Alto 800 [2016-2019]', 'XUV300', 'Contessa', 'Sonata Transform [2009-2011]', 'X5 [2007-2008]', 'Fusion [2004-2006]', 'i8 [2015-2019]', 'R8 [2013-2016]', 'Santa Fe [2014-2017]', 'SX4', 'Innova Crysta', 'Endeavour [2003-2007]', 'Brio', 'Beetle [2008-2014]', 'Range Rover [2012-2013]', 'Q7 [2006-2010]', 'Verito', 'Safari Storme [2012-2015]', 'Elantra', 'A4', 'Tiago', 'Santro Xing [2003-2008]', 'Discovery Sport [2015-2017]', 'E-Class [2009-2013]', 'A-Class Limousine [2021-2023]', 'Urban Cruiser Hyryder', 'Maybach S-Class', '300', 'Sumo Victa [2004-2011]', 'RS5', 'Swift [2014-2018]', 'Hexa [2017-2019]', 'Scorpio Getaway', 'Aspire [2015-2018]', 'Passat', 'B-Class', 'Fortuner Legender', 'Carens [2022-2023]', 'Ertiga [2012-2015]', 'Discovery 4', 'Omni', 'Celerio', 'S60 [2011-2013]', 'Pajero', 'Thar', 'Range Rover Evoque [2011-2014]', 'Koleos [2011-2014]', 'Ameo', '800 [1997-2000]', 'Urban Cruiser', 'Corolla Altis [2014-2017]', 'Glanza [2019-2022]', 'A7 [2011-2015]', 'Camry [2015-2019]', 'Figo [2010-2012]', 'E-Class [2013-2015]', 'Linea', 'Fabia [2008-2010]', 'Enjoy', 'M6', 'Jazz', 'Sonet', '6 Series [2008-2011]', 'Marazzo [2018-2020]', 'i20 Active [2015-2018]', 'Yeti', 'Corolla Altis', 'Nexon EV [2020-2022]', 'Armada', 'GLA [2014-2017]', 'Octavia [2013-2015]', 'Sonet [2020-2022]', 'Q7 [2015-2020]', 'Jetta', 'Scorpio N', 'Verito Vibe CS', 'Linea [2012-2014]', 'Avventura', 'A-Star', 'C-Class [2003-2007]', 'XL6 [2019-2022]', 'Indigo [2005-2009]', 'Nexon EV Prime', 'Alturas G4', 'Logan Edge', 'Wagon R [1999-2006]', 'A3 Cabriolet', 'Innova [2013-2014]', 'Xylo [2012-2014]', 'Ghibli [2015-2018]', 'Innova Hycross', 'Freelander 2 [2009-2011]', 'Elantra [2012-2015]', 'RS7 Sportback [2014-2015]', 'Cruze [2009-2012]', 'Cruze [2012-2013]', 'Indigo CS [2008-2011]', 'Zen', 'Grand Vitara [2007-2009]', 'S90 [2016-2021]', 'Range Rover Evoque [2015-2016]', 'GO', 'Gurkha', 'Figo [2015-2019]', 'E-Class [1998-2002]', 'Discovery 4 [2009-2012]', 'Z4 [2010-2013]', 'Sumo Grande MK II [2009-2014]', 'Elite i20 [2017-2018]', 'Alto K10 [2014-2020]', 'Wagon R [2019-2022]', '7 Series [Import Pre-2007]', 'D-Max', 'AMG GLA35', 'Cooper JCW', 'Exter', 'Indica eV2 [2011-2012]', 'Octavia [2017-2021]', 'Swift [2018-2021]', 'EQC', 'Grand i10 Nios', 'Fortuner [2016-2021]', 'Hector Plus', 'Superb', 'EcoSport [2013-2015]', 'Micra Active', 'Jetta [2008-2011]', 'T-Roc', 'Innova [2012-2013]', 'Huracan Evo', 'D-MAX V-Cross [2019-2020]', 'Triber', 'A-Class [2015-2019]', 'Genesis', 'WR-V', 'Cayenne [2014-2018]', 'Hiace', 'Amaze [2013-2016]', 'Cayenne [2010-2014]', 'Bolero [2007-2011]', 'Civic', 'Q5 [2013-2018]', 'Kona Electric', 'Nexon [2017-2020]', 'Fronx', 'Micra [2010-2013]', 'X1 [2020-2023]', 'XUV500', 'Compass', 'C5 Aircross', 'XUV700', 'Endeavour', 'XC40 [2018-2022]', 'X6', 'X1', 'Polo [2014-2015]', 'GLC Coupe', 'Nexon [2020-2023]', 'Brezza', 'Q5 [2018-2020]', 'Amaze', 'Q5 [2009-2012]', 'X6 [2009-2012]', 'Q7', 'GO Plus [2015-2018]', 'Wrangler', 'Accord', '800 [2008-2014]', 'Hector [2019-2021]', 'Accord [2011-2014]', 'Superb [2014-2016]', 'Grand Vitara', 'E-Class [2002-2003]', 'Pulse [2015-2017]', 'CR-V', 'Wagon R 1.0 [2014-2019]', 'Cayenne [2004-2010]', 'Quanto [2012-2016]', 'GLE', '5 Series [2013-2017]', 'Gloster [2020-2022]', 'M5 [2014-2018]', 'F-Pace', 'Beetle', 'S-Class [1999-2005]', 'SLC', 'Ritz', 'Land Cruiser', '5 Series [Import Pre-2007]', 'Z3', 'Koleos [2014-2017]', 'Jetta [2013-2015]', 'XL6', 'XC90 [2015-2021]', 'Teana [2007-2014]', 'Panamera', 'Manza [2009-2011]', 'Discovery Sport [2017-2018]', 'Range Rover Sport [Pre-2009]', 'EQB', 'City [2014-2017]', 'Camry [2019-2022]', 'Sonata [2001-2005]', 'D-Max V-Cross [2016-2018]', 'Creta Facelift', 'Macan [2019-2021]', 'Beat', '3 Series [2007-2009]', 'G-Class [2013-2018]', 'GLA', 'Duster [2015-2016]', 'redi-GO [2016-2020]', 'Sunny', 'Range Rover Evoque [2014-2015]', 'Creta [2015-2017]', 'Marazzo', 'Etios Cross', 'EcoSport [2017-2019]', 'Jetta [2011-2013]', 'Sumo Gold', '6 Series Gran Coupe', 'T-Roc [2020-2021]', 'Cruze [2014-2016]', 'Vitara Brezza [2016-2020]', '3 Series [2009-2010]', 'Tiago NRG', 'E-Class', 'Ignis [2017-2019]', 'E-Class [2015-2017]', 'Jeep', 'Fluence [2011-2014]', 'Meridian', 'XC60 [2017-2021]', 'Movus', 'A3 [2014-2017]', 'Fabia Scout', 'Octavia [2001-2010]', 'e2o PLUS', 'Verna [2011-2015]', 'Cayman [2014-2017]', 'Kizashi', '3 Series [2012-2016]', 'E-Class Cabriolet', 'Santro [2000-2003]', 'Carnival', 'C5 Aircross [2021-2022]', 'Nano', 'Ciaz [2014-2017]', 'S-Class (W222)', 'Getz [2004-2007]', 'Fusion [2006-2010]', '3 Series Gran Limousine', 'S-Cross [2017-2020]', 'LX 470', 'A4 [2013-2016]', 'X-Trail [2009-2014]', 'S-Class', 'Q8', 'Innova [2009-2012]', 'A6[2011-2015]', 'MB-Class', 'Fluidic Verna 4S [2015-2016]', 'XUV400', 'Ikon [2003-2009]', 'GLC [2016-2019]', 'Phaeton', 'Laura [2005-2009]', 'S5 Sportback', '200', 'Vento [2010-2012]', 'Urus [2018]', 'Sail U-VA [2012-2014]', 'Cooper Convertible [2014-2016]', '500', 'Cooper SE', 'GTI', '6 Series GT', 'Kwid [2019] [2019-2019]', 'Touareg [2008-2012]', 'M2 [2018-2022]', 'Fortuner [2012-2016]', 'Bolero', 'R8', 'Freelander 2', 'X5 [2019-2023]', 'A8 L [2014-2018]', 'Swift', 'Range Rover Sport [2009-2012]', 'Kiger', 'XF', 'X3 [2014-2018]', 'Accord [Import Pre-2001]', '3 Series [2016-2019]', 'GLC [2019-2023]', 'Vellfire', 'Sunny [2011-2014]', 'E-Class [2003-2006]', 'Elantra [2016-2019]', 'Santro Xing [2008-2015]', 'Etios Liva [2014-2016]', 'S-Cross 2020', 'CLS', 'Elite i20 [2014-2015]', 'Indica eV2 [2012-2013]', 'City', 'Eon', '370Z [2010-2014]']

In [398]:
print(list(df_overview_B['rootName'].unique()))

['Urban Cruiser Hyryder', 'Manza', 'Tigor EV', 'R8', 'XK', 'Jetta', 'Octavia', 'Esteem', 'Maybach S-Class', 'Beetle', 'Cherokee', 'Touareg', 'Corona', 'Safari', 'Spark', 'Kizashi', '190', 'Ameo', 'granroad', 'Hector Plus', 'Laura', 'E-Class', 'V90 Cross Country', 'Z4', 'Sonata', 'Aura', 'Palio', 'EQC', 'Accent', 'Marshal', 'Tavera', 'Rapid', 'Kona Electric', 'Superb', 'Q8', 'GL-Class', 'Kwid', 'Q7', 'Cooper S', 'Xcent', 'Verna', 'Amaze', 'Swift DZire', '2 Series Gran Coupe', 'XUV300', 'Sail Sedan', 'SLK-Class', 'Altroz', 'Jimny', 'Etios Liva', 'Cresta', 'Tiguan', 'XJ', '500', 'M2', 'Micra', 'XC60', 'Ghost', '1000', 'Venue', 'e2o', 'Quanto', 'Q5', 'S5 Sportback', 'Outlander', 'V40 Cross Country', 'Sonet', 'GTi', 'Hexa', 'Eeco', 'Optra', 'F-type', 'MU-X', '6-Series', 'Zen', 'Lodgy', 'Magnite', 'Qualis', 'Xylo', 'C-Class', 'Bolero', 'Omni', 'AMG GLA 35', 'Defender', 'Gypsy', 'Serena', 'Hector', 'G-Class', 'S90', 'S-Class', 'B-class', 'Punto EVO', 'Figo', 'Carens', '5-Series', 'A5', 'Huracan', 'Urban Cruiser', 'Fusion', 'Land Cruiser', '1-Series', 'C-Class Cabriolet', 'A-Class Limousine', 'AMG GLC 43 Coupe', 'Sumo', 'A5 Cabriolet', 'Enjoy', 'Rumion', 'Camry', 'AMG A35 Limousine', 'RS', 'Duster', 'Baleno Sedan', 'Sail Hatchback', 'Kiger', 'Contessa', 'Q2', 'Scala', 'AMG A45 S', 'Indica', 'Alto K10', 'Yeti', 'Tiago NRG', 'Kicks', 'Captiva', 'Macan', 'A8', 'Urban Cross', 'Santro', 'Seltos', 'GLE', 'Teana', 'Discovery Sport', 'Evalia', 'XUV700', 'Continental GT', 'Polo', 'Alto', 'Range Rover Velar', 'Camaro', 'CLS', 'Fiesta', 'i8', 'Tiago', 'Ambassador', 'X-Trail', 'S-Cross', 'Koleos', 'Redigo', 'Mobilio', 'i20', 'Exter', 'Corsa', 'Freestyle', 'Bolt', 'Armada', '718', 'MB-Class', 'Go Plus', 'Cruze', 'Cooper', 'GLB', 'Alphard', 'CLA', 'Gloster', 'Virtus', 'Grand i10', 'Elantra', 'Prado', 'Glanza', 'R-Class', 'Caravelle', 'Jazz', 'Indigo', 'Aveo', 'W110', 'Genesis', 'MU7', 'Vellfire', 'Celerio', '911', 'Cayman', 'Lancer', 'Pajero', 'NuvoSport', 'Elite i20', 'Linea', 'Fortuner', 'Eon', 'A6', 'Kodiaq', 'XC90', 'Marazzo', 'Wrangler', 'ES', 'Evoque', 'Z3', 'Pulse', 'H3', 'Accord', 'Terrano', 'GLA', 'Innova Crysta', 'Panamera', 'Vitara Brezza', 'GLC', 'M6', 'BR-V', 'Q3', 'Corolla Altis', 'Astor', 'Grand Vitara', 'M5', 'Range Rover', 'Swift', 'Hilux', 'KUV100', 'X6', 'Boxster', 'Mustang', 'TT', 'V40', 'Nexon', 'Meridian', 'XE', 'Aria', 'C5', '300', 'Aveo U-Va', 'Fabia', 'Continental Flying Spur', '6-Series GT', 'Beat', 'D-Max V-Cross', 'Baleno', 'Sunny', 'Ghibli', 'Zest', 'Wagon R', 'Rapide', 'X1', 'SLC', 'Tucson', 'RS5', 'Creta', 'LX', 'Tigor', 'F-Pace', 'DZire', 'XUV500', 'Vantage', 'LS', 'Innova', 'Ecosport', 'A7', 'One', 'Jeep', 'E-Class Cabriolet', 'S60', 'Logan/Verito', 'iX', 'Endeavour', 'Versa', 'GLC Coupe', 'Kushaq', 'A-Star', 'Gurkha', 'XL6', 'FRONX', 'GLE Coupe', 'Corolla', 'Verito/Logan', 'Commuter', 'XUV400', 'Alturas G4', 'Compass', 'Hiace', 'M4', 'Ciaz', 'V-Class', 'Model T', 'Avventura', '370Z', 'M-Class', 'Etios', 'XC40', 'Urus', 'Punch', 'Discovery', 'City', 'Ignis', 'Harrier', 'Yaris', 'Santa Fe', 'Freelander', 'Carnival', 'Go', 'Brio', 'Vento', 'A3', '800', 'GLS', 'Punto', 'Phaeton', 'NX', 'CR-V', 'TUV300', 'Cooper JCW', 'Grand i10 NIOS', 'RX', 'Ritz', 'i20 N Line', 'Karoq', 'Civic', 'A4', 'T-Roc', 'Passat', 'Tiguan AllSpace', 'Celerio X', 'Range Rover Sport', 'EQS', 'Silverado', 'Alto 800', 'Taigun', 'Cooper SE', '7-Series', 'Vista', '3-Series', 'I-Pace', 'Fiesta/Classic', 'Captur', 'C-Coupe', 'Scorpio', 'Ertiga', 'Thar', 'Nexon EV', 'EQB', 'Rexton', 'Cayenne', 'Cayenne Coupe', 'i20 Active', 'Grande', 'Getz', 'Countryman', 'Slavia', 'X4', 'A-Class', 'Terracan', 'Fluence', 'Nano', 'Alcazar', 'X7', 'Triber', 'Ikon', 'Innova Hyrcross', 'XF', 'C3', 'ZS EV', 'Estilo', 'Gallardo', 'Convertible', 'S-Presso', 'WR-V', 'Clubman', 'X3', 'e2o Plus', 'SX4', 'Grand Vitara 2015', 'X5', 'Aspire', 'i10']

In [399]:
print(list(df_overview_B['versionName'].unique()))

['LX', '1.8 J', 'EX 1.6 CRDi AT [2017-2018]', 'Magna 1.1 iRDE2 [2010-2017]', 'LXi Minor', '320d M Sport', 'XZA Plus Petrol Dark Edtion [2022-2023]', 'Monte Carlo 1.0 TSI AT', 'W8(O) Dual Tone', 'RXZ 1.5 Petrol MT', '1.2 SX Dual Tone', 'EX 1.4 CRDi', 'Magna 1.2 Kappa VTVT [2017-2020]', 'LXI CNG (O)', 'S', 'E250 CDI Classic', 'Highline Plus 1.5L (D)16 Alloy', 'Asta 1.2 with Sunroof', 'Zeta 1.3 Diesel', 'LXi [2021-2023]', '118d Hatchback', 'Active 1.3', 'W4 1.5 Diesel [2020]', '1.4  TSI Ambition', 'GLX 1.4', 'VXi Minor', 'Sportz Plus 1.2 Dual Tone [2019-2020]', 'XM', 'Super 1.5 Petrol [2019-2020]', 'LXi (O)', 'Connect 1.5 DLS', 'Asta 1.4 AT with AVN', 'Alpha Plus Intelligent Hybrid eCVT', '530i Sedan', 'EXi 1.4 Durasport', 'XL (P)', 'Luxury 1.4 Petrol 7 STR', 'Xeta eGL BS-IV', 'RxE Petrol', '630i M Sport [2021-2023]', 'XE CNG', '1.5 V MT', 'L&K TDI AT', '220 d Progressive', 'T4', '450d', 'E Diesel', 'Alpha Dual Tone eCVT', '1.5 TDI CR Ambition Plus AT', '2.4 GX Limited Edition AT 8 STR', '1.6 SX Plus AT Petrol', 'SX 1.2 MT', 'Era + SE', 'T(O)', 'Zeta MT Petrol', 'EL 7.2 kW', 'E 1.5 Diesel [2020-2022]', '2WD Diesel AT', 'VX MT Diesel', 'C 220 CDI Style', 'XTA 4x2 7 STR', 'L&K 2.0 TDI AT', 'ZXi Plus [2022-2023]', 'V MT [2018-2020]', 'S4 Plus 1.99 [2016-2017]', 'Titanium Plus 1.2 Ti-VCT', 'N10 [2022]', 'S AT 1.2 (O)', 'Delta 1.3 Hybrid', 'VXi BS-IV', 'Magna 1.4 CRDI', '1.6 AWD Diesel AT', '200 CGI Elegance', 'S9', 'Elegance TSI AT', 'R4', 'VX 2.7 7 STR', '35 TDI Premium Sport + Sunroof', '3.0 HSE Petrol', '3.2 FSI quattro', 'VD', 'XT Diesel [2017-2019]', 'Asta 1.2 with AVN', 'Era [2011-2012]', 'LXi (O) 1.0', 'sDrive20d Expedition', 'Ultima Elegance 1.6 MPI AT', 'Prestige 1.4 Petrol MT 7 STR', 'PS Petrol', 'Sports Edition Dual Tone Petrol', '2.0L 2WD AT', 'Comfortline Connect', 'V AT', 'Delta', 'Sharp 2.0 Diesel [2019-2020]', 'Grand Edition Diesel', '650i Coupe', 'Dynamic Multijet 1.3 [2014-2016]', 'Era 1.4 CRDI [2016-2017]', '80 Anniversary 1.4 Petrol DCT', 'Comfortline Petrol AT [2015-2016]', 'GD SP', 'Titanium 1.5L Ti-VCT Black Edition AT', 'HTX Plus 1.5 Diesel [2020-2021]', 'xDrive 30d M Sport [2015-2017]', 'ZXi Plus AMT [2021-2023]', 'W9 1.99', 'S8', '320d Luxury Plus', '1.4 VTVT', 'XL 1.5 D [2019-2019]', 'Asta 1.4 CRDI with AVN 6 Speed', 'ZX Petrol', 'Aero-sport', 'XV Premium AMT', '2.6 CRDe', 'GLE', 'HTX 1.5 Dual Tone [2019-2020]', 'Exclusive Edition Diesel', 'Alpha AGS', 'Lounge', '1.8 SX AT', 'Titanium 1.2 Ti-VCT MT [2019-2020]', 'Zeta MT [2022-2023]', 'D3', 'Alpha 1.5 Diesel', '4WD AT', '1.8 T Multitronic', 'HSE Dynamic 3.0 Diesel', '2.0 TDI Premium Plus', 'sDrive20d', 'Comfortline 1.9 TDI AT', 'VXi (O) 1.2', 'GLS 1.6', 'XZ Plus LUX', 'SX (O) 1.5 VTVT IVT', '1.3 GVS', 'VXi AMT ABS', 'LXi (O) 1.0 CNG [2019-2020]', 'Platinum Edition', '630d M Sport [2018-2019]', 'Sharp 1.5 Petrol CVT', 'Trendline Petrol', 'Magna (O) 1.2', 'Ambiente 1.5L TDCi', 'Sport 2.0 4x4 AT', 'Premium 1.4 Petrol 7 STR', 'XL Turbo CVT', 'RXT AMT', 'Kaziranga XZ Plus (Premium) Diesel', 'Era', 'HTK Plus 1.5 Diesel', '7 STR STD (O)', 'XE [2020-2023]', '3.0 TDI quattro', 'ZXi CNG [2022-2023]', '630i Convertible', 'xDrive20d', 'XZ iCNG [2022-2023]', 'RXT [2019-2020]', 'Trend 1.2 Ti-VCT [2018-2019]', 'XV D THP 110 PS Edition', 'Gran Coupe [2014-2015]', 'HTK Plus 1.5', '330i Sport Line', 'VXi (O) 1.0', 'Magna U2 1.2 CRDi', 'XZ Plus (S) [2022-2023]', 'RXT', 'Highline', '730Ld M Sport Plus', 'Revotron XZ w/o Alloy [2018-2019]', 'XV Turbo [2020]', 'Sharp 2.0 Diesel Turbo MT', 'Fluidic 1.6 CRDi SX', 'Sharp 1.5 Petrol Turbo DCT', '1.8V MT', 'Neotech RXL 1.0  AMT', '1.6 EXi NXt', 'LX Hard Top Petrol AT 4WD', 'S 450', 'Carrera', 'Zeta AT', '320 L', 'LXi 1.4 TDCi', '1.5 E i-DTEC', '400d 4MATIC LWB', 'XT', 'Base 1.2 [2014-2016]', 'Edge Edition Petrol [2018-2019]', 'Sportline AT [2020-2021]', 'ZXi Plus [2020-2023]', 'Fluidic VTVT 1.6 EX AT', 'SX (O) 2.0 AT', 'Trendline 1.0L MPI', 'Magna 1.2 [2016-2017]', 'RXE Petrol', 'Touring Coupe MT', 'Titanium Plus 1.2 Ti-VCT [2018-2020]', 'ZDi Plus 1.5 Diesel', 'Fluidic 1.6 CRDi', 'XTA Diesel', 'T', 'Summum D5', 'Kaziranga XZ Plus', 'K8 6 STR', 'SX 1.5 Petrol CVT', '1.2 W6 [2019-2019]', 'M8 8 STR', 'Style TSI MT', 'AX 5 Petrol AT 5 STR [2021]', 'VX CVT Petrol [2017-2019]', 'Adventure AMT', 'E200', 'VXi AMT [2017-2019]', 'VXi AMT [2019-2020]', 'B4 [2022]', 'Fluidic 1.4 VTVT', 'RxE Petrol [2016-2017]', 'LX Hard Top Petrol AT', 'VLX 2WD BS-III', 'Revotron XM', 'XMA (S) Diesel [2020-2023]', 'Alpha Smart Hybrid AT [2022-2023]', 'W11 Opt AT', 'VX Diesel [2019-2020]', '520d Luxury Line [2017-2019]', 'Ambition 1.6 TDI CR MT', 'VXi AT SHVS', 'XE Petrol [2020-2023]', 'VXi [2019-2020]', 'DX Royale', 'C 200 Progressive [2018-2020]', 'Scout', 'High Grade AT', 'L&K AT [2020-2021]', '350 CDI L', 'V MT', 'GLS (Leather)', 'ZDI', 'T10 AMT', 'AX (O) Hard Top Diesel MT 4WD [2023]', 'E 400 Cabriolet', 'Premium Dual Tone', '2.0 GX 8 STR', 'Kinetic D5', 'XZ Plus (HS)', 'RXT MT', 'S 1.1 CRDi', 'Trend 1.5L TDCi [2019-2020]', 'LXi [2022-2023]', 'H4 1.8G', '55 TFSI quattro', 'CLXi 1.6', '300h Exquisite [2020-2021]', '630i Coupe', 'Asta 1.2 AT', 'M2 8 STR [2020]', 'Highline 1.6 (P) Connect Edition', 'Revotorq XZ [2016-2019]', 'E 350 CDI Edition E', 'Turbo', 'T(O) 0.8L Limited Edition', 'Z8 Diesel AT 2WD 7 STR [2022]', '1.8 TFSI Multitronic Premium Plus', '645i', 'RX7', 'sDrive 35i', 'ZXi [2017-2019]', 'HSE SD4', 'Sharp 2.0 Diesel', '30 TDI S Edition', '3.0 4x2 MT', '500L', '520i Luxury Line', 'LXI 1.0', 'G CVT', 'xDrive30d DPE', 'SX 7 STR', 'Premium Grade AT Dual Tone', '1.8 TSI Style Plus AT [2017]', 'XK eRLX - Euro II', 'GTX Plus 1.0 DCT', '1.8 GL Classic', '2.8 4x4 AT [2016-2020]', 'S 1.5 Petrol [2020-2022]', '1.5 TDI CR Style Plus Black Package', 'DLS DiCOR BS-III', 'AX 3 Petrol AT 5 STR [2021]', 'xDrive 30d Expedition', '2.5 VX 7 STR BS-III', '1.6 CRDi SX', 'XL AT eRLX - Euro III', 'Alpha (O) 1.2 AT', 'ZDi Plus', '450h', '2.2 VX 4x2 Varicor400', 'S Petrol Alive Edition', '35 TFSI Premium Plus', 'Delta 1.6', 'Creative IRA Dual Tone [2022-2023]', 'D 3 Door', 'Premio', '1.4 LS 8 STR', 'SX Plus 1.2 AMT Petrol', 'E 200 Edition E', '2.4 GX 7 STR [2016-2020]', 'GT Plus 1.5 TSI DSG', 'Lxi ABS [2014-2017]', '45 TDI Premium Plus', 'VXi AMT [2014-2018]', 'Magna [2018-2020]', 'XZ Plus Gold', '30 TFSI Technology Pack', '110 X-Dynamic HSE 3.0 Diesel [2021]', 'GLS', 'HTK Plus 1.5 AT', 'Creative iRA Pack MT [2021-2023]', '4x2 EX TCIC', 'Topline 1.0 TSI MT', '1.4TFSI Multitronic', 'SXi 1.6', 'Trendline 1.6', 'RXL [2015-2019]', 'HSE Petrol', 'XL (O) [2013-2016]', 'Vdi (ABS) BS-IV', '1.5 S MT', 'Elegance TDI AT', '1.6 Petrol', 'Highline1.2L (P)', 'XT [2017-2019]', '110 PS RxL Explore LE', 'Elegance 2.0 TDI CR 4x4', 'Asta 1.2 (O) [2016-2017]', 'Comfortline 1.0L (P)', '1.4 G2 BS-IV', '320d Edition Sport', 'Luxury Plus 1.5 Diesel 6 STR', 'ZDi Opt [2015-2017]', '1.6 S Petrol', 'GTX Plus 1.0 DCT Dual Tone', 'Sigma 1.2 MT', 'Kinetic D4', 'SX 1.6 CRDI (O)', '53 AMG 4Matic Plus', 'XM Petrol', '1.4 SX [2015-2016]', 'E 350d AMG Line', '85 PS RXL [2015-2016]', 'HTX Plus 1.5 Dual Tone', 'XZ Plus Lux 3.3 KW [2022-2023]', '100 D2.5', '2.5 VX BS IV 8 STR', 'Sharp Pro 1.5 Turbo Petrol CVT 6 STR', 'ZXi Plus Dual Tone [2021-2023]', '35 TDI Premium Sunroof', 'E Plus 1.4 CRDI', '1.2 S i-VTEC Opt', 'LXi CNG [2019-2020]', 'V AT NeoDrive [2022-2023]', 'GTX Plus 1.5 [2020-2021]', 'SX 1.6 CRDi Dual Tone', 'XLT 4X2', 'XZ Plus [2020-2023]', 'Plus Petrol', 'LT 1.0 BS-III', '1.5 TDI CR Style Plus', '1.6 MPI Elegance AT', 'XE 4x2 7 STR', 'HTK Plus 1.5 iMT', '2.5 G4 7 STR', 'ZXi (O) AMT [2019-2020]', '4 WD (AT)', 'xDrive 30i Luxury Line', 'S6 Plus 1.99 Intelli-Hybrid', 'C 220 CDI Avantgarde', 'V', 'Delta 1.3 Diesel', '3.5 V6', 'ZXi AT', 'XZ Diesel [2020-2023]', 'S 1.6 AT CRDi', 'Trend 1.2 Ti-VCT [2014-20016]', 'Savvy Pro 1.5 Turbo CVT Dual Tone', 'Sigma 1.4 MT', '200 K Elegance', '2.5 G 7 STR BS-III', '328i Sport Line', 'C 300d', '110 PS RXS 4X2 AMT Diesel', 'Platinum Edition Diesel', '1.8 VL AT', 'ZDi [2015-2017]', 'Boxster', 'M6 8 STR', 'Titanium 1.5L TDCi Black Edition', 'XZA Plus 6S Adventure New', 'T0', 'Adventure MT', 'SV Petrol MT', 'Style 1.5 TDI AT', 'CX 8 STR', '2.2 LX 4x2', '220d 4MATIC Progressive', '2WD MT Diesel', 'Thunder Edtion Diesel [2019-2020]', 'S7', 'XM 3.3 KW', 'SE 4.4 Petrol [2022]', 'S AT', 'Fluidic 1.6 CRDi SX AT', 'V Hybrid [2022-2023]', 'Super 1.5 Petrol Turbo MT', 'W7 AT [2018-2020]', '300 Progressive', 'JD', 'Luxury Plus 1.5 Diesel 7 STR', 'LXi [2020-2023]', 'XZ Plus Diesel [2020-2023]', 'LXi 1.6', 'AX 7 Petrol MT 7 STR [2021]', '1.4 GSi', '2.0 TDI L&K', 'V AMT', 'VXI+', 'Titanium1.5 TDCi [2018-2020]', 'DI', 'xDrive20d M Sport', 'Signature 6 STR 1.5 Diesel', '6.5', 'Premium Grade AT', 'Prestige 6 STR 1.5 Diesel', '1.5 VX CVT Diesel [2019-2020]', '320d Sport Line [2016-2018]', 'GLS 4WD AT Diesel', 'W8 (O) 1.5 Diesel AMT Dual Tone', 'Delta Dualjet', 'XV Premium (O) Turbo 1.3 Dual Tone', 'C 250 d', 'Unlimited 4x4 Petrol', '30 TDI Sports Edition', 'LS 1.4 Ltd', 'HTE 1.5', 'J Diesel', '2.2 Diesel', '4x2 EX DICOR BS-III', 'E4 BS-III', 'SX Plus 1.0 Turbo DCT Dual Tone [2020-2020]', 'SX (O) 1.5 Turbo Petrol DCT', 'Sportz 1.1 CRDi [2016-2017]', 'Sportz', 'xDrive30d DPE Signature 7STR', 'Asta 1.0 Turbo IMT', 'S ABS 1.2 [2015-2016]', 'Highline Plus 1.5L AT (D)16 Alloy', 'Titanium Blu 1.5 TDCi [2019-2020]', '200 CGI', '2.4 GDi AT', '5 STR AC (O)', 'Asta 1.0 Turbo IMT Dual Tone', 'XE Petrol', 'ZX 2.4 AT 7 STR', 'LXi CNG BS-IV', '2.2 EX 4X2', 'M4 Plus 8 STR [2020]', 'Sportz 1.1 iRDE2 [2010--2017]', 'RXZ', '320d Luxury Line', 'XT [2019-2020]', '330i', 'C8', 'Sportz AMT 1.2 Kappa VTVT', 'SDV6 SE', '320d Sport Line [2014-2016]', '3.8', 'Ambition 2.0 TDI', 'Neotech RXL', 'S Plus 1.4 CRDI', 'Asta (O) 1.2', 'N8 1.0 Turbo DCT Dual Tone', 'Prestige Petrol CBU', 'LT 1.4', 'Competition', 'W6 1.99', 'M8 7 STR', 'Adventure Rhythm Pack MT', '4S', 'E Plus 1.6 CRDi', 'DLS BS-III', 'Titanium 1.2 Ti-VCT Sports Edition', 'ZXi CNG', '2.5 G BS III 8 STR', '1.2 SX [2015-2016]', 'XV Turbo CVT Red Edition [2022]', 'Base 1.2', 'ZXI Plus 1.2 AGS [2022-2023]', 'Titanium 1.5L Ti-VCT AT', 'VXi (O) CNG [2022-2023]', 'LXi CNG (Airbag) [2014-2019]', '220d M Sport [2020-2021]', 'Diesel Ltd', 'X Line 1.5 Diesel AT', '1.2 S AT i-VTEC Opt', 'E [2022-2023]', 'VXD Xclusive', 'Trendline 1.2L (D)', 'K4 D 6 STR', 'Zxi (O) AMT [2017-2019]', '1.5 V AT Exclusive', 'E CRDi', '1.5 Petrol CVT', 'Grand Edition CDI', '200 CDI Sport', 'VGT CRDi SX ABS', 'Magna 1.1 CRDi [2013-2016]', 'Comfortline Diesel', 'Lx', 'Revotron XM [2016-2019]', 'M Coupe', 'Comfortline 1.6 (P)', 'Delta 1.5 AT [2020-2023]', 'W6', '730d Sedan', 'Active 1.2', 'LX Hard Top Petrol MT 4WD', 'VXi [2014-2019]', 'Sportz 1.2 MT Dual Tone [2020-2023]', 'Magna 1.1 LPG', 'Highline Diesel [2015-2016]', 'E350 CDI Avantgarde', 'HTK Plus 1.5 Diesel [2019-2020]', 'AX Hard Top Diesel MT', '1.5 V AT', 'HTK Plus 1.0 iMT [2020-2021]', 'Emotion T-Jet [2014-2016]', '2.0 Portfolio', 'Maybach S 600', '4WD AT [2014-2017]', 'W8 AWD', '1.5 E4', 'V8 SC Autobiography', 'Sharp 1.5 Petrol Turbo DCT 6-STR Dual Tone', 'Delta Smart Hybrid AT', 'XV Premium Pack (Safety)', 'SX (O)1.5 MPi', 'Comfortline TSI', 'E8 ABS BS-IV', 'XV Premium Turbo (O) CVT Dual Tone', 'Pure Diesel CBU', 'ZXi (Opt) [2019-2020]', 'XV Premium [2020]', 'LDi Special Edition', 'SLX AT', 'Alpha AT Petrol', 'Alpha Automatic', 'ZX CVT Petrol', 'Era 1.2 BS-IV', 'VX MT', 'Delta Automatic', 'VXI 1.0', 'Sportz 1.2 IVT [2020-2023]', 'S AT 1.2', 'RXL Diesel', 'GT TDI [2016-2017]', 'LC 200 VX', 'VTVT SX 1.6', 'LX Hard Top Petrol MT 4WD [2023]', 'SX 1.6 (O) CRDi', 'VX Petrol [2017-2019]', '2.4L 4WD AVN', 'Excellence [2016-2020]', 'G', 'Trend 1.5 TDCi', 'Titanium 1.5L TDCi [2019-2020]', 'SX 1.5 Turbo Petrol DCT Dual Tone', 'Titanium 1.5 TDCi', '200 D', 'E 1.5 Petrol [2020-2022]', '2.0 TDI quattro Technology Pack', '1.2', 'Premium Grade MT Dual Tone', '3 Door Hatchback', '2.0 R-Dynamic SE Petrol 250', '220d', 'Ambition AT', 'Asta 1.1 CRDi (O) [2013-2017]', 'XZ Plus Leatherette Pack [2022-2023]', '1.4 S [2015-2016]', 'V CVT', 'Prestige Petrol', 'H8 ABS Airbag BS IV', 'Zeta Hybrid 1.5 AT [2018-2020]', 'VX (O) MT Diesel', 'S R-Dynamic 2.0 Petrol', 'Base 1.2 Ti-VCT', '1.2 W8 (O) [2019-2019]', '1.8 G', 'LXi [2017-2019]', 'Alpha 1.2 AMT', 'Limited (O) 1.4 Petrol DCT', 'Lxi ABS (O)', '43 AMG', 'XM [2019-2020]', '2.5 TDi AT', 'C 300d AMG line', 'Sharp Hybrid 1.5 Petrol [2019-2020]', 'B4 Ultimate', 'Highline1.2L Plus (P) 16 Alloy [2017-2018]', '1.5 Petrol MT', 'RXT Diesel Dual Tone', '4MATIC', 'XZA Plus Gold 6 S', 'D', '4X2 AT 2.8 Legender', 'Night Eagle (O) 2.0 Diesel [2022]', '2.0 i4 Premium Luxury', 'Sharp 2.0 Diesel Dual Tone', '220d Progressive Line', 'Ambiente 1.2 Ti-VCT [2018-2020]', 'SX Plus 1.6 AT Petrol', 'GT 1.5 TSI MT', '1.0 RXT AMT Opt', '2.5 EV MS 8 STR BS-IV', '1.6 SX Plus', 'Dynamic Multijet 1.3', 'VDI', 'XV Pre (O) 1.5 D [2019]', '2.4 VTi-L MT', '50 Jahre M Edition', 'Exclusive LWB', 'CVT', 'W7', '3.0 4x2 AT', 'Momentum', '2.0 TDI CR Ambition', 'Sportz 1.4 (O)', 'Zxi [2017-2019]', 'S V12', '200 Petrol Sport  (CBU)', '1.5 TDI CR Ambition AT', 'Titanium + 1.5L Ti-VCT AT [2019-2020]', '1.8S MT', 'W6 1.2 Petrol [2019]', 'Limited (O) 4X2 MT [2022]', 'S 1.0 [2017-2019]', 'Smart 1.5 Petrol CVT', 'GTX 1.4', 'LXi [2018-2019]', '4x4 LX', 'E 1.6 VTVT [2017-2018]', 'XZA Plus', 'sDrive20d(H)', 'LX Convertible Petrol AT', 'VXi CNG [2021-2023]', 'B4', 'RXZ Turbo CVT', 'Hybrid', 'VXi AGS [2020-2023]', '3.0 V8', '1.8E MT', 'G Hybrid', '2.4 G 7 STR [2016-2017]', 'AX 6-STR Soft Top Petrol MT', 'HTX 1.5 Diesel AT', '110 PS RXZ AMT Diesel', '4', 'LE Quadrajet BS-III', 'Asta [2018-2020]', '2.0 TDI CR Ambition Plus AT', 'Smart 2.0 Diesel [2019-2020]', '1.8 Sport', 'LS 2.0 TCDi', 'S Diesel [2015-2016]', 'Alpha 1.3 Diesel [2017-2018]', 'Magna CNG [2018-2020]', 'AX (O) Convertible Top Diesel MT 4WD', '1.4 GD', 'LXi (O) [2022-2023]', 'Limited (O) 2.0 Diesel [2017-2020]', 'Highline Diesel AT', 'S6 Plus', '1.6 VTVT', 'VXi CNG [2022-2023]', 'xDrive 30i Luxury Line [2018-2019]', 'Era 1.1 CRDi [2013-2016]', 'Longitude (O) 1.4 Petrol AT', 'Sportz U2 1.2 CRDi Dual Tone', 'S Plus 1.5 Petrol Knight Dual Tone', 'VXi AMT [2021-2023]', '1.6 SX Plus Petrol Special Edition', '4MATIC Plus', 'Pure MT [2021-2023]', '1.8 GL', 'Sharp 1.5 Petrol Turbo DCT Dual Tone', 'Fluidic 1.6 VTVT SX Opt AT', 'GTX Plus 1.5 AT', '1.3 IRIS', 'Era 1.1 LPG', 'T4 Momentum', 'Advantage Edition', '80 Anniversary 2.0 Diesel 4X4 AT', '110 PS RxL 7 STR [2016]', 'Premium Plus 55 TFSI', 'Ambition 1.6 MPI AT Plus', '3.0 TDV6 HSE', 'Titanium + 1.5L Ti-VCT AT', 'GLS Safire65', 'S(O) 1.5 CRDi', 'TSI', '1.4 LT 7 STR', 'XM Petrol [2021-2022]', 'Sportz 1.1 CRDi Special Edition [2016-2017]', '2.6 DX', 'E 1.6 Petrol', '530i Sport Line', 'Prestige 7 STR 1.5 Diesel', 'LXi 1.0 [2019-2019]', 'ZXi+ RS [2015-2017]', '3.0L 4x2 AT', 'Hybrid [2015-2017]', '3.0 TDI quattro Premium', 'XV Premium Turbo CVT Dual Tone [2020]', 'GX BS-IV', 'Sigma 1.5 [2020-2023]', 'Platinum (O) 7 Seater 1.5 Diesel AT', '2.5 VX BS III 8 STR', 'Luxury Plus 1.5 Diesel AT 6 STR', '1.6 VTVT SX AT', 'AX 7 Petrol AT 7 STR [2021]', 'A', 'RXZ AMT Dual Tone', '1.4 TSI', 'GX 2.7 8 STR', 'AX 5 Diesel AT 5 STR', 'Power Plus ZLX', '5 STR WITH A/C+HTR CNG [2019]', 'GLXd 2.0', 'xDrive30d M Sport X', '1.6 VTVT SX (O)', '35 TFSI', 'Trend+ 1.5L TDCi', '1.5 E MT Diesel [2018-2020]', 'XZA Plus (Premium) Dark Edition', 'S MT Petrol', '250 CDI Avantagarde', 'ZXi Plus AGS [2020-2023]', '530d', 'XZ Plus i-Turbo Petrol [2021-2023]', 'Trend 1.5L Ti-VCT', 'W12', 'XE Plus Petrol [2021-2023]', '200 Urban Edition', 'Titanium 1.5L TDCi [2020-2021]', 'VX BS IV', 'Sharp 1.5 MT [2021-2023]', 'Alpha Plus MT Petrol Dual Tone [2022-2023]', 'Cooper D', 'Premium', 'Sportz 1.2 Kappa VTVT [2016-2017]', 'C 200', 'Z8 L Diesel AT 4WD 6 STR', 'HTK 1.5', '1.6 MPI Ambition with Alloy Wheels', '200 D Urban Sport', '730Ld', 'Exclusive Edition CVT Petrol', 'Lxi', 'C 63 S AMG', 'Sportz 1.2 Kappa VTVT [2013-2016]', 'Fluidic 1.6 CRDi SX Opt AT', '1.3 LS 7 STR', 'H2 1.8E', '220 CDI Elegance AT', '1.8 TSI L&K', 'V Petrol', 'XE', 'VDi+ SHVS', '110 PS RxL [2015-2016]', '580 4MATIC', 'ZXi AMT ABS', 'Magna (O) with Sunroof', '85 PS RXZ 4X2 MT Diesel (Opt)', 'ZDi (O) [2014-2015]', 'E8 ABS BS-III', 'B 180 Sport', 'Magna 1.2 MT [2020-2023]', '4 WD', '200 CDI Style (CBU)', '730Ld M Sport', '116i Hatchback', 'Limited 1.4 Petrol AT [2017-2020]', '450 AMG', 'AX 3 Diesel AT 5 STR [2021]', 'HTK 1.5 [2019-2020]', 'Style Diesel [2011-2014]', 'R350 CDI 4Matic', 'Titanium + 1.5L TDCi [2019-2020]', 'Revotron XZ (O)', 'Trend Diesel', '1.5 W4 [2019-2020]', '5.0 V8 Autobiography LWB', 'SX 1.5 VTVT IVT', 'C 220d Progressive [2018-2019]', 'HL Hybrid', 'Style 1.5L TSI MT', 'VX CR4 BS-IV', 'Sigma 1.3 Hybrid', 'G MT [2018-2020]', 'DLS 1.5 ABS BS-IV', 'XMA Diesel', '2.0 TSI', 'Delta 1.4 MT', 'ZDi+ SHVS RS [2015-2017]', 'Sportz 1.2 AT', 'Prestige 7 STR 2.0 Petrol', 'GTX Plus 1.5 Diesel AT Dual Tone', 'E Plus 1.6 Petrol', '300 4MATIC', 'AX 7 Petrol AT Luxury Pack 7 STR [2021]', 'HTK Plus 1.2 Petrol MT', 'CRDe 4x4 Non AC', 'Model S (O) Diesel 4x4 AT [2021]', 'XZ Plus Dual Tone', 'SX Plus 1.6 Dual Tone Petrol', 'DX 2.6 Turbo 8 Str', 'DLE', 'W6 2013', 'HTE 1.5 Diesel [2020-2021]', 'S4 Plus', 'Titanium+ 1.0L EcoBoost', 'Highline 1.2 (P) AT', 'Era + AirBag', 'T CVT [2019-2020]', 'LDI', 'High (Z)', 'Xeta GVS BS-III', 'Asta 1.2 IVT', 'RXT [2015-2019]', 'K2 Plus 6 STR [2017-2020]', 'T10 AMT Dual Tone', '4x2 EX DiCOR 2.2 VTT', 'XL D Plus', '1.2 S MT Petrol [2018-2020]', '1.5 TDI CR Style Plus AT', 'Automatic', '85 PS RXL 4X2 MT [2016-2017]', '35 TDI Matrix', '2.7 GX AT 8 STR [2016-2020]', 'XL Turbo [2020]', 'Asta (O) 1.2 MT Dual Tone [2020-2023]', 'Emotion 1.4 [2014-2016]', 'DX', 'E 1.5 CRDi', '130 HSE 3.0 Petrol', '110 PS RXL Stepway 8 STR', 'CLIMBER 1.0 AMT', 'T8', 'VXi 1.0 AMT [2019-2019]', 'ZXi (O) CNG', 'xDrive30d Pure Experience (7 Seater)', 'EXi 1.4 TDCi Ltd', '1.2 V MT Petrol [2018-2020]', 'SX 1.5 Petrol CVT [2020-2022]', 'Highline 1.6 (P)', 'Touring Sport Petrol MT [2017-2020]', 'SXi 1.6 ABS', 'Alpha (O) 1.2', 'T (O)', 'Delta Hybrid 1.5 AT [2018-2020]', 'Smart Pro EX 1.5 Turbo Petrol MT [2023]', 'GX', 'SX 2.0 AT', 'ZXi 1.2', 'D3 R-Design', 'Era +', 'E8 ABS Airbag BS-IV', 'LX Hard Top Petrol MT', 'C 220d Prime [2018-2019]', 'Bumblebee', '4x2 VX DICOR BS-IV', 'XMA 4x2 7 STR', 'Shine Dual Tone', 'XZ Plus (HS) Dark Edition', 'GTX Plus 1.0 iMT Dual Tone', 'D3 Inscription', 'GT TSI', '85 PS Base 4X2 MT Diesel', 'XMS Diesel', 'xDrive30d', 'Zxi BS-IV', 'SDX 1.3', 'L&K [2022]', 'V AWD NeoDrive [2022-2023]', 'Era + LPG', 'Vxi (ABS) BS-IV', 'EL 7.2 kW DT', 'D5 2.4 L', 'Xeta GLG 1.2 BS-III', 'HSE 7-Seater', 'Delta MT [2022-2023]', '3.0 Premium Luxury [2016-2018]', 'HTX Plus 1.5 Diesel Dual Tone', 'VXi CNG [2019-2020]', 'Limited (O) 2.0 Diesel', 'xDrive30d DPE Signature [2019-2020]', 'Revotron XZA', '1.5 TDI CR Elegance Plus Black Package', 'XXi ABS', 'VDi (O) [2016-2018]', 'SX (O) 1.5 Turbo Petrol MT', 'Asta 1.1 CRDi [2013-2016]', 'Titanium+ 1.5L TDCi Black Edition', 'Revotron XE [2016-2019]', 'Magna 1.4 CRDI [2016-2017]', 'VXi 1.2', 'XZ Plus Lux Jet', 'E9 BS-IV', 'S 1.2', 'Aqua Safire BS-III', 'XV Petrol', '250 CDI Elegance', 'RXT 1.0', '520d Luxury Line', '5th Anniversary Edition 2.0 Diesel [2022]', 'XTA Plus', '5 STR WITH A/C+HTR CNG [2017-2019]', 'Alpha Plus AT Petrol [2022-2023]', 'LXI (O)', 'SX 1.6 (O) Petrol', 'SE R-Dynamic Petrol', 'MT', '4.4 SDV8 Vogue SE LWB', 'SX 1.6 AT CRDi', 'XL Diesel [2013-2017]', '5.0 Petrol', 'XV CVT', 'SV Petrol [2019-2020]', 'RXL EASY-R AMT', 'xDrive-20d xLine', '3.0L 4x4 AT', 'Hatchback', '3.0 V6 Premium Luxury', 'Twist XE', 'W10 AT', 'CLIMBER 1.0 AMT [2017-2019]', 'SX 1.2 (O)', 'G CVT OPT', 'Active 1.2 MPI', 'Touring Sport Diesel AT [2017-2020]', '3.0 Vogue SE Petrol', 'Sportz 1.4 CRDI [2016-2017]', 'S Diesel', 'Delta Smart Hybrid AT [2022-2023]', 'XM Plus (S) iCNG', 'VXI AMT', 'Vdi BS-IV', '5.0 V8', '1.6 SX Plus Special Edition', 'Lxi (O) [2014-2017]', 'King HT BS-IV', '53 4MATIC Plus', '2.

* modelName contains year data so utilizing rootName as modelName
* versionName contains version of the Model of car, so keeping the column data intact

In [400]:
# dropping modelName and renaming rootName to model

df_overview_B = df_overview_B.drop(['modelName'])

In [401]:
df_overview_B = df_overview_B.rename({'rootName':'modelName'})

In [402]:
df_overview_B.columns

['profileId',
 'vehicle',
 'price',
 'kilometers',
 'fuelName',
 'insurance',
 'makeName',
 'versionName',
 'makeYear',
 'makeMonth',
 'cityName',
 'noOfOwners',
 'regType',
 'priceNumeric',
 'modelName',
 'State',
 'transmission']

##### `makeYear` and `makeMonth`

In [403]:
list(df_overview_B['makeMonth'].unique())

['Dec',
 'Aug',
 'Sep',
 'May',
 'Mar',
 'Apr',
 'Jan',
 'Oct',
 'Jun',
 'Nov',
 'Jul',
 'Feb']

In [404]:
list(df_overview_B['makeYear'].unique())

[1900,
 1988,
 1991,
 1993,
 1994,
 1995,
 1996,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023]

* makeYear and makeMonth are consistent and no changes are required.

In [405]:
df_overview_B.columns

['profileId',
 'vehicle',
 'price',
 'kilometers',
 'fuelName',
 'insurance',
 'makeName',
 'versionName',
 'makeYear',
 'makeMonth',
 'cityName',
 'noOfOwners',
 'regType',
 'priceNumeric',
 'modelName',
 'State',
 'transmission']

##### `noOfOwners`

In [406]:
list(df_overview_B['noOfOwners'].unique())

['4 or More', 'Second', 'Third', 'UnRegistered Car', 'First', 'Fourth']

* data is consistent
* changing 'UnRegistered Car' to 'Unregistered Car'

In [407]:
df_overview_B = df_overview_B.with_columns(pl.col('noOfOwners').str.replace('UnRegistered Car','Unregistered Car'))

In [408]:
df_overview_B.columns

['profileId',
 'vehicle',
 'price',
 'kilometers',
 'fuelName',
 'insurance',
 'makeName',
 'versionName',
 'makeYear',
 'makeMonth',
 'cityName',
 'noOfOwners',
 'regType',
 'priceNumeric',
 'modelName',
 'State',
 'transmission']

##### `regType`

In [409]:
list(df_overview_B['regType'].unique())

[None, 'Corporate', 'Individual', 'Taxi']

* this data is consistent and does not require any changes

##### `priceNumeric` and `price`

In [410]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('price').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('priceNumeric').is_null()).shape[0],'\n',
        #'empty',df_overview_B.filter(pl.col('priceNumeric')=='').shape[0],'\n',
        #'space', df_overview_B.filter(pl.col('priceNumeric')==' ').shape[0],'\n',
        #'0 (Str)',df_overview_B.filter(pl.col('priceNumeric')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('priceNumeric')==None).shape[0],'\n',
        #'NA',df_overview_B.filter(pl.col('priceNumeric')=='Not Available').shape[0],'\n',
    
        #numeric
        'nan', df_overview_B.filter(pl.col('priceNumeric').is_nan()).shape[0],'\n',
        '0', df_overview_B.filter(pl.col('priceNumeric')==0).shape[0],'\n',
        

        )

null 0
 None 0
 nan 0
 0 0

In [411]:
# first clearing out the leading and trailing spaces

df_overview_B = df_overview_B.with_columns(pl.col('price').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_overview_B.filter(pl.col('price').is_null()).shape[0],'\n',
        'empty',df_overview_B.filter(pl.col('price')=='').shape[0],'\n',
        'space', df_overview_B.filter(pl.col('price')==' ').shape[0],'\n',
        '0 (Str)',df_overview_B.filter(pl.col('price')=='0').shape[0],'\n',
        'None',df_overview_B.filter(pl.col('price')==None).shape[0],'\n',
        'NA',df_overview_B.filter(pl.col('price')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_overview_B.filter(pl.col('versionName').is_nan()).shape[0],'\n',
        #'0', df_overview_B.filter(pl.col('versionName')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 0

* no inconsistencies in priceNumeric column found
* so dropping price and using priceNumeric column instead

In [412]:
df_overview_B['priceNumeric'].sort(descending= False)

shape: (30_274,)
Series: 'priceNumeric' [i64]
[
	40000
	50000
	50000
	50000
	50000
	50000
	55000
	60000
	65000
	69000
	75000
	75000
	…
	29000000
	30000000
	30500000
	31000000
	31125000
	32500000
	37500000
	39500000
	39975000
	40000000
	40000000
	40500000
	54500000
]

In [413]:
df_overview_B = df_overview_B.drop('price')

In [414]:
df_overview_B.describe()

shape: (9, 17)
┌────────────┬───────────┬──────────────────┬──────────────┬───┬──────────────┬───────────┬─────────────┬──────────────┐
│ describe   ┆ profileId ┆ vehicle          ┆ kilometers   ┆ … ┆ priceNumeric ┆ modelName ┆ State       ┆ transmission │
│ ---        ┆ ---       ┆ ---              ┆ ---          ┆   ┆ ---          ┆ ---       ┆ ---         ┆ ---          │
│ str        ┆ str       ┆ str              ┆ f64          ┆   ┆ f64          ┆ str       ┆ str         ┆ str          │
╞════════════╪═══════════╪══════════════════╪══════════════╪═══╪══════════════╪═══════════╪═════════════╪══════════════╡
│ count      ┆ 30274     ┆ 30274            ┆ 30274.0      ┆ … ┆ 30274.0      ┆ 30274     ┆ 30274       ┆ 30274        │
│ null_count ┆ 0         ┆ 0                ┆ 0.0          ┆ … ┆ 0.0          ┆ 0         ┆ 0           ┆ 0            │
│ mean       ┆ null      ┆ null             ┆ 58325.222567 ┆ … ┆ 1.4369e6     ┆ null      ┆ null        ┆ null         │
│ std        ┆ null      ┆ null             ┆ 55097.712796 ┆ … ┆ 2.1342e6     ┆ null      ┆ null        ┆ null         │
│ min        ┆ D1982769  ┆ Aston Martin     ┆ 0.0          ┆ … ┆ 40000.0      ┆ 1-Series  ┆ Chandigarh  ┆ Automatic    │
│            ┆           ┆ Rapide S V12     ┆              ┆   ┆              ┆           ┆             ┆              │
│ 25%        ┆ null      ┆ null             ┆ 30000.0      ┆ … ┆ 453775.0     ┆ null      ┆ null        ┆ null         │
│ 50%        ┆ null      ┆ null             ┆ 52000.0      ┆ … ┆ 750000.0     ┆ null      ┆ null        ┆ null         │
│ 75%        ┆ null      ┆ null             ┆ 76000.0      ┆ … ┆ 1.525e6      ┆ null      ┆ null        ┆ null         │
│ max        ┆ S2805517  ┆ Volvo XC90       ┆ 3.95e6       ┆ … ┆ 5.45e7       ┆ iX        ┆ Uttarakhand ┆ Manual       │
│            ┆           ┆ Momentum Luxury  ┆              ┆   ┆              ┆           ┆             ┆              │
│            ┆           ┆ [2015…           ┆              ┆   ┆              ┆           ┆             ┆              │
└────────────┴───────────┴──────────────────┴──────────────┴───┴──────────────┴───────────┴─────────────┴──────────────┘

In [415]:
#changine priceName to price
df_overview_B = df_overview_B.rename({'priceNumeric':'price'})

In [416]:
df_overview_B.describe()

shape: (9, 17)
┌────────────┬───────────┬──────────────────────┬──────────────┬───┬──────────┬───────────┬─────────────┬──────────────┐
│ describe   ┆ profileId ┆ vehicle              ┆ kilometers   ┆ … ┆ price    ┆ modelName ┆ State       ┆ transmission │
│ ---        ┆ ---       ┆ ---                  ┆ ---          ┆   ┆ ---      ┆ ---       ┆ ---         ┆ ---          │
│ str        ┆ str       ┆ str                  ┆ f64          ┆   ┆ f64      ┆ str       ┆ str         ┆ str          │
╞════════════╪═══════════╪══════════════════════╪══════════════╪═══╪══════════╪═══════════╪═════════════╪══════════════╡
│ count      ┆ 30274     ┆ 30274                ┆ 30274.0      ┆ … ┆ 30274.0  ┆ 30274     ┆ 30274       ┆ 30274        │
│ null_count ┆ 0         ┆ 0                    ┆ 0.0          ┆ … ┆ 0.0      ┆ 0         ┆ 0           ┆ 0            │
│ mean       ┆ null      ┆ null                 ┆ 58325.222567 ┆ … ┆ 1.4369e6 ┆ null      ┆ null        ┆ null         │
│ std        ┆ null      ┆ null                 ┆ 55097.712796 ┆ … ┆ 2.1342e6 ┆ null      ┆ null        ┆ null         │
│ min        ┆ D1982769  ┆ Aston Martin Rapide  ┆ 0.0          ┆ … ┆ 40000.0  ┆ 1-Series  ┆ Chandigarh  ┆ Automatic    │
│            ┆           ┆ S V12                ┆              ┆   ┆          ┆           ┆             ┆              │
│ 25%        ┆ null      ┆ null                 ┆ 30000.0      ┆ … ┆ 453775.0 ┆ null      ┆ null        ┆ null         │
│ 50%        ┆ null      ┆ null                 ┆ 52000.0      ┆ … ┆ 750000.0 ┆ null      ┆ null        ┆ null         │
│ 75%        ┆ null      ┆ null                 ┆ 76000.0      ┆ … ┆ 1.525e6  ┆ null      ┆ null        ┆ null         │
│ max        ┆ S2805517  ┆ Volvo XC90 Momentum  ┆ 3.95e6       ┆ … ┆ 5.45e7   ┆ iX        ┆ Uttarakhand ┆ Manual       │
│            ┆           ┆ Luxury [2015…        ┆              ┆   ┆          ┆           ┆             ┆              │
└────────────┴───────────┴──────────────────────┴──────────────┴───┴──────────┴───────────┴─────────────┴──────────────┘

#### EXPORTING OVERVIEW DATA

In [417]:
df_overview_B.write_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\02.Pre-Processing\Pre-processed Data Stage-II\overview_B.csv')

### `Specifications` DATA

In [418]:
df_specifications_B = pl.read_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\02.Pre-Processing\Pre-processed Data Stage-I\specifications_B.csv')

In [419]:
df_specifications_B.shape

(894201, 8)

In [420]:
df_specifications_B.describe()

shape: (9, 9)
┌────────────┬─────────────────┬─────────────────┬──────────┬───┬─────────────┬───────────┬────────────────┬───────────┐
│ describe   ┆ specName        ┆ specValue       ┆ specUnit ┆ … ┆ carId       ┆ profileId ┆ vehicle        ┆ city      │
│ ---        ┆ ---             ┆ ---             ┆ ---      ┆   ┆ ---         ┆ ---       ┆ ---            ┆ ---       │
│ str        ┆ str             ┆ str             ┆ str      ┆   ┆ f64         ┆ str       ┆ str            ┆ str       │
╞════════════╪═════════════════╪═════════════════╪══════════╪═══╪═════════════╪═══════════╪════════════════╪═══════════╡
│ count      ┆ 894201          ┆ 894201          ┆ 894201   ┆ … ┆ 894201.0    ┆ 894201    ┆ 894201         ┆ 894201    │
│ null_count ┆ 0               ┆ 0               ┆ 525576   ┆ … ┆ 0.0         ┆ 0         ┆ 0              ┆ 0         │
│ mean       ┆ null            ┆ null            ┆ null     ┆ … ┆ 3559.244744 ┆ null      ┆ null           ┆ null      │
│ std        ┆ null            ┆ null            ┆ null     ┆ … ┆ 2392.10689  ┆ null      ┆ null           ┆ null      │
│ min        ┆ Acceleration    ┆ 	BIFUEL CNG 1.2L ┆ Doors    ┆ … ┆ 0.0         ┆ D1982769  ┆ Aston Martin   ┆ Bangalore │
│            ┆ (0-100 kmph)    ┆ MPFI, BS4       ┆          ┆   ┆             ┆           ┆ Rapide S V12   ┆           │
│ 25%        ┆ null            ┆ null            ┆ null     ┆ … ┆ 1552.0      ┆ null      ┆ null           ┆ null      │
│ 50%        ┆ null            ┆ null            ┆ null     ┆ … ┆ 3194.0      ┆ null      ┆ null           ┆ null      │
│ 75%        ┆ null            ┆ null            ┆ null     ┆ … ┆ 5338.0      ┆ null      ┆ null           ┆ null      │
│ max        ┆ Width           ┆ winPower Turbo  ┆ seconds  ┆ … ┆ 9450.0      ┆ S2805517  ┆ Volvo XC90     ┆ Mumbai    │
│            ┆                 ┆ inline          ┆          ┆   ┆             ┆           ┆ Momentum       ┆           │
│            ┆                 ┆ 6-cylinder…     ┆          ┆   ┆             ┆           ┆ Luxury [2015…  ┆           │
└────────────┴─────────────────┴─────────────────┴──────────┴───┴─────────────┴───────────┴────────────────┴───────────┘

#### REMOVING DUPLICATES

* profileId and specName will be the unique key to identify each record.
* for each car (profileId)

In [421]:
# taking a copy of the original dataframe before removing duplicates
df_specifications_B_1 = df_specifications_B.clone()

In [422]:
df_specifications_B[['profileId','specName']].unique()

shape: (878_632, 2)
┌───────────┬─────────────────────┐
│ profileId ┆ specName            │
│ ---       ┆ ---                 │
│ str       ┆ str                 │
╞═══════════╪═════════════════════╡
│ D4135089  ┆ Fuel Type           │
│ D4135089  ┆ Max Power (bhp@rpm) │
│ D4135089  ┆ Max Torque (Nm@rpm) │
│ D4135089  ┆ Transmission        │
│ …         ┆ …                   │
│ S2588717  ┆ Front Suspension    │
│ S2588717  ┆ Steering Type       │
│ S2588717  ┆ Wheels              │
│ S2588717  ┆ Rear Tyres          │
└───────────┴─────────────────────┘

In [423]:
df_specifications_B.group_by(['profileId','specName']).count().filter(pl.col('count')>1)

shape: (8_247, 3)
┌───────────┬─────────────────────┬───────┐
│ profileId ┆ specName            ┆ count │
│ ---       ┆ ---                 ┆ ---   │
│ str       ┆ str                 ┆ u32   │
╞═══════════╪═════════════════════╪═══════╡
│ D4111595  ┆ Top Speed           ┆ 2     │
│ D4111595  ┆ Emission Standard   ┆ 2     │
│ D4111595  ┆ Four Wheel Steering ┆ 2     │
│ D4111595  ┆ Front Suspension    ┆ 2     │
│ …         ┆ …                   ┆ …     │
│ D3875399  ┆ No of Seating Rows  ┆ 2     │
│ D3875399  ┆ Bootspace           ┆ 2     │
│ D3875399  ┆ Front Brake Type    ┆ 2     │
│ D3875399  ┆ Steering Type       ┆ 2     │
└───────────┴─────────────────────┴───────┘

In [424]:
df_specifications_B.filter((pl.col('profileId') == "D4116985") & (pl.col('specName') == "Engine"))

shape: (2, 8)
┌──────────┬────────────────────────┬──────────┬───────────────┬───────┬───────────┬───────────────────────┬───────────┐
│ specName ┆ specValue              ┆ specUnit ┆ spec_category ┆ carId ┆ profileId ┆ vehicle               ┆ city      │
│ ---      ┆ ---                    ┆ ---      ┆ ---           ┆ ---   ┆ ---       ┆ ---                   ┆ ---       │
│ str      ┆ str                    ┆ str      ┆ str           ┆ i64   ┆ str       ┆ str                   ┆ str       │
╞══════════╪════════════════════════╪══════════╪═══════════════╪═══════╪═══════════╪═══════════════════════╪═══════════╡
│ Engine   ┆ 3198 cc, 4 Cylinders   ┆ null     ┆ Engine &      ┆ 44    ┆ D4116985  ┆ Ford Endeavour Trend  ┆ Bangalore │
│          ┆ Inline, 4 V…           ┆          ┆ Transmission  ┆       ┆           ┆ 3.2 4x4 AT            ┆           │
│ Engine   ┆ 3198 cc, 4 Cylinders   ┆ null     ┆ Engine &      ┆ 1844  ┆ D4116985  ┆ Ford Endeavour Trend  ┆ Hyderabad │
│          ┆ Inline, 4 V…           ┆          ┆ Transmission  ┆       ┆           ┆ 3.2 4x4 AT            ┆           │
└──────────┴────────────────────────┴──────────┴───────────────┴───────┴───────────┴───────────────────────┴───────────┘

In [425]:
df_specifications_B.unique(['profileId','specName']).filter((pl.col('profileId') == "D4116985") & (pl.col('specName') == "Engine"))

shape: (1, 8)
┌──────────┬────────────────────────┬──────────┬───────────────┬───────┬───────────┬───────────────────────┬───────────┐
│ specName ┆ specValue              ┆ specUnit ┆ spec_category ┆ carId ┆ profileId ┆ vehicle               ┆ city      │
│ ---      ┆ ---                    ┆ ---      ┆ ---           ┆ ---   ┆ ---       ┆ ---                   ┆ ---       │
│ str      ┆ str                    ┆ str      ┆ str           ┆ i64   ┆ str       ┆ str                   ┆ str       │
╞══════════╪════════════════════════╪══════════╪═══════════════╪═══════╪═══════════╪═══════════════════════╪═══════════╡
│ Engine   ┆ 3198 cc, 4 Cylinders   ┆ null     ┆ Engine &      ┆ 44    ┆ D4116985  ┆ Ford Endeavour Trend  ┆ Bangalore │
│          ┆ Inline, 4 V…           ┆          ┆ Transmission  ┆       ┆           ┆ 3.2 4x4 AT            ┆           │
└──────────┴────────────────────────┴──────────┴───────────────┴───────┴───────────┴───────────────────────┴───────────┘

In [426]:
# getting unique values by profileID and specName

df_specifications_B = df_specifications_B.unique(['profileId','specName'])

In [427]:
# checking
df_specifications_B.filter((pl.col('profileId') == "D4116985") & (pl.col('specName') == "Engine"))

shape: (1, 8)
┌──────────┬────────────────────────┬──────────┬───────────────┬───────┬───────────┬───────────────────────┬───────────┐
│ specName ┆ specValue              ┆ specUnit ┆ spec_category ┆ carId ┆ profileId ┆ vehicle               ┆ city      │
│ ---      ┆ ---                    ┆ ---      ┆ ---           ┆ ---   ┆ ---       ┆ ---                   ┆ ---       │
│ str      ┆ str                    ┆ str      ┆ str           ┆ i64   ┆ str       ┆ str                   ┆ str       │
╞══════════╪════════════════════════╪══════════╪═══════════════╪═══════╪═══════════╪═══════════════════════╪═══════════╡
│ Engine   ┆ 3198 cc, 4 Cylinders   ┆ null     ┆ Engine &      ┆ 44    ┆ D4116985  ┆ Ford Endeavour Trend  ┆ Bangalore │
│          ┆ Inline, 4 V…           ┆          ┆ Transmission  ┆       ┆           ┆ 3.2 4x4 AT            ┆           │
└──────────┴────────────────────────┴──────────┴───────────────┴───────┴───────────┴───────────────────────┴───────────┘

#### COLUMN-WISE UNDERSTANDING OF DATA AND CLEANING

In [428]:
df_specifications_B_1 = df_specifications_B.clone()

In [429]:
df_specifications_B.head(2)

shape: (2, 8)
┌─────────────┬───────────────┬──────────┬───────────────┬───────┬───────────┬──────────────────────┬───────────┐
│ specName    ┆ specValue     ┆ specUnit ┆ spec_category ┆ carId ┆ profileId ┆ vehicle              ┆ city      │
│ ---         ┆ ---           ┆ ---      ┆ ---           ┆ ---   ┆ ---       ┆ ---                  ┆ ---       │
│ str         ┆ str           ┆ str      ┆ str           ┆ i64   ┆ str       ┆ str                  ┆ str       │
╞═════════════╪═══════════════╪══════════╪═══════════════╪═══════╪═══════════╪══════════════════════╪═══════════╡
│ Engine Type ┆ 2.0 L Kryotec ┆ null     ┆ Engine &      ┆ 0     ┆ D4135089  ┆ Tata Harrier XZ Dark ┆ Bangalore │
│             ┆               ┆          ┆ Transmission  ┆       ┆           ┆ Edition              ┆           │
│ Fuel Type   ┆ Diesel        ┆ null     ┆ Engine &      ┆ 0     ┆ D4135089  ┆ Tata Harrier XZ Dark ┆ Bangalore │
│             ┆               ┆          ┆ Transmission  ┆       ┆           ┆ Edition              ┆           │
└─────────────┴───────────────┴──────────┴───────────────┴───────┴───────────┴──────────────────────┴───────────┘

* city, carId columns are not need, hence deleting them

In [430]:
df_specifications_B = df_specifications_B.drop(['carId','city'])

* analysing columns

##### `specName`

In [431]:
# first clearing out the leading and trailing spaces

df_specifications_B = df_specifications_B.with_columns(pl.col('specName').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specifications_B.filter(pl.col('specName').is_null()).shape[0],'\n',
        'empty',df_specifications_B.filter(pl.col('specName')=='').shape[0],'\n',
        'space', df_specifications_B.filter(pl.col('specName')==' ').shape[0],'\n',
        '0 (Str)',df_specifications_B.filter(pl.col('specName')=='0').shape[0],'\n',
        'None',df_specifications_B.filter(pl.col('specName')==None).shape[0],'\n',
        'NA',df_specifications_B.filter(pl.col('specName')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specifications_B.filter(pl.col('specName').is_nan()).shape[0],'\n',
        #'0', df_specifications_B.filter(pl.col('specName')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 0

In [432]:
 list(df_specifications_B['specName'].unique())

['Highway Mileage (CarWale Tested)',
 'Turbocharger / Supercharger',
 'Mileage (ARAI)',
 'Drivetrain',
 'Four Wheel Steering',
 'Length',
 'Transmission',
 'Battery',
 'Ground Clearance',
 'Battery Charging',
 'Emission Standard',
 'Performance on Alternate Fuel',
 'Others',
 'Electric Motor',
 'Max Torque (Nm@rpm)',
 'Max Power (bhp@rpm)',
 'Spare Wheel',
 'Fuel Tank Capacity',
 'Width',
 'Electric Motor Assist',
 'City Mileage (CarWale Tested)',
 'Max Motor Performance',
 'Driving Range',
 'Height',
 'Bootspace',
 'Rear Suspension',
 'No of Seating Rows',
 'Wheels',
 'Kerb Weight',
 'Front Tyres',
 'Steering Type',
 'Minimum Turning Radius',
 'Front Suspension',
 'Top Speed',
 'Acceleration (0-100 kmph)',
 'Alternate Fuel',
 'Engine',
 'Rear Brake Type',
 'Engine Type',
 'Front Brake Type',
 'Fuel Type',
 'Seating Capacity',
 'Wheelbase',
 'Doors',
 'Rear Tyres',
 'Range (Carwale Tested)']

* no notable discrepancies

##### `specValue`

In [433]:
# first clearing out the leading and trailing spaces

df_specifications_B = df_specifications_B.with_columns(pl.col('specValue').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specifications_B.filter(pl.col('specValue').is_null()).shape[0],'\n',
        'empty',df_specifications_B.filter(pl.col('specValue')=='').shape[0],'\n',
        'space', df_specifications_B.filter(pl.col('specValue')==' ').shape[0],'\n',
        '0 (Str)',df_specifications_B.filter(pl.col('specValue')=='0').shape[0],'\n',
        'None',df_specifications_B.filter(pl.col('specValue')==None).shape[0],'\n',
        'NA',df_specifications_B.filter(pl.col('specValue')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specifications_B.filter(pl.col('specValue').is_nan()).shape[0],'\n',
        #'0', df_specifications_B.filter(pl.col('specValue')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 6487
 None 0
 NA 0

* there are a lot of '0' values.
* analysis to be done by specification category.
* keeping the column for now

##### `specUnit`

In [434]:
# first clearing out the leading and trailing spaces

df_specifications_B = df_specifications_B.with_columns(pl.col('specUnit').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specifications_B.filter(pl.col('specUnit').is_null()).shape[0],'\n',
        'empty',df_specifications_B.filter(pl.col('specUnit')=='').shape[0],'\n',
        'space', df_specifications_B.filter(pl.col('specUnit')==' ').shape[0],'\n',
        '0 (Str)',df_specifications_B.filter(pl.col('specUnit')=='0').shape[0],'\n',
        'None',df_specifications_B.filter(pl.col('specUnit')==None).shape[0],'\n',
        'NA',df_specifications_B.filter(pl.col('specUnit')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specifications_B.filter(pl.col('specUnit').is_nan()).shape[0],'\n',
        #'0', df_specifications_B.filter(pl.col('specUnit')==0).shape[0],'\n',
        

        )

null 516383
 empty 0
 space 0
 0 (Str) 0
 None 516383
 NA 0

In [435]:
list(df_specifications_B['specUnit'].unique())

['Doors',
 'Km',
 'kmpl',
 'Person',
 'km/full charge',
 'litres',
 'Rows',
 'Kmph',
 'km/kg',
 'mm',
 'seconds',
 'kg',
 None,
 'metres']

##### `profileId`

In [436]:
# first clearing out the leading and trailing spaces

df_specifications_B = df_specifications_B.with_columns(pl.col('profileId').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specifications_B.filter(pl.col('profileId').is_null()).shape[0],'\n',
        'empty',df_specifications_B.filter(pl.col('profileId')=='').shape[0],'\n',
        'space', df_specifications_B.filter(pl.col('profileId')==' ').shape[0],'\n',
        '0 (Str)',df_specifications_B.filter(pl.col('profileId')=='0').shape[0],'\n',
        'None',df_specifications_B.filter(pl.col('profileId')==None).shape[0],'\n',
        'NA',df_specifications_B.filter(pl.col('profileId')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specifications_B.filter(pl.col('profileId').is_nan()).shape[0],'\n',
        #'0', df_specifications_B.filter(pl.col('profileId')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 0

* no discrepancies in profileId

##### `vehicle`

In [437]:
# first clearing out the leading and trailing spaces

df_specifications_B = df_specifications_B.with_columns(pl.col('vehicle').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specifications_B.filter(pl.col('vehicle').is_null()).shape[0],'\n',
        'empty',df_specifications_B.filter(pl.col('vehicle')=='').shape[0],'\n',
        'space', df_specifications_B.filter(pl.col('vehicle')==' ').shape[0],'\n',
        '0 (Str)',df_specifications_B.filter(pl.col('vehicle')=='0').shape[0],'\n',
        'None',df_specifications_B.filter(pl.col('vehicle')==None).shape[0],'\n',
        'NA',df_specifications_B.filter(pl.col('vehicle')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specifications_B.filter(pl.col('vehicle').is_nan()).shape[0],'\n',
        #'0', df_specifications_B.filter(pl.col('vehicle')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 0

* no discrepancies in vehicle data

##### `spec_category`

In [438]:
# first clearing out the leading and trailing spaces

df_specifications_B = df_specifications_B.with_columns(pl.col('spec_category').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specifications_B.filter(pl.col('spec_category').is_null()).shape[0],'\n',
        'empty',df_specifications_B.filter(pl.col('spec_category')=='').shape[0],'\n',
        'space', df_specifications_B.filter(pl.col('spec_category')==' ').shape[0],'\n',
        '0 (Str)',df_specifications_B.filter(pl.col('spec_category')=='0').shape[0],'\n',
        'None',df_specifications_B.filter(pl.col('spec_category')==None).shape[0],'\n',
        'NA',df_specifications_B.filter(pl.col('spec_category')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specifications_B.filter(pl.col('spec_category').is_nan()).shape[0],'\n',
        #'0', df_specifications_B.filter(pl.col('spec_category')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 0

In [439]:
list(df_specifications_B['spec_category'].unique())

['Suspensions, Brakes, Steering & Tyres',
 'Dimensions & Weight',
 'Engine & Transmission',
 'Capacity']

#### LOOKING INTO SPECIFICATION CATEGORIES

* The dataset will be split by CATEGORIES for ease of analysis
* There are 4 categories and data will be split according to this:
    * 'Engine & Transmission'
    * 'Dimensions & Weight'
    * 'Capacity'
    * 'Suspensions, Brakes, Steering & Tyres'

In [440]:
df_specifications_B.filter((pl.col('spec_category')=='Engine & Transmission') & (pl.col('profileId')=='D4116985'))

shape: (9, 6)
┌───────────────────────┬───────────────────────┬──────────┬───────────────────────┬───────────┬───────────────────────┐
│ specName              ┆ specValue             ┆ specUnit ┆ spec_category         ┆ profileId ┆ vehicle               │
│ ---                   ┆ ---                   ┆ ---      ┆ ---                   ┆ ---       ┆ ---                   │
│ str                   ┆ str                   ┆ str      ┆ str                   ┆ str       ┆ str                   │
╞═══════════════════════╪═══════════════════════╪══════════╪═══════════════════════╪═══════════╪═══════════════════════╡
│ Engine                ┆ 3198 cc, 4 Cylinders  ┆ null     ┆ Engine & Transmission ┆ D4116985  ┆ Ford Endeavour Trend  │
│                       ┆ Inline, 4 V…          ┆          ┆                       ┆           ┆ 3.2 4x4 AT            │
│ Max Torque (Nm@rpm)   ┆ 470 Nm @ 1750 rpm     ┆ null     ┆ Engine & Transmission ┆ D4116985  ┆ Ford Endeavour Trend  │
│                       ┆                       ┆          ┆                       ┆           ┆ 3.2 4x4 AT            │
│ Engine Type           ┆ 3.2 l TDCi            ┆ null     ┆ Engine & Transmission ┆ D4116985  ┆ Ford Endeavour Trend  │
│                       ┆                       ┆          ┆                       ┆           ┆ 3.2 4x4 AT            │
│ Mileage (ARAI)        ┆ 10.91                 ┆ kmpl     ┆ Engine & Transmission ┆ D4116985  ┆ Ford Endeavour Trend  │
│                       ┆                       ┆          ┆                       ┆           ┆ 3.2 4x4 AT            │
│ Transmission          ┆ Automatic - 6 Gears,  ┆ null     ┆ Engine & Transmission ┆ D4116985  ┆ Ford Endeavour Trend  │
│                       ┆ Manual Over…          ┆          ┆                       ┆           ┆ 3.2 4x4 AT            │
│ Turbocharger /        ┆ Turbocharged          ┆ null     ┆ Engine & Transmission ┆ D4116985  ┆ Ford Endeavour Trend  │
│ Supercharger          ┆                       ┆          ┆                       ┆           ┆ 3.2 4x4 AT            │
│ Fuel Type             ┆ Diesel                ┆ null     ┆ Engine & Transmission ┆ D4116985  ┆ Ford Endeavour Trend  │
│                       ┆                       ┆          ┆                       ┆           ┆ 3.2 4x4 AT            │
│ Max Power (bhp@rpm)   ┆ 197 bhp @ 3000 rpm    ┆ null     ┆ Engine & Transmission ┆ D4116985  ┆ Ford Endeavour Trend  │
│                       ┆                       ┆          ┆                       ┆           ┆ 3.2 4x4 AT            │
│ Drivetrain            ┆ 4WD / AWD             ┆ null     ┆ Engine & Transmission ┆ D4116985  ┆ Ford Endeavour Trend  │
│                       ┆                       ┆          ┆                       ┆           ┆ 3.2 4x4 AT            │
└───────────────────────┴───────────────────────┴──────────┴───────────────────────┴───────────┴───────────────────────┘

In [441]:
df_specifications_B.filter((pl.col('spec_category')=='Dimensions & Weight') & (pl.col('profileId')=='D4116985'))

shape: (5, 6)
┌──────────────────┬───────────┬──────────┬─────────────────────┬───────────┬─────────────────────────────────┐
│ specName         ┆ specValue ┆ specUnit ┆ spec_category       ┆ profileId ┆ vehicle                         │
│ ---              ┆ ---       ┆ ---      ┆ ---                 ┆ ---       ┆ ---                             │
│ str              ┆ str       ┆ str      ┆ str                 ┆ str       ┆ str                             │
╞══════════════════╪═══════════╪══════════╪═════════════════════╪═══════════╪═════════════════════════════════╡
│ Wheelbase        ┆ 2850      ┆ mm       ┆ Dimensions & Weight ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4 AT │
│ Ground Clearance ┆ 225       ┆ mm       ┆ Dimensions & Weight ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4 AT │
│ Length           ┆ 4892      ┆ mm       ┆ Dimensions & Weight ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4 AT │
│ Width            ┆ 1860      ┆ mm       ┆ Dimensions & Weight ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4 AT │
│ Height           ┆ 1837      ┆ mm       ┆ Dimensions & Weight ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4 AT │
└──────────────────┴───────────┴──────────┴─────────────────────┴───────────┴─────────────────────────────────┘

In [442]:
df_specifications_B.filter((pl.col('spec_category')=='Capacity') & (pl.col('profileId')=='D4116985'))

shape: (4, 6)
┌────────────────────┬───────────┬──────────┬───────────────┬───────────┬─────────────────────────────────┐
│ specName           ┆ specValue ┆ specUnit ┆ spec_category ┆ profileId ┆ vehicle                         │
│ ---                ┆ ---       ┆ ---      ┆ ---           ┆ ---       ┆ ---                             │
│ str                ┆ str       ┆ str      ┆ str           ┆ str       ┆ str                             │
╞════════════════════╪═══════════╪══════════╪═══════════════╪═══════════╪═════════════════════════════════╡
│ Seating Capacity   ┆ 7         ┆ Person   ┆ Capacity      ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4 AT │
│ Fuel Tank Capacity ┆ 80        ┆ litres   ┆ Capacity      ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4 AT │
│ Doors              ┆ 5         ┆ Doors    ┆ Capacity      ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4 AT │
│ No of Seating Rows ┆ 3         ┆ Rows     ┆ Capacity      ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4 AT │
└────────────────────┴───────────┴──────────┴───────────────┴───────────┴─────────────────────────────────┘

In [443]:
df_specifications_B.filter((pl.col('spec_category')=='Suspensions, Brakes, Steering & Tyres') & (pl.col('profileId')=='D4116985'))

shape: (10, 6)
┌──────────────────┬────────────────────┬──────────┬──────────────────────┬───────────┬────────────────────────────────┐
│ specName         ┆ specValue          ┆ specUnit ┆ spec_category        ┆ profileId ┆ vehicle                        │
│ ---              ┆ ---                ┆ ---      ┆ ---                  ┆ ---       ┆ ---                            │
│ str              ┆ str                ┆ str      ┆ str                  ┆ str       ┆ str                            │
╞══════════════════╪════════════════════╪══════════╪══════════════════════╪═══════════╪════════════════════════════════╡
│ Rear Brake Type  ┆ Disc               ┆ null     ┆ Suspensions, Brakes, ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4   │
│                  ┆                    ┆          ┆ Steering & …         ┆           ┆ AT                             │
│ Rear Suspension  ┆ Coil spring, Watts ┆ null     ┆ Suspensions, Brakes, ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4   │
│                  ┆ linkage Type …     ┆          ┆ Steering & …         ┆           ┆ AT                             │
│ Front Brake Type ┆ Disc               ┆ null     ┆ Suspensions, Brakes, ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4   │
│                  ┆                    ┆          ┆ Steering & …         ┆           ┆ AT                             │
│ Minimum Turning  ┆ 4.9                ┆ metres   ┆ Suspensions, Brakes, ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4   │
│ Radius           ┆                    ┆          ┆ Steering & …         ┆           ┆ AT                             │
│ …                ┆ …                  ┆ …        ┆ …                    ┆ …         ┆ …                              │
│ Front Suspension ┆ Independent Coll,  ┆ null     ┆ Suspensions, Brakes, ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4   │
│                  ┆ spring with an…    ┆          ┆ Steering & …         ┆           ┆ AT                             │
│ Rear Tyres       ┆ 265 / 60 R18       ┆ null     ┆ Suspensions, Brakes, ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4   │
│                  ┆                    ┆          ┆ Steering & …         ┆           ┆ AT                             │
│ Steering Type    ┆ Power assisted     ┆ null     ┆ Suspensions, Brakes, ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4   │
│                  ┆ (Electric)         ┆          ┆ Steering & …         ┆           ┆ AT                             │
│ Front Tyres      ┆ 265 / 60 R18       ┆ null     ┆ Suspensions, Brakes, ┆ D4116985  ┆ Ford Endeavour Trend 3.2 4x4   │
│                  ┆                    ┆          ┆ Steering & …         ┆           ┆ AT                             │
└──────────────────┴────────────────────┴──────────┴──────────────────────┴───────────┴────────────────────────────────┘

- The only category that might be useful for our analysis
    * 'Engine & Transmission'
    * 'Dimensions & Weight'
    * 'Capacity'
- Ignoring Suspensions, Brakes, Steering & Tyres category

#### `Engine & Transmission`

In [444]:
#filtering Engine and Tranmission
df_specs_B_Engine = df_specifications_B.filter(pl.col('spec_category')=='Engine & Transmission')

In [445]:
df_specs_B_Engine.head()

shape: (5, 6)
┌─────────────────────┬────────────────────┬──────────┬───────────────────────┬───────────┬──────────────────────┐
│ specName            ┆ specValue          ┆ specUnit ┆ spec_category         ┆ profileId ┆ vehicle              │
│ ---                 ┆ ---                ┆ ---      ┆ ---                   ┆ ---       ┆ ---                  │
│ str                 ┆ str                ┆ str      ┆ str                   ┆ str       ┆ str                  │
╞═════════════════════╪════════════════════╪══════════╪═══════════════════════╪═══════════╪══════════════════════╡
│ Engine Type         ┆ 2.0 L Kryotec      ┆ null     ┆ Engine & Transmission ┆ D4135089  ┆ Tata Harrier XZ Dark │
│                     ┆                    ┆          ┆                       ┆           ┆ Edition              │
│ Fuel Type           ┆ Diesel             ┆ null     ┆ Engine & Transmission ┆ D4135089  ┆ Tata Harrier XZ Dark │
│                     ┆                    ┆          ┆                       ┆           ┆ Edition              │
│ Max Power (bhp@rpm) ┆ 168 bhp @ 3750 rpm ┆ null     ┆ Engine & Transmission ┆ D4135089  ┆ Tata Harrier XZ Dark │
│                     ┆                    ┆          ┆                       ┆           ┆ Edition              │
│ Mileage (ARAI)      ┆ 16.3               ┆ kmpl     ┆ Engine & Transmission ┆ D4135089  ┆ Tata Harrier XZ Dark │
│                     ┆                    ┆          ┆                       ┆           ┆ Edition              │
│ Drivetrain          ┆ FWD                ┆ null     ┆ Engine & Transmission ┆ D4135089  ┆ Tata Harrier XZ Dark │
│                     ┆                    ┆          ┆                       ┆           ┆ Edition              │
└─────────────────────┴────────────────────┴──────────┴───────────────────────┴───────────┴──────────────────────┘

In [446]:
df_specs_B_Engine = df_specs_B_Engine.pivot(index = ['profileId','vehicle'],columns = 'specName', values = 'specValue')

In [447]:
df_specs_B_Engine.head()

shape: (5, 26)
┌───────────┬─────────────────┬────────────────┬───────────┬───┬──────────┬────────────────┬────────────────┬──────────┐
│ profileId ┆ vehicle         ┆ Engine Type    ┆ Fuel Type ┆ … ┆ Range    ┆ Electric Motor ┆ City Mileage   ┆ Highway  │
│ ---       ┆ ---             ┆ ---            ┆ ---       ┆   ┆ (Carwale ┆ Assist         ┆ (CarWale       ┆ Mileage  │
│ str       ┆ str             ┆ str            ┆ str       ┆   ┆ Tested)  ┆ ---            ┆ Tested)        ┆ (CarWale │
│           ┆                 ┆                ┆           ┆   ┆ ---      ┆ str            ┆ ---            ┆ Tested)  │
│           ┆                 ┆                ┆           ┆   ┆ str      ┆                ┆ str            ┆ ---      │
│           ┆                 ┆                ┆           ┆   ┆          ┆                ┆                ┆ str      │
╞═══════════╪═════════════════╪════════════════╪═══════════╪═══╪══════════╪════════════════╪════════════════╪══════════╡
│ D4135089  ┆ Tata Harrier XZ ┆ 2.0 L Kryotec  ┆ Diesel    ┆ … ┆ null     ┆ null           ┆ null           ┆ null     │
│           ┆ Dark Edition    ┆                ┆           ┆   ┆          ┆                ┆                ┆          │
│ D4170587  ┆ BMW 3 Series GT ┆ null           ┆ Diesel    ┆ … ┆ null     ┆ null           ┆ null           ┆ null     │
│           ┆ 320d Luxury     ┆                ┆           ┆   ┆          ┆                ┆                ┆          │
│           ┆ Line…           ┆                ┆           ┆   ┆          ┆                ┆                ┆          │
│ D4170559  ┆ Jeep Compass    ┆ null           ┆ Diesel    ┆ … ┆ null     ┆ null           ┆ null           ┆ null     │
│           ┆ Limited 2.0     ┆                ┆           ┆   ┆          ┆                ┆                ┆          │
│           ┆ Diesel …        ┆                ┆           ┆   ┆          ┆                ┆                ┆          │
│ D4112409  ┆ Mercedes-Benz   ┆ OM 654         ┆ Diesel    ┆ … ┆ null     ┆ null           ┆ null           ┆ null     │
│           ┆ C-Class C 220d  ┆                ┆           ┆   ┆          ┆                ┆                ┆          │
│ D4087571  ┆ Jeep Compass    ┆ null           ┆ Petrol    ┆ … ┆ null     ┆ null           ┆ null           ┆ null     │
│           ┆ Limited Plus    ┆                ┆           ┆   ┆          ┆                ┆                ┆          │
│           ┆ Petrol…         ┆                ┆           ┆   ┆          ┆                ┆                ┆          │
└───────────┴─────────────────┴────────────────┴───────────┴───┴──────────┴────────────────┴────────────────┴──────────┘

In [448]:
df_specs_B_Engine.describe()

shape: (9, 27)
┌────────────┬───────────┬────────────────┬────────────────┬───┬──────────┬────────────────┬────────────────┬──────────┐
│ describe   ┆ profileId ┆ vehicle        ┆ Engine Type    ┆ … ┆ Range    ┆ Electric Motor ┆ City Mileage   ┆ Highway  │
│ ---        ┆ ---       ┆ ---            ┆ ---            ┆   ┆ (Carwale ┆ Assist         ┆ (CarWale       ┆ Mileage  │
│ str        ┆ str       ┆ str            ┆ str            ┆   ┆ Tested)  ┆ ---            ┆ Tested)        ┆ (CarWale │
│            ┆           ┆                ┆                ┆   ┆ ---      ┆ str            ┆ ---            ┆ Tested)  │
│            ┆           ┆                ┆                ┆   ┆ str      ┆                ┆ str            ┆ ---      │
│            ┆           ┆                ┆                ┆   ┆          ┆                ┆                ┆ str      │
╞════════════╪═══════════╪════════════════╪════════════════╪═══╪══════════╪════════════════╪════════════════╪══════════╡
│ count      ┆ 30323     ┆ 30323          ┆ 30323          ┆ … ┆ 30323    ┆ 30323          ┆ 30323          ┆ 30323    │
│ null_count ┆ 0         ┆ 0              ┆ 3283           ┆ … ┆ 30307    ┆ 30307          ┆ 30280          ┆ 30280    │
│ mean       ┆ null      ┆ null           ┆ null           ┆ … ┆ null     ┆ null           ┆ null           ┆ null     │
│ std        ┆ null      ┆ null           ┆ null           ┆ … ┆ null     ┆ null           ┆ null           ┆ null     │
│ min        ┆ D1982769  ┆ Aston Martin   ┆ 0.8 L          ┆ … ┆ 223.9    ┆ 143 bhp @ 6200 ┆ 10.62          ┆ 15.34    │
│            ┆           ┆ Rapide S V12   ┆                ┆   ┆          ┆ rpm, 175 Nm @  ┆                ┆          │
│            ┆           ┆                ┆                ┆   ┆          ┆ 400…           ┆                ┆          │
│ 25%        ┆ null      ┆ null           ┆ null           ┆ … ┆ null     ┆ null           ┆ null           ┆ null     │
│ 50%        ┆ null      ┆ null           ┆ null           ┆ … ┆ null     ┆ null           ┆ null           ┆ null     │
│ 75%        ┆ null      ┆ null           ┆ null           ┆ … ┆ null     ┆ null           ┆ null           ┆ null     │
│ max        ┆ S2805517  ┆ Volvo XC90     ┆ winPower Turbo ┆ … ┆ 340.5    ┆ 215 bhp @ 5700 ┆ 9.5            ┆ 22.3     │
│            ┆           ┆ Momentum       ┆ inline         ┆   ┆          ┆ rpm, 221 Nm @  ┆                ┆          │
│            ┆           ┆ Luxury [2015…  ┆ 6-cylinder…    ┆   ┆          ┆ 360…           ┆                ┆          │
└────────────┴───────────┴────────────────┴────────────────┴───┴──────────┴────────────────┴────────────────┴──────────┘

In [449]:
df_specs_B_Engine = df_specs_B_Engine.drop(columns = ['Acceleration (0-100 kmph)','Battery','Battery Charging','Drivetrain','Driving Range',
                                    'Electric Motor','Electric Motor Assist','Emission Standard','Max Motor Performance','Others',
                                     'Performance on Alternate Fuel','Range (Carwale Tested)','Top Speed','Turbocharger / Supercharger'])

In [450]:
df_specs_B_Engine.describe()

shape: (9, 13)
┌────────────┬───────────┬────────────────┬────────────────┬───┬────────────────┬───────────┬───────────────┬──────────┐
│ describe   ┆ profileId ┆ vehicle        ┆ Engine Type    ┆ … ┆ Max Torque     ┆ Alternate ┆ City Mileage  ┆ Highway  │
│ ---        ┆ ---       ┆ ---            ┆ ---            ┆   ┆ (Nm@rpm)       ┆ Fuel      ┆ (CarWale      ┆ Mileage  │
│ str        ┆ str       ┆ str            ┆ str            ┆   ┆ ---            ┆ ---       ┆ Tested)       ┆ (CarWale │
│            ┆           ┆                ┆                ┆   ┆ str            ┆ str       ┆ ---           ┆ Tested)  │
│            ┆           ┆                ┆                ┆   ┆                ┆           ┆ str           ┆ ---      │
│            ┆           ┆                ┆                ┆   ┆                ┆           ┆               ┆ str      │
╞════════════╪═══════════╪════════════════╪════════════════╪═══╪════════════════╪═══════════╪═══════════════╪══════════╡
│ count      ┆ 30323     ┆ 30323          ┆ 30323          ┆ … ┆ 30323          ┆ 30323     ┆ 30323         ┆ 30323    │
│ null_count ┆ 0         ┆ 0              ┆ 3283           ┆ … ┆ 370            ┆ 22947     ┆ 30280         ┆ 30280    │
│ mean       ┆ null      ┆ null           ┆ null           ┆ … ┆ null           ┆ null      ┆ null          ┆ null     │
│ std        ┆ null      ┆ null           ┆ null           ┆ … ┆ null           ┆ null      ┆ null          ┆ null     │
│ min        ┆ D1982769  ┆ Aston Martin   ┆ 0.8 L          ┆ … ┆ 100 Nm @ 2700  ┆ CNG       ┆ 10.62         ┆ 15.34    │
│            ┆           ┆ Rapide S V12   ┆                ┆   ┆ rpm            ┆           ┆               ┆          │
│ 25%        ┆ null      ┆ null           ┆ null           ┆ … ┆ null           ┆ null      ┆ null          ┆ null     │
│ 50%        ┆ null      ┆ null           ┆ null           ┆ … ┆ null           ┆ null      ┆ null          ┆ null     │
│ 75%        ┆ null      ┆ null           ┆ null           ┆ … ┆ null           ┆ null      ┆ null          ┆ null     │
│ max        ┆ S2805517  ┆ Volvo XC90     ┆ winPower Turbo ┆ … ┆ @              ┆ Petrol    ┆ 9.5           ┆ 22.3     │
│            ┆           ┆ Momentum       ┆ inline         ┆   ┆                ┆           ┆               ┆          │
│            ┆           ┆ Luxury [2015…  ┆ 6-cylinder…    ┆   ┆                ┆           ┆               ┆          │
└────────────┴───────────┴────────────────┴────────────────┴───┴────────────────┴───────────┴───────────────┴──────────┘

##### `fuel`

In [451]:
# first clearing out the leading and trailing spaces

df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('Fuel Type').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Engine.filter(pl.col('Fuel Type').is_null()).shape[0],'\n',
        'empty',df_specs_B_Engine.filter(pl.col('Fuel Type')=='').shape[0],'\n',
        'space', df_specs_B_Engine.filter(pl.col('Fuel Type')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Engine.filter(pl.col('Fuel Type')=='0').shape[0],'\n',
        'None',df_specs_B_Engine.filter(pl.col('Fuel Type')==None).shape[0],'\n',
        'NA',df_specs_B_Engine.filter(pl.col('Fuel Type')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specifications_B.filter(pl.col('Fuel Type').is_nan()).shape[0],'\n',
        #'0', df_specifications_B.filter(pl.col('Fuel Type')==0).shape[0],'\n',
        

        )

null 14
 empty 0
 space 0
 0 (Str) 0
 None 14
 NA 0

* a few null and nan values where found
* there are LPG and CNG vehicles listed within Alternate Fuel
* checking if we could compensate the fuel column with alternate fuel

In [452]:
df_specs_B_Engine.filter((pl.col('Fuel Type').is_null()) & (pl.col("Alternate Fuel").is_not_null()))

shape: (13, 12)
┌───────────┬─────────────────┬──────────────┬───────────┬───┬─────────────────┬───────────┬────────────────┬──────────┐
│ profileId ┆ vehicle         ┆ Engine Type  ┆ Fuel Type ┆ … ┆ Max Torque      ┆ Alternate ┆ City Mileage   ┆ Highway  │
│ ---       ┆ ---             ┆ ---          ┆ ---       ┆   ┆ (Nm@rpm)        ┆ Fuel      ┆ (CarWale       ┆ Mileage  │
│ str       ┆ str             ┆ str          ┆ str       ┆   ┆ ---             ┆ ---       ┆ Tested)        ┆ (CarWale │
│           ┆                 ┆              ┆           ┆   ┆ str             ┆ str       ┆ ---            ┆ Tested)  │
│           ┆                 ┆              ┆           ┆   ┆                 ┆           ┆ str            ┆ ---      │
│           ┆                 ┆              ┆           ┆   ┆                 ┆           ┆                ┆ str      │
╞═══════════╪═════════════════╪══════════════╪═══════════╪═══╪═════════════════╪═══════════╪════════════════╪══════════╡
│ D4138427  ┆ Maruti Suzuki   ┆ FC engine    ┆ null      ┆ … ┆ 54 Nm @ 3000    ┆ CNG       ┆ null           ┆ null     │
│           ┆ Alto LXi CNG    ┆              ┆           ┆   ┆ rpm             ┆           ┆                ┆          │
│ D4120915  ┆ Maruti Suzuki   ┆ 16V DOHC VVT ┆ null      ┆ … ┆ 122 Nm @ 4100   ┆ CNG       ┆ null           ┆ null     │
│           ┆ SX4 VXI CNG     ┆              ┆           ┆   ┆ rpm             ┆           ┆                ┆          │
│           ┆ BS-IV           ┆              ┆           ┆   ┆                 ┆           ┆                ┆          │
│ D4122817  ┆ Maruti Suzuki   ┆ FC engine    ┆ null      ┆ … ┆ 54 Nm @ 3000    ┆ CNG       ┆ null           ┆ null     │
│           ┆ Alto LX CNG     ┆              ┆           ┆   ┆ rpm             ┆           ┆                ┆          │
│ S2766359  ┆ Maruti Suzuki   ┆ 16V DOHC VVT ┆ null      ┆ … ┆ 122 Nm @ 4100   ┆ CNG       ┆ null           ┆ null     │
│           ┆ SX4 VXI CNG     ┆              ┆           ┆   ┆ rpm             ┆           ┆                ┆          │
│           ┆ BS-IV           ┆              ┆           ┆   ┆                 ┆           ┆                ┆          │
│ …         ┆ …               ┆ …            ┆ …         ┆ … ┆ …               ┆ …         ┆ …              ┆ …        │
│ D3597535  ┆ Maruti Suzuki   ┆ 16V DOHC VVT ┆ null      ┆ … ┆ 122 Nm @ 4100   ┆ CNG       ┆ null           ┆ null     │
│           ┆ SX4 VXI CNG     ┆              ┆           ┆   ┆ rpm             ┆           ┆                ┆          │
│           ┆ BS-IV           ┆              ┆           ┆   ┆                 ┆           ┆                ┆          │
│ D4110125  ┆ Maruti Suzuki   ┆ FC engine    ┆ null      ┆ … ┆ 54 Nm @ 3000    ┆ CNG       ┆ null           ┆ null     │
│           ┆ Alto LXi CNG    ┆              ┆           ┆   ┆ rpm             ┆           ┆                ┆          │
│ S2706983  ┆ Maruti Suzuki   ┆ K10B         ┆ null      ┆ … ┆ 85 Nm @ 3500    ┆ LPG       ┆ null           ┆ null     │
│           ┆ Wagon R 1.0 LXi ┆              ┆           ┆   ┆ rpm             ┆           ┆                ┆          │
│           ┆ LP…             ┆              ┆           ┆   ┆                 ┆           ┆                ┆          │
│ S2728347  ┆ Maruti Suzuki   ┆ 16V DOHC VVT ┆ null      ┆ … ┆ 122 Nm @ 4100   ┆ CNG       ┆ null           ┆ null     │
│           ┆ SX4 VXI CNG     ┆              ┆           ┆   ┆ rpm             ┆           ┆                ┆          │
│           ┆ BS-IV           ┆              ┆           ┆   ┆                 ┆           ┆                ┆          │
└───────────┴─────────────────┴──────────────┴───────────┴───┴─────────────────┴───────────┴────────────────┴──────────┘

In [453]:
# updating the Alternate Fuel value into Fuel
df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.when(pl.col('Fuel Type').is_null()).then(pl.col('Alternate Fuel')).otherwise(pl.col('Fuel Type')).alias('Fuel'))

In [454]:
list(df_specs_B_Engine['Fuel'].unique())

['CNG',
 'Diesel',
 None,
 'Petrol',
 'Hybrid (Electric + Petrol)',
 'Electric',
 'LPG',
 'Mild Hybrid(Electric + Petrol)']

* there are usual fuel types -  petrol, diesel, cng and lpg
* there are several sub-categories of hybrid, but for analysis purposes, we will consider them as a Hybrid (Electric + Petrol) or Hybrid (Electric + Diesel) category

In [455]:
# replace 
df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('Fuel').str.replace('Mild Hybrid(Electric + Petrol)','Hybrid (Electric + Petrol)',literal = True))

In [456]:
list(df_specs_B_Engine['Fuel'].unique())

[None,
 'LPG',
 'CNG',
 'Diesel',
 'Hybrid (Electric + Petrol)',
 'Electric',
 'Petrol']

In [457]:
df_specs_B_Engine = df_specs_B_Engine.drop(['Fuel Type','Alternate Fuel'])

##### `Mileage (ARAI)` ,`City Mileage (CarWale Tested)` and `Highway Mileage (CarWale Tested)`

In [458]:
# first clearing out the leading and trailing spaces

df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('Mileage (ARAI)').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Engine.filter(pl.col('Mileage (ARAI)').is_null()).shape[0],'\n',
        'empty',df_specs_B_Engine.filter(pl.col('Mileage (ARAI)')=='').shape[0],'\n',
        'space', df_specs_B_Engine.filter(pl.col('Mileage (ARAI)')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Engine.filter(pl.col('Mileage (ARAI)')=='0').shape[0],'\n',
        'None',df_specs_B_Engine.filter(pl.col('Mileage (ARAI)')==None).shape[0],'\n',
        'NA',df_specs_B_Engine.filter(pl.col('Mileage (ARAI)')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specifications_B.filter(pl.col('Mileage (ARAI)').is_nan()).shape[0],'\n',
        #'0', df_specifications_B.filter(pl.col('Mileage (ARAI)')==0).shape[0],'\n',
        

        )

null 2763
 empty 0
 space 0
 0 (Str) 0
 None 2763
 NA 0

* There are a lot of null milelage values

In [459]:
df_specs_B_Engine.head(2)

shape: (2, 11)
┌───────────┬─────────────────┬─────────────────┬───────────┬───┬─────────────────┬────────────────┬──────────┬────────┐
│ profileId ┆ vehicle         ┆ Engine Type     ┆ Max Power ┆ … ┆ Max Torque      ┆ City Mileage   ┆ Highway  ┆ Fuel   │
│ ---       ┆ ---             ┆ ---             ┆ (bhp@rpm) ┆   ┆ (Nm@rpm)        ┆ (CarWale       ┆ Mileage  ┆ ---    │
│ str       ┆ str             ┆ str             ┆ ---       ┆   ┆ ---             ┆ Tested)        ┆ (CarWale ┆ str    │
│           ┆                 ┆                 ┆ str       ┆   ┆ str             ┆ ---            ┆ Tested)  ┆        │
│           ┆                 ┆                 ┆           ┆   ┆                 ┆ str            ┆ ---      ┆        │
│           ┆                 ┆                 ┆           ┆   ┆                 ┆                ┆ str      ┆        │
╞═══════════╪═════════════════╪═════════════════╪═══════════╪═══╪═════════════════╪════════════════╪══════════╪════════╡
│ D4135089  ┆ Tata Harrier XZ ┆ 2.0 L Kryotec   ┆ 168 bhp @ ┆ … ┆ 350 Nm @ 1750   ┆ null           ┆ null     ┆ Diesel │
│           ┆ Dark Edition    ┆                 ┆ 3750 rpm  ┆   ┆ rpm             ┆                ┆          ┆        │
│ D4170587  ┆ BMW 3 Series GT ┆ null            ┆ 184 bhp @ ┆ … ┆ 380 Nm @ 1750   ┆ null           ┆ null     ┆ Diesel │
│           ┆ 320d Luxury     ┆                 ┆ 4000 rpm  ┆   ┆ rpm             ┆                ┆          ┆        │
│           ┆ Line…           ┆                 ┆           ┆   ┆                 ┆                ┆          ┆        │
└───────────┴─────────────────┴─────────────────┴───────────┴───┴─────────────────┴────────────────┴──────────┴────────┘

* checking if value exists for Highway Mileage (CarWale Tested) with empty City Mileage (CarWale Tested)

In [460]:
# first clearing out the leading and trailing spaces

df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('City Mileage (CarWale Tested)').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Engine.filter(pl.col('City Mileage (CarWale Tested)').is_null()).shape[0],'\n',
        'empty',df_specs_B_Engine.filter(pl.col('City Mileage (CarWale Tested)')=='').shape[0],'\n',
        'space', df_specs_B_Engine.filter(pl.col('City Mileage (CarWale Tested)')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Engine.filter(pl.col('City Mileage (CarWale Tested)')=='0').shape[0],'\n',
        'None',df_specs_B_Engine.filter(pl.col('City Mileage (CarWale Tested)')==None).shape[0],'\n',
        'NA',df_specs_B_Engine.filter(pl.col('City Mileage (CarWale Tested)')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specifications_B.filter(pl.col('City Mileage (CarWale Tested)').is_nan()).shape[0],'\n',
        #'0', df_specifications_B.filter(pl.col('City Mileage (CarWale Tested)')==0).shape[0],'\n',
        

        )

null 30280
 empty 0
 space 0
 0 (Str) 0
 None 30280
 NA 0

In [461]:
# first clearing out the leading and trailing spaces

df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('Highway Mileage (CarWale Tested)').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Engine.filter(pl.col('Highway Mileage (CarWale Tested)').is_null()).shape[0],'\n',
        'empty',df_specs_B_Engine.filter(pl.col('Highway Mileage (CarWale Tested)')=='').shape[0],'\n',
        'space', df_specs_B_Engine.filter(pl.col('Highway Mileage (CarWale Tested)')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Engine.filter(pl.col('Highway Mileage (CarWale Tested)')=='0').shape[0],'\n',
        'None',df_specs_B_Engine.filter(pl.col('Highway Mileage (CarWale Tested)')==None).shape[0],'\n',
        'NA',df_specs_B_Engine.filter(pl.col('Highway Mileage (CarWale Tested)')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specifications_B.filter(pl.col('Highway Mileage (CarWale Tested)').is_nan()).shape[0],'\n',
        #'0', df_specifications_B.filter(pl.col('Highway Mileage (CarWale Tested)')==0).shape[0],'\n',
        

        )

null 30280
 empty 0
 space 0
 0 (Str) 0
 None 30280
 NA 0

In [462]:
df_specs_B_Engine.filter((pl.col('City Mileage (CarWale Tested)').is_not_null()) & (pl.col('Highway Mileage (CarWale Tested)').is_null()))

shape: (0, 11)
┌───────────┬─────────┬─────────────┬───────────┬───┬────────────┬──────────────────┬───────────────────────────┬──────┐
│ profileId ┆ vehicle ┆ Engine Type ┆ Max Power ┆ … ┆ Max Torque ┆ City Mileage     ┆ Highway Mileage (CarWale  ┆ Fuel │
│ ---       ┆ ---     ┆ ---         ┆ (bhp@rpm) ┆   ┆ (Nm@rpm)   ┆ (CarWale Tested) ┆ Tested)                   ┆ ---  │
│ str       ┆ str     ┆ str         ┆ ---       ┆   ┆ ---        ┆ ---              ┆ ---                       ┆ str  │
│           ┆         ┆             ┆ str       ┆   ┆ str        ┆ str              ┆ str                       ┆      │
╞═══════════╪═════════╪═════════════╪═══════════╪═══╪════════════╪══════════════════╪═══════════════════════════╪══════╡
└───────────┴─────────┴─────────────┴───────────┴───┴────────────┴──────────────────┴───────────────────────────┴──────┘

In [463]:
# checking if value exists for City Mileage (CarWale Tested) with empty or null Highway Mileage (CarWale Tested)
df_specs_B_Engine.filter((pl.col('City Mileage (CarWale Tested)').is_null()) & (pl.col('Highway Mileage (CarWale Tested)').is_not_null()))

shape: (0, 11)
┌───────────┬─────────┬─────────────┬───────────┬───┬────────────┬──────────────────┬───────────────────────────┬──────┐
│ profileId ┆ vehicle ┆ Engine Type ┆ Max Power ┆ … ┆ Max Torque ┆ City Mileage     ┆ Highway Mileage (CarWale  ┆ Fuel │
│ ---       ┆ ---     ┆ ---         ┆ (bhp@rpm) ┆   ┆ (Nm@rpm)   ┆ (CarWale Tested) ┆ Tested)                   ┆ ---  │
│ str       ┆ str     ┆ str         ┆ ---       ┆   ┆ ---        ┆ ---              ┆ ---                       ┆ str  │
│           ┆         ┆             ┆ str       ┆   ┆ str        ┆ str              ┆ str                       ┆      │
╞═══════════╪═════════╪═════════════╪═══════════╪═══╪════════════╪══════════════════╪═══════════════════════════╪══════╡
└───────────┴─────────┴─────────────┴───────────┴───┴────────────┴──────────────────┴───────────────────────────┴──────┘

* checking if Mileage NaN values could be replaced with City Mileage or Highway Mileage

In [464]:
df_specs_B_Engine.filter((pl.col('Mileage (ARAI)').is_null()) & (pl.col('City Mileage (CarWale Tested)').is_not_null()))

shape: (0, 11)
┌───────────┬─────────┬─────────────┬───────────┬───┬────────────┬──────────────────┬───────────────────────────┬──────┐
│ profileId ┆ vehicle ┆ Engine Type ┆ Max Power ┆ … ┆ Max Torque ┆ City Mileage     ┆ Highway Mileage (CarWale  ┆ Fuel │
│ ---       ┆ ---     ┆ ---         ┆ (bhp@rpm) ┆   ┆ (Nm@rpm)   ┆ (CarWale Tested) ┆ Tested)                   ┆ ---  │
│ str       ┆ str     ┆ str         ┆ ---       ┆   ┆ ---        ┆ ---              ┆ ---                       ┆ str  │
│           ┆         ┆             ┆ str       ┆   ┆ str        ┆ str              ┆ str                       ┆      │
╞═══════════╪═════════╪═════════════╪═══════════╪═══╪════════════╪══════════════════╪═══════════════════════════╪══════╡
└───────────┴─────────┴─────────────┴───────────┴───┴────────────┴──────────────────┴───────────────────────────┴──────┘

In [465]:
df_specs_B_Engine.filter((pl.col('Mileage (ARAI)').is_null()) & (pl.col('Highway Mileage (CarWale Tested)').is_not_null()))

shape: (0, 11)
┌───────────┬─────────┬─────────────┬───────────┬───┬────────────┬──────────────────┬───────────────────────────┬──────┐
│ profileId ┆ vehicle ┆ Engine Type ┆ Max Power ┆ … ┆ Max Torque ┆ City Mileage     ┆ Highway Mileage (CarWale  ┆ Fuel │
│ ---       ┆ ---     ┆ ---         ┆ (bhp@rpm) ┆   ┆ (Nm@rpm)   ┆ (CarWale Tested) ┆ Tested)                   ┆ ---  │
│ str       ┆ str     ┆ str         ┆ ---       ┆   ┆ ---        ┆ ---              ┆ ---                       ┆ str  │
│           ┆         ┆             ┆ str       ┆   ┆ str        ┆ str              ┆ str                       ┆      │
╞═══════════╪═════════╪═════════════╪═══════════╪═══╪════════════╪══════════════════╪═══════════════════════════╪══════╡
└───────────┴─────────┴─────────────┴───────────┴───┴────────────┴──────────────────┴───────────────────────────┴──────┘

In [466]:
# city and highway mileage will not contribute much to analysis
# dropping both city and highway mileage columns
df_specs_B_Engine = df_specs_B_Engine.drop(['City Mileage (CarWale Tested)','Highway Mileage (CarWale Tested)'])

In [467]:
df_specs_B_Engine.head(2)

shape: (2, 9)
┌───────────┬────────────────┬────────────────┬───────────┬───┬───────────────┬───────────────┬───────────────┬────────┐
│ profileId ┆ vehicle        ┆ Engine Type    ┆ Max Power ┆ … ┆ Transmission  ┆ Engine        ┆ Max Torque    ┆ Fuel   │
│ ---       ┆ ---            ┆ ---            ┆ (bhp@rpm) ┆   ┆ ---           ┆ ---           ┆ (Nm@rpm)      ┆ ---    │
│ str       ┆ str            ┆ str            ┆ ---       ┆   ┆ str           ┆ str           ┆ ---           ┆ str    │
│           ┆                ┆                ┆ str       ┆   ┆               ┆               ┆ str           ┆        │
╞═══════════╪════════════════╪════════════════╪═══════════╪═══╪═══════════════╪═══════════════╪═══════════════╪════════╡
│ D4135089  ┆ Tata Harrier   ┆ 2.0 L Kryotec  ┆ 168 bhp @ ┆ … ┆ Manual - 6    ┆ 1956 cc, 4    ┆ 350 Nm @ 1750 ┆ Diesel │
│           ┆ XZ Dark        ┆                ┆ 3750 rpm  ┆   ┆ Gears, Sport  ┆ Cylinders     ┆ rpm           ┆        │
│           ┆ Edition        ┆                ┆           ┆   ┆ Mode          ┆ Inline, 4 V…  ┆               ┆        │
│ D4170587  ┆ BMW 3 Series   ┆ null           ┆ 184 bhp @ ┆ … ┆ Automatic - 8 ┆ 1995 cc, 4    ┆ 380 Nm @ 1750 ┆ Diesel │
│           ┆ GT 320d Luxury ┆                ┆ 4000 rpm  ┆   ┆ Gears, Manual ┆ Cylinders     ┆ rpm           ┆        │
│           ┆ Line…          ┆                ┆           ┆   ┆ Over…         ┆ Inline, 4 V…  ┆               ┆        │
└───────────┴────────────────┴────────────────┴───────────┴───┴───────────────┴───────────────┴───────────────┴────────┘

In [468]:
print(list(df_specs_B_Engine['Mileage (ARAI)'].unique()))

['12.62', '11', '20.58', '12.9', '19.12', '12.36', '25.31999969482422', '16.93', '15.56', '6.9', '9.1', '13.7', None, '17.24', '9.76', '24.75', '20.6', '18.18', '18.2', '9.8', '19.83', '13.24', '14.3', '7.96', '20.73', '10.4', '22.74', '13.9', '10.6', '6.1', '11.14', '10.91', '14.22', '22.54', '12.81', '12.08', '15.06', '26.83', '22.7', '21.38', '16.38', '17.69', '20.25', '26.4', '7.9', '22.8', '17.8', '24.2', '25.11', '22.9', '16.78', '18.78', '15.63', '17.95', '11.12', '25.2', '17.33', '25.6', '24.200000762939453', '26.49', '17.2', '16.47', '15.17', '15.85', '9.46', '26.11', '22.32', '23.9', '12.03', '18.48', '10.93', '21.72', '11.5', '15.97', '12.2', '10.9', '13.6', '15.1', '15.6', '13.17', '25.83', '10.34', '12.88', '24.5', '25.44', '21.15', '17.52', '16.29', '10.7', '20.37', '24.29', '20.28', '14.71', '22.04', '20.3799991607666', '14.23', '24.7', '17.71', '18.143', '17.97', '15.3', '14.29', '12.18', '31.19', '26.59', '19.4', '15.96', '16.5', '14.42', '25.5', '18.15', '12.37', '12.95', '20.77', '13.87', '12.4', '17.68', '25.32', '17.85', '14.59', '5.8', '19.62', '7.81', '15.39', '14.24', '24.76', '16.3', '24.43', '10.37', '15.15', '7.3', '20.729999542236328', '17.719999313354492', '19.56', '17.049999237060547', '16.39', '12.53', '14.09', '21.73', '9.44', '12.5', '12.19', '18.7', '14.83', '20.9', '9.52', '23.7', '17.49', '24.52', '11.6', '26.1', '21.64', '12.99', '11.23', '16.94', '4.7', '13.51', '12.39', '26.78', '17.01', '13.05', '20.64', '8.45', '27.4', '17.67', '19', '18.88', '18.47', '25.31', '18.4', '19.59', '14.16', '17.72', '25', '21.7', '31.79', '10.75', '17.66', '18.41', '10.53', '8.84', '5.96', '10.52', '17.3', '21.45', '12.35', '14.63', '18.51', '9.62', '23.6', '16.4', '22.05', '6.44', '18.3', '25.01', '18.6', '16.98', '14.56', '13.8', '17.03', '21.79', '18.149999618530273', '8.36', '26.209999084472656', '13.12', '11.96', '18.1', '20.65', '14.34', '18.66', '27.97', '25.24', '11.68', '21.63', '13.84', '15.2', '13.5', '14.81', '19.7', '11.3', '18.42', '20.3', '15.29', '19.65', '9.08', '16.96', '27.3', '13.06', '15.34', '20.5', '15.62', '10.8', '22.95', '20.06', '31.59', '14.79', '12.06', '16.2', '14', '23.87', '21.49', '21.3', '23.59', '17.92', '32.26', '16.77', '21.58', '19.27', '6.7', '19.03', '13.48', '13.25', '15.92', '11.11', '28.09', '21.4', '17.6', '7.6', '5.9', '19.39', '16.57', '11.86', '15.4', '17.41', '27.28', '16.95', '6.71', '10.78', '30.9', '21.5', '14.08', '28', '18.16', '16.02', '18', '19.49', '21.2', '18.5', '22.5', '18.49', '24.39', '14.2', '14.94', '14.1', '10', '22', '16.34', '20.51', '18.19', '32.52', '15.77', '17.7', '16.35', '31.5', '30.47', '16.25', '11.8', '19.61', '12.82', '30', '20', '11.72', '12.66', '17', '17.11', '25.8', '35.6', '19.6', '12.55', '21.76', '19.979999542236328', '19.05', '15.05', '14.66', '19.67', '22.1', '7.36', '6.6', '11.2', '34.05', '20.7', '23.3', '16.05', '19.72', '14.9', '18.12', '17.83', '32.73', '10.66', '25.4', '7.8', '21.13', '13.55', '21.21', '19.87', '8.96', '19.98', '13.94', '21.02', '15.38', '20.4', '18.14', '20.45', '13.1', '14.74', '9.3', '14.33', '23.56', '14.41', '12.44', '8.2', '19.5', '21.04', '21', '13.53', '13.46', '8.86', '8.3', '20.01', '12.98', '23.64', '13.89', '8.8', '19.34', '19.91', '21.01', '16.61', '20.52', '14.7', '18.59', '25.17', '22.81', '140', '13.38', '9.64', '5.88', '18.75', '27.39', '30.48', '11.04', '20.08', '11.44', '17.54', '17.99', '19.15', '14.49', '8.66', '16.6', '47.45', '9.2', '11.1', '17.1', '14.8', '16.81', '24.1', '13.64', '14.36', '15.04', '26', '23.22', '16.65', '12.45', '24.95', '19.17', '13.4', '13.28', '24', '12.07', '33.54', '22.56', '20.14', '24.07', '6.38', '9.82', '11.28', '14.69', '24.04', '13.32', '16.780000686645508', '8.5', '21.66', '13.96', '19.33', '20.2', '23.59000015258789', '16.13', '17.88', '9.26', '16.14', '9.4', '7.29', '8.1', '8.7', '24.9', '22.15', '16.1', '13.85', '15.7', '9.43', '10.5', '20.139999389648438', '8', '19.81', '26.2', '19.41', '20.09', '24.8', '16.52', '22.69', '16.24', '15', '15.26', '21.11', '9.57', '17.19', '21.9', '6.92', '12.54', '13.93', '14.82', '25.47', '21.93', '20.53', '9.6', '18.64', '23.2', '11.13', '11.62', '14.75', '26.6', '14.64', '17.61', '14.4', '31.12', '10.26', '11.24', '23.5', '24.59', '17.18', '19.64', '21.14', '25.19', '11.9', '21.43', '22.48', '23.08', '18.8', '11.300000190734863', '16.55', '24.4', '36', '20.1', '13.73', '17.21', '18.76', '15.81', '16.7', '13.16', '18.56', '19.1', '25.51', '22.3', '9.9', '25.3', '16', '18.45', '14.53', '15.23', '26.82', '18.9', '16.66', '19.16', '22.07', '20.8', '23.1', '8.4', '14.54', '12', '13.2', '14.19', '16.09', '16.8', '10.1', '18.23', '16.42', '16.11', '22.71', '33.44', '19.8', '14.6', '27.62', '8.77', '13.33', '10.87', '7.5', '25.35', '13.3', '23.97', '8.93', '23.8', '23.01', '19.2', '12.6', '22.58', '17.42', '17.84', '9', '23', '10.96', '13.88', '21.1', '7.2', '19.3', '18.44', '15.8', '33.85', '23.84', '20.34', '16.36', '13', '11.64', '18.29', '9.25', '11.25', '9.7', '9.5', '17.05', '19.01', '11.36', '15.5', '15.41', '18.97', '17.9', '9.91', '14.5', '24.35', '17.86', '22.38', '19.77', '19.71', '14.38', '28.4', '22.41', '8.9', '22.27', '23.95', '23.4', '17.4', '14.02', '17.57', '20.89', '16.9', '11.4', '19.44', '17.5', '12.8', '12.1', '9.06', '12.7', '20.85', '20.63', '19.69', '10.2', '17.43', '14.84', '26.8', '11.7', '13.29', '10.3', '21.19', '23.65', '11.33', '10.64', '15.9', '13.08', '16.86', '17.38', '19.28', '13.66', '16.51', '21.56', '20.68']

In [469]:
# converting mileage column to float
df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('Mileage (ARAI)').cast(pl.Float64))

In [470]:
df_specs_B_Engine.describe()

shape: (9, 10)
┌────────────┬───────────┬────────────────┬───────────────┬───┬───────────────┬───────────────┬───────────────┬────────┐
│ describe   ┆ profileId ┆ vehicle        ┆ Engine Type   ┆ … ┆ Transmission  ┆ Engine        ┆ Max Torque    ┆ Fuel   │
│ ---        ┆ ---       ┆ ---            ┆ ---           ┆   ┆ ---           ┆ ---           ┆ (Nm@rpm)      ┆ ---    │
│ str        ┆ str       ┆ str            ┆ str           ┆   ┆ str           ┆ str           ┆ ---           ┆ str    │
│            ┆           ┆                ┆               ┆   ┆               ┆               ┆ str           ┆        │
╞════════════╪═══════════╪════════════════╪═══════════════╪═══╪═══════════════╪═══════════════╪═══════════════╪════════╡
│ count      ┆ 30323     ┆ 30323          ┆ 30323         ┆ … ┆ 30323         ┆ 30323         ┆ 30323         ┆ 30323  │
│ null_count ┆ 0         ┆ 0              ┆ 3283          ┆ … ┆ 1             ┆ 204           ┆ 370           ┆ 1      │
│ mean       ┆ null      ┆ null           ┆ null          ┆ … ┆ null          ┆ null          ┆ null          ┆ null   │
│ std        ┆ null      ┆ null           ┆ null          ┆ … ┆ null          ┆ null          ┆ null          ┆ null   │
│ min        ┆ D1982769  ┆ Aston Martin   ┆ 0.8 L         ┆ … ┆ AMT - 5 Gears ┆ 1047 cc, 3    ┆ 100 Nm @ 2700 ┆ CNG    │
│            ┆           ┆ Rapide S V12   ┆               ┆   ┆               ┆ Cylinders     ┆ rpm           ┆        │
│            ┆           ┆                ┆               ┆   ┆               ┆ Inline, 4 V…  ┆               ┆        │
│ 25%        ┆ null      ┆ null           ┆ null          ┆ … ┆ null          ┆ null          ┆ null          ┆ null   │
│ 50%        ┆ null      ┆ null           ┆ null          ┆ … ┆ null          ┆ null          ┆ null          ┆ null   │
│ 75%        ┆ null      ┆ null           ┆ null          ┆ … ┆ null          ┆ null          ┆ null          ┆ null   │
│ max        ┆ S2805517  ┆ Volvo XC90     ┆ winPower      ┆ … ┆ Manual - 6    ┆ Not           ┆ @             ┆ Petrol │
│            ┆           ┆ Momentum       ┆ Turbo inline  ┆   ┆ Gears, Sport  ┆ Applicable    ┆               ┆        │
│            ┆           ┆ Luxury [2015…  ┆ 6-cylinder…   ┆   ┆ Mode          ┆ Cylinders Not ┆               ┆        │
│            ┆           ┆                ┆               ┆   ┆               ┆ App…          ┆               ┆        │
└────────────┴───────────┴────────────────┴───────────────┴───┴───────────────┴───────────────┴───────────────┴────────┘

##### `Transmission`

In [471]:
# first clearing out the leading and trailing spaces

df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('Transmission').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Engine.filter(pl.col('Transmission').is_null()).shape[0],'\n',
        'empty',df_specs_B_Engine.filter(pl.col('Transmission')=='').shape[0],'\n',
        'space', df_specs_B_Engine.filter(pl.col('Transmission')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Engine.filter(pl.col('Transmission')=='0').shape[0],'\n',
        'None',df_specs_B_Engine.filter(pl.col('Transmission')==None).shape[0],'\n',
        'NA',df_specs_B_Engine.filter(pl.col('Transmission')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Engine.filter(pl.col('Transmission').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Engine.filter(pl.col('Transmission')==0).shape[0],'\n',
        

        )

null 1
 empty 0
 space 0
 0 (Str) 0
 None 1
 NA 0

In [472]:
print(list(df_specs_B_Engine['Transmission'].unique()))

['Manual - 6 Gears, Manual Override', 'Automatic (TC) - 7 Gears, Manual Override & Paddle Shift, Sport Mode', 'Automatic - 4 Gears', 'Automatic (DCT) - 6 Gears, Manual Override', 'Automatic (CVT) - 6 Gears', 'Automatic (TC) - 9 Gears, Paddle Shift, Sport Mode', 'Automatic - 10 Gears, Manual Override, Sport Mode', 'Automatic (CVT) - CVT Gears, Paddle Shift, Sport Mode', None, 'Manual - 5 Gears', 'Automatic (TC)', 'Automatic (TC) - 6 Gears, Paddle Shift', 'Automatic (CVT) - 7 Gears, Paddle Shift, Sport Mode', 'Automatic (CVT) - 6 Gears, Manual Override', 'Automatic (TC) - 6 Gears, Manual Override', 'Automatic - 8 Gears, Sport Mode', 'Automatic (DCT) - 8 Gears, Manual Override & Paddle Shift, Sport Mode', 'Automatic (AMT) - 5 Gears, Manual Override', 'AMT - 5 Gears, Manual Override', 'Automatic (DCT) - 7 Gears, Manual Override, Sport Mode', 'Automatic (CVT) - 7 Gears, Manual Override', 'Automatic (TC) - 7 Gears, Manual Override', 'Automatic - 7 Gears, Sport Mode', 'Automatic - 8 Gears, Manual Override', 'Automatic (DCT) - 7 Gears, Manual Override & Paddle Shift, Sport Mode', 'AMT - 5 Gears', 'Automatic - 7 Gears, Manual Override', 'Manual', 'Automatic - 4 Gears, Sport Mode', 'Automatic (CVT), Manual Override', 'Automatic (TC) - 6 Gears, Paddle Shift, Sport Mode', 'Automatic - 8 Gears, Paddle Shift', 'Automatic (CVT)', 'Automatic - CVT Gears, Paddle Shift, Sport Mode', 'Manual - 6 Gears, Paddle Shift, Sport Mode', 'Automatic (AMT) - 5 Gears, Manual Override & Paddle Shift', 'Automatic - 6 Gears', 'Automatic (TC) - 9 Gears, Manual Override', 'Automatic - 5 Gears, Manual Override', 'Automatic (DCT) - 6 Gears', 'Automatic - 9 Gears, Sport Mode', 'Manual - 6 Gears, Manual Override, Sport Mode', 'Automatic (TC) - 9 Gears', 'Automatic (DCT) - 7 Gears', 'Automatic (TC) - 4 Gears, Manual Override', 'Automatic - 8 Gears, Manual Override, Sport Mode', 'Automatic (DCT) - 7 Gears, Manual Override & Paddle Shift', 'Automatic (TC) - 6 Gears, Manual Override, Sport Mode', 'Automatic - 9 Gears, Paddle Shift, Sport Mode', 'Automatic - 8 Gears, Paddle Shift, Sport Mode', 'Automatic - 7 Gears, Manual Override & Paddle Shift', 'Automatic - 1 Gears, Sport Mode', 'Automatic (DCT) - 7 Gears, Paddle Shift, Sport Mode', 'AMT - 5 Gears, Sport Mode', 'Automatic (TC) - 6 Gears, Manual Override & Paddle Shift, Sport Mode', 'Automatic (TC) - 9 Gears, Manual Override & Paddle Shift, Sport Mode', 'Automatic - 5 Gears, Sport Mode', 'Automatic (TC) - 10 Gears, Manual Override, Sport Mode', 'Automatic - 9 Gears, Paddle Shift', 'Automatic (EV/Hybrid) - CVT Gears, Paddle Shift', 'Automatic (CVT) - CVT Gears, Paddle Shift', 'Clutchless Manual - 6 Gears', 'AMT - 6 Gears, Manual Override, Sport Mode', 'Automatic (CVT) - 6 Gears, Manual Override, Sport Mode', 'Automatic - CVT Gears, Manual Override, Sport Mode', 'Automatic - 4 Gears, Manual Override, Sport Mode', 'Automatic (CVT) - 6 Gears, Manual Override & Paddle Shift, Sport Mode', 'Automatic - 5 Gears, Paddle Shift, Sport Mode', 'Automatic (CVT), Paddle Shift', 'Automatic - 6 Gears, Paddle Shift, Sport Mode', 'Automatic (CVT) - CVT Gears', 'Automatic (DCT) - 8 Gears, Paddle Shift, Sport Mode', 'Automatic - 8 Gears, Manual Override & Paddle Shift, Sport Mode', 'AMT - 6 Gears', 'Automatic - 5 Gears', 'Automatic - 3 Gears', 'Manual - 5 Gears, Sport Mode', 'Automatic - 6 Gears, Manual Override', 'Automatic - 7 Gears', 'Automatic - 7 Gears, Paddle Shift, Sport Mode', 'Automatic (TC) - 8 Gears, Sport Mode', 'Automatic (CVT) - CVT Gears, Manual Override & Paddle Shift, Sport Mode', 'Manual - 6 Gears', 'Manual - 4 Gears', 'Automatic (AMT) - 6 Gears, Manual Override & Paddle Shift, Sport Mode', 'Automatic (CVT) - CVT Gears, Sport Mode', 'Automatic - 7 Gears, Manual Override, Sport Mode', 'Automatic (TC) - 6 Gears, Manual Override & Paddle Shift', 'Automatic - 7 Gears, Paddle Shift', 'Automatic - 5 Gears, Manual Override, Sport Mode', 'Clutchless Manual (IMT) - 6 Gears', 'Automatic (CVT) - 5 Gears', 'Automatic (TC) - 9 Gears, Manual Override, Sport Mode', 'Automatic (DCT) - 7 Gears, Sport Mode', 'Automatic - Not Applicable Gears, Sport Mode', 'Automatic', 'Automatic (TC) - 8 Gears, Paddle Shift, Sport Mode', 'Automatic - 8 Gears', 'Automatic (TC) - 9 Gears, Sport Mode', 'Automatic (CVT) - 7 Gears, Paddle Shift', 'Automatic (CVT) - CVT Gears, Manual Override', 'Automatic - CVT Gears, Manual Override', 'Automatic - CVT Gears', 'Automatic (CVT), Sport Mode', 'Automatic (CVT) - Not Applicable Gears', 'Automatic - 6 Gears, Sport Mode', 'Automatic (CVT) - 6 Gears, Sport Mode', 'Automatic (EV/Hybrid) - CVT Gears', 'Automatic - 7 Gears, Manual Override & Paddle Shift, Sport Mode', 'Automatic (AMT) - 6 Gears, Manual Override', 'Automatic (TC) - 7 Gears, Paddle Shift, Sport Mode', 'Automatic (TC) - 6 Gears', 'Automatic - 6 Gears, Manual Override, Sport Mode', 'Automatic (TC) - 4 Gears', 'Automatic (TC) - 8 Gears, Manual Override & Paddle Shift, Sport Mode', 'Automatic (CVT), Paddle Shift, Sport Mode', 'Automatic - 1 Gears', 'Automatic (TC) - 8 Gears, Manual Override, Sport Mode', 'Automatic (TC) - 8 Gears, Manual Override', 'Automatic (DCT) - 7 Gears, Manual Override', 'Manual - 6 Gears, Sport Mode', 'Automatic (EV/Hybrid) - CVT Gears, Paddle Shift, Sport Mode', 'Automatic - 9 Gears', 'Automatic - CVT Gears, Sport Mode', 'Automatic (CVT) - 7 Gears', 'Automatic (CVT) - CVT Gears, Manual Override & Paddle Shift']

* transmission column values not null
* grouping them in 2 categories
    * Automatic
    * Manual

In [473]:
df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('Transmission').str.split(' ').list[0].str.replace("Clutchless",'Automatic').str.replace('AMT','Automatic').alias('transmission'))

In [474]:
# deleting the original Transmission column
df_specs_B_Engine = df_specs_B_Engine.drop(['Transmission'])

In [475]:
df_specs_B_Engine.describe()

shape: (9, 10)
┌────────────┬───────────┬────────────────┬────────────────┬───┬───────────────┬───────────────┬────────┬──────────────┐
│ describe   ┆ profileId ┆ vehicle        ┆ Engine Type    ┆ … ┆ Engine        ┆ Max Torque    ┆ Fuel   ┆ transmission │
│ ---        ┆ ---       ┆ ---            ┆ ---            ┆   ┆ ---           ┆ (Nm@rpm)      ┆ ---    ┆ ---          │
│ str        ┆ str       ┆ str            ┆ str            ┆   ┆ str           ┆ ---           ┆ str    ┆ str          │
│            ┆           ┆                ┆                ┆   ┆               ┆ str           ┆        ┆              │
╞════════════╪═══════════╪════════════════╪════════════════╪═══╪═══════════════╪═══════════════╪════════╪══════════════╡
│ count      ┆ 30323     ┆ 30323          ┆ 30323          ┆ … ┆ 30323         ┆ 30323         ┆ 30323  ┆ 30323        │
│ null_count ┆ 0         ┆ 0              ┆ 3283           ┆ … ┆ 204           ┆ 370           ┆ 1      ┆ 1            │
│ mean       ┆ null      ┆ null           ┆ null           ┆ … ┆ null          ┆ null          ┆ null   ┆ null         │
│ std        ┆ null      ┆ null           ┆ null           ┆ … ┆ null          ┆ null          ┆ null   ┆ null         │
│ min        ┆ D1982769  ┆ Aston Martin   ┆ 0.8 L          ┆ … ┆ 1047 cc, 3    ┆ 100 Nm @ 2700 ┆ CNG    ┆ Automatic    │
│            ┆           ┆ Rapide S V12   ┆                ┆   ┆ Cylinders     ┆ rpm           ┆        ┆              │
│            ┆           ┆                ┆                ┆   ┆ Inline, 4 V…  ┆               ┆        ┆              │
│ 25%        ┆ null      ┆ null           ┆ null           ┆ … ┆ null          ┆ null          ┆ null   ┆ null         │
│ 50%        ┆ null      ┆ null           ┆ null           ┆ … ┆ null          ┆ null          ┆ null   ┆ null         │
│ 75%        ┆ null      ┆ null           ┆ null           ┆ … ┆ null          ┆ null          ┆ null   ┆ null         │
│ max        ┆ S2805517  ┆ Volvo XC90     ┆ winPower Turbo ┆ … ┆ Not           ┆ @             ┆ Petrol ┆ Manual       │
│            ┆           ┆ Momentum       ┆ inline         ┆   ┆ Applicable    ┆               ┆        ┆              │
│            ┆           ┆ Luxury [2015…  ┆ 6-cylinder…    ┆   ┆ Cylinders Not ┆               ┆        ┆              │
│            ┆           ┆                ┆                ┆   ┆ App…          ┆               ┆        ┆              │
└────────────┴───────────┴────────────────┴────────────────┴───┴───────────────┴───────────────┴────────┴──────────────┘

##### `Engine AND Engine Type`

In [476]:
# first clearing out the leading and trailing spaces

df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('Engine').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Engine.filter(pl.col('Engine').is_null()).shape[0],'\n',
        'empty',df_specs_B_Engine.filter(pl.col('Engine')=='').shape[0],'\n',
        'space', df_specs_B_Engine.filter(pl.col('Engine')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Engine.filter(pl.col('Engine')=='0').shape[0],'\n',
        'None',df_specs_B_Engine.filter(pl.col('Engine')==None).shape[0],'\n',
        'NA',df_specs_B_Engine.filter(pl.col('Engine')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Engine.filter(pl.col('Engine').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Engine.filter(pl.col('Engine')==0).shape[0],'\n',
        

        )

null 204
 empty 0
 space 0
 0 (Str) 0
 None 204
 NA 0

* There are 204  null values
* Checking if any other field could compensate the null values

In [477]:
df_specs_B_Engine.head(2)

shape: (2, 9)
┌───────────┬────────────────┬────────────────┬───────────┬───┬────────────────┬───────────────┬────────┬──────────────┐
│ profileId ┆ vehicle        ┆ Engine Type    ┆ Max Power ┆ … ┆ Engine         ┆ Max Torque    ┆ Fuel   ┆ transmission │
│ ---       ┆ ---            ┆ ---            ┆ (bhp@rpm) ┆   ┆ ---            ┆ (Nm@rpm)      ┆ ---    ┆ ---          │
│ str       ┆ str            ┆ str            ┆ ---       ┆   ┆ str            ┆ ---           ┆ str    ┆ str          │
│           ┆                ┆                ┆ str       ┆   ┆                ┆ str           ┆        ┆              │
╞═══════════╪════════════════╪════════════════╪═══════════╪═══╪════════════════╪═══════════════╪════════╪══════════════╡
│ D4135089  ┆ Tata Harrier   ┆ 2.0 L Kryotec  ┆ 168 bhp @ ┆ … ┆ 1956 cc, 4     ┆ 350 Nm @ 1750 ┆ Diesel ┆ Manual       │
│           ┆ XZ Dark        ┆                ┆ 3750 rpm  ┆   ┆ Cylinders      ┆ rpm           ┆        ┆              │
│           ┆ Edition        ┆                ┆           ┆   ┆ Inline, 4 V…   ┆               ┆        ┆              │
│ D4170587  ┆ BMW 3 Series   ┆ null           ┆ 184 bhp @ ┆ … ┆ 1995 cc, 4     ┆ 380 Nm @ 1750 ┆ Diesel ┆ Automatic    │
│           ┆ GT 320d Luxury ┆                ┆ 4000 rpm  ┆   ┆ Cylinders      ┆ rpm           ┆        ┆              │
│           ┆ Line…          ┆                ┆           ┆   ┆ Inline, 4 V…   ┆               ┆        ┆              │
└───────────┴────────────────┴────────────────┴───────────┴───┴────────────────┴───────────────┴────────┴──────────────┘

* Checking if Engine Type field is of any use

In [478]:
list(df_specs_B_Engine['Engine Type'].unique())

['Revotron, MPFi with MULTI DRIVE',
 'turbocharged diesel engine, turbocharger with self-aligning blades, in-line, liquid cooling system, high-pressure direct injection system, DOHC, transverse in front',
 'F M 2.6 CR CD BS VI',
 '1.4 U2 CRDi Diesel 16 Valves, 4 Cylinder',
 '1.2 L VVT Engine',
 '2GD-FTV',
 'Four Cylinder Inline Turbocharged',
 'V6 cylinder diesel engine with turbocharger and second generation common rall technology',
 'TwinPower Turbo 4-Cylinder engine',
 'Turbocharged petrol engine with direct injection system',
 '1.2L Revotron Petrol',
 '1.3L, DOHC, DDiS Diesel',
 '1.5L, SOHC, 4-cylinder, i-VTEC',
 'Inline four-cylinder TDI diesel engine',
 '2.2L VariCOR',
 'Comon Rail CR4, 16-valve, DOHC',
 '2.0 Liter, 4-cylinder, 16 valve, DOHC, VVT-i',
 '3.5L Petrol',
 'B 180 BlueEFFICIENCY 4 cylinder inline',
 '1.2L Turbocharged Revotron Engine',
 'Electric',
 'Four-cylinder twin turbo-charged diesel engine',
 'R 2.2 CRDi H-matic',
 '2GD-FTV Diesel',
 'Water-Cooled, 4-Stroke, i-VTEC',
 'DDiS 200',
 'Flat 6 Petrol engine',
 'Asynchronous Electric Motor',
 '1.2 Kaapa, 4-cylinder Petrol',
 '1.5L TDI Engine',
 'Revotorq 1.05L 3 cylinder with MULTI-DRIVE Mode',
 'Inline four cylinder spark lgnition engine with exhaust turbocharger and intercooler, DOHC',
 'DURATEC',
 '2.2 L Varicor',
 '12v SOHC, Hyundai Epsilon Engine',
 '2.2 Turbo Diesel With CRDi',
 '2.2L VARICOR 400 4 cylinder, with Super Drive Modes',
 '300 4MATIC',
 'Ddi VGS Turbo Hi-Power 3.0 litre turbo diesel',
 '2L Diesel',
 '2.2 Litre',
 'S-TEC',
 '1.5L Turbocharged with Belt Starter Generator',
 '6/V',
 '2.0L M260 Turbocharged I4',
 'Five-cylinder twin-turbo charged diesel',
 '1.5L Turbocharged Intercooled',
 '2KD-FTV, Diesel With Intercooler Turbocharger, 4 Inline Cylinder',
 '2.0 l Nu',
 'PURETECH 82',
 'MPFI Petrol engine with 32-bit microprocessor BS4 emission compliant',
 'iVTEC',
 '1.1L FIRE',
 'turbocharged petrol engine, in-line, liquid cooling system, direct injection, DOHC, transverse in front',
 '1.3L M282 Turbocharged I4',
 'Quadrajet',
 '1.2 Tdi CR diesel engine',
 'Renault K9K Diesel engine',
 '1.0L B4D',
 'V6 petrol engine',
 '6.0L M279 Twin-Turbocharged V12',
 'BIFUEL CNG 1.2L MPFI, BS4',
 'W12 petrol engine with direct fuel injection and Audi cylinder on demand',
 'BMW six-cylinder in-line diesel engine',
 'SMARTECH 4 cylinder Petrol engine',
 'OM654 Turbo I4',
 '1.5L Turbocharged Intercooled with Belt Starter Generator',
 '16 Valves, 4 Cylinder',
 'Turbocharged V6 diesel engine',
 'V6 Petrol engine',
 '4 Cylinder Turbo Intercooled',
 '2.0L Turbocharged',
 '1.4L Gamma VTVT 5 Speed Manual Transmission',
 'V6 spark-ignition with petrol direct injection engine',
 '2.0L I4 mStallion 150 TGDi',
 '4 cylinder inline Petrol engine',
 'D5204T6 Five-cylinder turbodiesel with start/stop technology (117g, man)',
 '475 Turbo Diesel',
 '1.5L TSI EVO with ACT',
 'K Series with VVT, Multipoint injection',
 '3.0L Turbocharged I6 MHEV',
 '2.0 Turbo Petrol With Direct Injection (TGDi)',
 'V6 Supercharged Petrol',
 'in-vee, twin turbo',
 '1.5L CRDi',
 'i-DTEC',
 '16 bit engine control microprocessor',
 '2.0L OM654 Turbocharged I4',
 '1.4 U II 6 Speed Manual Transmission',
 '2.2 L mHawk',
 'mHAWK',
 '6-cylinder, 3.2L Petrol',
 '1.2 l i-CNG',
 'D-4D Diesel with Intercooler Turbocharger, 4 Cylinders In-line',
 'HR12 DE Engine',
 '4 cylinder petrol engine',
 '4 cylinder inline diesel engine CRDI',
 '2.2L VARICOR 400',
 'Multijet/DDis/DOHC',
 'MPFI, Petrol with Intelligent Port Resizer',
 'BMW TwinPower Turbo 4-cylinder engine',
 'DURATorg',
 'Direct Injection Common Rail, 16-valve DOHC',
 '1.2L MPI Engine',
 'Turbocharged petrol engine, in-line, liquid cooling system, direct injection, 16V DOHC, transverse in front',
 '2TR-FE Gasoline',
 '4 inline',
 '3.0 CR4 Engine',
 'W12 spark-ignition engine, DOHC',
 'Revotron, 1.2L 3 Cylinder with Multi Drive: Eco, Sport Mode',
 '1.5 l U2',
 'Hyundai epsilon engine',
 '1.3 HR13DDT',
 'OM656 Turbocharged I6',
 'V6 diesel engine with common rail injection',
 '2.0L Turbocharged Diesel',
 '1.5 l U2 CRDi',
 '3.3L F33A-FTV',
 '16 Valve DOHC-iVTEC',
 'M256 Turbocharged I6 with Integrated Starter-Alternator',
 'One Countryman',
 'All aluminium light weight K10B',
 'Blue-efficiency',
 'V6 petrol engine with direct fuel injection and mechanical charger module',
 'V/6 7G-Tronic Plus',
 'DOHC with Dual VTVT',
 '1.2 Turbo Petrol',
 '1.3 H5Ht',
 'M264+EQ Boost',
 'Naturally Aspirated 12V EFI',
 'TwinPower Turbo inline 6-cylinder engine',
 '6 cylinder diesel',
 'Revotron 1.2T, Turbocharged MPFi With MULTI',
 '1.5L Turbocharged Revotorq',
 '1.5L I4 mHawk 100',
 '2.0L Drive-E Turbocharged',
 '4 cylinder Inline Petroll engine',
 'L/4',
 '1.5 dCI K9K THP Diesel engine',
 'M176 Twin-Turbocharged V8',
 'B58 Twin-Turbocharged I6',
 '4 Cylinders, 8 Valves',
 '2.2 16 Valve DOHC DiCOR',
 '1.4L Turbo-charged DiCOR',
 '1.2L TSI, 4-cylinder In-line',
 '1.2 Revotron',
 'Smartstream G1.0 T',
 '1L TSI',
 '1.2L Dual Jet',
 '1.5L DCi Diesel',
 'Smartstream G 1.5',
 '1.5L CRDI VGT',
 'CDI',
 '1.5 H4K',
 '6.6L V12 enigne',
 '1.5 LTurbocharged Revotorq Engine',
 '3.6 L V6',
 '4 cyl , 16 Valves,DOHC with VGT',
 'M256 Turbocharged I6 with EQ Boost',
 'K-Series Petrol Engine with VVT',
 'TNGA',
 'Permanent Magnet Synchronous Motort',
 '1.5 l U2 CRDi Diesel',
 'i-VTEC',
 '3.2 l TDCi',
 '3.0-Litre V6 EcoDiesel',
 'OM651 Turbocharged I4',
 'In Line Diesel Engine, Inter Cooler Turbo, Water Cooler OHC, Traverse Mounted, Direct Injections',
 'V6 Petrol Engine with electric hybrid',
 '2.0L TSI Turbocharged I4',
 'BMW TwinTurbo inline 6 Petrol engine',
 'RX270 Xdi',
 'XSDE Smartech',
 'V10 90° IDS, 40 valves',
 'Direct Injection Common Rail',
 'K15B ISG',
 'TSI Engine',
 '2L 16V DOHC Petrol',
 '4 Cylinder MPFi',
 'K15C',
 'inline 4 cylinder petrol engine',
 '2.2L VARICOR 320',
 'i-DSI',
 '1.5 L Turbocharged Revotorq',
 'FIRE',
 '1.2 U2 CRDi',
 'm2DiCR Engine',
 'Four-cylinder direct injection turbo petrol engine with start/stop technology',
 '6-litre v12 Biturbo',
 'Revotron 1.2 L',
 '1.5l CRDi VGT',
 'mDI CRDe 4 Cylinder, Inline, Turbocharged with Intercooler. 2 valves per cylinder',
 'Cooper S Countryman',
 'V6',
 'Turbocharged Petrol',
 '3.0 Litre TDCi with Variable Geometry Turbocharger (VGT)',
 '2.9L OM656 Turbocharged I6',
 'Ingenium',
 '1.2 Kappa Bi-Fuel',
 '1.6L Gamma VTVT 5 Speed Manual Transmission',
 'K15B',
 'DSG Automatic',
 '8V SOHC',
 'BMW M Twin Power Turbo technology, TwinScroll Biturbo Charging, High Precision Petrol Direct Injection Double-VANOS, VALVETRONIC',
 'mHAWk 4 cylinder diesel engine',
 '1.2L DualJet, Dual VVT',
 'mHAWk',
 '2.0L TFSI Turbocharged I4',
 '2.8L SOHC Turbocharged diesel engine',
 '1.5L DV5 (Diesel)',
 '1.0 l Kappa Turbo GDi',
 '1.2L VVT',
 'Two asynchronous electric motors',
 '2.0L TSI',
 'VCDi 16V SOHC',
 '4 Cylinder, Comon Rail, VGS Turbo Intercooled Diesel',
 '2.2L VARICOR 320 4 cylinder, with Super Drive Modes',
 '1.5L I4 dCI Diesel engine',
 'mHawk155',
 '1.6L U2 CRDi VGT 4 Speed Automatic Transmission',
 '2.2 l TDCi',
 '4 cylinder Inline diesel engine',
 '4 stroke, Water-cooled with 32-Bit Electronic Control Module (ECM)',
 '2KD-FTV, Diesel With Turbocharger, 4 Inline Cylinder',
 '3 cylinder diesel engine',
 'SMARTECH 4 cylinder diesel engine',
 '1.6L K4M petrol engine',
 '2.0L B4204T6 I4',
 'Smartstream G 1.4 T-GDI',
 'M276 DE 30 LA Twin-Turbocharged V6',
 'mHawk 4 Cylinder Engine, Variable Geometry Turbocharger with Intercooler, 4 Valves per Cylinder, Common Rail Direct Injection Technology',
 '1.5 l MPi Petrol',
 '1.0 l Turbo GDi',
 '1.8L Petrol',
 '1.6L Petrol',
 'K10C CNG',
 '0.8L',
 '1.2 Kappa Petrol',
 'V6 TwinTurbo Diesel',
 'MPI Engine',
 'inline diesel engine with common rail injection and exhaust gas turbocharging.',
 '1.2 L mFALCON G80',
 '475 IDI with Microprocessor based Engine Management System (ECU)',
 'Turbo intercooled Common rail direct injection',
 '3.0 TFSI V6 + 48V Mild-Hybrid System',
 'Permanent magnet synchronous AC motor',
 'VQ23DE 2.3L V6 Petrol',
 '2.0 Diesel',
 'TDI Engine',
 'OM 654',
 '16 V DOHC',
 '1.4 PD TDI',
 'CRDi with Variable Geometry Turbocharger',
 '6-litre twin-turbocharged W12',
 '1.5 H4K Petrol',
 'B48 Turbocharged I4',
 'Multijet Diesel',
 'K15C Smart Hybrid',
 '2 cylinder, MPFI, Gasoline',
 '16V DOHC VVT',
 'Turbocharged Petrol Engine',
 '8 V DOHC',
 'Turbocharged diesel engine with Intercooler',
 '1.1 Epsilon MPI CNG',
 '1.0L Kappa',
 '1GR-FE, Petrol',
 '4.0 liter Twin-Turbo engine',
 'VVT-I',
 '2.0L M139 Turbocharged I4',
 'VTEC',
 'FC engine',
 '1.0L Ecoboost (Petrol)',
 '2.0L B47D20 Turbocharged I4',
 'Five-cylinder turbodiesel',
 '3.0L B57 Turbocharged I6',
 '2.0 TSI',
 'V- engine',
 'OM656 Turbo I6',
 '483 DL turbo charged',
 '4 Cylinder, Comon Rail SDE',
 '2.4L GDi',
 '2.5 L Engine,  In-line, Petrol',
 '475 SI Multi Point Fuel injection System with 32-bit microprocessor',
 'straight 4 cylinder diesel engine',
 'Smartstream G1.5T',
 'MPFi Petrol engine with 32-bit Microprocessor',
 '2.0L R4 Turbocharged I4',
 'mFalcon G80 Pertol',
 '2.5L V6, Tiptronic, Turbo Diesel',
 'Permanent Magnet Synchronous Motor (PMSM)',
 'NEF CRDe Turbocharged Intercooled,',
 '1.0L Turbo Boosterjet',
 'Revotorq 1.05L 3 Cylinder With Multi Drive: Eco, City Mode',
 '4 Cylinder Common rail diesel engine',
 '1.3L MPFI Petrol',
 'Cooper D Countryman',
 'In-line 5 Cylinder Turbo diesel',
 'BMW TwinTurbo V8 petrol engine',
 '4 cylinder inline, transverse in front',
 'Dual VVT-i',
 'OM654 Turbocharged I4',
 'MPFI, Petrol with INTELLIGENT PORT RESIZING',
 '1TR-FE, Gasoline DOHC, WT-i',
 'V10 DOHC, common pin crankshaft',
 'Water-cooled MPFI Petrol Engine',
 'V6 diesel engine with common rail injection and exhaust-gas turbocharging.',
 '4 Cylinder dOHC i-DTEC',
 '5.0 Litre V8 S/C Petrol',
 '1.0 XSDE',
 '3.0 L TDV6 Diesel',
 '2.0 EcoBlue Diesel Engine',
 'SOHC i-VTEC in line, 4 Cylinder',
 '1.5 K9K dCi Diesel',
 'Two permanently agitated synchronous motors (PSM)',
 'DOHC 12Valve3 Cylinders',
 'RA 420 TCDi',
 '4-Cylinder 16V, DOHC',
 'DDis Diesel, CRDI',
 'M276 Twin-Turbo V6',
 '4.0-litre V8 biturbo engine',
 '1.5L Ti-VCT (Petrol)',
 '1.5L 4-Cylinder DOHC Diesel',
 '2KD-FTV, Diesel with Intercooler Turbocharger, 4 Inline Cylinder',
 'Reliable mHAWKD70',
 'Three Phase Permanent Magnet Synchronous Motor',
 '3.0L Turbocharged FSI V6',
 '1.2L DualJet',
 'straight 6 cylinder diesel engine',
 'N55 Turbocharged I6',
 'dCi Diesel with Fixed Geometry Turbo',
 'DDiS Diesel Engine',
 'Four-cylinder  turbo-charged Petrol engine',
 '2.0L TDI',
 '4 Cylinder OHC',
 'G 1.0 T-GDI',
 '4 Stroke cycle water cooled SOHC (1C2V)',
 '1.0 Kappa Turbo GDi',
 'mHAWK100',
 'inline diesel engine with common rail injection',
 'DOHC',
 '1.2 L Revotron',
 '1.4 l Kappa Turbo GDi Petrol',
 '3.0L Twin-turbocharged V6',
 '2.5L Direct Injection Turbo Diesel',
 'AMG V8 Bi-Turbo',
 '1.5L Turbocharged I4',
 '2.0T GME T4 DI TC',
 'R 2.0',
 'Turbocharged petrol engine, direct injection system',
 '2.8 litre Turbocharged Intercooled Diesel',
 'K12N',
 'Four Cylinder VCDi Diesel Engine',
 '1.2L Turbocharged Revotron',
 '4-in-line',
 '1.0L',
 '4 cylinder inline petrol engine',
 '2.2 L DICOR Compliant with Dual Mass Flywheel',
 'VTVT - Variable Timing Valve Train',
 'V8 Petrol engine',
 'Water cooled, 4-stroke, common rail direct injection diesel with variable nozzle turbine turbocharger',
 '1.0 Turbo GDi',
 'Revotron 1.2L 3 cylinder with MULTI-DRIVE Mode',
 'V10 petrol engine with direct fuel injection',
 'winPower Turbo inline 6-cylinder engine',
 '1.0L Turbo X-TRONIC',
 'V8 supercharged petrol engine',
 'DDIS 200 Smart Hybrid',
 '2.2 L 16 Valve DOHC VTT DiCOR',
 '1.0L HRAO Turbo',
 'i-VTEC, 1.8L',
 'SZ CRDe, 4 stroke, Turbo-charged, Intercooled, DI, Common Rail Diesel Engine',
 'dCi Diesel with VGT',
 '1.2 l Kappa',
 'DDIS 200',
 '1.6L U2 CRDi VGT 6 Speed Manual Transmission',
 'K15 Petrol Smart Hybrid',
 '1.4L Petrol',
 'Diesel 4-Cylinder 8V, SOHC,D-4D',
 '1.0 Litre Energy Engine',
 '1.6L Gamma VTVT 4 Speed Automatic Transmission',
 '1.6L 16V DOHC',
 '1.4L TSI',
 '4.4 L SDV8 Diesel',
 '1.0L Energy',
 '4 Stroke, water-cooled, multipoint injection system 2 cylinders in-line',
 '624 cc, 2 cylinder, MPFI',
 'turbocharged diesel engine, in-line, liquid cooling system, high-pressure direct injection system, 12V DOHC, transverse in front',
 'SRT 6.4-Litre HEMI V8',
 'DOHC i-VTEC in line, 4 Cylinder',
 '4-cylinder, In-line, Turbocharged,Intercooled Petrol Engine',
 'e-TEC X14 NE MPFi',
 '1.5L TDI, 4-cylinder In-line',
 'turbocharged diesel engine with common rail system',
 '1.6 E D-TEC, DOHC, MPFI, 32-Bit ECM',
 '2.0L Twin power turbo',
 'm2DICR 4 Cylinder 2.5 L Engine, 4 Stroke, Turbo Charged, Direct Injection, Common Rail Diesel Engine',
 'BMW TwinPower Turbo six-cylinder in-line diesel engine',
 '1.5 l Turbo GDi',
 'MDI 3200TC L',
 '1.4L Dual VTVT 4-Speed Automatic Transmission',
 '16V DOHC, VVT',
 'Five-cylinder turbo charged diesel',
 '1.2 MPI',
 '1.2 Kappa',
 'V6 diesel engine with common r ail injection system and turbocha r ging',
 'Turbocharged, Intercooled Common Raid Direct Injection (CRDi)',
 'S55 Twin-Turbocharged I6',
 'V8 diesel engine with common rail injection system and turbocharging',
 'iRDE 1.1, 4-cylinder Petrol',
 'W12 TwinTurbo engine',
 'M274 Turbo I4',
 '4 in-line',
 'MA2.20 Turbocharged Flat-4',
 '3.0L M256 Turbocharged I6 + EQ Boost',
 'K15B Smart Hybrid',
 'straight 4 petrol engine',
 'B57 Turbocharged I6',
 'petrol engine, in-line, liquid cooling system, 16V DOHC, transverse in front',
 '1.2 Kappa petrol with dual VTVT',
 '2.0L Drive-E Turbocharged Diesel I4',
 'K10B',
 '2.2 L VARICOR',
 'K15C + Mild Hybrid System',
 'MPI petrol/in-line/SOHC',
 '4 cylinder Petrol',
 'F10D Petrol',
 'straight 6 cylinder petrol engine',
 'Petrol Hybrid',
 '1.5 L i-VTEC Engine',
 '1.5 TSI with ACT',
 'Revotron, 1.2L 3 Cylinder with Multi Drive: Eco, City Mode',
 'Intelli-Hybrid',
 '2.0 CRDi VGT',
 'Revotron 1.2 T',
 '1.0L 4-Cyl SOHC Petrol',
 'VVT',
 '1.0 TSI Petrol',
 'BMW Twin Power Turbo technology With VALVETRONIC & VANOS',
 '4 Cylinder In-line 16V DOHC',
 'Hybrid - iMMD (Intelligent Multi-mode Drive) hybrid system with 2 motors and 2.0L  i-VTEC Petrol engine',
 'BMW TwinPower Turbo with VALVETRONIC',
 '16V DOHC DDiS',
 'V6 TurboDiesel Engine',
 '2.8L V6 Tiptronic',
 'Permanent Magnet Synchronous Motor paired to High energy density Lithium-ion battery pack',
 '1.5 l MPi',
 'Premium Petrol',
 'Pumpe Duse Diesel',
 '4 Cylinder In-line 8V SOHC',
 '1.5 L i-DTEC Engine',
 'turbocharged petrol engine, in-line, liquid cooling system, direct injection, 16V DOHC, transverse in front',
 '1.8L TSI',
 '1.0L MPI Engine',
 '2.0L Petrol MPi engine',
 'VTi-TECH 1.5',
 'Turbocharged Common rail direct injection',
 'K-Series Petrol engine with VVT',
 '4 cylinder inline Turbodiesel engine',
 'mHawk',
 'MPI petrol/in-line/DOHC',
 'D15 1.5 Litre',
 'Direct Injection Diesel Engine',
 'DDiS 190 Engine',
 'Turbocharged, Intercooled',
 'i-SAT',
 '5.7L 3UR-FE V8',
 '2.5L Direct Injection Turbo',
 'Petrol',
 '2nd Gen 1.1 U2 CRDi',
 '4 Cylinder',
 'DW10FC',
 'M15D + Strong Hybrid',
 'D-4D Diesel engine with Variable Nozzle Turbo and Intercooler, 4 cylinder inline',
 'Turbo-charged Indirect Injection Engine with Intercooler (TDi)',
 '3.0L Ingenium Turbocharged I6 MHEV',
 'U2 VGT CRDi',
 '2KD-FTV, Diesel With Turbocharger, DOHC',
 '1.5 L TSI EVO with ACT',
 'Renault XH2 Petrol engine',
 'V8 engine with 4 valve technology',
 'Top mounted intercooler,intercooler, mHawkCRDe, 4 stroke, Turbo charged, DI',
 'm2DiCR 2.5L Diesel engine',
 '2.5L XD3PU Diesel',
 'Bi Fuel',
 'inline 4',
 '1.2 Kappa petrol with dual VTVT, 16 Valves, 4 Cylinder',
 'E-TEC II',
 'Turbocharged petrol',
 'inline 4 petrol engine',
 '4-In-line',
 '3.0 L Turbocharged V6',
 '2nd Gen 1.2 U2 CRDi Diesel',
 'K15 PetrolSmart Hybrid',
 'Renault M9R 855 Diesel engine',
 'Electric Motor',
 'BMW TwinPower Turbo 4-cylinder diesel engine',
 'In-Line 5 Cylinder, Turbo Diesel',
 'Turbocharged, direct injection petrol engine',
 '4-Cylinder, SOHC i-VTEC',
 'V8 petrol engine with direct fuel injection',
 'Turbocharged common rail direct injection',
 'mDI CRDe 4 cylinder diesel engine',
 '2.0L Ingenium Turbocharged I4',
 '1.5 i-DTEC',
 'Water cooled SOHC (1C2V)',
 '2.0L Turbocharged I4',
 'FIRE (DOHC)',
 '1.5L Turbocharged',
 '475 IDI Turbo',
 'Turbocharged Diesel Engine',
 '1.5L CRDi VGT',
 '1.2 Kappa Dual VTVT',
 '1.4 T-JET',
 '1.4 Multiair',
 'In-line 5 Cylinder TwinTurbo diesel',
 'G13BB',
 '3.0L V6 Supercharged Automatic',
 '2.2 Litre Euro-6 Ready',
 '1.0L TSI',
 'V8 Petrol Engine',
 '4 cylinder Inter-cooled VGS Turbo Diesel',
 '3.0L TFSI V6',
 '3.0-liter dual overhead cam (DOHC)',
 'mHAWKD70',
 '2.5L A25B-FXS',
 'Aston Martin 6.0 V12',
 '1.2 U2 CRDi Diesel',
 'TDI 4-Cylinder',
 'BlueEFFICIENCY 4 cylinder inline petrol engine',
 'SMARTSTREAM G1.5',
 '1.2L Dual Jet, Dual VVT',
 'DDiS 320',
 'Tata 1.4 Direct Injection Common Rail Diesel Engine',
 'Inline petrol engine with direct fuel injection, exhaust gas turbocharging and Audi valvelift system',
 '1.5 Turbocharged Intercooled Petrol',
 'Diesel',
 'Ti-VCT',
 '1.0 TSI',
 'K10C',
 '1L MPI Engine',
 'RX270 XVT',
 '220TURBO 1.3',
 '1.5 U2 CRDi',
 'BMW Twin Power Turbo Technology with VALVTRONIC & VANOS',
 '4 Cylinder, SOHC i-VTEC',
 'turbocharged diesel engine, in-line, liquid cooling system, high-pressure direct injection system, 16V DOHC, transverse in front DSG',
 'Four-cylinder twin turbo-charged Petrol engine',
 '4 Cylinder, DOHC i-DTEC',
 '2.0 Multijet II',
 '2.2L I4 mHawk 130',
 'DDiS 200 Smart Hybrid Diesel Engine',
 '2.0L SC20M Twin-Turbocharged I4',
 'Nu 2.0',
 'K12M',
 'Common Rail Direct Injection (dCi)',
 '1.2 Kappa Dual VTVT Petrol',
 'Advanced Multijet (DOHC)',
 '1.2 L Turbocharged Revotron Engine',
 '4.5-litre Diesel Engine,V8, 32-value DOHC',
 '4-cylinder, In-line CR,Turbocharged Diesel Engine',
 '1.5 TSI Petrol with Active Cylinder Technology',
 '1.0L Turbo',
 None,
 '2TR-FE',
 '2.5 Liter, 4-cylinder, 16 valve, DOHC, Turbo',
 'mEagle - developed on NEF CRDe platform with Dual Pilot Injection and top mounted Intercooler',
 '4 cyl, 16 Valves, DOHC with Dual VTVT',
 'New 1.2L, MPFI, Safire Petrol engine',
 '2.0 Petrol',
 'K 14B VVT',
 '6- Cylinder V diesel engine with VTG turbocharher DOHC TDI direct injection',
 '2.0 L Kryotec',
 '10 cylinders V 90°, DOHC 4 valves, common-pin crankshaft',
 'Aluminium 32 bit',
 'Multi Point Fuel Injection',
 'B58 Turbocharged I6',
 'CDI V6',
 '4-Cylinder 8V, SOHC, D-4D',
 'BlueEFFICIENCY 4 cylinder inline',
 '4.5 Litre Diesel Engine V8, 32-Valve DOHC',
 'All aliuminum light weight KB10',
 'iDTEC',
 'Common Rail CR4',
 'mHawk155 Diesel Engine',
 'Renault K9K dCi Diesel engine',
 'G12B',
 'RA 420 VCDi',
 'Four-cylinder  turbo-charged diesel engine',
 'V6 Diesel engine',
 '4 cylinder inline petrol',
 'V6 3.3L Turbo',
 '1.1 Epsilon MPI Petrol',
 'DDiS125',
 'i4 Turbocharged Petrol',
 'S-TEC II',
 'Hyundai Alpha',
 'SOHC iVTEC + IMA',
 'All- Aluminium contemporary, SOHC',
 '3 cylinder engine',
 '4 stroke cycle, Water cooled',
 'Naturally Aspirated 12V DOHC EFI',
 'Petrol-Hybrid',
 'M264 Turbo with EQ Boost',
 'S63 Twin-Turbocharged V8',
 '2.2L CRDi',
 'TwinPower Turbo',
 'DDis Diesel,CRDI',
 '1.5L Dual VVT-i Engine',
 'Kryotec, 2.0L Turbocharged Engine',
 'Turbocharged diesel engine, turbocharger with self-aligning blades, in-line, liquid cooling system, high-pressure direct injection system, DOHC, transverse in front',
 'VGIS',
 '1.5L i-VTEC',
 'Inline turbocharged Diesel',
 '4B 12 2.4 DOCH',
 '3.6L Pentastar Engine',
 '2 Electric Motors',
 '3 cylinder inline',
 '1GD-FTV Turbocharged D-4D I4',
 '2ZR-FE, Gasoline, 4 cylinder inline',
 '5.5 Litre BiTurbo',
 'V6 VTEC',
 'mDi CRDe',
 'turbocharged diesel engine, turbocharger with self-aligning blades, in-line, liquid cooling system, high-pressure direct injection system, 16V DOHC, transverse in front',
 'mHawk75',
 'K 15 Smart Hybrid',
 '2TR-FE I4 Dual VVT-i',

* no cc data was found in Engine Type and is not useful* 
deleting this column

In [479]:
df_specs_B_Engine = df_specs_B_Engine.drop(['Engine Type'])

* Engine column contains 4 values - cc, cylinders, valve and camshaft
* cylinders, valve and camshaft column values are not needed for analysis
* cc value will only be extractednn

In [480]:
df_specs_B_Engine.head(2)

shape: (2, 8)
┌───────────┬─────────────────┬───────────┬─────────────────┬─────────────────┬────────────────┬────────┬──────────────┐
│ profileId ┆ vehicle         ┆ Max Power ┆ Mileage (ARAI)  ┆ Engine          ┆ Max Torque     ┆ Fuel   ┆ transmission │
│ ---       ┆ ---             ┆ (bhp@rpm) ┆ ---             ┆ ---             ┆ (Nm@rpm)       ┆ ---    ┆ ---          │
│ str       ┆ str             ┆ ---       ┆ f64             ┆ str             ┆ ---            ┆ str    ┆ str          │
│           ┆                 ┆ str       ┆                 ┆                 ┆ str            ┆        ┆              │
╞═══════════╪═════════════════╪═══════════╪═════════════════╪═════════════════╪════════════════╪════════╪══════════════╡
│ D4135089  ┆ Tata Harrier XZ ┆ 168 bhp @ ┆ 16.3            ┆ 1956 cc, 4      ┆ 350 Nm @ 1750  ┆ Diesel ┆ Manual       │
│           ┆ Dark Edition    ┆ 3750 rpm  ┆                 ┆ Cylinders       ┆ rpm            ┆        ┆              │
│           ┆                 ┆           ┆                 ┆ Inline, 4 V…    ┆                ┆        ┆              │
│ D4170587  ┆ BMW 3 Series GT ┆ 184 bhp @ ┆ 19.59           ┆ 1995 cc, 4      ┆ 380 Nm @ 1750  ┆ Diesel ┆ Automatic    │
│           ┆ 320d Luxury     ┆ 4000 rpm  ┆                 ┆ Cylinders       ┆ rpm            ┆        ┆              │
│           ┆ Line…           ┆           ┆                 ┆ Inline, 4 V…    ┆                ┆        ┆              │
└───────────┴─────────────────┴───────────┴─────────────────┴─────────────────┴────────────────┴────────┴──────────────┘

In [481]:
df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('Engine').str.split(' ').list[0].str.strip_chars().str.replace("NaNot|NaNOHC|DOHC|Not",np.nan).cast(pl.Float64).alias('Displacement_(cc)'))

* deleting Engine columns

In [482]:
df_specs_B_Engine = df_specs_B_Engine.drop('Engine')

##### `Max Power (bhp@rpm) AND Max Torque (Nm@rpm)`

In [483]:
# first clearing out the leading and trailing spaces

df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('Max Power (bhp@rpm)').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Engine.filter(pl.col('Max Power (bhp@rpm)').is_null()).shape[0],'\n',
        'empty',df_specs_B_Engine.filter(pl.col('Max Power (bhp@rpm)')=='').shape[0],'\n',
        'space', df_specs_B_Engine.filter(pl.col('Max Power (bhp@rpm)')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Engine.filter(pl.col('Max Power (bhp@rpm)')=='0').shape[0],'\n',
        'None',df_specs_B_Engine.filter(pl.col('Max Power (bhp@rpm)')==None).shape[0],'\n',
        'NA',df_specs_B_Engine.filter(pl.col('Max Power (bhp@rpm)')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Engine.filter(pl.col('Max Power (bhp@rpm)').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Engine.filter(pl.col('Max Power (bhp@rpm)')==0).shape[0],'\n',
        

        )

null 370
 empty 0
 space 0
 0 (Str) 0
 None 370
 NA 0

In [484]:
# first clearing out the leading and trailing spaces

df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('Max Torque (Nm@rpm)').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Engine.filter(pl.col('Max Torque (Nm@rpm)').is_null()).shape[0],'\n',
        'empty',df_specs_B_Engine.filter(pl.col('Max Torque (Nm@rpm)')=='').shape[0],'\n',
        'space', df_specs_B_Engine.filter(pl.col('Max Torque (Nm@rpm)')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Engine.filter(pl.col('Max Torque (Nm@rpm)')=='0').shape[0],'\n',
        'None',df_specs_B_Engine.filter(pl.col('Max Torque (Nm@rpm)')==None).shape[0],'\n',
        'NA',df_specs_B_Engine.filter(pl.col('Max Torque (Nm@rpm)')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Engine.filter(pl.col('Max Torque (Nm@rpm)').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Engine.filter(pl.col('Max Torque (Nm@rpm)')==0).shape[0],'\n',
        

        )

null 370
 empty 0
 space 0
 0 (Str) 0
 None 370
 NA 0

* there are 370 null values in both torque and power
* splitting both torque and power in separate columns

In [485]:
 df_specs_B_Engine =  df_specs_B_Engine.with_columns(pl.col('Max Torque (Nm@rpm)').str.split('@').list.to_struct(fields = ['Max_Torque_(Nm)','Max_Torque_at_rpm']).alias('Torque'),
                                              pl.col('Max Power (bhp@rpm)').str.split('@').list.to_struct(fields = ['Max_Power_(bhp)','Max_Power_at_rpm']).alias('Power')
                                              
                                              ).unnest('Torque','Power')

In [486]:
df_specs_B_Engine.head(2)

shape: (2, 12)
┌───────────┬────────────────┬───────────┬─────────┬───┬───────────────┬───────────────┬───────────────┬───────────────┐
│ profileId ┆ vehicle        ┆ Max Power ┆ Mileage ┆ … ┆ Max_Torque_(N ┆ Max_Torque_at ┆ Max_Power_(bh ┆ Max_Power_at_ │
│ ---       ┆ ---            ┆ (bhp@rpm) ┆ (ARAI)  ┆   ┆ m)            ┆ _rpm          ┆ p)            ┆ rpm           │
│ str       ┆ str            ┆ ---       ┆ ---     ┆   ┆ ---           ┆ ---           ┆ ---           ┆ ---           │
│           ┆                ┆ str       ┆ f64     ┆   ┆ str           ┆ str           ┆ str           ┆ str           │
╞═══════════╪════════════════╪═══════════╪═════════╪═══╪═══════════════╪═══════════════╪═══════════════╪═══════════════╡
│ D4135089  ┆ Tata Harrier   ┆ 168 bhp @ ┆ 16.3    ┆ … ┆ 350 Nm        ┆  1750 rpm     ┆ 168 bhp       ┆  3750 rpm     │
│           ┆ XZ Dark        ┆ 3750 rpm  ┆         ┆   ┆               ┆               ┆               ┆               │
│           ┆ Edition        ┆           ┆         ┆   ┆               ┆               ┆               ┆               │
│ D4170587  ┆ BMW 3 Series   ┆ 184 bhp @ ┆ 19.59   ┆ … ┆ 380 Nm        ┆  1750 rpm     ┆ 184 bhp       ┆  4000 rpm     │
│           ┆ GT 320d Luxury ┆ 4000 rpm  ┆         ┆   ┆               ┆               ┆               ┆               │
│           ┆ Line…          ┆           ┆         ┆   ┆               ┆               ┆               ┆               │
└───────────┴────────────────┴───────────┴─────────┴───┴───────────────┴───────────────┴───────────────┴───────────────┘

In [487]:
df_specs_B_Engine =  df_specs_B_Engine.with_columns(
                                                     pl.col('Max_Torque_(Nm)').str.strip_chars().str.replace(' Nm','').str.replace('',0,literal=False).cast(pl.Float64).replace({0.0:None}),
                                                     pl.col('Max_Power_(bhp)').str.strip_chars().str.replace(' bhp','').str.replace('',0,literal=False).cast(pl.Float64).replace({0.0:None})
                     
                                                     )

In [488]:
df_specs_B_Engine.head()

shape: (5, 12)
┌───────────┬────────────────┬───────────┬─────────┬───┬───────────────┬───────────────┬───────────────┬───────────────┐
│ profileId ┆ vehicle        ┆ Max Power ┆ Mileage ┆ … ┆ Max_Torque_(N ┆ Max_Torque_at ┆ Max_Power_(bh ┆ Max_Power_at_ │
│ ---       ┆ ---            ┆ (bhp@rpm) ┆ (ARAI)  ┆   ┆ m)            ┆ _rpm          ┆ p)            ┆ rpm           │
│ str       ┆ str            ┆ ---       ┆ ---     ┆   ┆ ---           ┆ ---           ┆ ---           ┆ ---           │
│           ┆                ┆ str       ┆ f64     ┆   ┆ f64           ┆ str           ┆ f64           ┆ str           │
╞═══════════╪════════════════╪═══════════╪═════════╪═══╪═══════════════╪═══════════════╪═══════════════╪═══════════════╡
│ D4135089  ┆ Tata Harrier   ┆ 168 bhp @ ┆ 16.3    ┆ … ┆ 350.0         ┆  1750 rpm     ┆ 168.0         ┆  3750 rpm     │
│           ┆ XZ Dark        ┆ 3750 rpm  ┆         ┆   ┆               ┆               ┆               ┆               │
│           ┆ Edition        ┆           ┆         ┆   ┆               ┆               ┆               ┆               │
│ D4170587  ┆ BMW 3 Series   ┆ 184 bhp @ ┆ 19.59   ┆ … ┆ 380.0         ┆  1750 rpm     ┆ 184.0         ┆  4000 rpm     │
│           ┆ GT 320d Luxury ┆ 4000 rpm  ┆         ┆   ┆               ┆               ┆               ┆               │
│           ┆ Line…          ┆           ┆         ┆   ┆               ┆               ┆               ┆               │
│ D4170559  ┆ Jeep Compass   ┆ 171 bhp @ ┆ 17.1    ┆ … ┆ 350.0         ┆  1750 rpm     ┆ 171.0         ┆  3750 rpm     │
│           ┆ Limited 2.0    ┆ 3750 rpm  ┆         ┆   ┆               ┆               ┆               ┆               │
│           ┆ Diesel …       ┆           ┆         ┆   ┆               ┆               ┆               ┆               │
│ D4112409  ┆ Mercedes-Benz  ┆ 197 bhp @ ┆ null    ┆ … ┆ 440.0         ┆ 1800-2800 rpm ┆ 197.0         ┆  3600 rpm     │
│           ┆ C-Class C 220d ┆ 3600 rpm  ┆         ┆   ┆               ┆               ┆               ┆               │
│ D4087571  ┆ Jeep Compass   ┆ 160 bhp @ ┆ 14.1    ┆ … ┆ 250.0         ┆  2500 rpm     ┆ 160.0         ┆  5500 rpm     │
│           ┆ Limited Plus   ┆ 5500 rpm  ┆         ┆   ┆               ┆               ┆               ┆               │
│           ┆ Petrol…        ┆           ┆         ┆   ┆               ┆               ┆               ┆               │
└───────────┴────────────────┴───────────┴─────────┴───┴───────────────┴───────────────┴───────────────┴───────────────┘

In [489]:
df_specs_B_Engine = df_specs_B_Engine.with_columns(pl.col('Max_Torque_at_rpm').str.strip_chars().str.slice(0,4).str.replace('',0,literal=False).cast(pl.Float64).replace({0.0:None}),
                                                   pl.col('Max_Power_at_rpm').str.strip_chars().str.slice(0,4).str.replace('',0,literal=False).cast(pl.Float64).replace({0.0:None})
                                                       )

In [490]:
# removing torque and power columns

df_specs_B_Engine = df_specs_B_Engine.drop(['Max Torque (Nm@rpm)','Max Power (bhp@rpm)'])

##### FINAL ENGINE DATASET

In [491]:
df_specs_B_Engine.write_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\02.Pre-Processing\Pre-processed Data Stage-II\specs_Engine_B.csv')

#### `Dimensions & Weight`

In [567]:
#looking at the data

df_specs_B_Dimensions = df_specifications_B.filter(pl.col('spec_category')=='Dimensions & Weight')

In [568]:
df_specs_B_Dimensions.head()

shape: (5, 6)
┌─────────────┬───────────┬──────────┬─────────────────────┬───────────┬───────────────────────────────────┐
│ specName    ┆ specValue ┆ specUnit ┆ spec_category       ┆ profileId ┆ vehicle                           │
│ ---         ┆ ---       ┆ ---      ┆ ---                 ┆ ---       ┆ ---                               │
│ str         ┆ str       ┆ str      ┆ str                 ┆ str       ┆ str                               │
╞═════════════╪═══════════╪══════════╪═════════════════════╪═══════════╪═══════════════════════════════════╡
│ Length      ┆ 4395      ┆ mm       ┆ Dimensions & Weight ┆ D4170559  ┆ Jeep Compass Limited 2.0 Diesel … │
│ Width       ┆ 1818      ┆ mm       ┆ Dimensions & Weight ┆ D4170559  ┆ Jeep Compass Limited 2.0 Diesel … │
│ Kerb Weight ┆ 1584      ┆ kg       ┆ Dimensions & Weight ┆ D4170559  ┆ Jeep Compass Limited 2.0 Diesel … │
│ Wheelbase   ┆ 2865      ┆ mm       ┆ Dimensions & Weight ┆ D4112409  ┆ Mercedes-Benz C-Class C 220d      │
│ Height      ┆ 1447      ┆ mm       ┆ Dimensions & Weight ┆ D4039375  ┆ Mercedes-Benz C-Class 220 BlueEf… │
└─────────────┴───────────┴──────────┴─────────────────────┴───────────┴───────────────────────────────────┘

##### PIVOTING TABLE

In [569]:
df_specs_B_Dimensions = df_specs_B_Dimensions.pivot(index = ['profileId','vehicle'],columns = 'specName', values = 'specValue')

In [570]:
df_specs_B_Dimensions.head()

shape: (5, 8)
┌───────────┬───────────────────────────────────┬────────┬───────┬─────────────┬───────────┬────────┬──────────────────┐
│ profileId ┆ vehicle                           ┆ Length ┆ Width ┆ Kerb Weight ┆ Wheelbase ┆ Height ┆ Ground Clearance │
│ ---       ┆ ---                               ┆ ---    ┆ ---   ┆ ---         ┆ ---       ┆ ---    ┆ ---              │
│ str       ┆ str                               ┆ str    ┆ str   ┆ str         ┆ str       ┆ str    ┆ str              │
╞═══════════╪═══════════════════════════════════╪════════╪═══════╪═════════════╪═══════════╪════════╪══════════════════╡
│ D4170559  ┆ Jeep Compass Limited 2.0 Diesel … ┆ 4395   ┆ 1818  ┆ 1584        ┆ 2636      ┆ 1640   ┆ null             │
│ D4112409  ┆ Mercedes-Benz C-Class C 220d      ┆ 4751   ┆ 1820  ┆ null        ┆ 2865      ┆ 1437   ┆ null             │
│ D4039375  ┆ Mercedes-Benz C-Class 220 BlueEf… ┆ 4596   ┆ 1770  ┆ 1610        ┆ 2960      ┆ 1447   ┆ null             │
│ D4134657  ┆ Jeep Compass Limited Plus Diesel… ┆ 4395   ┆ 1818  ┆ 1584        ┆ 2636      ┆ 1640   ┆ null             │
│ D4056433  ┆ Jeep Compass Limited Plus 2.0 Di… ┆ 4395   ┆ 1818  ┆ 1654        ┆ 2636      ┆ 1640   ┆ null             │
└───────────┴───────────────────────────────────┴────────┴───────┴─────────────┴───────────┴────────┴──────────────────┘

##### `Ground Clearance`

In [496]:
# first clearing out the leading and trailing spaces

df_specs_B_Dimensions = df_specs_B_Dimensions.with_columns(pl.col('Ground Clearance').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Dimensions.filter(pl.col('Ground Clearance').is_null()).shape[0],'\n',
        'empty',df_specs_B_Dimensions.filter(pl.col('Ground Clearance')=='').shape[0],'\n',
        'space', df_specs_B_Dimensions.filter(pl.col('Ground Clearance')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Dimensions.filter(pl.col('Ground Clearance')=='0').shape[0],'\n',
        'None',df_specs_B_Dimensions.filter(pl.col('Ground Clearance')==None).shape[0],'\n',
        'NA',df_specs_B_Dimensions.filter(pl.col('Ground Clearance')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Dimensions.filter(pl.col('Ground Clearance').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Dimensions.filter(pl.col('Ground Clearance')==0).shape[0],'\n',
        

        )

null 7437
 empty 0
 space 0
 0 (Str) 0
 None 7437
 NA 0

* huge null values can be seen
* we will be using this for analysis

In [571]:
list(df_specs_B_Dimensions['Ground Clearance'].unique())

['159',
 '202',
 None,
 '126',
 '215',
 '118',
 '154',
 '206',
 '221',
 '220',
 '184',
 '110',
 '186',
 '223',
 '227',
 '116',
 '192',
 '140',
 '172',
 '133',
 '112',
 '211',
 '145',
 '210',
 '139',
 '190',
 '185',
 '200',
 '165',
 '244',
 '175',
 '164',
 '114',
 '177',
 '181',
 '141',
 '218',
 '189',
 '176',
 '180',
 '187',
 '155',
 '295.5',
 '196',
 '157',
 '179',
 '204.8',
 '151',
 '163',
 '100',
 '217',
 '109',
 '225',
 '138',
 '128',
 '149',
 '168',
 '113',
 '161',
 '136',
 '135',
 '195',
 '158',
 '150',
 '170',
 '120',
 '137',
 '134',
 '142',
 '171',
 '117',
 '183',
 '167',
 '201',
 '204',
 '198',
 '230',
 '219',
 '188',
 '205',
 '208',
 '226',
 '174',
 '213',
 '209',
 '214',
 '144',
 '239.8',
 '156',
 '130',
 '216',
 '182',
 '197',
 '152',
 '238',
 '147',
 '212',
 '160']

In [572]:
# converting to float
df_specs_B_Dimensions = df_specs_B_Dimensions.with_columns(pl.col('Ground Clearance').cast(pl.Float64))

In [573]:
list(df_specs_B_Dimensions['Ground Clearance'].unique())

[None,
 100.0,
 109.0,
 110.0,
 112.0,
 113.0,
 114.0,
 116.0,
 117.0,
 118.0,
 120.0,
 126.0,
 128.0,
 130.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 144.0,
 145.0,
 147.0,
 149.0,
 150.0,
 151.0,
 152.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 163.0,
 164.0,
 165.0,
 167.0,
 168.0,
 170.0,
 171.0,
 172.0,
 174.0,
 175.0,
 176.0,
 177.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 188.0,
 189.0,
 190.0,
 192.0,
 195.0,
 196.0,
 197.0,
 198.0,
 200.0,
 201.0,
 202.0,
 204.0,
 204.8,
 205.0,
 206.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 223.0,
 225.0,
 226.0,
 227.0,
 230.0,
 238.0,
 239.8,
 244.0,
 295.5]

##### `Height`

In [574]:
# first clearing out the leading and trailing spaces

df_specs_B_Dimensions = df_specs_B_Dimensions.with_columns(pl.col('Height').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Dimensions.filter(pl.col('Height').is_null()).shape[0],'\n',
        'empty',df_specs_B_Dimensions.filter(pl.col('Height')=='').shape[0],'\n',
        'space', df_specs_B_Dimensions.filter(pl.col('Height')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Dimensions.filter(pl.col('Height')=='0').shape[0],'\n',
        'None',df_specs_B_Dimensions.filter(pl.col('Height')==None).shape[0],'\n',
        'NA',df_specs_B_Dimensions.filter(pl.col('Height')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Dimensions.filter(pl.col('Height').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Dimensions.filter(pl.col('Height')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 0

* no null values

In [575]:
# converting to float
df_specs_B_Dimensions = df_specs_B_Dimensions.with_columns(pl.col('Height').cast(pl.Float64))

In [576]:
list(df_specs_B_Dimensions['Height'].unique())

[1165.0,
 1184.0,
 1240.0,
 1241.0,
 1252.0,
 1269.0,
 1281.0,
 1282.0,
 1291.0,
 1292.0,
 1295.0,
 1297.0,
 1298.0,
 1301.0,
 1303.0,
 1304.0,
 1308.0,
 1315.0,
 1322.0,
 1329.0,
 1353.0,
 1360.0,
 1366.0,
 1369.0,
 1370.0,
 1377.0,
 1382.0,
 1383.0,
 1386.0,
 1390.0,
 1391.0,
 1392.0,
 1393.0,
 1395.0,
 1398.0,
 1401.0,
 1402.0,
 1403.0,
 1404.0,
 1405.0,
 1407.0,
 1409.0,
 1410.0,
 1411.0,
 1412.0,
 1414.0,
 1415.0,
 1416.0,
 1417.0,
 1418.0,
 1420.0,
 1421.0,
 1422.0,
 1423.0,
 1425.0,
 1426.0,
 1427.0,
 1429.0,
 1431.0,
 1432.0,
 1433.0,
 1434.0,
 1435.0,
 1437.0,
 1439.0,
 1440.0,
 1441.0,
 1442.0,
 1443.0,
 1445.0,
 1446.0,
 1447.0,
 1448.0,
 1450.0,
 1452.0,
 1453.0,
 1455.0,
 1456.0,
 1457.0,
 1458.0,
 1459.0,
 1460.0,
 1461.0,
 1464.0,
 1465.0,
 1466.0,
 1467.0,
 1468.0,
 1469.0,
 1470.0,
 1471.0,
 1472.0,
 1473.0,
 1474.0,
 1475.0,
 1476.0,
 1477.0,
 1478.0,
 1479.0,
 1480.0,
 1481.0,
 1482.0,
 1483.0,
 1484.0,
 1485.0,
 1486.0,
 1487.0,
 1488.0,
 1489.0,
 1490.0,
 1494.0,
 1495.0,
 1496.0,
 1498.0,
 1499.0,
 1500.0,
 1501.0,
 1503.0,
 1505.0,
 1507.0,
 1508.0,
 1510.0,
 1512.0,
 1515.0,
 1518.0,
 1520.0,
 1522.0,
 1523.0,
 1525.0,
 1529.0,
 1530.0,
 1532.0,
 1534.0,
 1535.0,
 1537.0,
 1538.0,
 1539.0,
 1540.0,
 1541.0,
 1542.0,
 1543.0,
 1544.0,
 1545.0,
 1546.0,
 1548.0,
 1549.0,
 1550.0,
 1553.0,
 1555.0,
 1557.0,
 1559.0,
 1560.0,
 1561.0,
 1562.0,
 1564.0,
 1565.0,
 1566.0,
 1567.0,
 1570.0,
 1572.0,
 1573.0,
 1585.0,
 1586.0,
 1587.0,
 1588.0,
 1590.0,
 1593.0,
 1595.0,
 1598.0,
 1601.0,
 1603.0,
 1605.0,
 1606.0,
 1607.0,
 1608.0,
 1611.0,
 1612.0,
 1615.0,
 1616.0,
 1617.0,
 1619.0,
 1620.0,
 1621.0,
 1624.0,
 1625.0,
 1627.0,
 1628.0,
 1630.0,
 1631.0,
 1634.0,
 1635.0,
 1637.0,
 1638.0,
 1639.0,
 1640.0,
 1642.0,
 1643.0,
 1644.0,
 1645.0,
 1647.0,
 1649.0,
 1650.0,
 1651.0,
 1652.0,
 1653.0,
 1655.0,
 1657.0,
 1658.0,
 1659.0,
 1660.0,
 1661.0,
 1664.0,
 1665.0,
 1666.0,
 1669.0,
 1670.0,
 1671.0,
 1672.0,
 1674.0,
 1675.0,
 1676.0,
 1678.0,
 1679.0,
 1680.0,
 1683.0,
 1685.0,
 1688.0,
 1689.0,
 1690.0,
 1691.0,
 1695.0,
 1696.0,
 1697.0,
 1698.0,
 1699.0,
 1700.0,
 1701.0,
 1702.0,
 1703.0,
 1705.0,
 1706.0,
 1708.0,
 1709.0,
 1710.0,
 1713.0,
 1716.0,
 1719.0,
 1720.0,
 1724.0,
 1737.0,
 1740.0,
 1745.0,
 1749.0,
 1750.0,
 1754.0,
 1755.0,
 1760.0,
 1762.0,
 1765.0,
 1772.0,
 1773.0,
 1774.0,
 1776.0,
 1780.0,
 1784.0,
 1785.0,
 1786.0,
 1789.0,
 1791.0,
 1792.0,
 1795.0,
 1796.0,
 1800.0,
 1802.0,
 1803.0,
 1805.0,
 1817.0,
 1823.0,
 1825.0,
 1826.0,
 1829.0,
 1835.0,
 1837.0,
 1838.0,
 1839.0,
 1840.0,
 1844.0,
 1845.0,
 1846.0,
 1848.0,
 1850.0,
 1855.0,
 1857.0,
 1860.0,
 1865.0,
 1867.0,
 1868.0,
 1869.0,
 1870.0,
 1875.0,
 1877.0,
 1880.0,
 1885.0,
 1890.0,
 1895.0,
 1900.0,
 1901.0,
 1904.0,
 1905.0,
 1909.0,
 1910.0,
 1916.0,
 1920.0,
 1922.0,
 1925.0,
 1930.0,
 1938.0,
 1940.0,
 1945.0,
 1950.0,
 1967.0,
 1969.0,
 1970.0,
 1974.0,
 1975.0,
 1976.0,
 1995.0,
 2075.0,
 2100.0]

##### `Kerb Weight`

In [577]:
# first clearing out the leading and trailing spaces

df_specs_B_Dimensions = df_specs_B_Dimensions.with_columns(pl.col('Kerb Weight').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Dimensions.filter(pl.col('Kerb Weight').is_null()).shape[0],'\n',
        'empty',df_specs_B_Dimensions.filter(pl.col('Kerb Weight')=='').shape[0],'\n',
        'space', df_specs_B_Dimensions.filter(pl.col('Kerb Weight')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Dimensions.filter(pl.col('Kerb Weight')=='0').shape[0],'\n',
        'None',df_specs_B_Dimensions.filter(pl.col('Kerb Weight')==None).shape[0],'\n',
        'NA',df_specs_B_Dimensions.filter(pl.col('Kerb Weight')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Dimensions.filter(pl.col('Kerb Weight').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Dimensions.filter(pl.col('Kerb Weight')==0).shape[0],'\n',
        

        )

null 10891
 empty 0
 space 0
 0 (Str) 0
 None 10891
 NA 0

* huge amount of null values

In [578]:
list(df_specs_B_Dimensions['Kerb Weight'].unique())

['1296',
 '2583',
 '1760',
 '2261',
 '1366',
 '859',
 '1312',
 '1710',
 '1580',
 '1567',
 '1027',
 '2230',
 '1755',
 '1750',
 '1261',
 '1041',
 '1092',
 '879',
 '2330',
 '2725',
 '1164',
 '1216',
 '2177',
 '1275',
 '1575',
 '1152',
 '975',
 '928',
 '1850',
 '2340',
 '1065',
 '678',
 '1335',
 '1148',
 '970',
 '845',
 '812',
 '1187',
 '2113',
 '1345',
 '1026',
 '1460',
 '1125',
 '2505',
 '1213',
 '965',
 '1097',
 '767',
 '932',
 '1976',
 '1545',
 '1380',
 '1530',
 '1173',
 '1876',
 '737',
 '1215',
 '2345',
 '1301',
 '1161',
 '1003',
 '784',
 '1608',
 '1572',
 '1049',
 '1231',
 '1614',
 '920',
 '727',
 '846',
 '1835',
 '764',
 '1106',
 '1868',
 '912',
 '762',
 '1023',
 '2200',
 '1150',
 '1302',
 '1029',
 '1884',
 '923',
 '1090',
 '1930',
 '1325',
 '831',
 '1965',
 '2360',
 '1995',
 '2065',
 '1562',
 '1176',
 '1332',
 '1705',
 '2132',
 '1266',
 '1008',
 '1891',
 '1016',
 '815',
 '1945',
 '722',
 '1242',
 '1816',
 '2155',
 '1061',
 '1719',
 '2186',
 '837',
 '1830',
 '2097',
 '1195',
 '2666',
 '1305',
 '1533',
 '1660',
 '2285',
 '1825',
 '1039',
 '905',
 '635',
 '1695',
 '1795',
 '1505',
 '1032',
 '1067',
 '1350',
 '1289',
 '1805',
 '2458',
 '1004',
 '1018',
 '1190',
 '1280',
 '1845',
 '720',
 '1068',
 '2507',
 '2440',
 '800',
 '2445',
 '760',
 '1535',
 '1735',
 '1320',
 '2550',
 '2130',
 '2175',
 '1598',
 '1263',
 '1793',
 '1354',
 '1005',
 '2962',
 '1053',
 '1205',
 '1753',
 '1405',
 '830',
 '2485',
 '2655',
 '1064',
 '1700',
 '1124',
 '1185',
 '2335',
 '214',
 '1685',
 '1514',
 '1109',
 '1665',
 '1515',
 '2366',
 '880',
 '1180',
 '1025',
 '1496',
 '769',
 '765',
 '1376',
 '854',
 '1551',
 '1500',
 '1584',
 '1415',
 '1925',
 '1815',
 '1579',
 '2625',
 '1290',
 '1012',
 '1033',
 '1303',
 '2495',
 '1900',
 '833',
 '1175',
 '882',
 '1465',
 '1725',
 '1250',
 '823',
 '992',
 '2489',
 '1840',
 '1732',
 '1217',
 '1687',
 '1309',
 '1690',
 '1349',
 '921',
 '2238',
 '1255',
 '1389',
 '1060',
 '1108',
 '971',
 '1221',
 '1181',
 '1668',
 '1256',
 '1020',
 '1565',
 '1929',
 '1087',
 '935',
 '2140',
 '1063',
 '1075',
 '2394',
 '1790',
 '1885',
 '1105',
 '1116',
 '1621',
 '2650',
 '1222',
 '1298',
 '1268',
 '2910',
 '1154',
 '1168',
 '1570',
 '924',
 '982',
 '1871',
 '1245',
 '1895',
 '1587',
 '945',
 '1329',
 '1031',
 '1007',
 '2295',
 '1455',
 '1304',
 '1950',
 '963',
 '1826',
 '1590',
 '1059',
 '1663',
 '2435',
 '1435',
 '669',
 '1095',
 '2208',
 '947',
 '1318',
 '842',
 '750',
 '1137',
 '735',
 '1555',
 '898',
 '1071',
 '1385',
 '1015',
 '2432',
 '2510',
 '1450',
 '1170',
 '1459',
 '1615',
 '745',
 '1017',
 '1410',
 '895',
 '1024',
 '1198',
 '1954',
 '1330',
 '1277',
 '1122',
 '1126',
 '1273',
 '1248',
 '1104',
 '2595',
 '1208',
 '1157',
 '1439',
 '835',
 '1030',
 '1230',
 '875',
 '1583',
 '987',
 '1635',
 '1670',
 '761',
 '2270',
 '2415',
 '1879',
 '1093',
 '870',
 '1270',
 '1182',
 '1338',
 '2153',
 '1265',
 '1220',
 '1794',
 '2080',
 '1278',
 '1730',
 '1773',
 '1132',
 '2840',
 '1445',
 '1770',
 '1990',
 '2245',
 '1526',
 '1656',
 '1040',
 '1550',
 '763',
 '1135',
 '795',
 '1163',
 '1233',
 '904',
 '2315',
 '2000',
 '980',
 '757',
 '2265',
 '1000',
 '1600',
 '1308',
 '1340',
 '1236',
 '1510',
 '866',
 '1044',
 '2045',
 '1373',
 '1160',
 '1244',
 '1021',
 '1072',
 '1147',
 '1720',
 '1540',
 '885',
 '1088',
 '2275',
 '1970',
 '1259',
 '2070',
 '2100',
 '886',
 '1235',
 '1300',
 '1271',
 '1134',
 '1246',
 '1400',
 '1085',
 '993',
 '1630',
 '1353',
 '858',
 '1179',
 '1045',
 '1425',
 '940',
 '1875',
 '2475',
 '1069',
 '2040',
 '1988',
 '2151',
 '950',
 '1211',
 '2204',
 '1800',
 '1537',
 '1368',
 '998',
 '1935',
 '1084',
 '978',
 '1585',
 '1560',
 '1115',
 '1225',
 '2115',
 '930',
 '2010',
 '1418',
 '1155',
 '1165',
 '990',
 '1178',
 '1206',
 '1140',
 '855',
 '1022',
 '890',
 '1403',
 '917',
 '1058',
 '2454',
 '1051',
 '1355',
 '2003',
 '2280',
 '2350',
 '1240',
 '1258',
 '1306',
 '2119',
 '2342',
 '1131',
 '779',
 '1346',
 '1200',
 '1204',
 '985',
 '840',
 '1228',
 '1272',
 '1920',
 '1969',
 '1780',
 '844',
 '849',
 '1107',
 '1264',
 '900',
 '1824',
 '715',
 '2150',
 '1799',
 '1640',
 '1457',
 '1158',
 '1395',
 '896',
 '1010',
 '2190',
 '2014',
 '2022',
 '2310',
 '891',
 '1870',
 '1142',
 '865',
 '1153',
 '1915',
 '1785',
 '1620',
 '1128',
 '2135',
 '1080',
 '665',
 '838',
 '1485',
 '979',
 '1440',
 '1796',
 '1709',
 '860',
 '1446',
 '1430',
 None,
 '1284',
 '1779',
 '995',
 '908',
 '2035',
 '1118',
 '957',
 '1723',
 '1666',
 '805',
 '1260',
 '2410',
 '1050',
 '825',
 '1251',
 '1127',
 '2722',
 '1138',
 '740',
 '1625',
 '1130',
 '827',
 '942',
 '876',
 '615',
 '1120',
 '1927',
 '1798',
 '2060',
 '925',
 '1070',
 '1654',
 '1699',
 '1171',
 '1846',
 '2395',
 '1543',
 '1975',
 '997',
 '810',
 '1358',
 '758',
 '774',
 '1274',
 '1765',
 '888',
 '1520',
 '1014',
 '2087',
 '2240',
 '1494',
 '725',
 '2585',
 '705',
 '834',
 '1099',
 '939',
 '1740',
 '1680',
 '1470',
 '841',
 '2015',
 '1475',
 '1151',
 '913',
 '1100',
 '955',
 '1210',
 '1238',
 '1370',
 '2455',
 '1285',
 '1490',
 '2005',
 '915',
 '1703',
 '850',
 '960',
 '1281',
 '1525',
 '1365',
 '1129',
 '1057',
 '1813',
 '1387',
 '1577',
 '1144',
 '1655',
 '1214',
 '1191',
 '1595',
 '1174',
 '1042',
 '1066',
 '1110',
 '1062',
 '1820',
 '1241',
 '820',
 '1610',
 '2460',
 '1855',
 '848',
 '755',
 '1184',
 '1745',
 '2152',
 '2660',
 '1890',
 '1048',
 '2075',
 '1006',
 '650',
 '1865',
 '1310',
 '1295',
 '1667',
 '1880',
 '1860',
 '785',
 '1905',
 '910',
 '660',
 '839',
 '1035',
 '1955',
 '1360',
 '1675',
 '2030',
 '1055',
 '892',
 '1986',
 '1145',
 '1112',
 '1644',
 '1348',
 '732']

In [579]:
# converting to float
df_specs_B_Dimensions = df_specs_B_Dimensions.with_columns(pl.col('Kerb Weight').cast(pl.Float64))

In [580]:
list(df_specs_B_Dimensions['Kerb Weight'].unique())

[None,
 214.0,
 615.0,
 635.0,
 650.0,
 660.0,
 665.0,
 669.0,
 678.0,
 705.0,
 715.0,
 720.0,
 722.0,
 725.0,
 727.0,
 732.0,
 735.0,
 737.0,
 740.0,
 745.0,
 750.0,
 755.0,
 757.0,
 758.0,
 760.0,
 761.0,
 762.0,
 763.0,
 764.0,
 765.0,
 767.0,
 769.0,
 774.0,
 779.0,
 784.0,
 785.0,
 795.0,
 800.0,
 805.0,
 810.0,
 812.0,
 815.0,
 820.0,
 823.0,
 825.0,
 827.0,
 830.0,
 831.0,
 833.0,
 834.0,
 835.0,
 837.0,
 838.0,
 839.0,
 840.0,
 841.0,
 842.0,
 844.0,
 845.0,
 846.0,
 848.0,
 849.0,
 850.0,
 854.0,
 855.0,
 858.0,
 859.0,
 860.0,
 865.0,
 866.0,
 870.0,
 875.0,
 876.0,
 879.0,
 880.0,
 882.0,
 885.0,
 886.0,
 888.0,
 890.0,
 891.0,
 892.0,
 895.0,
 896.0,
 898.0,
 900.0,
 904.0,
 905.0,
 908.0,
 910.0,
 912.0,
 913.0,
 915.0,
 917.0,
 920.0,
 921.0,
 923.0,
 924.0,
 925.0,
 928.0,
 930.0,
 932.0,
 935.0,
 939.0,
 940.0,
 942.0,
 945.0,
 947.0,
 950.0,
 955.0,
 957.0,
 960.0,
 963.0,
 965.0,
 970.0,
 971.0,
 975.0,
 978.0,
 979.0,
 980.0,
 982.0,
 985.0,
 987.0,
 990.0,
 992.0,
 993.0,
 995.0,
 997.0,
 998.0,
 1000.0,
 1003.0,
 1004.0,
 1005.0,
 1006.0,
 1007.0,
 1008.0,
 1010.0,
 1012.0,
 1014.0,
 1015.0,
 1016.0,
 1017.0,
 1018.0,
 1020.0,
 1021.0,
 1022.0,
 1023.0,
 1024.0,
 1025.0,
 1026.0,
 1027.0,
 1029.0,
 1030.0,
 1031.0,
 1032.0,
 1033.0,
 1035.0,
 1039.0,
 1040.0,
 1041.0,
 1042.0,
 1044.0,
 1045.0,
 1048.0,
 1049.0,
 1050.0,
 1051.0,
 1053.0,
 1055.0,
 1057.0,
 1058.0,
 1059.0,
 1060.0,
 1061.0,
 1062.0,
 1063.0,
 1064.0,
 1065.0,
 1066.0,
 1067.0,
 1068.0,
 1069.0,
 1070.0,
 1071.0,
 1072.0,
 1075.0,
 1080.0,
 1084.0,
 1085.0,
 1087.0,
 1088.0,
 1090.0,
 1092.0,
 1093.0,
 1095.0,
 1097.0,
 1099.0,
 1100.0,
 1104.0,
 1105.0,
 1106.0,
 1107.0,
 1108.0,
 1109.0,
 1110.0,
 1112.0,
 1115.0,
 1116.0,
 1118.0,
 1120.0,
 1122.0,
 1124.0,
 1125.0,
 1126.0,
 1127.0,
 1128.0,
 1129.0,
 1130.0,
 1131.0,
 1132.0,
 1134.0,
 1135.0,
 1137.0,
 1138.0,
 1140.0,
 1142.0,
 1144.0,
 1145.0,
 1147.0,
 1148.0,
 1150.0,
 1151.0,
 1152.0,
 1153.0,
 1154.0,
 1155.0,
 1157.0,
 1158.0,
 1160.0,
 1161.0,
 1163.0,
 1164.0,
 1165.0,
 1168.0,
 1170.0,
 1171.0,
 1173.0,
 1174.0,
 1175.0,
 1176.0,
 1178.0,
 1179.0,
 1180.0,
 1181.0,
 1182.0,
 1184.0,
 1185.0,
 1187.0,
 1190.0,
 1191.0,
 1195.0,
 1198.0,
 1200.0,
 1204.0,
 1205.0,
 1206.0,
 1208.0,
 1210.0,
 1211.0,
 1213.0,
 1214.0,
 1215.0,
 1216.0,
 1217.0,
 1220.0,
 1221.0,
 1222.0,
 1225.0,
 1228.0,
 1230.0,
 1231.0,
 1233.0,
 1235.0,
 1236.0,
 1238.0,
 1240.0,
 1241.0,
 1242.0,
 1244.0,
 1245.0,
 1246.0,
 1248.0,
 1250.0,
 1251.0,
 1255.0,
 1256.0,
 1258.0,
 1259.0,
 1260.0,
 1261.0,
 1263.0,
 1264.0,
 1265.0,
 1266.0,
 1268.0,
 1270.0,
 1271.0,
 1272.0,
 1273.0,
 1274.0,
 1275.0,
 1277.0,
 1278.0,
 1280.0,
 1281.0,
 1284.0,
 1285.0,
 1289.0,
 1290.0,
 1295.0,
 1296.0,
 1298.0,
 1300.0,
 1301.0,
 1302.0,
 1303.0,
 1304.0,
 1305.0,
 1306.0,
 1308.0,
 1309.0,
 1310.0,
 1312.0,
 1318.0,
 1320.0,
 1325.0,
 1329.0,
 1330.0,
 1332.0,
 1335.0,
 1338.0,
 1340.0,
 1345.0,
 1346.0,
 1348.0,
 1349.0,
 1350.0,
 1353.0,
 1354.0,
 1355.0,
 1358.0,
 1360.0,
 1365.0,
 1366.0,
 1368.0,
 1370.0,
 1373.0,
 1376.0,
 1380.0,
 1385.0,
 1387.0,
 1389.0,
 1395.0,
 1400.0,
 1403.0,
 1405.0,
 1410.0,
 1415.0,
 1418.0,
 1425.0,
 1430.0,
 1435.0,
 1439.0,
 1440.0,
 1445.0,
 1446.0,
 1450.0,
 1455.0,
 1457.0,
 1459.0,
 1460.0,
 1465.0,
 1470.0,
 1475.0,
 1485.0,
 1490.0,
 1494.0,
 1496.0,
 1500.0,
 1505.0,
 1510.0,
 1514.0,
 1515.0,
 1520.0,
 1525.0,
 1526.0,
 1530.0,
 1533.0,
 1535.0,
 1537.0,
 1540.0,
 1543.0,
 1545.0,
 1550.0,
 1551.0,
 1555.0,
 1560.0,
 1562.0,
 1565.0,
 1567.0,
 1570.0,
 1572.0,
 1575.0,
 1577.0,
 1579.0,
 1580.0,
 1583.0,
 1584.0,
 1585.0,
 1587.0,
 1590.0,
 1595.0,
 1598.0,
 1600.0,
 1608.0,
 1610.0,
 1614.0,
 1615.0,
 1620.0,
 1621.0,
 1625.0,
 1630.0,
 1635.0,
 1640.0,
 1644.0,
 1654.0,
 1655.0,
 1656.0,
 1660.0,
 1663.0,
 1665.0,
 1666.0,
 1667.0,
 1668.0,
 1670.0,
 1675.0,
 1680.0,
 1685.0,
 1687.0,
 1690.0,
 1695.0,
 1699.0,
 1700.0,
 1703.0,
 1705.0,
 1709.0,
 1710.0,
 1719.0,
 1720.0,
 1723.0,
 1725.0,
 1730.0,
 1732.0,
 1735.0,
 1740.0,
 1745.0,
 1750.0,
 1753.0,
 1755.0,
 1760.0,
 1765.0,
 1770.0,
 1773.0,
 1779.0,
 1780.0,
 1785.0,
 1790.0,
 1793.0,
 1794.0,
 1795.0,
 1796.0,
 1798.0,
 1799.0,
 1800.0,
 1805.0,
 1813.0,
 1815.0,
 1816.0,
 1820.0,
 1824.0,
 1825.0,
 1826.0,
 1830.0,
 1835.0,
 1840.0,
 1845.0,
 1846.0,
 1850.0,
 1855.0,
 1860.0,
 1865.0,
 1868.0,
 1870.0,
 1871.0,
 1875.0,
 1876.0,
 1879.0,
 1880.0,
 1884.0,
 1885.0,
 1890.0,
 1891.0,
 1895.0,
 1900.0,
 1905.0,
 1915.0,
 1920.0,
 1925.0,
 1927.0,
 1929.0,
 1930.0,
 1935.0,
 1945.0,
 1950.0,
 1954.0,
 1955.0,
 1965.0,
 1969.0,
 1970.0,
 1975.0,
 1976.0,
 1986.0,
 1988.0,
 1990.0,
 1995.0,
 2000.0,
 2003.0,
 2005.0,
 2010.0,
 2014.0,
 2015.0,
 2022.0,
 2030.0,
 2035.0,
 2040.0,
 2045.0,
 2060.0,
 2065.0,
 2070.0,
 2075.0,
 2080.0,
 2087.0,
 2097.0,
 2100.0,
 2113.0,
 2115.0,
 2119.0,
 2130.0,
 2132.0,
 2135.0,
 2140.0,
 2150.0,
 2151.0,
 2152.0,
 2153.0,
 2155.0,
 2175.0,
 2177.0,
 2186.0,
 2190.0,
 2200.0,
 2204.0,
 2208.0,
 2230.0,
 2238.0,
 2240.0,
 2245.0,
 2261.0,
 2265.0,
 2270.0,
 2275.0,
 2280.0,
 2285.0,
 2295.0,
 2310.0,
 2315.0,
 2330.0,
 2335.0,
 2340.0,
 2342.0,
 2345.0,
 2350.0,
 2360.0,
 2366.0,
 2394.0,
 2395.0,
 2410.0,
 2415.0,
 2432.0,
 2435.0,
 2440.0,
 2445.0,
 2454.0,
 2455.0,
 2458.0,
 2460.0,
 2475.0,
 2485.0,
 2489.0,
 2495.0,
 2505.0,
 2507.0,
 2510.0,
 2550.0,
 2583.0,
 2585.0,
 2595.0,
 2625.0,
 2650.0,
 2655.0,
 2660.0,
 2666.0,
 2722.0,
 2725.0,
 2840.0,
 2910.0,
 2962.0]

##### `Length`

In [581]:
# first clearing out the leading and trailing spaces

df_specs_B_Dimensions = df_specs_B_Dimensions.with_columns(pl.col('Length').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Dimensions.filter(pl.col('Length').is_null()).shape[0],'\n',
        'empty',df_specs_B_Dimensions.filter(pl.col('Length')=='').shape[0],'\n',
        'space', df_specs_B_Dimensions.filter(pl.col('Length')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Dimensions.filter(pl.col('Length')=='0').shape[0],'\n',
        'None',df_specs_B_Dimensions.filter(pl.col('Length')==None).shape[0],'\n',
        'NA',df_specs_B_Dimensions.filter(pl.col('Length')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Dimensions.filter(pl.col('Height').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Dimensions.filter(pl.col('Height')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 0

In [510]:
list(df_specs_B_Dimensions['Length'].unique())

['4657',
 '4247',
 '4735',
 '4436',
 '3805',
 '4561',
 '4234',
 '4310',
 '4658',
 '4559',
 '4160',
 '3821',
 '4540',
 '4592',
 '3994',
 '4435',
 '5267',
 '4270',
 '3810',
 '4751',
 '4715',
 '5118',
 '3795',
 '4365',
 '4655',
 '4780',
 '4177',
 '4958',
 '3700',
 '4440',
 '4723',
 '5325',
 '4781',
 '4395',
 '4818',
 '3886',
 '4871',
 '4726',
 '4830',
 '4810',
 '4833',
 '4528',
 '3775',
 '5192',
 '5076',
 '3446',
 '5067',
 '4032',
 '3590',
 '4525',
 '4420',
 '4486',
 '4180',
 '4760',
 '4630',
 '5246',
 '3370',
 '4689',
 '4690',
 '3993',
 '4933',
 '4985',
 '5252',
 '4430',
 '4828',
 '4885',
 '4868',
 '3599',
 '4249',
 '4299',
 '4329',
 '4955',
 '4628',
 '4688',
 '5295',
 '4370',
 '4325',
 '4806',
 '5075',
 '5091',
 '4702',
 '3895',
 '5370',
 '4423',
 '5207',
 '4797',
 '4531',
 '5399',
 '4498',
 '4747',
 '4535',
 '5052',
 '3530',
 '4869',
 '3099',
 '5235',
 '4892',
 '4380',
 '4509',
 '3545',
 '4116',
 '3955',
 '4708',
 '4375',
 '4549',
 '5063',
 '4393',
 '4221',
 '4569',
 '4767',
 '4846',
 '4570',
 '5265',
 '4633',
 '4882',
 '5247',
 '4265',
 '4894',
 '3515',
 '4661',
 '5064',
 '4756',
 '3995',
 '4345',
 '5115',
 '4903',
 '4784',
 '3595',
 '3610',
 '3801',
 '3395',
 '4807',
 '4640',
 '4505',
 '3565',
 '4877',
 '3435',
 '3992',
 '5060',
 '3495',
 '4398',
 '4103',
 '4465',
 '4555',
 '4455',
 '5199',
 '4434',
 '4618',
 '4291',
 '4635',
 '4718',
 '4439',
 '4627',
 '4644',
 '4935',
 '4382',
 '5200',
 '4755',
 '3690',
 '4916',
 '5100',
 '3520',
 '3731',
 '3941',
 '4110',
 '4936',
 '4659',
 '4413',
 '4597',
 '5112',
 '4331',
 '4656',
 '4937',
 '4855',
 '4282',
 '4453',
 '4820',
 '4800',
 '5130',
 '4548',
 '5157',
 '4924',
 '4305',
 '4783',
 '4662',
 '3990',
 '4769',
 '4703',
 '3445',
 '3780',
 '4475',
 '3585',
 '4803',
 '4795',
 '5140',
 '4107',
 '5175',
 '4961',
 '4879',
 '3335',
 '4421',
 '4629',
 '4763',
 '3164',
 '4825',
 '3679',
 '5120',
 '3985',
 '4988',
 '4541',
 '3827',
 '3788',
 '4695',
 '4804',
 '4840',
 '4998',
 '4250',
 '4648',
 '4456',
 '5287',
 '5299',
 '5018',
 '3500',
 '4999',
 '4379',
 '5255',
 '4730',
 '3971',
 '3535',
 '4673',
 '3884',
 '4600',
 '3793',
 '4336',
 '4620',
 '5000',
 '4385',
 '4671',
 '4142',
 '4222',
 '4097',
 '3920',
 '3746',
 '4697',
 '4931',
 '3429',
 '4491',
 '3655',
 '3845',
 '3640',
 '4886',
 '4530',
 '4239',
 '4817',
 '4670',
 '4752',
 '4400',
 '4056',
 '4410',
 '4693',
 '4684',
 '4324',
 '4480',
 '4145',
 '4624',
 '4815',
 '3900',
 '4425',
 '3675',
 '5289',
 '3850',
 '4701',
 '4296',
 '5151',
 '4731',
 '3940',
 '3954',
 '4788',
 '3981',
 '4838',
 '3723',
 '4861',
 '4720',
 '5053',
 '4405',
 '4963',
 '5010',
 '4454',
 '4583',
 '4554',
 '3600',
 '4972',
 '4940',
 '4447',
 '5226',
 '4696',
 '3991',
 '4794',
 '5212',
 '3987',
 '3825',
 '5080',
 '4970',
 '5049',
 '4596',
 '4705',
 '4386',
 '4461',
 '3695',
 '4129',
 '4134',
 '5007',
 '4663',
 '4292',
 '4660',
 '4682',
 '4545',
 '3620',
 '4918',
 '4459',
 '4909',
 '3765',
 '4922',
 '5290',
 '4374',
 '5219',
 '4650',
 '4575',
 '3970',
 '5469',
 '4520',
 '4761',
 '4713',
 '4986',
 '4845',
 '3802',
 '4610',
 '5569',
 '3715',
 '3760',
 '4910',
 '4890',
 '5011',
 '4390',
 '4278',
 '4200',
 '4300',
 '4223',
 '4198',
 '4841',
 '3539',
 '4637',
 '3988',
 '4355',
 '4950',
 '4966',
 '4727',
 '4482',
 '4585',
 '4384',
 '4749',
 '4572',
 '4150',
 '4953',
 '3982',
 '4258',
 '3999',
 '4733',
 '4975',
 '5089',
 '4490',
 '4417',
 '4598',
 '4762',
 '4939',
 '4850',
 '4522',
 '4915',
 '4560',
 '4095',
 '3998',
 '5099',
 '4854',
 '4424',
 '4698',
 '4010',
 '4634',
 '4857',
 '3815',
 '4709',
 '4500',
 '3785',
 '4976',
 '4580',
 '4880',
 '4315',
 '4824',
 '4426',
 '3636',
 '4018',
 '4754',
 '4082',
 '4371',
 '4000',
 '3430',
 '5020',
 '4318',
 '4699',
 '4526',
 '5462',
 '4899',
 '4470',
 '3880',
 '4581',
 '4969',
 '4765',
 '3989',
 '4369',
 '4297',
 '4649',
 '4819',
 '3840',
 '4507',
 '4971',
 '4495',
 '4360',
 '3729',
 '3976',
 '4225',
 '4574',
 '3280',
 '4320',
 '4277',
 '4686',
 '4323',
 '4860',
 '4445',
 '4359',
 '5216',
 '5453',
 '5223',
 '5260',
 '3946',
 '4891',
 '4314',
 '4914']

In [582]:
# converting to float
df_specs_B_Dimensions = df_specs_B_Dimensions.with_columns(pl.col('Length').cast(pl.Float64))

In [583]:
list(df_specs_B_Dimensions['Length'].unique())

[3099.0,
 3164.0,
 3280.0,
 3335.0,
 3370.0,
 3395.0,
 3429.0,
 3430.0,
 3435.0,
 3445.0,
 3446.0,
 3495.0,
 3500.0,
 3515.0,
 3520.0,
 3530.0,
 3535.0,
 3539.0,
 3545.0,
 3565.0,
 3585.0,
 3590.0,
 3595.0,
 3599.0,
 3600.0,
 3610.0,
 3620.0,
 3636.0,
 3640.0,
 3655.0,
 3675.0,
 3679.0,
 3690.0,
 3695.0,
 3700.0,
 3715.0,
 3723.0,
 3729.0,
 3731.0,
 3746.0,
 3760.0,
 3765.0,
 3775.0,
 3780.0,
 3785.0,
 3788.0,
 3793.0,
 3795.0,
 3801.0,
 3802.0,
 3805.0,
 3810.0,
 3815.0,
 3821.0,
 3825.0,
 3827.0,
 3840.0,
 3845.0,
 3850.0,
 3880.0,
 3884.0,
 3886.0,
 3895.0,
 3900.0,
 3920.0,
 3940.0,
 3941.0,
 3946.0,
 3954.0,
 3955.0,
 3970.0,
 3971.0,
 3976.0,
 3981.0,
 3982.0,
 3985.0,
 3987.0,
 3988.0,
 3989.0,
 3990.0,
 3991.0,
 3992.0,
 3993.0,
 3994.0,
 3995.0,
 3998.0,
 3999.0,
 4000.0,
 4010.0,
 4018.0,
 4032.0,
 4056.0,
 4082.0,
 4095.0,
 4097.0,
 4103.0,
 4107.0,
 4110.0,
 4116.0,
 4129.0,
 4134.0,
 4142.0,
 4145.0,
 4150.0,
 4160.0,
 4177.0,
 4180.0,
 4198.0,
 4200.0,
 4221.0,
 4222.0,
 4223.0,
 4225.0,
 4234.0,
 4239.0,
 4247.0,
 4249.0,
 4250.0,
 4258.0,
 4265.0,
 4270.0,
 4277.0,
 4278.0,
 4282.0,
 4291.0,
 4292.0,
 4296.0,
 4297.0,
 4299.0,
 4300.0,
 4305.0,
 4310.0,
 4314.0,
 4315.0,
 4318.0,
 4320.0,
 4323.0,
 4324.0,
 4325.0,
 4329.0,
 4331.0,
 4336.0,
 4345.0,
 4355.0,
 4359.0,
 4360.0,
 4365.0,
 4369.0,
 4370.0,
 4371.0,
 4374.0,
 4375.0,
 4379.0,
 4380.0,
 4382.0,
 4384.0,
 4385.0,
 4386.0,
 4390.0,
 4393.0,
 4395.0,
 4398.0,
 4400.0,
 4405.0,
 4410.0,
 4413.0,
 4417.0,
 4420.0,
 4421.0,
 4423.0,
 4424.0,
 4425.0,
 4426.0,
 4430.0,
 4434.0,
 4435.0,
 4436.0,
 4439.0,
 4440.0,
 4445.0,
 4447.0,
 4453.0,
 4454.0,
 4455.0,
 4456.0,
 4459.0,
 4461.0,
 4465.0,
 4470.0,
 4475.0,
 4480.0,
 4482.0,
 4486.0,
 4490.0,
 4491.0,
 4495.0,
 4498.0,
 4500.0,
 4505.0,
 4507.0,
 4509.0,
 4520.0,
 4522.0,
 4525.0,
 4526.0,
 4528.0,
 4530.0,
 4531.0,
 4535.0,
 4540.0,
 4541.0,
 4545.0,
 4548.0,
 4549.0,
 4554.0,
 4555.0,
 4559.0,
 4560.0,
 4561.0,
 4569.0,
 4570.0,
 4572.0,
 4574.0,
 4575.0,
 4580.0,
 4581.0,
 4583.0,
 4585.0,
 4592.0,
 4596.0,
 4597.0,
 4598.0,
 4600.0,
 4610.0,
 4618.0,
 4620.0,
 4624.0,
 4627.0,
 4628.0,
 4629.0,
 4630.0,
 4633.0,
 4634.0,
 4635.0,
 4637.0,
 4640.0,
 4644.0,
 4648.0,
 4649.0,
 4650.0,
 4655.0,
 4656.0,
 4657.0,
 4658.0,
 4659.0,
 4660.0,
 4661.0,
 4662.0,
 4663.0,
 4670.0,
 4671.0,
 4673.0,
 4682.0,
 4684.0,
 4686.0,
 4688.0,
 4689.0,
 4690.0,
 4693.0,
 4695.0,
 4696.0,
 4697.0,
 4698.0,
 4699.0,
 4701.0,
 4702.0,
 4703.0,
 4705.0,
 4708.0,
 4709.0,
 4713.0,
 4715.0,
 4718.0,
 4720.0,
 4723.0,
 4726.0,
 4727.0,
 4730.0,
 4731.0,
 4733.0,
 4735.0,
 4747.0,
 4749.0,
 4751.0,
 4752.0,
 4754.0,
 4755.0,
 4756.0,
 4760.0,
 4761.0,
 4762.0,
 4763.0,
 4765.0,
 4767.0,
 4769.0,
 4780.0,
 4781.0,
 4783.0,
 4784.0,
 4788.0,
 4794.0,
 4795.0,
 4797.0,
 4800.0,
 4803.0,
 4804.0,
 4806.0,
 4807.0,
 4810.0,
 4815.0,
 4817.0,
 4818.0,
 4819.0,
 4820.0,
 4824.0,
 4825.0,
 4828.0,
 4830.0,
 4833.0,
 4838.0,
 4840.0,
 4841.0,
 4845.0,
 4846.0,
 4850.0,
 4854.0,
 4855.0,
 4857.0,
 4860.0,
 4861.0,
 4868.0,
 4869.0,
 4871.0,
 4877.0,
 4879.0,
 4880.0,
 4882.0,
 4885.0,
 4886.0,
 4890.0,
 4891.0,
 4892.0,
 4894.0,
 4899.0,
 4903.0,
 4909.0,
 4910.0,
 4914.0,
 4915.0,
 4916.0,
 4918.0,
 4922.0,
 4924.0,
 4931.0,
 4933.0,
 4935.0,
 4936.0,
 4937.0,
 4939.0,
 4940.0,
 4950.0,
 4953.0,
 4955.0,
 4958.0,
 4961.0,
 4963.0,
 4966.0,
 4969.0,
 4970.0,
 4971.0,
 4972.0,
 4975.0,
 4976.0,
 4985.0,
 4986.0,
 4988.0,
 4998.0,
 4999.0,
 5000.0,
 5007.0,
 5010.0,
 5011.0,
 5018.0,
 5020.0,
 5049.0,
 5052.0,
 5053.0,
 5060.0,
 5063.0,
 5064.0,
 5067.0,
 5075.0,
 5076.0,
 5080.0,
 5089.0,
 5091.0,
 5099.0,
 5100.0,
 5112.0,
 5115.0,
 5118.0,
 5120.0,
 5130.0,
 5140.0,
 5151.0,
 5157.0,
 5175.0,
 5192.0,
 5199.0,
 5200.0,
 5207.0,
 5212.0,
 5216.0,
 5219.0,
 5223.0,
 5226.0,
 5235.0,
 5246.0,
 5247.0,
 5252.0,
 5255.0,
 5260.0,
 5265.0,
 5267.0,
 5287.0,
 5289.0,
 5290.0,
 5295.0,
 5299.0,
 5325.0,
 5370.0,
 5399.0,
 5453.0,
 5462.0,
 5469.0,
 5569.0]

##### `Wheelbase`

In [584]:
# first clearing out the leading and trailing spaces

df_specs_B_Dimensions = df_specs_B_Dimensions.with_columns(pl.col('Wheelbase').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Dimensions.filter(pl.col('Wheelbase').is_null()).shape[0],'\n',
        'empty',df_specs_B_Dimensions.filter(pl.col('Wheelbase')=='').shape[0],'\n',
        'space', df_specs_B_Dimensions.filter(pl.col('Wheelbase')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Dimensions.filter(pl.col('Wheelbase')=='0').shape[0],'\n',
        'None',df_specs_B_Dimensions.filter(pl.col('Wheelbase')==None).shape[0],'\n',
        'NA',df_specs_B_Dimensions.filter(pl.col('Wheelbase')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Dimensions.filter(pl.col('Wheelbase').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Dimensions.filter(pl.col('Wheelbase')==0).shape[0],'\n',
        

        )

null 3
 empty 0
 space 0
 0 (Str) 0
 None 3
 NA 0

In [516]:
list(df_specs_B_Dimensions['Wheelbase'].unique())

['3022',
 '2843',
 '2638',
 '2505',
 '2786',
 '3002',
 '2462',
 '2990',
 '2693',
 '2435',
 '3025',
 '2455',
 '3105',
 '3075',
 '3003',
 '2496',
 '2916',
 '2806',
 '3095',
 '2489',
 '2350',
 '2502',
 '2775',
 '3050',
 '2490',
 '2730',
 '2622',
 '2780',
 '2765',
 '2729',
 '2650',
 '2648',
 '2841',
 '2720',
 '1840',
 '2469',
 '3216',
 '2794',
 '3430',
 '2703',
 '3295',
 '2895',
 '3074',
 '2360',
 '2501',
 '3197',
 '3065',
 '2380',
 '2829',
 '2560',
 '2673',
 '2711',
 '2575',
 '3070',
 None,
 '2774',
 '2567',
 '2705',
 '2920',
 '2400',
 '2390',
 '3200',
 '2914',
 '2939',
 '2933',
 '2633',
 '2519',
 '2851',
 '2430',
 '2865',
 '2373',
 '2947',
 '2652',
 '2850',
 '2845',
 '2677',
 '2787',
 '2660',
 '2702',
 '2725',
 '2824',
 '3125',
 '2646',
 '2935',
 '2857',
 '2486',
 '2873',
 '2475',
 '2997',
 '2610',
 '3194',
 '2385',
 '2468',
 '2808',
 '2530',
 '2961',
 '2603',
 '2500',
 '2640',
 '2950',
 '2580',
 '2964',
 '2782',
 '2550',
 '2375',
 '3365',
 '2443',
 '2405',
 '2692',
 '2425',
 '2457',
 '2761',
 '2855',
 '2751',
 '2679',
 '3035',
 '2860',
 '3157',
 '3085',
 '2230',
 '2510',
 '2450',
 '2810',
 '2819',
 '2620',
 '2709',
 '2982',
 '2922',
 '2880',
 '2175',
 '2681',
 '2524',
 '2960',
 '3079',
 '2600',
 '3396',
 '2807',
 '2888',
 '2998',
 '2800',
 '3000',
 '2741',
 '3001',
 '2520',
 '2552',
 '2699',
 '2760',
 '2300',
 '2854',
 '2685',
 '2480',
 '2872',
 '2999',
 '2812',
 '2630',
 '2499',
 '1958',
 '2835',
 '2967',
 '2790',
 '2968',
 '2909',
 '2995',
 '2467',
 '2750',
 '2989',
 '3465',
 '3135',
 '2680',
 '2440',
 '2776',
 '2870',
 '2595',
 '2984',
 '2746',
 '2912',
 '2525',
 '2553',
 '2491',
 '2864',
 '2885',
 '2445',
 '2811',
 '2662',
 '2700',
 '3210',
 '2874',
 '2840',
 '2670',
 '2345',
 '3122',
 '2636',
 '2825',
 '2994',
 '2904',
 '2740',
 '2348',
 '3215',
 '2365',
 '2570',
 '2715',
 '2791',
 '2512',
 '3165',
 '2637',
 '2752',
 '2258',
 '2422',
 '2578',
 '2555',
 '2464',
 '2587',
 '2795',
 '3040',
 '2745',
 '2803',
 '2690',
 '3120',
 '2688',
 '2465',
 '2651',
 '2585',
 '2498',
 '2915',
 '3008',
 '2890',
 '2941',
 '2924',
 '2975',
 '2923',
 '2495',
 '2540',
 '2766',
 '2456',
 '2470',
 '2593',
 '2335',
 '2590',
 '2820',
 '3060',
 '2460']

In [585]:
# converting to float
df_specs_B_Dimensions = df_specs_B_Dimensions.with_columns(pl.col('Wheelbase').cast(pl.Float64))

In [586]:
list(df_specs_B_Dimensions['Wheelbase'].unique())

[None,
 1840.0,
 1958.0,
 2175.0,
 2230.0,
 2258.0,
 2300.0,
 2335.0,
 2345.0,
 2348.0,
 2350.0,
 2360.0,
 2365.0,
 2373.0,
 2375.0,
 2380.0,
 2385.0,
 2390.0,
 2400.0,
 2405.0,
 2422.0,
 2425.0,
 2430.0,
 2435.0,
 2440.0,
 2443.0,
 2445.0,
 2450.0,
 2455.0,
 2456.0,
 2457.0,
 2460.0,
 2462.0,
 2464.0,
 2465.0,
 2467.0,
 2468.0,
 2469.0,
 2470.0,
 2475.0,
 2480.0,
 2486.0,
 2489.0,
 2490.0,
 2491.0,
 2495.0,
 2496.0,
 2498.0,
 2499.0,
 2500.0,
 2501.0,
 2502.0,
 2505.0,
 2510.0,
 2512.0,
 2519.0,
 2520.0,
 2524.0,
 2525.0,
 2530.0,
 2540.0,
 2550.0,
 2552.0,
 2553.0,
 2555.0,
 2560.0,
 2567.0,
 2570.0,
 2575.0,
 2578.0,
 2580.0,
 2585.0,
 2587.0,
 2590.0,
 2593.0,
 2595.0,
 2600.0,
 2603.0,
 2610.0,
 2620.0,
 2622.0,
 2630.0,
 2633.0,
 2636.0,
 2637.0,
 2638.0,
 2640.0,
 2646.0,
 2648.0,
 2650.0,
 2651.0,
 2652.0,
 2660.0,
 2662.0,
 2670.0,
 2673.0,
 2677.0,
 2679.0,
 2680.0,
 2681.0,
 2685.0,
 2688.0,
 2690.0,
 2692.0,
 2693.0,
 2699.0,
 2700.0,
 2702.0,
 2703.0,
 2705.0,
 2709.0,
 2711.0,
 2715.0,
 2720.0,
 2725.0,
 2729.0,
 2730.0,
 2740.0,
 2741.0,
 2745.0,
 2746.0,
 2750.0,
 2751.0,
 2752.0,
 2760.0,
 2761.0,
 2765.0,
 2766.0,
 2774.0,
 2775.0,
 2776.0,
 2780.0,
 2782.0,
 2786.0,
 2787.0,
 2790.0,
 2791.0,
 2794.0,
 2795.0,
 2800.0,
 2803.0,
 2806.0,
 2807.0,
 2808.0,
 2810.0,
 2811.0,
 2812.0,
 2819.0,
 2820.0,
 2824.0,
 2825.0,
 2829.0,
 2835.0,
 2840.0,
 2841.0,
 2843.0,
 2845.0,
 2850.0,
 2851.0,
 2854.0,
 2855.0,
 2857.0,
 2860.0,
 2864.0,
 2865.0,
 2870.0,
 2872.0,
 2873.0,
 2874.0,
 2880.0,
 2885.0,
 2888.0,
 2890.0,
 2895.0,
 2904.0,
 2909.0,
 2912.0,
 2914.0,
 2915.0,
 2916.0,
 2920.0,
 2922.0,
 2923.0,
 2924.0,
 2933.0,
 2935.0,
 2939.0,
 2941.0,
 2947.0,
 2950.0,
 2960.0,
 2961.0,
 2964.0,
 2967.0,
 2968.0,
 2975.0,
 2982.0,
 2984.0,
 2989.0,
 2990.0,
 2994.0,
 2995.0,
 2997.0,
 2998.0,
 2999.0,
 3000.0,
 3001.0,
 3002.0,
 3003.0,
 3008.0,
 3022.0,
 3025.0,
 3035.0,
 3040.0,
 3050.0,
 3060.0,
 3065.0,
 3070.0,
 3074.0,
 3075.0,
 3079.0,
 3085.0,
 3095.0,
 3105.0,
 3120.0,
 3122.0,
 3125.0,
 3135.0,
 3157.0,
 3165.0,
 3194.0,
 3197.0,
 3200.0,
 3210.0,
 3215.0,
 3216.0,
 3295.0,
 3365.0,
 3396.0,
 3430.0,
 3465.0]

##### `Width`

In [587]:
# first clearing out the leading and trailing spaces

df_specs_B_Dimensions = df_specs_B_Dimensions.with_columns(pl.col('Width').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Dimensions.filter(pl.col('Width').is_null()).shape[0],'\n',
        'empty',df_specs_B_Dimensions.filter(pl.col('Width')=='').shape[0],'\n',
        'space', df_specs_B_Dimensions.filter(pl.col('Width')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Dimensions.filter(pl.col('Width')=='0').shape[0],'\n',
        'None',df_specs_B_Dimensions.filter(pl.col('Width')==None).shape[0],'\n',
        'NA',df_specs_B_Dimensions.filter(pl.col('Width')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Dimensions.filter(pl.col('Width').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Dimensions.filter(pl.col('Width')==0).shape[0],'\n',
        

        )

null 0
 empty 0
 space 0
 0 (Str) 0
 None 0
 NA 0

In [588]:
list(df_specs_B_Dimensions['Width'].unique())

['1785',
 '2155',
 '2096',
 '1739',
 '1821',
 '1645',
 '1680',
 '1700',
 '1970',
 '1790',
 '2025',
 '1829',
 '1475',
 '1815',
 '1560',
 '1640',
 '1849',
 '1804',
 '1920',
 '1830',
 '1913',
 '1980',
 '1826',
 '1647',
 '2209',
 '1750',
 '1729',
 '1898',
 '1996',
 '1805',
 '1726',
 '1764',
 '1758',
 '2132',
 '1520',
 '1943',
 '2080',
 '2118',
 '1798',
 '1595',
 '1911',
 '1801',
 '1687',
 '1733',
 '1927',
 '2008',
 '1831',
 '1710',
 '1922',
 '1682',
 '2105',
 '1808',
 '1793',
 '1720',
 '2003',
 '2071',
 '1930',
 '2041',
 '1694',
 '1843',
 '1662',
 '1410',
 '1887',
 '2139',
 '1871',
 '1861',
 '1880',
 '1777',
 '1683',
 '1515',
 '2075',
 '1949',
 '1495',
 '2000',
 '1965',
 '1852',
 '1655',
 '1822',
 '2094',
 '1934',
 '1760',
 '1814',
 '2110',
 '1818',
 '2028',
 '1936',
 '1928',
 '1788',
 '1895',
 '2031',
 '1742',
 '1620',
 '1721',
 '1665',
 '1812',
 '1969',
 '1820',
 '1832',
 '1989',
 '2044',
 '1575',
 '1874',
 '1810',
 '2220',
 '2183',
 '1891',
 '1918',
 '2040',
 '1795',
 '1727',
 '1778',
 '2095',
 '1730',
 '2032',
 '2020',
 '1722',
 '1834',
 '1945',
 '1734',
 '1579',
 '1799',
 '1817',
 '1670',
 '1781',
 '1939',
 '1984',
 '1890',
 '2173',
 '1882',
 '1608',
 '1735',
 '1632',
 '1819',
 '1923',
 '1728',
 '1879',
 '1947',
 '1868',
 '1786',
 '2195',
 '2112',
 '1600',
 '1863',
 '1789',
 '1698',
 '1900',
 '1796',
 '1917',
 '1745',
 '1635',
 '1658',
 '1677',
 '1703',
 '1839',
 '1704',
 '2134',
 '2109',
 '1737',
 '1937',
 '1825',
 '2016',
 '2141',
 '1740',
 '1926',
 '1775',
 '1842',
 '1660',
 '2157',
 '1869',
 '1886',
 '1715',
 '1828',
 '1903',
 '1835',
 '1960',
 '1877',
 '1780',
 '1695',
 '1881',
 '2014',
 '1827',
 '2077',
 '2114',
 '1765',
 '1931',
 '1885',
 '1490',
 '1978',
 '1924',
 '1894',
 '1995',
 '1847',
 '1514',
 '2091',
 '1769',
 '1940',
 '1706',
 '1967',
 '1933',
 '1850',
 '1854',
 '1915',
 '1500',
 '1783',
 '2120',
 '1705',
 '1813',
 '1990',
 '2124',
 '1902',
 '1748',
 '2170',
 '1865',
 '1845',
 '1752',
 '2097',
 '1540',
 '1893',
 '1686',
 '1809',
 '1627',
 '1574',
 '1525',
 '1772',
 '1751',
 '1875',
 '1690',
 '1440',
 '1938',
 '1992',
 '1846',
 '1699',
 '1731',
 '1770',
 '1899',
 '1985',
 '1864',
 '1983',
 '1840',
 '2069',
 '2006',
 '2010',
 '1755',
 '1954',
 '1884',
 '1948',
 '2034',
 '1485',
 '2073',
 '1800',
 '1860',
 '1866',
 '1942',
 '1636',
 '1870',
 '1859',
 '2004',
 '1910',
 '1642',
 '1855',
 '1979',
 '2140',
 '1725',
 '1550',
 '1968',
 '1811',
 '1987',
 '1841',
 '1767']

In [589]:
# converting to float
df_specs_B_Dimensions = df_specs_B_Dimensions.with_columns(pl.col('Width').cast(pl.Float64))

In [590]:
list(df_specs_B_Dimensions['Width'].unique())

[1410.0,
 1440.0,
 1475.0,
 1485.0,
 1490.0,
 1495.0,
 1500.0,
 1514.0,
 1515.0,
 1520.0,
 1525.0,
 1540.0,
 1550.0,
 1560.0,
 1574.0,
 1575.0,
 1579.0,
 1595.0,
 1600.0,
 1608.0,
 1620.0,
 1627.0,
 1632.0,
 1635.0,
 1636.0,
 1640.0,
 1642.0,
 1645.0,
 1647.0,
 1655.0,
 1658.0,
 1660.0,
 1662.0,
 1665.0,
 1670.0,
 1677.0,
 1680.0,
 1682.0,
 1683.0,
 1686.0,
 1687.0,
 1690.0,
 1694.0,
 1695.0,
 1698.0,
 1699.0,
 1700.0,
 1703.0,
 1704.0,
 1705.0,
 1706.0,
 1710.0,
 1715.0,
 1720.0,
 1721.0,
 1722.0,
 1725.0,
 1726.0,
 1727.0,
 1728.0,
 1729.0,
 1730.0,
 1731.0,
 1733.0,
 1734.0,
 1735.0,
 1737.0,
 1739.0,
 1740.0,
 1742.0,
 1745.0,
 1748.0,
 1750.0,
 1751.0,
 1752.0,
 1755.0,
 1758.0,
 1760.0,
 1764.0,
 1765.0,
 1767.0,
 1769.0,
 1770.0,
 1772.0,
 1775.0,
 1777.0,
 1778.0,
 1780.0,
 1781.0,
 1783.0,
 1785.0,
 1786.0,
 1788.0,
 1789.0,
 1790.0,
 1793.0,
 1795.0,
 1796.0,
 1798.0,
 1799.0,
 1800.0,
 1801.0,
 1804.0,
 1805.0,
 1808.0,
 1809.0,
 1810.0,
 1811.0,
 1812.0,
 1813.0,
 1814.0,
 1815.0,
 1817.0,
 1818.0,
 1819.0,
 1820.0,
 1821.0,
 1822.0,
 1825.0,
 1826.0,
 1827.0,
 1828.0,
 1829.0,
 1830.0,
 1831.0,
 1832.0,
 1834.0,
 1835.0,
 1839.0,
 1840.0,
 1841.0,
 1842.0,
 1843.0,
 1845.0,
 1846.0,
 1847.0,
 1849.0,
 1850.0,
 1852.0,
 1854.0,
 1855.0,
 1859.0,
 1860.0,
 1861.0,
 1863.0,
 1864.0,
 1865.0,
 1866.0,
 1868.0,
 1869.0,
 1870.0,
 1871.0,
 1874.0,
 1875.0,
 1877.0,
 1879.0,
 1880.0,
 1881.0,
 1882.0,
 1884.0,
 1885.0,
 1886.0,
 1887.0,
 1890.0,
 1891.0,
 1893.0,
 1894.0,
 1895.0,
 1898.0,
 1899.0,
 1900.0,
 1902.0,
 1903.0,
 1910.0,
 1911.0,
 1913.0,
 1915.0,
 1917.0,
 1918.0,
 1920.0,
 1922.0,
 1923.0,
 1924.0,
 1926.0,
 1927.0,
 1928.0,
 1930.0,
 1931.0,
 1933.0,
 1934.0,
 1936.0,
 1937.0,
 1938.0,
 1939.0,
 1940.0,
 1942.0,
 1943.0,
 1945.0,
 1947.0,
 1948.0,
 1949.0,
 1954.0,
 1960.0,
 1965.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1978.0,
 1979.0,
 1980.0,
 1983.0,
 1984.0,
 1985.0,
 1987.0,
 1989.0,
 1990.0,
 1992.0,
 1995.0,
 1996.0,
 2000.0,
 2003.0,
 2004.0,
 2006.0,
 2008.0,
 2010.0,
 2014.0,
 2016.0,
 2020.0,
 2025.0,
 2028.0,
 2031.0,
 2032.0,
 2034.0,
 2040.0,
 2041.0,
 2044.0,
 2069.0,
 2071.0,
 2073.0,
 2075.0,
 2077.0,
 2080.0,
 2091.0,
 2094.0,
 2095.0,
 2096.0,
 2097.0,
 2105.0,
 2109.0,
 2110.0,
 2112.0,
 2114.0,
 2118.0,
 2120.0,
 2124.0,
 2132.0,
 2134.0,
 2139.0,
 2140.0,
 2141.0,
 2155.0,
 2157.0,
 2170.0,
 2173.0,
 2183.0,
 2195.0,
 2209.0,
 2220.0]

In [592]:
df_specs_B_Dimensions.describe()

shape: (9, 9)
┌────────────┬───────────┬─────────────────────┬─────────────┬───┬─────────────┬────────────┬─────────────┬────────────┐
│ describe   ┆ profileId ┆ vehicle             ┆ Length      ┆ … ┆ Kerb Weight ┆ Wheelbase  ┆ Height      ┆ Ground     │
│ ---        ┆ ---       ┆ ---                 ┆ ---         ┆   ┆ ---         ┆ ---        ┆ ---         ┆ Clearance  │
│ str        ┆ str       ┆ str                 ┆ f64         ┆   ┆ f64         ┆ f64        ┆ f64         ┆ ---        │
│            ┆           ┆                     ┆             ┆   ┆             ┆            ┆             ┆ f64        │
╞════════════╪═══════════╪═════════════════════╪═════════════╪═══╪═════════════╪════════════╪═════════════╪════════════╡
│ count      ┆ 30201     ┆ 30201               ┆ 30201.0     ┆ … ┆ 30201.0     ┆ 30201.0    ┆ 30201.0     ┆ 30201.0    │
│ null_count ┆ 0         ┆ 0                   ┆ 0.0         ┆ … ┆ 10891.0     ┆ 3.0        ┆ 0.0         ┆ 7437.0     │
│ mean       ┆ null      ┆ null                ┆ 4232.142512 ┆ … ┆ 1284.578975 ┆ 2602.1868  ┆ 1587.576107 ┆ 178.582784 │
│ std        ┆ null      ┆ null                ┆ 436.143498  ┆ … ┆ 409.958157  ┆ 183.793675 ┆ 123.161615  ┆ 19.216126  │
│ min        ┆ D1982769  ┆ Aston Martin Rapide ┆ 3099.0      ┆ … ┆ 214.0       ┆ 1840.0     ┆ 1165.0      ┆ 100.0      │
│            ┆           ┆ S V12               ┆             ┆   ┆             ┆            ┆             ┆            │
│ 25%        ┆ null      ┆ null                ┆ 3971.0      ┆ … ┆ 965.0       ┆ 2450.0     ┆ 1495.0      ┆ 165.0      │
│ 50%        ┆ null      ┆ null                ┆ 4270.0      ┆ … ┆ 1160.0      ┆ 2570.0     ┆ 1545.0      ┆ 170.0      │
│ 75%        ┆ null      ┆ null                ┆ 4585.0      ┆ … ┆ 1585.0      ┆ 2740.0     ┆ 1665.0      ┆ 190.0      │
│ max        ┆ S2805517  ┆ Volvo XC90 Momentum ┆ 5569.0      ┆ … ┆ 2962.0      ┆ 3465.0     ┆ 2100.0      ┆ 295.5      │
│            ┆           ┆ Luxury [2015…       ┆             ┆   ┆             ┆            ┆             ┆            │
└────────────┴───────────┴─────────────────────┴─────────────┴───┴─────────────┴────────────┴─────────────┴────────────┘

##### FINAL DIMENSIONS DATASET

In [593]:
df_specs_B_Dimensions.head()

shape: (5, 8)
┌───────────┬──────────────────────────────────┬────────┬────────┬─────────────┬───────────┬────────┬──────────────────┐
│ profileId ┆ vehicle                          ┆ Length ┆ Width  ┆ Kerb Weight ┆ Wheelbase ┆ Height ┆ Ground Clearance │
│ ---       ┆ ---                              ┆ ---    ┆ ---    ┆ ---         ┆ ---       ┆ ---    ┆ ---              │
│ str       ┆ str                              ┆ f64    ┆ f64    ┆ f64         ┆ f64       ┆ f64    ┆ f64              │
╞═══════════╪══════════════════════════════════╪════════╪════════╪═════════════╪═══════════╪════════╪══════════════════╡
│ D4170559  ┆ Jeep Compass Limited 2.0 Diesel  ┆ 4395.0 ┆ 1818.0 ┆ 1584.0      ┆ 2636.0    ┆ 1640.0 ┆ null             │
│           ┆ …                                ┆        ┆        ┆             ┆           ┆        ┆                  │
│ D4112409  ┆ Mercedes-Benz C-Class C 220d     ┆ 4751.0 ┆ 1820.0 ┆ null        ┆ 2865.0    ┆ 1437.0 ┆ null             │
│ D4039375  ┆ Mercedes-Benz C-Class 220        ┆ 4596.0 ┆ 1770.0 ┆ 1610.0      ┆ 2960.0    ┆ 1447.0 ┆ null             │
│           ┆ BlueEf…                          ┆        ┆        ┆             ┆           ┆        ┆                  │
│ D4134657  ┆ Jeep Compass Limited Plus        ┆ 4395.0 ┆ 1818.0 ┆ 1584.0      ┆ 2636.0    ┆ 1640.0 ┆ null             │
│           ┆ Diesel…                          ┆        ┆        ┆             ┆           ┆        ┆                  │
│ D4056433  ┆ Jeep Compass Limited Plus 2.0    ┆ 4395.0 ┆ 1818.0 ┆ 1654.0      ┆ 2636.0    ┆ 1640.0 ┆ null             │
│           ┆ Di…                              ┆        ┆        ┆             ┆           ┆        ┆                  │
└───────────┴──────────────────────────────────┴────────┴────────┴─────────────┴───────────┴────────┴──────────────────┘

In [594]:
df_specs_B_Dimensions.columns

['profileId',
 'vehicle',
 'Length',
 'Width',
 'Kerb Weight',
 'Wheelbase',
 'Height',
 'Ground Clearance']

In [595]:
df_specs_B_Dimensions = df_specs_B_Dimensions.rename({
                                                     'Ground Clearance': 'Ground_Clearance_(mm)',
                                                     'Height': 'Height_(mm)',
                                                     'Kerb Weight': 'Kerb_Weight_(mm)',
                                                     'Length': 'Length_(mm)',
                                                     'Wheelbase': 'Wheelbase_(mm)',
                                                     'Width': 'Width_(mm)'}
                                                    )

In [596]:
df_specs_B_Dimensions.head()

shape: (5, 8)
┌───────────┬────────────────┬─────────────┬────────────┬────────────────┬───────────────┬─────────────┬───────────────┐
│ profileId ┆ vehicle        ┆ Length_(mm) ┆ Width_(mm) ┆ Kerb_Weight_(m ┆ Wheelbase_(mm ┆ Height_(mm) ┆ Ground_Cleara │
│ ---       ┆ ---            ┆ ---         ┆ ---        ┆ m)             ┆ )             ┆ ---         ┆ nce_(mm)      │
│ str       ┆ str            ┆ f64         ┆ f64        ┆ ---            ┆ ---           ┆ f64         ┆ ---           │
│           ┆                ┆             ┆            ┆ f64            ┆ f64           ┆             ┆ f64           │
╞═══════════╪════════════════╪═════════════╪════════════╪════════════════╪═══════════════╪═════════════╪═══════════════╡
│ D4170559  ┆ Jeep Compass   ┆ 4395.0      ┆ 1818.0     ┆ 1584.0         ┆ 2636.0        ┆ 1640.0      ┆ null          │
│           ┆ Limited 2.0    ┆             ┆            ┆                ┆               ┆             ┆               │
│           ┆ Diesel …       ┆             ┆            ┆                ┆               ┆             ┆               │
│ D4112409  ┆ Mercedes-Benz  ┆ 4751.0      ┆ 1820.0     ┆ null           ┆ 2865.0        ┆ 1437.0      ┆ null          │
│           ┆ C-Class C 220d ┆             ┆            ┆                ┆               ┆             ┆               │
│ D4039375  ┆ Mercedes-Benz  ┆ 4596.0      ┆ 1770.0     ┆ 1610.0         ┆ 2960.0        ┆ 1447.0      ┆ null          │
│           ┆ C-Class 220    ┆             ┆            ┆                ┆               ┆             ┆               │
│           ┆ BlueEf…        ┆             ┆            ┆                ┆               ┆             ┆               │
│ D4134657  ┆ Jeep Compass   ┆ 4395.0      ┆ 1818.0     ┆ 1584.0         ┆ 2636.0        ┆ 1640.0      ┆ null          │
│           ┆ Limited Plus   ┆             ┆            ┆                ┆               ┆             ┆               │
│           ┆ Diesel…        ┆             ┆            ┆                ┆               ┆             ┆               │
│ D4056433  ┆ Jeep Compass   ┆ 4395.0      ┆ 1818.0     ┆ 1654.0         ┆ 2636.0        ┆ 1640.0      ┆ null          │
│           ┆ Limited Plus   ┆             ┆            ┆                ┆               ┆             ┆               │
│           ┆ 2.0 Di…        ┆             ┆            ┆                ┆               ┆             ┆               │
└───────────┴────────────────┴─────────────┴────────────┴────────────────┴───────────────┴─────────────┴───────────────┘

In [597]:
df_specs_B_Dimensions.write_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\02.Pre-Processing\Pre-processed Data Stage-II\specs_Dimensions_B.csv')

#### `Capacity`

In [598]:
#looking at the data

df_specs_B_Capacity = df_specifications_B.filter(pl.col('spec_category')=='Capacity')

In [599]:
df_specs_B_Capacity.head()

shape: (5, 6)
┌────────────────────┬───────────┬──────────┬───────────────┬───────────┬───────────────────────────────────┐
│ specName           ┆ specValue ┆ specUnit ┆ spec_category ┆ profileId ┆ vehicle                           │
│ ---                ┆ ---       ┆ ---      ┆ ---           ┆ ---       ┆ ---                               │
│ str                ┆ str       ┆ str      ┆ str           ┆ str       ┆ str                               │
╞════════════════════╪═══════════╪══════════╪═══════════════╪═══════════╪═══════════════════════════════════╡
│ Fuel Tank Capacity ┆ 50        ┆ litres   ┆ Capacity      ┆ D4135089  ┆ Tata Harrier XZ Dark Edition      │
│ Doors              ┆ 4         ┆ Doors    ┆ Capacity      ┆ D4170587  ┆ BMW 3 Series GT 320d Luxury Line… │
│ Doors              ┆ 5         ┆ Doors    ┆ Capacity      ┆ D4170559  ┆ Jeep Compass Limited 2.0 Diesel … │
│ Seating Capacity   ┆ 5         ┆ Person   ┆ Capacity      ┆ D4170559  ┆ Jeep Compass Limited 2.0 Diesel … │
│ No of Seating Rows ┆ 2         ┆ Rows     ┆ Capacity      ┆ D4170559  ┆ Jeep Compass Limited 2.0 Diesel … │
└────────────────────┴───────────┴──────────┴───────────────┴───────────┴───────────────────────────────────┘

In [600]:
df_specs_B_Capacity[['specUnit','specName']].unique()

shape: (5, 2)
┌──────────┬────────────────────┐
│ specUnit ┆ specName           │
│ ---      ┆ ---                │
│ str      ┆ str                │
╞══════════╪════════════════════╡
│ litres   ┆ Fuel Tank Capacity │
│ Doors    ┆ Doors              │
│ litres   ┆ Bootspace          │
│ Person   ┆ Seating Capacity   │
│ Rows     ┆ No of Seating Rows │
└──────────┴────────────────────┘

##### PIVOTING TABLE

In [601]:
df_specs_B_Capacity = df_specs_B_Capacity.pivot(index = ['profileId','vehicle'],columns = 'specName', values = 'specValue')

In [602]:
df_specs_B_Capacity.head()

shape: (5, 7)
┌───────────┬─────────────────────────┬────────────────────┬───────┬──────────────────┬────────────────────┬───────────┐
│ profileId ┆ vehicle                 ┆ Fuel Tank Capacity ┆ Doors ┆ Seating Capacity ┆ No of Seating Rows ┆ Bootspace │
│ ---       ┆ ---                     ┆ ---                ┆ ---   ┆ ---              ┆ ---                ┆ ---       │
│ str       ┆ str                     ┆ str                ┆ str   ┆ str              ┆ str                ┆ str       │
╞═══════════╪═════════════════════════╪════════════════════╪═══════╪══════════════════╪════════════════════╪═══════════╡
│ D4135089  ┆ Tata Harrier XZ Dark    ┆ 50                 ┆ 5     ┆ 5                ┆ 2                  ┆ 425       │
│           ┆ Edition                 ┆                    ┆       ┆                  ┆                    ┆           │
│ D4170587  ┆ BMW 3 Series GT 320d    ┆ null               ┆ 4     ┆ 5                ┆ 2                  ┆ null      │
│           ┆ Luxury Line…            ┆                    ┆       ┆                  ┆                    ┆           │
│ D4170559  ┆ Jeep Compass Limited    ┆ 60                 ┆ 5     ┆ 5                ┆ 2                  ┆ 438       │
│           ┆ 2.0 Diesel …            ┆                    ┆       ┆                  ┆                    ┆           │
│ D4112409  ┆ Mercedes-Benz C-Class C ┆ 66                 ┆ 4     ┆ 5                ┆ 2                  ┆ null      │
│           ┆ 220d                    ┆                    ┆       ┆                  ┆                    ┆           │
│ D4039319  ┆ Mercedes-Benz C-Class C ┆ 66                 ┆ 4     ┆ 4                ┆ 2                  ┆ 435       │
│           ┆ 43 AMG                  ┆                    ┆       ┆                  ┆                    ┆           │
└───────────┴─────────────────────────┴────────────────────┴───────┴──────────────────┴────────────────────┴───────────┘

##### `Fuel Tank Capacity`

In [603]:
# first clearing out the leading and trailing spaces

df_specs_B_Capacity = df_specs_B_Capacity.with_columns(pl.col('Fuel Tank Capacity').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Capacity.filter(pl.col('Fuel Tank Capacity').is_null()).shape[0],'\n',
        'empty',df_specs_B_Capacity.filter(pl.col('Fuel Tank Capacity')=='').shape[0],'\n',
        'space', df_specs_B_Capacity.filter(pl.col('Fuel Tank Capacity')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Capacity.filter(pl.col('Fuel Tank Capacity')=='0').shape[0],'\n',
        'None',df_specs_B_Capacity.filter(pl.col('Fuel Tank Capacity')==None).shape[0],'\n',
        'NA',df_specs_B_Capacity.filter(pl.col('Fuel Tank Capacity')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Capacity.filter(pl.col('Fuel Tank Capacity').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Capacity.filter(pl.col('Fuel Tank Capacity')==0).shape[0],'\n',
        

        )

null 674
 empty 0
 space 0
 0 (Str) 0
 None 674
 NA 0

* large number of null values

In [604]:
list(df_specs_B_Capacity['Fuel Tank Capacity'].unique())

['90.5',
 '87',
 '57',
 '50',
 '58',
 '37',
 '26',
 '66',
 '60.9',
 '48',
 '86',
 '93',
 '85',
 '28',
 '59',
 '110',
 '72',
 '27',
 '47',
 '52.5',
 '63',
 '93.5',
 '15',
 '68',
 '92',
 '88.5',
 '36',
 '62',
 '105',
 '54',
 '83',
 '76',
 '64',
 '70.6',
 '81',
 '60',
 '138',
 '45',
 '90',
 '96',
 None,
 '71',
 '35',
 '89',
 '67.5',
 '51',
 '44',
 '74',
 '30',
 '43',
 '41',
 '82.5',
 '38',
 '61',
 '40',
 '52',
 '77',
 '80',
 '56',
 '53',
 '55',
 '26.2',
 '104',
 '75',
 '66.5',
 '24',
 '67',
 '42',
 '95',
 '70',
 '73',
 '65',
 '100',
 '32',
 '78',
 '82']

In [503]:
# converting to float
df_specs_B_Capacity = df_specs_B_Capacity.with_columns(pl.col('Fuel Tank Capacity').cast(pl.Float64))

In [504]:
list(df_specs_B_Capacity['Fuel Tank Capacity'].unique())

[None,
 100.0,
 109.0,
 110.0,
 112.0,
 113.0,
 114.0,
 116.0,
 117.0,
 118.0,
 120.0,
 126.0,
 128.0,
 130.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 144.0,
 145.0,
 147.0,
 149.0,
 150.0,
 151.0,
 152.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 163.0,
 164.0,
 165.0,
 167.0,
 168.0,
 170.0,
 171.0,
 172.0,
 174.0,
 175.0,
 176.0,
 177.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 188.0,
 189.0,
 190.0,
 192.0,
 195.0,
 196.0,
 197.0,
 198.0,
 200.0,
 201.0,
 202.0,
 204.0,
 204.8,
 205.0,
 206.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 223.0,
 225.0,
 226.0,
 227.0,
 230.0,
 238.0,
 239.8,
 244.0,
 295.5]

##### `Doors`

In [605]:
# first clearing out the leading and trailing spaces

df_specs_B_Capacity = df_specs_B_Capacity.with_columns(pl.col('Doors').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Capacity.filter(pl.col('Doors').is_null()).shape[0],'\n',
        'empty',df_specs_B_Capacity.filter(pl.col('Doors')=='').shape[0],'\n',
        'space', df_specs_B_Capacity.filter(pl.col('Doors')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Capacity.filter(pl.col('Doors')=='0').shape[0],'\n',
        'None',df_specs_B_Capacity.filter(pl.col('Doors')==None).shape[0],'\n',
        'NA',df_specs_B_Capacity.filter(pl.col('Doors')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Capacity.filter(pl.col('Doors').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Capacity.filter(pl.col('Doors')==0).shape[0],'\n',
        

        )

null 9
 empty 0
 space 0
 0 (Str) 0
 None 9
 NA 0

In [606]:
# converting to float
df_specs_B_Capacity = df_specs_B_Capacity.with_columns(pl.col('Doors').cast(pl.Float64))

In [607]:
list(df_specs_B_Capacity['Doors'].unique())

[None, 2.0, 3.0, 4.0, 5.0]

##### `Seating Capacity`

In [608]:
# first clearing out the leading and trailing spaces

df_specs_B_Capacity = df_specs_B_Capacity.with_columns(pl.col('Seating Capacity').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Capacity.filter(pl.col('Seating Capacity').is_null()).shape[0],'\n',
        'empty',df_specs_B_Capacity.filter(pl.col('Seating Capacity')=='').shape[0],'\n',
        'space', df_specs_B_Capacity.filter(pl.col('Seating Capacity')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Capacity.filter(pl.col('Seating Capacity')=='0').shape[0],'\n',
        'None',df_specs_B_Capacity.filter(pl.col('Seating Capacity')==None).shape[0],'\n',
        'NA',df_specs_B_Capacity.filter(pl.col('Seating Capacity')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Capacity.filter(pl.col('Seating Capacity').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Capacity.filter(pl.col('Seating Capacity')==0).shape[0],'\n',
        

        )

null 3
 empty 0
 space 0
 0 (Str) 0
 None 3
 NA 0

In [609]:
list(df_specs_B_Capacity['Seating Capacity'].unique())

['8', '9', '7 & 8', None, '7 & 9', '4', '6', '2', '7', '5', '10']

In [610]:
df_specs_B_Capacity = df_specs_B_Capacity.with_columns(pl.col('Seating Capacity').str.replace("7 & 9","7").str.replace("7 & 8","7"))

In [611]:
list(df_specs_B_Capacity['Seating Capacity'].unique())

[None, '7', '4', '6', '10', '2', '9', '8', '5']

In [612]:
# converting to float
df_specs_B_Capacity = df_specs_B_Capacity.with_columns(pl.col('Seating Capacity').cast(pl.Float64))

In [613]:
list(df_specs_B_Capacity['Seating Capacity'].unique())

[None, 2.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

##### `No of Seating Rows`

In [614]:
# first clearing out the leading and trailing spaces

df_specs_B_Capacity = df_specs_B_Capacity.with_columns(pl.col('No of Seating Rows').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Capacity.filter(pl.col('No of Seating Rows').is_null()).shape[0],'\n',
        'empty',df_specs_B_Capacity.filter(pl.col('No of Seating Rows')=='').shape[0],'\n',
        'space', df_specs_B_Capacity.filter(pl.col('No of Seating Rows')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Capacity.filter(pl.col('No of Seating Rows')=='0').shape[0],'\n',
        'None',df_specs_B_Capacity.filter(pl.col('No of Seating Rows')==None).shape[0],'\n',
        'NA',df_specs_B_Capacity.filter(pl.col('No of Seating Rows')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Capacity.filter(pl.col('No of Seating Rows').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Capacity.filter(pl.col('No of Seating Rows')==0).shape[0],'\n',
        

        )

null 2704
 empty 0
 space 0
 0 (Str) 0
 None 2704
 NA 0

* a lot of null values

In [615]:
list(df_specs_B_Capacity['No of Seating Rows'].unique())

[None, '2', '3', '1', '4']

In [616]:
# converting to float
df_specs_B_Capacity = df_specs_B_Capacity.with_columns(pl.col('No of Seating Rows').cast(pl.Float64))

In [617]:
list(df_specs_B_Capacity['No of Seating Rows'].unique())

[None, 1.0, 2.0, 3.0, 4.0]

##### `Bootspace`

In [618]:
# first clearing out the leading and trailing spaces

df_specs_B_Capacity = df_specs_B_Capacity.with_columns(pl.col('Bootspace').str.strip_chars())

# checking inconsistencies and null values

print(

        #string
        'null', df_specs_B_Capacity.filter(pl.col('Bootspace').is_null()).shape[0],'\n',
        'empty',df_specs_B_Capacity.filter(pl.col('Bootspace')=='').shape[0],'\n',
        'space', df_specs_B_Capacity.filter(pl.col('Bootspace')==' ').shape[0],'\n',
        '0 (Str)',df_specs_B_Capacity.filter(pl.col('Bootspace')=='0').shape[0],'\n',
        'None',df_specs_B_Capacity.filter(pl.col('Bootspace')==None).shape[0],'\n',
        'NA',df_specs_B_Capacity.filter(pl.col('Bootspace')=='Not Available').shape[0],'\n',
    
        #numeric
        #'nan', df_specs_B_Capacity.filter(pl.col('Bootspace').is_nan()).shape[0],'\n',
        #'0', df_specs_B_Capacity.filter(pl.col('Bootspace')==0).shape[0],'\n',
        

        )

null 7805
 empty 0
 space 0
 0 (Str) 0
 None 7805
 NA 0

* huge no. of null values

In [619]:
list(df_specs_B_Capacity['Bootspace'].unique())

['525',
 '382',
 '214',
 '707',
 '440',
 '330',
 '295',
 '969',
 '605',
 '352',
 '392',
 '360',
 '521',
 '258',
 '897',
 '486',
 '410',
 '212',
 '1050',
 '400',
 '540',
 '346',
 '175',
 '454',
 '154',
 '194',
 '128',
 '243',
 '480',
 '390',
 '308',
 '479',
 '343',
 '513',
 '370',
 '210',
 '460',
 '508',
 '506',
 '373',
 '500',
 '268',
 '300',
 '565',
 '556',
 '438',
 '251',
 '645',
 '278',
 '472',
 '461',
 '209',
 '125',
 '222',
 '425',
 '592',
 '326',
 '447',
 '230',
 '234',
 '285',
 '354',
 '465',
 '359',
 '366',
 '510',
 '600',
 '586',
 '515',
 '580',
 '211',
 '391',
 '448',
 '371',
 '242',
 '208',
 '625',
 '355',
 '570',
 '363',
 '320',
 '490',
 '180',
 '260',
 '341',
 '94',
 '93',
 '279',
 '232',
 '80',
 '347',
 '177',
 '135',
 '257',
 '433',
 '453',
 '248',
 '857',
 '270',
 '215',
 '420',
 '358',
 '493',
 '332',
 '236',
 '432',
 '1400',
 '218',
 '755',
 '185',
 '235',
 '615',
 '623',
 '421',
 '290',
 '495',
 '884',
 '339',
 '280',
 '483',
 '590',
 '435',
 '378',
 '740',
 '680',
 '670',
 '458',
 '709',
 '190',
 '476',
 '384',
 '981',
 '240',
 '520',
 '690',
 '315',
 '122',
 '633',
 '220',
 '475',
 '470',
 '385',
 '110',
 '297',
 '223',
 '616',
 '296',
 '455',
 '312',
 '530',
 '412',
 '419',
 '328',
 '345',
 '1068',
 '560',
 '587',
 '336',
 '216',
 '442',
 '340',
 '225',
 '550',
 '380',
 None,
 '313',
 '450',
 '170',
 '655',
 '256',
 '528',
 '405',
 '505',
 '265',
 '494',
 '488',
 '522',
 '311',
 '324',
 '316',
 '416',
 '395',
 '610',
 '205',
 '318',
 '402',
 '430',
 '650',
 '155',
 '1025',
 '630',
 '207',
 '335',
 '174',
 '383',
 '595',
 '284',
 '407',
 '445',
 '673',
 '84',
 '350',
 '353',
 '368']

In [620]:
# converting to float
df_specs_B_Capacity = df_specs_B_Capacity.with_columns(pl.col('Bootspace').cast(pl.Float64))

In [621]:
list(df_specs_B_Capacity['Bootspace'].unique())

[None,
 80.0,
 84.0,
 93.0,
 94.0,
 110.0,
 122.0,
 125.0,
 128.0,
 135.0,
 154.0,
 155.0,
 170.0,
 174.0,
 175.0,
 177.0,
 180.0,
 185.0,
 190.0,
 194.0,
 205.0,
 207.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 214.0,
 215.0,
 216.0,
 218.0,
 220.0,
 222.0,
 223.0,
 225.0,
 230.0,
 232.0,
 234.0,
 235.0,
 236.0,
 240.0,
 242.0,
 243.0,
 248.0,
 251.0,
 256.0,
 257.0,
 258.0,
 260.0,
 265.0,
 268.0,
 270.0,
 278.0,
 279.0,
 280.0,
 284.0,
 285.0,
 290.0,
 295.0,
 296.0,
 297.0,
 300.0,
 308.0,
 311.0,
 312.0,
 313.0,
 315.0,
 316.0,
 318.0,
 320.0,
 324.0,
 326.0,
 328.0,
 330.0,
 332.0,
 335.0,
 336.0,
 339.0,
 340.0,
 341.0,
 343.0,
 345.0,
 346.0,
 347.0,
 350.0,
 352.0,
 353.0,
 354.0,
 355.0,
 358.0,
 359.0,
 360.0,
 363.0,
 366.0,
 368.0,
 370.0,
 371.0,
 373.0,
 378.0,
 380.0,
 382.0,
 383.0,
 384.0,
 385.0,
 390.0,
 391.0,
 392.0,
 395.0,
 400.0,
 402.0,
 405.0,
 407.0,
 410.0,
 412.0,
 416.0,
 419.0,
 420.0,
 421.0,
 425.0,
 430.0,
 432.0,
 433.0,
 435.0,
 438.0,
 440.0,
 442.0,
 445.0,
 447.0,
 448.0,
 450.0,
 453.0,
 454.0,
 455.0,
 458.0,
 460.0,
 461.0,
 465.0,
 470.0,
 472.0,
 475.0,
 476.0,
 479.0,
 480.0,
 483.0,
 486.0,
 488.0,
 490.0,
 493.0,
 494.0,
 495.0,
 500.0,
 505.0,
 506.0,
 508.0,
 510.0,
 513.0,
 515.0,
 520.0,
 521.0,
 522.0,
 525.0,
 528.0,
 530.0,
 540.0,
 550.0,
 556.0,
 560.0,
 565.0,
 570.0,
 580.0,
 586.0,
 587.0,
 590.0,
 592.0,
 595.0,
 600.0,
 605.0,
 610.0,
 615.0,
 616.0,
 623.0,
 625.0,
 630.0,
 633.0,
 645.0,
 650.0,
 655.0,
 670.0,
 673.0,
 680.0,
 690.0,
 707.0,
 709.0,
 740.0,
 755.0,
 857.0,
 884.0,
 897.0,
 969.0,
 981.0,
 1025.0,
 1050.0,
 1068.0,
 1400.0]

##### FINAL CAPACITY DATASET

In [622]:
df_specs_B_Capacity.head()

shape: (5, 7)
┌───────────┬─────────────────────────┬────────────────────┬───────┬──────────────────┬────────────────────┬───────────┐
│ profileId ┆ vehicle                 ┆ Fuel Tank Capacity ┆ Doors ┆ Seating Capacity ┆ No of Seating Rows ┆ Bootspace │
│ ---       ┆ ---                     ┆ ---                ┆ ---   ┆ ---              ┆ ---                ┆ ---       │
│ str       ┆ str                     ┆ str                ┆ f64   ┆ f64              ┆ f64                ┆ f64       │
╞═══════════╪═════════════════════════╪════════════════════╪═══════╪══════════════════╪════════════════════╪═══════════╡
│ D4135089  ┆ Tata Harrier XZ Dark    ┆ 50                 ┆ 5.0   ┆ 5.0              ┆ 2.0                ┆ 425.0     │
│           ┆ Edition                 ┆                    ┆       ┆                  ┆                    ┆           │
│ D4170587  ┆ BMW 3 Series GT 320d    ┆ null               ┆ 4.0   ┆ 5.0              ┆ 2.0                ┆ null      │
│           ┆ Luxury Line…            ┆                    ┆       ┆                  ┆                    ┆           │
│ D4170559  ┆ Jeep Compass Limited    ┆ 60                 ┆ 5.0   ┆ 5.0              ┆ 2.0                ┆ 438.0     │
│           ┆ 2.0 Diesel …            ┆                    ┆       ┆                  ┆                    ┆           │
│ D4112409  ┆ Mercedes-Benz C-Class C ┆ 66                 ┆ 4.0   ┆ 5.0              ┆ 2.0                ┆ null      │
│           ┆ 220d                    ┆                    ┆       ┆                  ┆                    ┆           │
│ D4039319  ┆ Mercedes-Benz C-Class C ┆ 66                 ┆ 4.0   ┆ 4.0              ┆ 2.0                ┆ 435.0     │
│           ┆ 43 AMG                  ┆                    ┆       ┆                  ┆                    ┆           │
└───────────┴─────────────────────────┴────────────────────┴───────┴──────────────────┴────────────────────┴───────────┘

In [623]:
df_specs_B_Capacity.columns

['profileId',
 'vehicle',
 'Fuel Tank Capacity',
 'Doors',
 'Seating Capacity',
 'No of Seating Rows',
 'Bootspace']

In [625]:
df_specs_B_Capacity = df_specs_B_Capacity.rename({
                                                 'Bootspace': 'Bootspace_(litres)',
                                                 'Doors': 'Doors',
                                                 'Fuel Tank Capacity': 'Fuel_Tank_Capacity_(litres)',
                                                 'No of Seating Rows': 'Seating_Rows_(rows)',
                                                 'Seating Capacity': 'Seating_Capacity_(persons)'}
                                                )

In [626]:
df_specs_B_Capacity.head()

shape: (5, 7)
┌───────────┬───────────────────┬───────────────────┬───────┬───────────────────┬───────────────────┬──────────────────┐
│ profileId ┆ vehicle           ┆ Fuel_Tank_Capacit ┆ Doors ┆ Seating_Capacity_ ┆ Seating_Rows_(row ┆ Bootspace_(litre │
│ ---       ┆ ---               ┆ y_(litres)        ┆ ---   ┆ (persons)         ┆ s)                ┆ s)               │
│ str       ┆ str               ┆ ---               ┆ f64   ┆ ---               ┆ ---               ┆ ---              │
│           ┆                   ┆ str               ┆       ┆ f64               ┆ f64               ┆ f64              │
╞═══════════╪═══════════════════╪═══════════════════╪═══════╪═══════════════════╪═══════════════════╪══════════════════╡
│ D4135089  ┆ Tata Harrier XZ   ┆ 50                ┆ 5.0   ┆ 5.0               ┆ 2.0               ┆ 425.0            │
│           ┆ Dark Edition      ┆                   ┆       ┆                   ┆                   ┆                  │
│ D4170587  ┆ BMW 3 Series GT   ┆ null              ┆ 4.0   ┆ 5.0               ┆ 2.0               ┆ null             │
│           ┆ 320d Luxury Line… ┆                   ┆       ┆                   ┆                   ┆                  │
│ D4170559  ┆ Jeep Compass      ┆ 60                ┆ 5.0   ┆ 5.0               ┆ 2.0               ┆ 438.0            │
│           ┆ Limited 2.0       ┆                   ┆       ┆                   ┆                   ┆                  │
│           ┆ Diesel …          ┆                   ┆       ┆                   ┆                   ┆                  │
│ D4112409  ┆ Mercedes-Benz     ┆ 66                ┆ 4.0   ┆ 5.0               ┆ 2.0               ┆ null             │
│           ┆ C-Class C 220d    ┆                   ┆       ┆                   ┆                   ┆                  │
│ D4039319  ┆ Mercedes-Benz     ┆ 66                ┆ 4.0   ┆ 4.0               ┆ 2.0               ┆ 435.0            │
│           ┆ C-Class C 43 AMG  ┆                   ┆       ┆                   ┆                   ┆                  │
└───────────┴───────────────────┴───────────────────┴───────┴───────────────────┴───────────────────┴──────────────────┘

In [627]:
df_specs_B_Capacity.write_csv(r'C:\Users\pryns\OneDrive\Documents\Python Works\zz.carwale data\02.Pre-Processing\Pre-processed Data Stage-II\specs_Capacity_B.csv')